{% extends "admin/change_form.html" %}

{% block after_related_objects %}
    <fieldset class="module aligned ">
    <h2>File Listing</h2>
        <div class="form-row field-folders">
            {% if change %}
                <ul>
                    {% for root, dirs, files in original.assets.all.0.walk_files %}
                        <li>{{ root }}:
                            <ul>
                                {% for file in files %}
                                    <li><a href="{{ MEDIA_URL }}{{ root }}/{{ file }}" target="_blank">{{ file }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
</fieldset>
{% endblock %}