<!-- Display Batch modal -->
<div  class="modal" id="batch-view-modal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-new">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Batch Link Creation</h3>
      </div>

      <div class="modal-body">
          <p>The Perma Links will be added to <span id="batch-saved-path"></span></p>
          <div id="batch-details"></div>
          <button class="btn cancel" data-dismiss="modal">Exit</button>
          <a href="#" id="export-csv" class="btn" target="_blank">Export list as CSV</button>
      </div>
    </div>
  </div>
</div>

{% verbatim %}
<script id="batch-link-row" type="text/x-handlebars-template">
  <div class="item-container {{#if link.isError}} _isFailed{{/if}}">
  <div class="row">
    {{#if link.isError }}
      <div class="link-desc col col-sm-6 col-md-60">
        <div class="failed_header">{{ link.error_message }}</div>
        <div class="item-title">We’re unable to create your Perma Link.</div>
        <div class="item-date">submitted: {{ link.submitted_url }}</div>
      </div>
    {{ else }}
      <div class="link-desc col col-sm-6 col-md-60">
        <div class="item-title">{{ link.title }}</div>
        <div class="item-subtitle">{{ link.submitted_url }}</div>
      </div>
      <div class="link-progress col col-sm-6 col-md-40 align-right item-permalink">
        {{#if link.isProcessing}}
          {{> progressBar progress=link.progress }}
        {{else if link.isComplete}}
          <a class="perma no-drag" href="//{{link.local_url}}" target="_blank">{{link.local_url}}</a>
        {{/if}}
      </div>
    {{/if}}
  </div>
  </div>
</script>
{% endverbatim %}
