<!-- Display Batch modal -->
<div  class="modal" id="batch-view-modal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-new">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Batch Link Creation</h3>
      </div>

      <div class="modal-body">
          <p>The Perma links will be added to <span id="batch-saved-path"></span></p>
          <div id="batch-details"></div>
          <a href="#" class="btn cancel" data-dismiss="modal">Exit</a>
      </div>
    </div>
  </div>
</div>
