<div id="iframe-target"></div>
<script>
  // [!] Caution when updating:
  // This script needs to be written in an ES5-compatible way. 
  // This is so it doesn't crash before the "incompatible browser" message shows. 

  // Playback details
  const name = "{{ link.warc_presigned_url | escapejs }}";
  const cls = "{{ interstitial|yesno:'interstitial,archive-iframe'}}";
  const origin = "{{ protocol }}{{ client_side_playback_host }}";
  const guid = "{{ link.guid }}";
  const sandbox = {{ link.primary_capture.use_sandbox|yesno:"true,false" }};
  const embed = {{ embed|yesno:"true,false" }};
  const screenshot = {{ screenshot|yesno:"true,false" }};
  const interstitial = {{ interstitial|yesno:"true,false" }};
  const target = {% if target %}"{{ target }}"{% else %}null{% endif %};

  var frame = null;
  var srcQuery = null;

  // Add iframe
  frame = document.createElement('iframe');
  frame.setAttribute('name', name);
  frame.className = cls;

  // Build query string
  try {
    srcQuery = new URLSearchParams();
    srcQuery.append("guid", guid);
    srcQuery.append("embed", "replayonly");
    
    if (screenshot) {
      srcQuery.append("type", "screenshot");
    }

    if (interstitial) {
      srcQuery.append("hidden", "true");
      srcQuery.append("ondemand", "true");
    }

    if (target) {
      srcQuery.append("target", target);
    }
  }
  // Don't bother if `URLSearchParams` is not available: 
  // If that's the case, neither are the other key features we need for playback. 
  // Display `<iframe>` as is, which will display "incompatible browser" alert.
  catch(err) {
    srcQuery = "";
  }

  frame.setAttribute("src", origin + "?" + srcQuery);

  if (sandbox) {
    frame.setAttribute("sandbox", "allow-scripts allow-forms allow-same-origin allow-downloads");
  }

  const wrapper = document.getElementById("iframe-target");
  wrapper.appendChild(frame);
</script>
