<div id="iframe-target"></div>
<script>
    // Playback details
    const name = "{{ link.warc_presigned_url | escapejs }}";
    const cls = "{{ interstitial|yesno:'interstitial,archive-iframe'}}";
    const origin = "{{ protocol }}{{ client_side_playback_host }}";
    const guid = "{{ link.guid }}";
    const embed = {{ embed|yesno:"true,false" }};
    const screenshot = {{ screenshot|yesno:"true,false" }};
    const interstitial = {{ interstitial|yesno:"true,false" }};
    const target = {% if target %}"{{ target }}"{% else %}null{% endif %};

    // If Safari < 16, don't use a web worker to index the warc; see https://github.com/harvard-lil/perma/issues/3101
    let worker = true;
    if (window.GestureEvent !== undefined && window.SharedWorker === undefined){
        worker = false
    }

    // Add iframe
    const frame = document.createElement('iframe');
    frame.setAttribute('name', name);
    frame.className = cls;
    frame.setAttribute('src', `${origin}?guid=${guid}${embed ? "&embed=replayonly" : ""}${screenshot ? "&type=screenshot" : ""}${interstitial ? "&hidden=true&ondemand=true" : ""}${target ? "&target="+target : ""}${!worker ? "&worker=false" : ""}`)
    const wrapper = document.getElementById("iframe-target");
    wrapper.appendChild(frame);
</script>
