<!-- Display Batch modal -->
<div  class="modal" id="batch-modal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-new">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Batch Link Creation</h3>
      </div>
      <div class="spinner"></div>
      <div class="modal-body">
          <div id="batch-create-input">
              <p>The Perma Links will be added to
                  <select id="batch-target-path" class="form-control"></select>
              </p>
              <textarea placeholder="Paste your URLs here (one URL per line)"></textarea>
              <a href="#" class="btn cancel" data-dismiss="modal">Cancel</a>
              <a href="#" id="start-batch" class="btn">Create Links</a>
          </div>
          <div id="batch-details-wrapper">
            <div id="batch-details"></div>
            <button class="btn cancel" data-dismiss="modal">Exit</button>
            <a href="#" id="export-csv" class="btn" target="_blank">Export list as CSV</a>
          </div>
      </div>
    </div>
  </div>
</div>

{% verbatim %}
<script id="batch-links" type="text/x-handlebars-template">
  <p>The Perma Links will be added to <span id="batch-saved-path">{{ folder }}</span></p>
  {{#each links}}
    <div class="item-container {{#if isError}} _isFailed{{/if}}">
      <div class="row">
        {{#if isError }}
          <div class="link-desc col col-sm-6 col-md-60">
            <div class="failed_header">{{ error_message }}</div>
            <div class="item-title">We’re unable to create your Perma Link.</div>
            <div class="item-date">submitted: {{ submitted_url }}</div>
          </div>
        {{ else }}
          <div class="link-desc col col-sm-6 col-md-60">
            <div class="item-title">{{ title }}</div>
            <div class="item-subtitle">{{ submitted_url }}</div>
          </div>
          <div class="link-progress col col-sm-6 col-md-40 align-right item-permalink">
            {{#if isProcessing}}
              {{> progressBar progress=progress }}
            {{else if isComplete}}
              <a class="perma no-drag" href="//{{local_url}}" target="_blank">{{local_url}}</a>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  {{/each}}
</script>
{% endverbatim %}
