{% load local_datetime pipeline %}

{% if in_iframe %}
    {% stylesheet 'base' %}
{% endif %}

{% if search_query %}
    <div class="shared-folder-label alert-success">
        Search results for "{{ search_query }}".
        <a href="#" class="clear-search">Clear search.</a>
    </div>
{% else %}
    {% if current_folder.organization %}
        <div class="shared-folder-label alert-info">
            {% if shared_with_count %}
                This folder is shared with {{ shared_with_count }} other member{{ shared_with_count|pluralize }} of {{ current_folder.organization }}.
            {% else %}
                This folder will be shared with members of {{ current_folder.organization }}.
            {% endif %}
        </div>
    {% elif request.user.is_organization_user %}
        <div class="shared-folder-label alert-info" style="background-color: #F5F5F5">
            This folder is not shared.
        </div>
    {% endif %}
{% endif %}

{% for link in links %}
    <div class="item-container">

        <div class="row item-row" link_id="{{ link.pk }}">
            <div class="row">
	            <div class="col-sm-6">
	                <strong class="item-title">{{ link.submitted_title }}</strong>
	                <a href="{{ link.submitted_url }}" target="_blank" class="item-link-original">{{ link.submitted_url|truncatechars:200 }}</a><br/>
	            </div>
	            <div class="col-sm-6">
	                <a class="perma" href="/{{link.guid}}" target="_blank">https://{{request.get_host}}/{{link.guid}}</a><br/>
	            </div>
            </div>
            <div class="row">
	            <div class="col-sm-6">
	            	<div class="item-affil">Record Affiliation</div>
	            </div>
	            <div class="col-sm-6">
		            {{ link.creation_timestamp|local_datetime:"M j, Y" }}
	            </div>
            </div>
        </div>

        <div class="row item-details" {% if search_query in link.notes %}style="display:block"{% endif %}>
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="link-title-{{ link.pk }}">Display title:</label>
                    <span class="muted title-save-status"></span>
                    <input type="text" class="form-control link-title" name="input" id="link-title-{{ link.pk }}" value="{{ link.submitted_title }}">
                </div>

                <div class="form-group">
                    <label for="link-notes-{{ link.pk }}">Notes:</label>
                    <span class="muted notes-save-status"></span>
                    <textarea id="link-notes-{{ link.pk }}" class="form-control link-notes">{{ link.notes }}</textarea>
                </div>
                <span class="muted">Notes are visible to users who create or share within an organization, but not to visitors.</span>

                <div class="form-group">
                    <label for="move-to-folder-{{ link.pk }}">Move to folder:</label>
                    <select id="move-to-folder-{{ link.pk }}" class="move-to-folder form-control"></select>
                </div>

            </div>
            <div class="col-sm-6">
                <div><strong>Views:</strong> {{ link.view_count }}</div>
                <div><strong>Created by:</strong> {{ link.created_by.get_full_name }}</div>
            </div>
        </div>

        <a href="#" class="link-expand">More</a>
    </div>
{% empty %}
    <div class="item-container" style="padding-left: 1.5em">
        <em>{% if search_query %}No results.{% else %}Empty folder.{% endif %}</em>
    </div>
{% endfor %}
