{% load current_query_string short_page_range %}

{% if page.has_other_pages %}
<nav aria-label="{% if title %}{{ title }}{% endif %} pagination">
  <ul class="pagination">
    {% if page.has_previous %}
      <li>
        <a rel="prev" href="?{% current_query_string page=page.previous_page_number %}" aria-label="Previous">
          <span aria-hidden="true">←</span>
        </a>
      </li>
    {% else %}
      <li class="disabled">
        <span>
          <span aria-hidden="true">←</span>
        </span>
      </li>
    {% endif %}

    {% for i in page|short_page_range %}
      {% if i == '...' %}
        <li class="disabled">
          <span>
            <span>…</span>
          </span>
        </li>
      {% else %}
        {% ifequal i page.number %}
          <li class="active">
            <span><span class="sr-only">Page</span>{{ page.number }} <span class="sr-only">(current page)</span></span>
          </li>
        {% else %}
          <li><a href="?{% current_query_string page=i %}"><span class="sr-only">Page</span> {{ i }}</a></li>
        {% endifequal %}
      {% endif %}
    {% endfor %}

    {% if page.has_next %}
      <li>
        <a rel="next" href="?{% current_query_string page=page.next_page_number %}" aria-label="Next">
          <span aria-hidden="true">→</span>
        </a>
      </li>
    {% else %}
      <li class="disabled">
        <span>
          <span aria-hidden="true">→</span>
        </span>
      </li>
    {% endif %}
  </ul>
</nav>

{% endif %}
