{% if page.paginator.num_pages > 1 %}
    <div class="pagination">
        <ul class="pagination">
            {% if page.has_previous %}
                <li><a href="?page={{ page.previous_page_number }}&sort={{ sort }}{% if search_query %}&q={{ search_query }}{% endif %}">&lt;</a></li>
            {% endif %}
            {% for i in page.paginator.page_range %}
                {% ifequal i page.number %}
                    <li class="active"><a href="">{{ i }}</a></li>
                {% else %}
                    <li><a href="?page={{ i }}&sort={{ sort }}{% if search_query %}&q={{ search_query }}{% endif %}">{{ i }}</a></li>
                {% endifequal %}
            {% endfor %}
            {% if page.has_next  %}
                <li><a href="?page={{ page.next_page_number }}&sort={{ sort }}{% if search_query %}&q={{ search_query }}{% endif %}">&gt;</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}