{% extends "archive/base-archive-responsive.html" %}
{% load local_datetime as_json archive_description %}
{% load render_bundle from webpack_loader %}

{% block header_scripts %}
  {% local_datetime_js %}{# allow local_datetime filter to work #}
{% endblock %}

{% block title %} | {{ old_archive.submitted_title}}{% endblock %}

{% block meta_description %}
{{ old_archive.submitted_description | archive_description:''  }}
{% endblock %}

{% block meta-head %}
  <meta name="robots" content="noindex, noimageindex">

  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ protocol }}{{ link_url }}">
  <meta property="og:title" content="{{ old_archive.submitted_title }}">
  <meta property="og:description" content="{{ old_archive.submitted_description | archive_description:''  }}">
  <meta property="og:image" content="{{ protocol }}{{ request.get_host }}{{ STATIC_URL }}img/sharing/blue_logo.png">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ protocol }}{{ link_url }}">
  <meta name="twitter:title" content="{{ old_archive.submitted_title }}">
  <meta name="twitter:description" content="{{ old_archive.submitted_description | archive_description:''  }}">
  <meta name="twitter:image" content="{{ protocol }}{{ request.get_host }}{{ STATIC_URL }}img/sharing/blue_logo.png">
{% endblock %}

{% block styles %}
  {% render_bundle 'compare-warcs' 'css' %}
{% endblock %}

{% block header %}
  {% include 'includes/header.html' %}
{% endblock %}

{% block mainContent %}
<div style="display: block; top: 150px;" class="capture-wrapper">
  <iframe id="left_frame" src="{{ old_archive_capture.playback_url_with_access_token }}#_perma_diff_deleted_{{ old_archive.guid }}_{{ new_archive.guid }}" {% if capture.use_sandbox %}sandbox="allow-forms allow-scripts allow-top-navigation allow-same-origin" {% endif %}></iframe>
  <iframe id="right_frame" src="{{ new_archive_capture.playback_url_with_access_token }}#_perma_diff_inserted_{{ old_archive.guid }}_{{ new_archive.guid }}" {% if capture.use_sandbox %}sandbox="allow-forms allow-scripts allow-top-navigation allow-same-origin" {% endif %}></iframe>
</div>
{% endblock %}

{% block scripts %}
  <script>
    var archive = { guid: "{{ old_archive.guid }}" };
    var current_user = {id:"{{ request.user.id }}"};
    var simhash_distance = "{{ simhash_distance }}"
  </script>

{% endblock %}
