language: python
python:
  - "2.7"
env: CFLAGS="-O0"

# make sure perma.dev resolves to localhost so our tests work
addons:
  hosts:
    - perma.dev

cache:
  directories:
    - $HOME/.cache/pip

before_install:
  - cp services/travis/settings.py perma_web/perma/settings/
  - cd perma_web
  - chmod u+s /usr/bin/sudo
  - wget https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-1.9.8-linux-i686.tar.bz2
  - tar -xf phantomjs-1.9.8-linux-i686.tar.bz2
  - sudo rm -rf /usr/local/phantomjs
  - sudo mv phantomjs-1.9.8-linux-i686 /usr/local/phantomjs

install:
  - pip install -r requirements.txt
  - pip install coveralls
before_script:
  - mysql -e 'CREATE DATABASE perma;'

  # try to avoid mysql has gone away errors
  - mysql -e 'SET GLOBAL max_allowed_packet = 64*1024*1024;'
  - mysql -e 'SET GLOBAL wait_timeout = 36000;'

  - python manage.py collectstatic --noinput
script:
  fab test
after_success:
  - coveralls

# See: http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade#tl%3Bdr
sudo: false
