language: python
python:
  - "3.5"
env: CFLAGS="-O0"

dist: trusty

services:
  - docker
  - mysql

# make sure perma.test resolves to localhost so our tests work
addons:
  hosts:
    - perma.test
    - perma-archives.test

  # anything we might want to see from a failed build
  artifacts:
    paths:
      - perma_web/failed_test_files
    debug: true

cache:
  pip: true
  directories:
    - perma_web/node_modules

before_install:
  - mkdir travis-phantomjs
  - wget https://s3.amazonaws.com/perma/phantomjs-2.1.1-linux-x86_64.tar.bz2 -O $PWD/travis-phantomjs/phantomjs-2.1.1-linux-x86_64.tar.bz2
  - tar -xvf $PWD/travis-phantomjs/phantomjs-2.1.1-linux-x86_64.tar.bz2 -C $PWD/travis-phantomjs
  - export PATH=$PWD/travis-phantomjs/phantomjs-2.1.1-linux-x86_64/bin:$PATH
  - cp perma_web/perma/settings/deployments/settings_travis.py perma_web/perma/settings/settings.py
  - cd perma_web

install:
  # python reqs
  - pip install -U pip
  - pip install -U pipenv
  - pipenv install --deploy --dev
  - pip install coveralls

  # node reqs
  - nvm install 6
  - npm install

before_script:
  # linting
  - flake8 .

  - mysql -e 'CREATE DATABASE perma;'
  - mysql -e 'CREATE DATABASE perma_cdxline;'

  # try to avoid mysql has gone away errors
  - mysql -e 'SET GLOBAL max_allowed_packet = 64*1024*1024;'
  - mysql -e 'SET GLOBAL wait_timeout = 36000;'
  - mysql_tzinfo_to_sql /usr/share/zoneinfo | mysql -u root mysql

  # spin up selenium and webrecorder
  # healthcheck adapted from https://stackoverflow.com/a/46005602
  - docker-compose -f ../docker-compose-travis.yml up -d
  - sleep 10
  - sh -c "[ $(curl -o /dev/null --max-time 10 --head --silent --write-out "%{http_code}" http://perma-archives.test:8089/api/v1) -eq 200 ] && echo 'Webrecorder API is up!' || (echo 'Webrecorder API not available'; exit 1)"
  - sh -c "[ $(curl -o /dev/null --max-time 10 --head --silent --write-out "%{http_code}" http://perma-archives.test:8092/) -eq 303 ] && echo 'Webrecorder content host responsive!' || (echo 'Webrecorder content host not available'; exit 1)"
  - docker-compose -f ../docker-compose-travis.yml exec selenium sh -c "[ $(curl -o /dev/null --max-time 10 --head --silent --write-out "%{http_code}" http://perma-archives.test:8089/api/v1) -eq 200 ] && echo 'Selenium container can communicate with Webrecorder' || (echo 'Selenium container cannot communicate with Webrecorder...'; exit 1)"

  # create the WR user necessary for public playbacks
  - bash ../init_wr.sh
  - date

script:
  - pipenv run fab dev.test_python:travis=True
  - pipenv run fab dev.test_js

after_failure:
  - date
  - docker-compose -f ../docker-compose-travis.yml logs
after_success:
  - date
  - coverage report
  - coveralls

# See: http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade#tl%3Bdr
sudo: false
