language: python
python:
  - "2.7"
env: CFLAGS="-O0"

# make sure perma.dev resolves to localhost so our tests work
addons:
  hosts:
    - perma.dev

  # anything we might want to see from a failed build
  artifacts:
    paths:
      - perma_web/failed_functional_test.png

cache:
  pip: true
  directories:
    - perma_web/node_modules

before_install:
  - mkdir travis-phantomjs
  - wget https://s3.amazonaws.com/perma/phantomjs-2.1.1-linux-x86_64.tar.bz2 -O $PWD/travis-phantomjs/phantomjs-2.1.1-linux-x86_64.tar.bz2
  - tar -xvf $PWD/travis-phantomjs/phantomjs-2.1.1-linux-x86_64.tar.bz2 -C $PWD/travis-phantomjs
  - export PATH=$PWD/travis-phantomjs/phantomjs-2.1.1-linux-x86_64/bin:$PATH
  - cp perma_web/perma/settings/deployments/settings_travis.py perma_web/perma/settings/settings.py
  - cd perma_web

install:
  # faster installs, per https://github.com/nickstenning/travis-pip-cache
  - pip install -U pip wheel

  # python reqs
  - pip install -r requirements.txt
  - pip install coveralls

  # node reqs
  - nvm install 6
  - npm install

before_script:
  # linting
  - flake8 .

  - mysql -e 'CREATE DATABASE perma;'
  - mysql -e 'CREATE DATABASE perma_cdxline;'

  # try to avoid mysql has gone away errors
  - mysql -e 'SET GLOBAL max_allowed_packet = 64*1024*1024;'
  - mysql -e 'SET GLOBAL wait_timeout = 36000;'
  - mysql_tzinfo_to_sql /usr/share/zoneinfo | mysql -u root mysql

  - date
  
script:
  - fab dev.test_python
  - fab dev.test_js

after_failure:
  - date
after_success:
  - date
  - coverage report
  - coveralls

# See: http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade#tl%3Bdr
sudo: false
