Perma.cc weekly numbers
From {{ start_time }} through {{ end_time }}

## The Folks
{{ num_regular_users_added }} regular users added. From {{ prev_regular_users_count }} to {{ current_regular_users_count }}

{{ num_registar_members_added }} registrar users added. From {{ prev_registrar_members_count }} to {{ current_registrar_members_count }}
{{ num_registry_members_added }} registry users added. From {{ prev_registry_members_count }} to {{ current_registry_members_count }}

## The Organizations
{{ num_orgs_added }} organizations added. From {{ prev_orgs_count }} to {{ current_orgs_count }}

## The Libraries
{{ num_registrars_added }} registrars added. From {{ prev_registrars_count }} to {{ current_registrars_count }}

## The Links

## The Storage
{{ disk_added|floatformat:2 }}GB disk space added. From {{ prev_disk|floatformat:2 }}GB to {{ current_disk|floatformat:2 }}GB