Perma.cc weekly numbers
From {{ start_time }} through {{ end_time }}

## The Folks
{{ num_regular_users_added }} regular users added. From {{ prev_regular_users_count }} to {{ current_regular_users_count }}
{{ num_vesting_members_added }} vesting members added. From {{ prev_vesting_members_count }} to {{ current_vesting_members_count }}
{{ num_registar_members_added }} registrar members added. From {{ prev_registrar_members_count }} to {{ current_registrar_members_count }}
{{ num_registry_members_added }} registry members added. From {{ prev_registry_members_count }} to {{ current_registry_members_count }}

## The Vesting Organizations
{{ num_vesting_orgs_added }} vesting  organizations added. From {{ prev_vesting_orgs_count }} to {{ current_vesting_orgs_count }}

## The Libraries
{{ num_registrars_added }} registrars added. From {{ prev_registrars_count }} to {{ current_registrars_count }}

## The Hits
n unique visitors to all of Perma.cc
n unique page views to all of Perma.cc

## The Links
{{ num_unvested_links_added }} unvested links added. From {{ prev_unvested_links_count }} to {{ current_unvested_links_count }}
{{ num_vested_links_added }} vested links added. From {{ prev_vested_links_count }} to {{ current_vested_links_count }}
{{ num_darchive_takedown_added }} takedown related, darchived links added. From {{ prev_darchive_takedown_count }} to {{ current_darchive_takedown_count }}
{{ num_darchive_robots_added }} robots.txt or meta noarchive related, darchived links added. From {{ prev_darchive_robots_count }} to {{ current_darchive_robots_count }}

## The Storage
{{ disk_added }}GB disk space added. From {{ prev_disk }}GB to {{ current_disk }}GB