Perma.cc weekly numbers
From {{ start_time }} through {{ end_time }}

## The Folks
{{ num_regular_users_added }} regular users added. From {{ prev_regular_users_count }} to {{ current_regular_users_count }}
{{ num_org_users_added }} users affiliated wtih an org. From {{ prev_num_org_users_added }} to {{ current_num_org_users_added }}
{{ num_registar_members_added }} registrar users added. From {{ prev_registrar_users_count }} to {{ current_registrar_users_count }}
{{ num_admin_users_added }} admin users added. From {{ prev_admin_users_count }} to {{ current_admin_users_count }}

## The Organizations
{{ num_orgs_added }} organizations added. From {{ prev_orgs_count }} to {{ current_orgs_count }}

## The Libraries
{{ num_registrars_added }} registrars added. From {{ prev_registrars_count }} to {{ current_registrars_count }}

## The Links

## The Storage
{{ disk_added|floatformat:2 }}GB disk space added. From {{ prev_disk|floatformat:2 }}GB to {{ current_disk|floatformat:2 }}GB