<h2 class="body-ah">Get More Personal Links</h2>
<p class="page-dek">A one-time purchase, for people with or without subscriptions.</p>
<p class="fine-print">
  Have a subscription? These extra links carry over. You can make them whenever you want, and you can still make them if you cancel your subscription.
</p>

<div class="row">
  {% for package in bonus_packages %}
    <form class="purchase-form col-xs-12 col-md-3"
          method="post"
          action="{{ purchase_url }}">
      <button>
        <span>{{ package.link_quantity }} additional Links</span>
        <br>
        ${{ package.amount }}
        <br>
        <br>
        ${{ package.unit_cost | floatformat:2 }}/link
      </button>
      <input type="hidden" name="encrypted_data" value={{ package.encrypted_data }}>
    </form>
  {% endfor %}
</div>

<hr>

<h3 class="body-ch">Additional Links</h3>
<p class="page-dek">Additional Links Remaining: {{ request.user.bonus_links|default:0 }} Links</p>

<div class="row subscription-buttons">
  <div class="col-xs-12 col-md-6">
    <form method="post" action="{{ billing_portal_url }}">
      <input type="hidden" name="encrypted_data" value="{{ billing_encrypted_data }}">
      <button class="btn btn-primary" type="submit">Billing and Purchase History</button>
    </form>
  </div>
</div>
