<fieldset>
  {% for field in form %}
    <div class="form-group {{ form_classes }} {% if field.errors %} _error{% endif %}">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      {% if field.errors %}
        {% for error in field.errors %}
          <span class="field-error">{{ error }}</span>
        {% endfor %}
      {% elif field.help_text %}
        <span class="help-inline">{{ field.help_text }}</span>
      {% endif %}
    </div>
  {% endfor %}
  {% if form.non_field_errors %}
    <span class="field-error">{{ form.non_field_errors }}</span>
  {% endif %}
</fieldset>