<fieldset>
  {% for field in form %}
    <div class="form-group {{ form_classes }}">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% if field.errors %}
        <div class="_error">{{ field }}</div>
      {% else %}
        {{ field }}
      {% endif %}
      {% if field.errors %}
        {% for error in field.errors %}
          <span class="field-error">{{ error }}</span>
        {% endfor %}
      {% elif field.help_text %}
        <span class="help-inline">{{ field.help_text }}</span>
      {% endif %}
    </div>
  {% endfor %}
  {% if form.non_field_errors %}
    <span class="field-error">{{ form.non_field_errors }}</span>
  {% endif %}
</fieldset>