{% load mptt_tags repeat %}
<select name="folder">
    {% if all_folder_trees %}
        {% for tree in all_folder_trees %}
            {% recursetree tree %}
                <option value="{{ node.pk }}" {% if selected_folder.pk == node.pk %}selected{% endif %}>{{ "&nbsp;&nbsp;"|repeat:node.display_level|safe }}- {{ node.name }}</option>
                {% if not node.is_leaf_node %}{{ children }}{% endif %}
            {% endrecursetree %}
        {% endfor %}
    {% elif folder_tree %}
        {% recursetree folder_tree %}
            <option value="{{ node.pk }}" {% if selected_folder.pk == node.pk %}selected{% endif %}>{{ "&nbsp;&nbsp;"|repeat:node.display_level|safe }}- {{ node.name }}</option>
            {% if not node.is_leaf_node %}{{ children }}{% endif %}
        {% endrecursetree %}
    {% endif %}
</select>