{% load mptt_tags repeat %}

<select name="folder">
    {% if all_folder_trees %}
        <option value="{{ request.user.root_folder.pk }}">home</option>
        {% for tree in all_folder_trees %}
            {% recursetree tree %}
                <option value="{{ node.pk }}">{{ "&nbsp;&nbsp;"|repeat:node.level|safe }}- {{ node.name }}</option>
                {% if not node.is_leaf_node %}{{ children }}{% endif %}
            {% endrecursetree %}
        {% endfor %}
    {% elif folder_tree %}
        <option value="ROOT">Home</option>
        {% recursetree folder_tree %}
            <option value="{{ node.pk }}">{{ "&nbsp;&nbsp;"|repeat:node.level|safe }}- {{ node.name }}</option>
            {% if not node.is_leaf_node %}{{ children }}{% endif %}
        {% endrecursetree %}
    {% endif %}
</select>