{% load carousel cache thumbnail %}
{% cache 3600 carousel %}
  {% set_carousel_partners %} {# sets carousel_logo_groups #}
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {% for logo_group in carousel_logo_groups %}
        <div class="item{% if forloop.first %} active{% endif %}">
          {% for partner in logo_group %}
            <a href="{{ partner.website }}" class="{{ partner.logo_class }}">
              {% thumbnail partner.logo partner.thumbnail_geometry upscale=False quality=60 as logo %}
                <img src="{{ logo.url }}" alt="{{ partner.partner_display_name|default:partner.name }}">
              {% endthumbnail %}
            </a>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"><span class="ui-chev-left"></span></a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"><span class="ui-chev-right"></span></a>

    <ol class="carousel-indicators">
      {% for logo_group in carousel_logo_groups %}
        <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
      {% endfor %}
    </ol>
  </div><!--carousel slide-->
{% endcache %}
