<p class="page-dek">
  Your subscription is <span class="blue-text">on hold</span> due to a problem with your credit card.
</p>
<p class="page-dek">
  You can update payment information by clicking the "Manage Subscription and Billing" button below. If you need
  assistance or believe this message is in error, please <a href="{% url 'contact' %}?subject=Subscription%20On%20Hold">contact us</a>.
</p>

<div class="row">
  <div class="col-xs-12">
    <dl class="dl-horizontal">
      {% include 'includes/subscription-definition.html' with sub=subscription paid_through=True paid=False %}
    </dl>
  </div>
</div>
