from .deployments.settings_prod import *

# File locations
MEDIA_ROOT = '{{ assets_dir }}/generated'
STATIC_ROOT = '{{ assets_dir }}/static'
MONITOR_ROOT = '{{ assets_dir }}/monitor'

# Logging locations
PHANTOMJS_LOG = '{{ logs_dir }}/phantom.log'
LOGGING['handlers']['default']['filename'] = '{{ logs_dir }}/django.log'

# passwords
SECRET_KEY = '{{ SECRET_KEY }}'
DATABASES['default']['PASSWORD'] = '{{ DATABASE_PASSWORD }}'

# hosts
ALLOWED_HOSTS = [
    'perma.cc',
    'permabox.perma.cc',
]
HOST = 'perma.cc'

# Google Analytics
GOOGLE_ANALYTICS_KEY = 'UA-XXXXX-X'
GOOGLE_ANALYTICS_DOMAIN = 'example.com'

# tasks
CELERYBEAT_SCHEDULE = {
    'check-for-missing-links': {
        'task': 'mirroring.tasks.sync_mirror',
        'schedule': crontab(minute='05', hour='03', day_of_week='*'),
    },
}