{% extends "base-responsive.html" %}

{% block title %} | {{link.submitted_title}}{% endblock %}


{% block mainContent %}
	{% if messages %}
	    {% for message in messages %}
	        <div class="alert alert-{% if message.level >= 30 %}danger{% else %}success{% endif %} popup-alert">{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
	    {% endfor %}
	{% endif %}

<div id="dashboard-container" class="cont-full-bleed cont-sm-full">
   <!-- Dashboard tab content -->
    <div class="tab-content col-sm-12">
        <div class="tab-pane active">
	        {% block confirm %}{% endblock %}
        </div><!--/.tab-pane-->
    </div><!--/.tab-content-->
</div><!--/#dashboard-container-->

{% endblock %}
