{% extends "archive/base-archive-responsive.html" %}

{% block title %} | {{link.submitted_title}}{% endblock %}

{% block header %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.level >= 30 %}danger{% else %}success{% endif %} popup-alert">{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
        {% endfor %}
    {% endif %}

    <header  class="border-bottom">
        <div class="container">
             <div class="row">

                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <div class="logo">
                            <a href="{% url 'landing' %}">perma.cc<img class="infinity-logo" src="{{ STATIC_URL }}img/infinity-logo2.png"></a>
                        </div><!--end logo -->
                    </div><!--end span 3 -->

                    <div class="col-sm-6 meta-data ">
                        <a class="submitted_url" href="{{link.submitted_url}}">{{link.submitted_title}}</a><br/>
                        <!--<a class="submitted_url" href="{{link.submitted_url}}">{{link.submitted_url}}</a>-->
                        <span class="light-grey">created {{link.creation_timestamp}} | {{ link.view_count }} view{% if link.view_count > 1 %}s{% endif %}</span>
                    </div><!--end span 5 -->

                </div>

            </div>
        </div><!-- end main-container -->
    </header>
{% endblock %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3 centered">
        <div class="yahowza">
             {% block confirm %}{% endblock %}
        </div>
    </div>
{% endblock %}
