{% extends "archive/confirm/base-archive-confirm.html" %}
{% load pipeline as_json %}

{% block confirm %}
    <h1 class="body-bh">Move Perma Link to Dark Archive</h1>
    <p class="page-dek">Do you really want to <span class="dark">dark archive</span> this link forever?</p>

    <div class="centered-box">
        <form action="" method="post">
          <a href="/{{ link.guid }}" class="btn cancel">Cancel</a> <button type="submit" class="btn btn-success">Dark archive Perma Link</button>
        </form>
    </div>
    {% if link.thumbnail_status != 'failed' %}
	    <div class="screenshot-thumbnail user-delete-thumbnail">
            <img src="{% url 'service_get_thumbnail' link.guid %}"/>
	    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        var url_single_linky = "{% url 'single_linky' link.guid %}",
            archive = {% as_json link %};
    </script>

    {% javascript 'dark-archive-link' %}
{% endblock %}
