{% extends "archive/confirm/base-archive-confirm.html" %}
{% load pipeline as_json %}

{% block confirm %}
    <h1 class="cyan">Yahowza!</h1>
    <h2>Do you really want to <span class="dark">delete</span> this link forever?</h2>
    <div class="centered-box">
        <a href="/{{ link.guid }}" class="cancel-button">Cancel</a> <button type="submit" class="btn delete-confirm btn-success">Delete this link forever</button>
    </div>
    <div class="library-thumbnail user-delete-thumbnail">
        {% if link.thumbnail_status != 'failed' %}
            <img src="{% url 'service_get_thumbnail' link.guid %}"/>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var url_link_browser = "{% url 'link_browser' %}",
            archive = {% as_json link %};
    </script>

    {% javascript 'link-delete-confirm' %}
{% endblock %}
