{% extends "archive/confirm/base-archive-confirm.html" %}
{% load pipeline as_json %}

{% block confirm %}
    <h1 class="cyan">Vesting Link</h1>
        <form method="post" id="select-vesting-org-form" style="display:none">
            <h2>On behalf of which organization are you vesting this link?</h2>
            <div class="centered-box" style="margin-bottom: 1em">
                <select name="organization" id="organization_select"></select>
            </div>
            <div class="centered-box">
                <a href="/{{ link.guid }}" class="cancel-button">Cancel</a>
                <button type="submit" class="btn btn-success" name="vest" value="1">Select</button>
            </div>
        </form>

        <form method="post" id="select-folder-form" style="display:none">
            <h2>Where do you want to put this link once vested?</h2>
            <p>Links vested for <span class="vesting-org-name"></span> must be stored in the <span class="vesting-org-name"></span> shared folder.</p>
            <p>
                Choose folder:
                <select name="folder" disabled id="folder_select">
                    <option>Loading...</option>
                </select>
            </p>
            <div class="centered-box">
                <a href="/{{ link.guid }}" class="cancel-button">Cancel</a>
                <button type="submit" class="btn btn-success" name="vest" value="1">Vest</button>
            </div>
        </form>
{% endblock %}

{% block scripts %}
    <script>
        var url_single_linky = "{% url 'single_linky' link.guid %}",
            selected_organization = "{{latest.organization_id}}",
            selected_folder = "{{folder.id}}",
            archive = {% as_json link %};
    </script>

    {% javascript 'link-vest-confirm' %}
{% endblock %}
