{% extends "archive/confirm/base-archive-confirm.html" %}
{% load pipeline as_json %}

{% block confirm %}
    <h1 class="body-bh">Delete Perma Link</h1>
    <p class="page-dek">Do you really want to delete this Perma Link forever?</p>
    <div class="centered-box">
        <a href="/{{ link.guid }}" class="btn cancel">Cancel</a> <button type="submit" class="btn delete-confirm btn-success">Delete Perma Link</button>
    </div>
    {% if link.thumbnail_status != 'failed' %}
	    <div class="library-thumbnail user-delete-thumbnail">
            <img src="{% url 'service_get_thumbnail' link.guid %}"/>
	    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        var url_link_browser = "{% url 'create_link' %}",
            archive = {% as_json link %},
        	refer_url = "{{ request.META.HTTP_REFERER }}";
    </script>

    {% javascript 'link-delete-confirm' %}
{% endblock %}
