{% extends "layout.html" %}

{% load truncatesmart %}

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
{% endblock %}

{% block content %}

<!-- URL input -->
<section id="home-form-container">
    <div class="main-container">
        <div class="home-form-frame">
            <p id="home-blurb">Permanently archive your links.</p>
            <div class="home-form-elements">
                {% include 'add_link_form.html' %}
            </div><!--/.home-form-->
        </div><!--/.home-form-frame-->
    </div><!--/.main-container-->
</section><!--/#home-form-container-->

<section id="home-description">
    <div class="main-container">
        <p>Broken links are everywhere.</p>
        <p>Perma helps authors and journals create<br />
        permanent links for citations in their published work.</p>
        {% if user.is_authenticated %}
        <p><a href="{% comment %}TODO add dashboard url{% url 'dashboard' %}{% endcomment %}" class="btn btn-large btn-success">Visit Your Dashboard</a></p>
        <p id="subtext">Currently signed in as <a href="#">{{ user.username }}</a> (<a href="#">log out</a>)</p>
        {% else %}
        <p><a href="#" class="btn btn-large btn-success">Sign Up for a Free Account</a></p>
        <p id="subtext">See <a href="#">how it works</a> or <a href="{% url 'user_management_limited_login' %}">log in</a>.</p>
        {% endif %}
    </div><!--/.main-container-->
</section><!--/#home-description-->


<hr />

<!-- List of recently saved links -->
<div class="main-container">
<div id="linky-list">

    {% if user.is_authenticated %}
      {% if linky_links %}
        <h3 class="text-center linky-ul-header">Recently created</h3>
      {% endif %}
    <ul id="stored-ul" class="perma-ul">
        {% for linky_link in linky_links %}
        <div class="row-fluid">
        <li>
            <div class="span8">
                <div class="favicon-preview"><img src=""></div>
                <div class="recent-linky-summary">
                    <h4><a href="http://{{host}}/{{linky_link.guid}}" target="_blank">{{ linky_link.submitted_title|truncatesmart:50 }}</a></h4>
                    <small>{{ linky_link.submitted_url|truncatesmart:70 }}</small>
                    <br>
                    <p><a href="http://{{host}}/{{linky_link.guid}}" target="_blank">{{host}}/{{linky_link.guid}}</a></p>
                    <small>Views: {{ linky_link.view_count }}</small>
                </div><!--/.recent-linky-summary-->
            </div><!--/.span8-->
            <div class="span4">
                <div class="copy-button-div">
                    <button class="btn copy-button" data-clipboard-text="{{host}}/{{linky_link.guid}}" title="Copy Linky Link">Copy Perma &infin;</button>
                    <p class="copy-confirm text-center" style="display:none"></p>
                </div>
            </div><!--/.span4-->
        </li>
        </div><!--/.row-fluid-->
        {% endfor %}
    </ul><!--/#stored-ul-->

    {% else %}

    <div id="local-list">
        <h3 class="text-center linky-ul-header">Recently created</h3>
        <ul id="local-ul" class="perma-ul"></ul>
        <div id="register-prompt" class="center">
		      <h3>This list ends at 5</h3>
          <p><a href="{% url 'process_register' %}" class="btn btn-success">Create an account</a></p>
          <p>Save unlimited links and access them from anywhere</p>
      </div>
    </div><!--/.local-list-->

    {% endif %}

</div><!--/.linky-list-->
</div><!--/.main-container-->


{% endblock %}

{% block scripts %}
<script>
  var web_base = "http://{{host}}";
</script>
<script src="{{ STATIC_PREFIX }}js/ZeroClipboard/ZeroClipboard.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/handlebars.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="{{ STATIC_PREFIX }}js/landing.js"></script>
{% endblock %}
{% block templates %}

{% verbatim %}
<script id="list-template" type="text/x-handlebars-template">
	<div class="row-fluid">
		<li>
			<div class="span8">
				<div class="favicon-preview">{{#if favicon_url}}<!--<img src="http://{{favicon_url}}">-->{{/if}}</div>
				<div class="recent-linky-summary">
					<h4><a href="http://{{url}}" target="_blank">{{#truncate title 50}}{{/truncate}}</a></h4>
					<small>{{#truncate original 70}}{{/truncate}}</small>
					<br>
					<p><a href="http://{{url}}" target="_blank">{{url}}</a></p>
				</div>
			</div>
			<div class="span4">
				<div class="copy-button-div"><button class="btn copy-button" data-clipboard-text="{{url}}" title="Copy Linky Link">Copy Perma &infin;</button><p class="copy-confirm text-center" style="display:none"></p></div>
			</div>
		</li>
	</div>
</script>
{% endverbatim %}

{% verbatim %}
<script id="error-template" type="text/x-handlebars-template">
	  <h4 class="text-warning">There was a problem creating your Perma</h4>
	  <p>{{url}} is gumming up the works</p>
</script>
{% endverbatim %}

{% verbatim %}
<script id="success-template" type="text/x-handlebars-template">
  <li id="link-short-slug" class="library-link-item" style="display: none;">
	  {{#if preview}}
	  <div class="thumbnail-frame">
      	<div class="library-thumbnail">
      		<a href="{{linkyUrl}}" target="_blank"><img src="{{preview}}" /></a>
      	</div>
      </div>
 	  {{/if}}
	  {{#if message_pdf }}
      <p>Archiving PDF now. PDF previews not available. Keep an eye on the <a href="{{url}}" target="_blank">Perma URL</a> for archiving updates</p>
 	  {{/if}}

    <div class="link-results">
      
      <p class="library-link-title">{{title}}</p>
      <p class="library-link-url"><a href="{{original}}">{{original}}</a></p>
      <a href="{{url}}" class="anchor-short-slug" target="_blank">{{url}}</a> | <a class="copy-button library-link-meta" data-clipboard-text="{{url}}" title="Copy Linky Link">Copy Perma &infin;</a>
      <form class="form-inline" id="emailPerma">
        <input id="email_request" type="text" placeholder="user@example.com">
        <button type="submit" class="btn">Email this Perma</button>
      </form>
      <p class="btn" id="upload-option">Perma capture not right? <a href="" onclick="return upload_form();">Upload your own</a></p>
    </div> 
  </li>
</script>

{% endverbatim %}

{% endblock templates %}
