<form method="post" action="{% url 'user_management_limited_login' %}" class="dropdown-form">
  {{ auth_form.non_field_errors }}
  <p>
    {{ auth_form.username.errors }}
    <label for="id_username">Username</label> <input type="text" class="input-medium" name="username" id="id_username"> 
  </p>
  <p>
    {{ auth_form.password.errors }}
    <label for="id_password">Password</label> <input type="password" class="input-medium" name="password" id="id_password"> 
  </p>
  <p>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input type="submit" class="btn" value="Log in">
    <input type="hidden" name="next" value="{{ next }}">
  </p>
  <p><a href="{% url 'process_register' %}">Create an account</a></p>
</form>