{% extends "layout-archive.html" %}
{% load file_exists %}
{% load truncatesmart %}
{% load diff %}
{% block title %} | {{linky.submitted_title}}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
{% endblock %}

{% block header %}
<header>
	<div class="row-fluid">
		<div class="span12" style="margin-top:10px;">
			<div class="span4">
				<a href="{% url 'landing' %}"><div class="logo" style="margin:0 auto;float:none;"></div></a>
			    {% if not linky.vested %}
			      {% if user.groups.all.0.name == 'registry_member' or user.groups.all.0.name == 'registrar_member' or user.groups.all.0.name == 'journal_member' or user.groups.all.0.name == 'journal_manager' %}
			        <form action="" method="post">
			          {% csrf_token %}
			          <input type="submit" value="vest" name="vet" class="btn">
			        </form>
			    	{% endif %}
			    {% endif %}
			</div><!--end span 4 -->
			
			<div class="span4">
				<p><a class="submitted_url" href="{{linky.submitted_url}}">{{ linky.submitted_title|truncatesmart:70 }}</a></p>
				<h4><small>Views: {{ linky.view_count }}</small></h4>
				{% comment %}<!-- let's make this async. The page load is too slow if we have to wait for an answer from instapaper -->
		        {% diff asset linky %} <!-- has the instapaper cap changed recently? -->
				{% endcomment %}
		
			</div><!--end span 4 -->
			
			<div class="span4">
		                <p style="margin: 0;"><a {% if serve_type == 'live' %}style="color:#da4f49"{% endif %} href="{% url 'single_linky' linky.guid %}?type=live">Live View</a></p>

						{% if asset.image_capture %}
							<p style="margin: 0;"><a {% if serve_type == 'image' %}style="color:#da4f49"{% endif %} href="{% url 'single_linky' linky.guid %}?type=image">Image View</a>
							{% if asset.image_capture == 'pending' %}
							<img style="width:30px;" src="/static/img/dots.gif" alt="Archiving...">
							{% endif%}
							</p>
						{% endif %}
		                
						{% if asset.warc_capture %}
							<p style="margin: 0;"><a {% if serve_type == 'source' %}style="color:#da4f49"{% endif %} href="{% url 'single_linky' linky.guid %}?type=source">Source View</a>
							{% if asset.warc_capture == 'pending' %}
							<img style="width:30px;" src="/static/img/dots.gif" alt="Archiving...">
							{% endif%}
							</p>
						{% endif %}
						
						{% if asset.pdf_capture %}
							<p style="margin: 0;"><a {% if serve_type == 'pdf' %}style="color:#da4f49"{% endif %} href="{% url 'single_linky' linky.guid %}?type=pdf">PDF View</a>
							{% if asset.pdf_capture == 'pending' %}
							<img style="width:30px;" src="/static/img/dots.gif" alt="Archiving...">
							{% endif%}
							</p>
						{% endif %}
						
						{% if asset.text_capture %}
							<p style="margin: 0;"><a {% if serve_type == 'text' %}style="color:#da4f49"{% endif %} href="{% url 'single_linky' linky.guid %}?type=text">Text View</a>
							{% if asset.text_capture == 'pending' %}
							<img style="width:30px;" src="/static/img/dots.gif" alt="Archiving...">
							{% endif%}
							</p>
						{% endif %}
			</div> <!-- end span 4-->
			
		</div> <!-- end span 12-->
	</div><!-- end row -->
</header>
{% endblock header %}


{% block content %}
<div class="row-fluid">
	<div class="span12 linky-view">
  		<div class="watermark center">

			{% if not linky.vested and serve_type != 'live' %}<img class="watermark-image" src="{{ STATIC_PREFIX }}img/watermark.png"/>{% endif %}
			
			{% if serve_type == 'live' %}
				{% if display_iframe %}
				<iframe src="{{linky.submitted_url}}" width="1024px" height="800px" style="height:800px; border:solid 1px #666;">
				  <p>Unable to create a live view of the {{linky.submitted_url}}</p>
				</iframe>
				{% else %}
				<h2>Preview of {{linky.submitted_url}} is not available</h2>
				{% endif %}
			{% endif %}
			
			{% if serve_type == 'image' %}
			<img src="{{ STATIC_PREFIX }}{{asset.base_storage_path}}/{{asset.image_capture}}"/>
			{% endif %}
			
			{% if serve_type == 'pdf' %}
			<iframe src="{{ STATIC_PREFIX }}{{asset.base_storage_path}}/{{asset.pdf_capture}}" width="1024px" height="800px"  style="height:800px; border:solid 1px #666;">
			  <p>Unable to create a live view of the {{linky.submitted_url}}</p>
			</iframe>
			{% endif %}
			
			{% if serve_type == 'source' %}
			<iframe src="{{ STATIC_PREFIX }}{{asset.base_storage_path}}/{{asset.warc_capture}}" width="1024px" height="800px"  style="height:800px; border:solid 1px #666;">
			  <p>Unable to create a live view of the {{linky.submitted_url}}</p>
			</iframe>
			{% endif %}
			
			{% if serve_type == 'text' %}
			<div>{% autoescape off %}{{ text_capture }}{% endautoescape %}</div>
			{% endif %}

		</div>
   	</div>

</div><!--row-->


</div><!--container-->
{% endblock %}
{% block scripts %}
{% endblock %}
