{% extends "layout-archive.html" %}
{% load file_exists %}
{% load truncatesmart %}
{% load diff %}
{% block title %} | {{linky.submitted_title}}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
{% endblock %}

{% block header %}


<header>
	<div class="main-container">
		<div class="top-bar">
			<div class="span12">
				<div class="span3">
					<div class="logo">
						<a href="{% url 'landing' %}">perma.cc<img class="infinity-logo" src="{{ STATIC_PREFIX }}img/infinity-logo.png"></a>
					</div><!--end logo -->
				</div><!--end span 3 -->
				
				<div class="span6 meta-data negative-margin">
					<p><a class="submitted_url grey" href="{{linky.submitted_url}}">{{linky.submitted_title}}</a></br>
					<a class="submitted_url grey" href="{{linky.submitted_url}}">{{linky.submitted_url}}</a></br>
					created {{linky.creation_timestamp}} | {{linky.view_count }} views</span> 
					{% comment %}
					{% diff asset linky %} <!-- has the instapaper cap changed recently? -->
					{% endcomment %}

				</div><!--end span 5 -->
				
				<div class="span1">
				 {% if not linky.vested %}
					  {% if user.groups.all.0.name == 'registry_member' or user.groups.all.0.name == 'registrar_member' or user.groups.all.0.name == 'journal_member' or user.groups.all.0.name == 'journal_manager' %}
						<form action="" method="post">
						  {% csrf_token %}
						  <input type="submit" value="vest" name="vet" class="btn">
						</form>
				{% endif %}
				</div>
			    <div class="span2 negative-margin">
			    	<ul class="view-type">
		                <li><a {% if serve_type == 'live' %}class="active-view"{% endif %} href="{% url 'single_linky' linky.guid %}?type=live">Live View</a></li>

						{% if asset.image_capture and asset.image_capture != 'failed' %}
							<li>
							{% if asset.image_capture == 'pending' %}
								Image View <img style="width:30px;" src="/static/img/dots.gif" alt="Archiving...">
							{% else %}
								<a {% if serve_type == 'image' %}class="active-view"{% endif %} href="{% url 'single_linky' linky.guid %}?type=image">Image View</a>
							{% endif%}
							</li>
						{% endif %}
		                
						{% if asset.warc_capture and asset.warc_capture != 'failed' %}
							<li>
							{% if asset.warc_capture == 'pending' %}
								Source View <img style="width:30px;" src="/static/img/dots.gif" alt="Archiving...">
							{% else %}
								<a {% if serve_type == 'source' %}class="active-view"{% endif %} href="{% url 'single_linky' linky.guid %}?type=source">Source View</a>
							{% endif%}
							</li>
						{% endif %}
						
						{% if asset.pdf_capture and asset.pdf_capture != 'failed' %}
							<li>
							{% if asset.pdf_capture == 'pending' %}
								PDF View <img style="width:30px;" src="/static/img/dots.gif" alt="Archiving...">
							{% else %}
								<a {% if serve_type == 'pdf' %}class="active-view"{% endif %} href="{% url 'single_linky' linky.guid %}?type=pdf">PDF View </a>
							{% endif%}
							</li>
						{% endif %}
						
						{% if asset.text_capture and asset.text_capture != 'failed' %}
							<li>
							{% if asset.text_capture == 'pending' %}
								Text View <img style="width:30px;" src="/static/img/dots.gif" alt="Archiving...">
							{% else %}
								<a {% if serve_type == 'text' %}class="active-view"{% endif %} href="{% url 'single_linky' linky.guid %}?type=text">Text View</a>
							{% endif%}
							</li>
						{% endif %}
					{% endif %}
					</ul>
				</div><!--end span 2 -->
			</div> <!-- end span 12-->
		</div><!-- end top-bar -->
	</div><!-- end main-container -->
</header>

{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="linky-view center">
  		<div class="watermark center">

			{% if not linky.vested and serve_type != 'live' %}<div class="negative-margin"><img class="watermark-image" src="{{ STATIC_PREFIX }}img/watermark.png"/></div>{% endif %}

			{% if serve_type == 'live' %}
				{% if display_iframe %}
				<iframe src="{{linky.submitted_url}}"{% if not asset.pdf_capture %} sandbox="allow-forms allow-scripts" {% endif %}>
				  <p>Unable to create a live view of the {{linky.submitted_url}}</p>
				</iframe>
				{% else %}
				<h1>sorry</h1>
				<h2>live preview of <a href="{{linky.submitted_url}}">{{linky.submitted_url}}</a> is not available</h2>
				{% endif %}
			{% endif %}
			
			{% if serve_type == 'image' %}
			<img class="image-view" src="{{ STATIC_PREFIX }}{{asset.base_storage_path}}/{{asset.image_capture}}"/>
			{% endif %}
			
			{% if serve_type == 'pdf' %}
			<iframe src="{{ STATIC_PREFIX }}{{asset.base_storage_path}}/{{asset.pdf_capture}}">
			  <p>Unable to create a live view of <a class="submitted_url" href="{{linky.submitted_url}}">{{linky.submitted_url}}</a></p>
			</iframe>
			{% endif %}
			
			{% if serve_type == 'source' %}
			<iframe src="{{ STATIC_PREFIX }}{{asset.base_storage_path}}/{{asset.warc_capture}}" sandbox="allow-forms allow-scripts">
			  <p>Unable to create a live view of <a class="submitted_url" href="{{linky.submitted_url}}">{{linky.submitted_url}}</a></p>
			</iframe>
			{% endif %}
			
			{% if serve_type == 'text' %}
			<div>{% autoescape off %}{{ text_capture }}{% endautoescape %}</div>
			{% endif %}
		</div><!--end watermark-->
   	</div><!--end linky-view-->
</div><!--row-->

{% endblock %}
{% block scripts %}
{% endblock %}
