# handy packages to have in a dev environment
ipdb
django-nose==1.4.3              # an alternative test runner; enable in settings_testing.py
pysqlite==2.6.3                 # for use with in memory testing set in settings_testing.py
pipdeptree                      # show full pip dependency tree with the 'pipdeptree' command line tool

# WARNING: The following can break things in weird ways.
# If you install, be on the lookout for oddities soon after and consider uninstalling.
django-debug-toolbar==1.5     # if installed, debug-toolbar will be included in INSTALLED_APPS by settings_dev.py
#django-extensions==1.7.8        # if installed, `fab run` will use `python manage.py runserver_plus`
-e git://github.com/django-extensions/django-extensions.git@26665e26#egg=django-extensions  # switch back post 1.7.8
