from fabric.api import env


# This file contains deployment targets. You can ignore this if you aren't deploying Perma to remote servers.

# Each target is a fab task that sets env.hosts and REMOTE_DIR.
# Fab can then be run with a command like `fab prod deploy`.

def prod():
    env.hosts = ['user@perma.cc',]
    env.REMOTE_DIR = '/home/user/foo/perma/perma_web'

def stage():
    env.hosts = ['user@perma.testserver.com',]
    env.REMOTE_DIR = '/home/user/foo/perma/perma_web'
    env.VIRTUALENV_NAME = 'perma_stage'
	env.DATABASE_BACKUP_DIR = 'database_backups'