[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]

# general
celery = "==3.1.25"                         # task queue
Django = "==1.11.16"
django-ratelimit = "*"                      # IP-based rate-limiting
"Fabric3" = "==1.13.1.post1"                # task automation
netaddr = "*"                               # to check archive IPs against banned ranges
pytz = "*"                                  # timezone helper
requests = {version = "==2.18.4", extras = ["security"]}
tqdm = "*"                                  # progress bar in dev fab tasks
Werkzeug = "==0.11.1"


# databases
mysqlclient = "*"
django-redis = "==4.4.3"                    # use redis as django's cache backend
redis = "==2.10.5"                          # Needed to bind with Redis.
sqlparse = "*"                              # for data migrations


# models
django-model-utils = "==2.6.1"              # soft deletion and other nice things
django-mptt = "==0.8.7"                     # trees (like our folder tree)
django-simple-history = "==1.9.0"           # track changes to certain models
django-taggit = "*"                         # add tags to model instances


# templates
django-settings-context-processor = "*"     # make settings available in templates


# assets
django-webpack-loader = "*"                 # frontend assets building
Pillow = "==3.3.2"                          # Used by the Django admin for ImageField display
whitenoise = "*"                            # serve static assets


# thumbnails (carousel? anything else?)
sorl-thumbnail = "==12.3"
Wand = "==0.4.4"


# capture/playback related stuff
LinkHeader = "==0.4.3"                      # memento headers for single-link pages
pyquery = "*"                               # extract data from HTML in capture task
PyVirtualDisplay = "==0.1.5"                # for capturing with non-headless browsers
pywb = "==0.33.2"                           # playback engine
selenium = "==2.47.3"                       # drive headless browsers. pinned after IOErrors on deployment; unpin and upgrade after assessment, testing
tempdir = "*"                               # create temp dirs to be deleted at end of function -- handy for archive creation
ua-parser = "*"                             # user agent parsing to detect mobile and Safari browsers during playbacks
warcio = "==1.3.3"                          # helps us write metadata and inspect our WARCs
warcprox = "==2.4b2"


# alternate storages
django-storages = "*"                       # custom storage backends for Django
"boto3" = "*"                               # required for django-storages to use s3 backend


# api
djangorestframework = "==3.6.2"             # toolkit for building apis
django-filter = "==1.0.2"                   # searching


# link preservation
internetarchive = "==1.0.10"                # upload warcs to internet archive


# perma payments
PyNaCl = "*"                                # encryption


# heroku
dj_database_url = "==0.3.0"
gevent = ">1.3"
gunicorn = ">19.7"
newrelic = "==2.66.0.49"


[dev-packages]
"beautifulsoup4" = "*"                      # parses html of responses
coverage = "*"                              # record code coverage
django-admin-smoke-tests = "*"              # basic tests for the Django admin
fakeredis = "*"                             # simulate redis backend for tests
"flake8" = "*"                              # code linting
hypothesis = "*"                            # run tests with lots of generated input
mock = "*"                                  # safe monkey patching
pytest-cov = "*"                            # integrate coverage w/ pytest
pytest-django = "*"                         # tools for django in pytest
pytest-django-ordering = "*"                # runs transaction-wrapped tests before table truncating tests
pytest-xdist = "*"                          # run tests in parallel
pytest = "*"                                # test runner
sauceclient = "*"                           # run functional tests in many browsers online


[requires]
python_version = "3.5"
