[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]

# general
celery = {version = "*", extras =["redis"]} # task queue
Django = "~=2.2"
django-ratelimit = "*"                      # IP-based rate-limiting
"Fabric3" = "*"                             # task automation
netaddr = "*"                               # to check archive IPs against banned ranges
pytz = "*"                                  # timezone helper
requests = {version = "==2.20.0", extras = ["security"]}
urllib3 = "==1.24.2"                        # from requests
tqdm = "*"                                  # progress bar in dev fab tasks
Werkzeug = "*"
uwsgitop = "*"                              # uWSGI monitoring


# databases
mysqlclient = "*"
django-redis = "*"                          # use redis as django's cache backend
redis = "*"                                 # Needed to bind with Redis.


# models
django-model-utils = "*"                    # soft deletion and other nice things
django-mptt = "*"                           # trees (like our folder tree)
django-simple-history = "*"                 # track changes to certain models
django-taggit = "*"                         # add tags to model instances


# templates
django-settings-context-processor = "*"     # make settings available in templates


# assets
django-webpack-loader = "*"                 # frontend assets building
Pillow = "==6.2.2"                          # Used by the Django admin for ImageField display
whitenoise = "*"                            # serve static assets


# thumbnails (carousel? anything else?)
sorl-thumbnail = "==12.3"
Wand = "==0.4.4"


# capture related stuff
pyquery = "*"                               # extract data from HTML in capture task
PyVirtualDisplay = "==0.1.5"                # for capturing with non-headless browsers
selenium = "==2.47.3"                       # drive headless browsers. pinned after IOErrors on deployment; unpin and upgrade after assessment, testing
tempdir = "*"                               # create temp dirs to be deleted at end of function -- handy for archive creation
ua-parser = "*"                             # user agent parsing to detect mobile browsers during playbacks
warcio = "*"                                # helps us write metadata and inspect our WARCs
warcprox = "*"


# alternate storages
django-storages = {version = "*", extras = ["azure"]}   # custom storage backends for Django (including Azure)
"boto3" = "*"                                           # required for django-storages to use s3 backend


# api
djangorestframework = "*"                   # toolkit for building apis
django-filter = "*"                         # searching


# link preservation
internetarchive = "*"                       # upload warcs to internet archive

# memento support
surt = "*"                                  # canonicalizes URLs for sorting and comparing
#timegate = "0.5.0.dev20160000"             # find the closest PermaLink to a datetime
timegate = {ref = "6810fbc873b84f6af8e78e89fc8515f21b695cae",git = "https://github.com/mementoweb/timegate.git",editable = true}

# perma payments
PyNaCl = "*"                                # encryption


[dev-packages]
"beautifulsoup4" = "*"                      # parses html of responses
coverage = "*"                              # record code coverage
django-admin-smoke-tests = "*"              # basic tests for the Django admin
fakeredis = {version = "*", extras = ["lua"]} # simulate redis backend for tests
"flake8" = "*"                              # code linting
hypothesis = "*"                            # run tests with lots of generated input
mock = "*"                                  # safe monkey patching
pytest-cov = "*"                            # integrate coverage w/ pytest
pytest-django = "*"                         # tools for django in pytest
pytest-django-ordering = "*"                # runs transaction-wrapped tests before table truncating tests
pytest-xdist = "*"                          # run tests in parallel
pytest = "*"                                # test runner
sauceclient = "*"                           # run functional tests in many browsers online
django-extensions = "*"                     # runserver_plus for SSL

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
