#
# This file is the human readable version of our requirements.
# After updating this file, run this command to freeze the requirements into requirements.txt:
#
#    pip-compile --output-file requirements.txt requirements.in
#

# Package:                      # Used for:

Django==1.9.8
MySQL-python==1.2.5
lxml==3.2.1
celery==3.1.20
requests[security]==2.10.0
wsgiref==0.1.2
django-ratelimit==1.0.0
simplejson==3.3.0
oauth2==1.5.211
smhasher==0.150.1
jasmine==2.4.0
pytz==2013b
django-mptt==0.8.0
Werkzeug==0.11.1
Fabric==1.11.1
pexpect==3.1
coverage==3.7.1
selenium==2.47.3
jsmin==2.0.9
django-pipeline==1.5.4          # manages our css and js assets
django-pipeline-compass==0.1.5  # lets us compile .scss to .css
django_extensions
pyScss==1.3.4  					# dependency of d-p-compass. included here to avoid wonkiness found in older versions
tempdir==0.6                    # create temp dirs to be deleted at end of function -- handy for archive creation
netaddr==0.7.12                 # to check archive IPs against banned ranges
internetarchive==1.0.2          # upload warcs to internet archive
python-dateutil==2.2            # calculate link expiration date
Wand==0.4           			# ImageMagick bindings to help with thumbnail creation and PDF -> PNG conversions
django-tastypie==0.13.3         # API framework
-e git://github.com/harvard-lil/django-tastypie-extendedmodelresource.git@a1586e4e34079dafda77be279f4ad4b8eaca10c3#egg=django-tastypie-extendedmodelresource
sorl-thumbnail==12.3			# Used to create our thumbnails
redis==2.10.5					# Needed to bind with Redis. Supports our sorl thumbnails in production
django-redis==4.4.3             # use redis as django's cache backend
django-forms-bootstrap==3.0.1   # produce Bootstrap compatable forms
django-secure==1.0.1            # Force SSL -- this can be removed in Django 1.8
django-sslserver==0.14          # For testing SSL locally.
django-model-utils==2.2         # for tracking dirty models
django-settings-context-processor==0.2 # make settings available in templates
django-admin-smoke-tests==0.1.11    # basic tests for the Django admin
Pillow==2.9.0                   # Used by the Django admin for ImageField display
whitenoise==2.0.4               # serve static assets
django-simple-history==1.8.1    # track changes to certain models
PyVirtualDisplay==0.1.5         # for capturing with non-headless browsers
LinkHeader==0.4.3               # memento headers for single-link pages
pip-tools==1.6.5                # generating requirements.txt from requirements.in

# deployment
gunicorn==19.3.0
gevent==1.0.2
newrelic==2.66.0.49
opbeat==3.3.3

# PyWB-related stuff
pywb==0.31
#surt==0.2                       # to canonicalize URLs for the cdxline index -- use whatever version pywb wants
-e git://github.com/internetarchive/warcprox.git@f79e74482339f8c06880b28e889be694b30d4575#egg=warcprox  # unreleased 1/4/16 version of warcprox

# alternate storages
django-storages==1.1.8
boto==2.29.1

# testing
sauceclient==0.1.0
pytest-xdist==1.10
fakeredis==0.7.0                # simulate redis backend for tests
flake8==2.5.4                   # code linting
