#
# This file is the human readable version of our requirements.
# After updating this file, run this command to freeze the requirements into requirements.txt:
#
#    pip-compile --output-file requirements.txt requirements.in
#

# Package:                          # Used for:

Django
mysqlclient
celery
requests[security]
django-ratelimit
smhasher
pytz
django-mptt
Werkzeug
Fabric3
pexpect
selenium==2.47.3                    # pin after IOErrors on deployment; unpin and upgrade after assessment, testing
jsmin
pyScss  					        # dependency of d-p-compass. included here to avoid wonkiness found in older versions
tempdir                             # create temp dirs to be deleted at end of function -- handy for archive creation
netaddr                             # to check archive IPs against banned ranges
internetarchive                     # upload warcs to internet archive
python-dateutil                     # calculate link expiration date
Wand           			            # ImageMagick bindings to help with thumbnail creation and PDF -> PNG conversions
sorl-thumbnail			            # Used to create our thumbnails
redis					            # Needed to bind with Redis. Supports our sorl thumbnails in production
django-redis                        # use redis as django's cache backend
django-sslserver                    # For testing SSL locally.
django-model-utils                  # for tracking dirty models
django-settings-context-processor   # make settings available in templates
django-admin-smoke-tests            # basic tests for the Django admin
Pillow                              # Used by the Django admin for ImageField display
whitenoise                          # serve static assets
django-simple-history               # track changes to certain models
PyVirtualDisplay                    # for capturing with non-headless browsers
LinkHeader                          # memento headers for single-link pages
pip-tools                           # generating requirements.txt from requirements.in
django-taggit                       # tagging registrars
ua-parser                           # user agent parsing to detect Safari browser for playbacks
django_webpack_loader               # frontend assets building
-e git://github.com/rebeccacremona/createsend-python.git@7cd8be21f89fa7bb61dafb31da9ad4a64058bf5b#egg=createsend-python
tqdm                                # progress bar in dev fab tasks
pyquery                             # extract data from HTML in capture task
warcio                              # helps us write metadata and inspect our WARCs
cryptography                        # pyopenssl and requests only require 1.8.1; we need 1.9+ to install on stretch
sqlparse                            # for data migrations

# api
# perma-payments
pynacl==1.1.2               # encryption
djangorestframework
django-crispy-forms                 # interactive docs
django-filter                       # searching

# deployment
gunicorn
gevent
newrelic

# PyWB-related stuff
pywb
-e git://github.com/internetarchive/warcprox.git@f79e74482339f8c06880b28e889be694b30d4575#egg=warcprox  # unreleased 1/4/16 version of warcprox

# alternate storages
django-storages
boto3                               # required for django-storages to use s3 backend
#boto                                # required for kombu when using SQS

# testing
hypothesis==3.31.2               # run tests with lots of generated input
sauceclient
pytest
pytest-cov
pytest-django
pytest-xdist
fakeredis                           # simulate redis backend for tests
flake8                              # code linting
beautifulsoup4                      # parses html of responses
mock                                # safe monkey patching
coverage                            # record code coverage
