Django==1.5
MySQL-python==1.2.4
PIL==1.1.7
South==0.7.6
lxml==3.2.1
pyPdf==1.13
http://effbot.org/downloads/Imaging-1.1.7.tar.gz
celery==3.0.21
django-celery==3.0.21
requests==1.2.3
wsgiref==0.1.2
django-ratelimit==0.3.0
simplejson==3.3.0
oauth2==1.5.211
smhasher==0.150.1
pytz==2013b
django-mptt==0.6.0
Werkzeug==0.9.4

# requirements of non-PyPI package cdx_writer
surt==0.2

git+git://github.com/ikreymer/pywb.git@d347b4952b124e3b830668a501c967a2d96d395f
git+git://github.com/internetarchive/warcprox.git@5d09aea67d8f46221e5ee866ea1d1909ccb0715e