{% extends "layout-responsive.html" %}
{% load file_exists %}
{% block title %} | Thank you{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-7">	
			<h1>Thanks for requesting an account for your library</h1>
			
			<p>We will review your request as soon as possible.</p>
			
			<p>A personal account has been created for you. Look for an email from Perma and click on the link to activate this account.</p>
			<p>See you soon!</p>
		</div>
	</div>
</div>
<br />
<br />
<br />
<br />
{% endblock content %}
