{% extends "layout-responsive.html" %}
{% load file_exists %}
{% block title %} | Thank you{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">	
			<h1 class="page-title">We created your Perma.cc account</h1>
			
			<p class="page-dek">Look for an email from Perma and click on the link to activate your new account. See you soon!</p>
			    {% if messages %}
        {% for message in messages %}
            <p class="page-dek">{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</p>
        {% endfor %}
    {% endif %}
		</div>
	</div>
</div>
<br />
<br />
<br />
<br />
{% endblock content %}
