{% extends "base-responsive.html" %}
{% block title %} | Thank you{% endblock %}

{% block mainContent %}
<div class="container cont-fixed">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-title">Thanks for requesting an account for your library</h1>
      <p class="page-dek">We will review your request as soon as possible.</p>
      <p class="page-dek">A personal account has been created for you.<br/>Look for an email from Perma.cc and click on the link to activate this account.<br/>See you soon!</p>
    </div>
  </div>
</div>
{% endblock mainContent %}
