{% extends "layout-responsive.html" %}

{% block content %}

<div class="container">
{% if is_confirm %}
  <p class="alert alert-success account-confirmed-message">Your account is confirmed.  Log in below.</p>
{% endif %}
{% if is_resent %}
  <p class="alert alert-success account-confirmed-message">Check your email for activation instructions.</p>
{% endif %}
<div class="row">
	<div class="col-sm-12">		
		<h2>Login</h2>
		
			{% if next %}
				<form method="post" action="{% url 'user_management_limited_login' %}?next={{ next }}" class="temp-form-css">
			{% else %}
				<form method="post" action="{% url 'user_management_limited_login' %}" class="temp-form-css">
			{% endif %}
				{% csrf_token %}
				 <fieldset>
	 
				 <span class="text-error">{{ form.non_field_errors }}</span>
        {% for field in form %}
          <br /><label for="id_{{ field.name }}">{{ field.label }}</label>
          <br />
          {{ field }}
          {% if field.errors %}
            {% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
          {%elif field.help_text %}
            <span class="help-inline">{{ field.help_text }}</span>
          {% endif %}
        {% endfor %}  
      </fieldset>
				<button type="submit" class="btn-success login">Login</button>
				<br /><br />
				<p>Forgot your password?<br /> No problem, we can help you <a href="{% url 'auth_password_reset' %}">create a new one.</a></p>
			{% comment %}
			<p><a href="{% url 'process_register' %}">Create an account</a></p>
			{% endcomment %}
			</form>

						<br />
			<br />
			<br />
			<br />
			<br />
		</div><!-- end span -->
	</div><!-- end row -->
</div><!-- end container -->
{% endblock content %}
