{% extends "base-responsive.html" %}

{% block meta_description %}
Log in to your Perma.cc account. Welcome back.
{% endblock %}

{% block mainContent %}

<div class="container cont-fixed">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success account-confirmed-message">{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-title">Log in to your Perma.cc account</h1>
                <form method="post" action="{% url 'user_management_limited_login' %}{% if next %}?next={{ next }}{% endif %}" class="temp-form-css">
                {% csrf_token %}
                     <fieldset>
							{% for field in form %}
								<div class="form-group{% if field.errors %} _error{% endif %}">
									<label for="id_{{ field.name }}">{{ field.label }}</label>
									{{ field }}
									{% if field.errors %}
										{% for error in field.errors %}<span class="field-error">{{ error }}</span>{% endfor %}
									{%elif field.help_text %}
										<span class="help-inline">{{ field.help_text }}</span>
									{% endif %}
								</div>
							{% endfor %}
                        	{% if form.non_field_errors %}<span class="field-error">{{ form.non_field_errors }}</span>{% endif %}
                    </fieldset>
                    <button type="submit" class="btn btn-success login">Log in to Perma.cc</button>
                    <p class="form-helper">Forgot your password? No problem! <a class="_noWrap" href="{% url 'password_reset' %}">Create a new password.</a></p>
                    <p class="form-helper">Don’t have an account? <a class="_noWrap" href="{% url 'register' %}">Create an account.</a></p>
                </form>
            </div><!-- end span -->
        </div><!-- end row -->
</div><!-- end container -->
{% endblock mainContent %}

{% block scripts %}
<script>
$(document).ready(function(){
    $('input[type=text]:first').focus();
});
</script>
{% endblock scripts %}
