{% extends "base-responsive.html" %}


{% block meta_description %}
You have been logged out.
{% endblock %}

{% block mainContent %}
<div class="container cont-fixed">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-title">You have been logged out.</h1>
      <p class="page-dek">Logged out a bit too soon? No worries, <a href="{% url 'user_management_limited_login' %}">sign back in</a></p>
    </div>
  </div>
</div>
{% endblock mainContent %}

{% block scripts %}
  {{ block.super }}

  {# wipe javascript-based logged-in user data #}
  <script>
    localStorage.clear();
  </script>
{% endblock %}
