{% extends "base-responsive.html" %}

{% comment %}
  This page should never actually need to be used.
  It's designed to give people a fallback if they somehow
  GET the logout view instead of POSTing to it.
{% endcomment %}

{% block meta_description %}
  Log out of Perma.
{% endblock %}

{% block mainContent %}
  <div class="container cont-fixed">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title">Log out of Perma</h1>
        <form method="POST">
          {% csrf_token %}
          <button class="btn">Click here to log out</button>
        </form>
      </div>
    </div>
  </div>
{% endblock mainContent %}
