{% extends "layout-responsive.html" %}
{% block title %} | Account not active{% endblock %}

{% block content %}
<div class="row">
<h2>Login</h2>

  <h4>Your account has not been activated</h4>
  <p>You should have received an email with an activation link.  Follow that link to activate your account.</p>
  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Resend activation email" name="resend" class="btn btn-success">
  </form>
  <br/>
  <br/>
  <br/>
  <br/>
</div>
{% endblock content %}
