{% extends "base-responsive.html" %}
{% block title %} | Account not activated{% endblock %}

{% block mainContent %}
<div class="container cont-fixed">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-title">Account not activated</h1>
      <p class="page-dek">Your Perma.cc account has not yet been activated.</p>
      <p class="page-dek">Check your email: you should have received a welcome email with an activation link. Need another copy?</p>
      <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Resend activation email" name="resend" class="btn">
      </form>
    </div>
  </div>
</div>
{% endblock mainContent %}
