{% extends "base-responsive.html" %}
{% block title %} | Account not active{% endblock %}

{% block mainContent %}
<div class="row">
<h1 class="page-title">Login</h1>

  <p class="page-dek">Your account has not been activated</p>
  <p class="page-dek">You should have received an email with an activation link. Follow that link to activate your account.</p>
  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Resend activation email" name="resend" class="btn btn-success">
  </form>
</div>
{% endblock mainContent %}
