{% extends "layout-responsive.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">	
			<h2>Password Reset</h2>
			<p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
			<form action="" method="post" class="embedded-form form-inline">
				{% csrf_token %}
				{{ form.email.errors }}
				<p><label for="id_email">E-mail address</label><br/> 
				{{ form.email }} <br/><br/>
				<input type="submit" class="btn-success" value="Reset my password" /></p>
			</form>
		</div>
	</div>
</div>
<br/>
<br/>
<br/>
{% endblock content %}

{% block scripts %}
<script>
$(document).ready(function(){
    $('input[type=email]:first').focus();
});
</script>
{% endblock scripts %}
