{% extends "base-responsive.html" %}

{# This template is not presently in use. Here for convenience, in
  case we add new logic for expiring passwords in the future. #}

{% block mainContent %}
<div class="container cont-fixed">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-title">Your Password Has Expired</h1>
      <form action="{{ action }}" method="post">
        {% csrf_token %}
        <fieldset class="col-sm-6">
          <div class="form-group{% if form.new_password1.errors %} _error{% endif %}">
            <label for="id_new_password1">New password</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
              {{ form.new_password1.errors }}
            {% elif form.new_password1.help_text %}
              <div class="field-error">
              {{ form.new_password1.help_text | safe }}
              </div>
            {% endif %}
          </div>
          <div class="form-group{% if form.new_password2.errors %} _error{% endif %}">
            <label for="id_new_password2">Confirm password</label>
            {{ form.new_password2 }}
            <span class="field-error">{{ form.new_password2.errors }}</span>
          </div>
        </fieldset>
        <button type="submit" value="Change Password" class="btn">Change Password</button>
      </form>
    </div>
  </div>
</div> <!-- end wrapper -->
{% endblock mainContent %}
