{% extends "base-responsive.html" %}

{% block mainContent %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">	
			{% if validlink %}
				<h1 class="page-title">Reset your password</h1>
				<p class="page-dek">Please enter your new password twice so we can verify you typed it correctly.</p>
				<form action="" method="post">
					{% csrf_token %}
					<fieldset class="col-sm-6">
						<div class="form-group{% if form.new_password1.errors %} _error{% endif %}">
							<label for="id_new_password1">New password:</label>
							{{ form.new_password1 }}
							<span class="field-error">{{ form.new_password1.errors }}</span>
						</div>
						<div class="form-group{% if form.new_password2.errors %} _error{% endif %}">
							<label for="id_new_password2">Confirm password:</label>
							{{ form.new_password2 }}
							<span class="field-error">{{ form.new_password2.errors }}</span>
						</div>
					</fieldset>
					<button type="submit" value="Change my password" class="btn btn-success">Change my password</button>
				</form>
			{% else %}
				<h1 class="page-title">Password reset unsuccessful</h1>
				<p class="page-dek">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock mainContent %}
