{% extends "layout-responsive.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">	
			<h1 class="page-title">Password Reset</h1>
			<p class="page-dek">Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
			<form action="" method="post" class="embedded-form form-inline">
				{% csrf_token %}
				<fieldset>
					<div class="form-group{% if field.errors %} _error{% endif %}">
						{{ form.email.errors }}
						<label for="id_email">E-mail address</label> 
						{{ form.email }}
					</div>
				</fieldset>
				<button type="submit" class="btn btn-success" value="Reset my password" />Reset my password</button>
			</form>
		</div>
	</div>
</div>
<br/>
<br/>
<br/>
{% endblock content %}

{% block scripts %}
<script>
$(document).ready(function(){
    $('input[type=email]:first').focus();
});
</script>
{% endblock scripts %}
