{% extends "base-responsive.html" %}

{% block meta_description %}
Register for a Perma.cc account. Welcome aboard.
{% endblock %}

{% block mainContent %}
<div class="container">
	<div class="row">
		<div class="col-sm-4">	
			<h2>Register</h2>
			<form method="post" action="">
				{% csrf_token %}
				 <fieldset>
				<span class="field-error"><br/>{{ form.non_field_errors }}</span>
				{% for field in form %}
				  <br /><label for="id_{{ field.name }}">{{ field.label }}</label><br/>
				  {{ field }}
				  {% if field.errors %}
					{% for error in field.errors %}<span class="field-error"><br/>{{ error }}</span>{% endfor %}
				  {%elif field.help_text %}
					<span class="help-inline"><br/>{{ field.help_text }}</span>
				  {% endif %}<br/>
				{% endfor %}  
			  </fieldset>
				<p><small>By registering, you agree to the <a href="{% url 'terms_of_service' %}">terms of service</a>.</small></p>
				<button type="submit" class="btn-success">Create account</button>
			</form>
		</div>
		<div class="col-sm-8">
		<h2>&nbsp;</h2>
			<h3 class="grey"><span class="orange">NOTE:</span> Anyone can create an account.</h3> 
			
			<h3 class="grey">However, for your links to be saved in the permanent archive they will have to be approved by someone with a <a href="{% url 'faq' %}">vesting account</a>.</h3>
			
		</div>
		
	</div>
</div>
<br/>
<br/>
<br/>
<br/>
{% endblock mainContent %}
{% block scripts %}
<script>
$(document).ready(function(){
    $('input[type=email]:first').focus();
});
</script>
{% endblock scripts %}
