{% extends "base-responsive.html" %}
{% load file_exists %}
{% block title %} | Activate account{% endblock %}

{% block mainContent %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">	
			<h1 class="page-title">Activate your Perma.cc account</h1>
			{% if no_code %}
			  <p class="page-dek">Sorry, that confirmation code doesn’t match your account</p>
			{% else %}
			<p class="page-dek">Please create a password to activate your account</p>

			<form method="post">
				{% csrf_token %}
				<fieldset>
					{% if form.non_field_errors %}<span class="field-error">{{ form.non_field_errors }}</span>{% endif %}
					{% for field in form %}
						<div class="form-group{% if field.errors %} _error{% endif %}">
							<label for="id_{{ field.name }}">{{ field.label }}</label>
							{{ field }}
							{% if field.errors %}
								{% for error in field.errors %}<span class="field-error">{{ error }}</span>{% endfor %}
								{%elif field.help_text %}
								<span class="field-error">{{ field.help_text }}</span>
							{% endif %}
						</div>
					{% endfor %}  
				</fieldset>
				<button type="submit" class="btn btn-success">Activate account</button>
			</form>
		</div>
	</div>
</div>




    
{% endif %}

{% endblock mainContent %}
{% block scripts %}
<script>
//$(document).ready(function(){
//    $('input[type=password]:first').focus();
//});
</script>
{% endblock scripts %}