{% extends "layout-responsive.html" %}
{% block title %} | Sign Up{% endblock %}

{% block meta_description %}
Register for a Perma.cc account. Welcome aboard.
{% endblock %}

{% block content %}
<div class="container learn-more">
	<div class="row">
		<div class="col-sm-12">	
			<h1>Learn more and sign up</h1>
			<a class="btn btn-large btn-more" href="{% url 'sign_up_journals' %}" role="button">Journals</a><a class="btn btn-large btn-more btn-active" href="{% url 'sign_up_courts' %}" role="button">Courts</a><a class="btn btn-large btn-more" href="{% url 'sign_up_faculty' %}" role="button">Faculty</a><a class="btn btn-large btn-more" href="{% url 'libraries' %}">Libraries</a><a class="btn btn-large btn-more" href="{% url 'sign_up' %}" role="button">Individuals</a>
		</div>
	</div>
	<div class="row">
	    <div class="col-sm-7">
            <h2>Perma.cc for courts</h2>	
            <p>Courts in Michigan, Colorado, Massachusetts, Maryland and elsewhere use Perma.cc to prevent link rot in their opinions.</p>
            <h4>Free and easy</h4>
            <p>Perma.cc is free for courts and extremely easy to use.</p>
            <h4>Bluebook compliant</h4>
 	  		<p>In addition, the Bluebook now encourages archiving online sources when a reliable service such as Perma.cc is available.</p>
 	  		<h4>Request more information</h4>
            <p>If you'd like to learn more about how Perma.cc could help your court, please fill out this form and we'll follow up shortly to set up an informational call.</p>
            <h4>Try it now</h4>
            <p>Create a free individual account now by leaving the "Create a free personal account" box checked.</p>
		</div>
	    <div class="col-sm-4 col-sm-offset-1">	
	        <h2>Request information</h2>	
			<form method="post" action="">
				{% csrf_token %}
				 <fieldset>
				<span class="text-error"><br/>{{ form.non_field_errors }}</span>
				{% for field in form %}
				  <label for="id_{{ field.name }}">{{ field.label }}</label><br/>
				  {{ field }}
				  {% if field.errors %}
					{% for error in field.errors %}<span class="text-error"><br/>{{ error }}</span>{% endfor %}
				  {%elif field.help_text %}
					<span class="help-inline"><br/>{{ field.help_text }}</span>
				  {% endif %}<br/>
				{% endfor %}  
				{% if not request.user.is_authenticated %}
				<div class="checkbox">
                    <label>
                      <input id="id_create_account" name="create_account" type="checkbox" checked> Create a free personal account
                    </label>
                </div>
                <p class="terms-statement"><small>By registering, you agree to the <a href="{% url 'terms_of_service' %}">terms of service</a>.</small></p>
                {% endif %}
			  </fieldset>
				<button type="submit" class="btn-success">Send request</button>
			</form>
		</div>
	</div>
</div>
<br/>
<br/>
<br/>
<br/>
{% endblock content %}
{% block scripts %}
<script>
$(document).ready(function(){
    //$('input[type=text]:first').focus();
    $('#id_create_account').change(function() {
        $('.terms-statement').slideToggle();
    });
});
</script>
{% endblock scripts %}
