{% extends "base-responsive.html" %}

{% block meta_description %}Perma.cc for other organizations{% endblock %}

{% block bodyFlags %}_signup _firms{% endblock %}
{% block mainFlags %}{% endblock %}

{% block mainContent %}
<div class="container cont-fixed">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-title">Perma.cc for other organizations</h1>
      <p class="page-dek">There are many applications for Perma.cc citation preservation tools.</p>
    </div>
  </div>
</div>

{% include "registration/includes/sign-up-navigation.html" with this_page="firms" %}

<div class="container cont-reading cont-fixed">
  <div class="row signup-info">
    <div class="col-sm-4 signup-learnMore-form">
      <h2 class="body-ah">Request team subscription quote</h2>
      <form method="post" action="">
        {% csrf_token %}
        <h3 class="body-bh">Your team information</h3>
        {% include "includes/fieldset.html" with form=organization_form %}
        <h3 class="body-bh">Estimated usage information</h3>
        <p>Quotes are based on the expected volume of use by your whole team.</p>
        {% include "includes/fieldset.html" with form=usage_form %}
        {% if user_form %}
        <h3 class="body-bh">Your information</h3>
        <fieldset>
          {% for field in user_form %}
            <div class="form-group{% if field.errors %} _error{% endif %}">
              <label for="id_{{ field.name }}">{{ field.label }}</label>
              {{ field }}
              {% if field.errors %}
                {% for error in field.errors %}<span class="field-error">{{ error }}</span>{% endfor %}
              {%elif field.help_text %}
                <span class="help-inline">{{ field.help_text }}</span>
              {% endif %}
            </div>
          {% endfor %}
          <div class="checkbox">
            <label>
              <input id="id_create_account" name="create_account" type="checkbox" checked /> Create a free personal account to try Perma.cc
            </label>
          </div>
          {% if form.non_field_errors %}<span class="field-error">{{ form.non_field_errors }}</span>{% endif %}
          <p class="terms-statement"><small>By registering, you agree to the <a href="{% url 'terms_of_service' %}">terms of service</a>.</small></p>
        </fieldset>
        {% endif %}
        <button type="submit" class="btn">Send request</button>
      </form>
    </div>
    <div class="col-sm-8 reading-body">
      <h2 class="body-ah">Why should you use Perma.cc?</h2>
      <p class="body-text">Link rot ruins citations in any context: from briefs to blog posts, reports, news articles, and court filings. If you are using links in your publications, you should be concerned about link rot.</p>

      <h3 class="body-bh">Trusted by courts and lawyers</h3>
      <p class="body-text">Many state and federal courts rely on Perma.cc to protect links in their opinions, and lawyers have used Perma.cc in briefs filed in the U.S. Supreme Court, in multiple U.S. Courts of Appeals, and in state appellate courts across the country. Perma.cc has also been relied upon by the Law Library of Congress, the Department of Justice, and the ABA, and Perma Links are encouraged by the Bluebook.</p>

      <h3 class="body-bh">Paid option now available</h3>
      <p class="body-text">For organizations wishing to use Perma.cc as a team, there are now options to become a Perma Registrar and administer individual accounts. Currently we offer subscriptions that can be billed monthly or annually. Subscription prices are quoted based on the number of individual accounts and how many links per month your organization would like to create. If you ever were to cancel or suspend the subscription, you would still have access to your accounts, and links would continue being preserved as part of our collection. If you’d like to learn more about how Perma.cc can help your team, please fill out this form and we’ll follow up soon.</p>

      <h3 class="body-bh">Try it now</h3>
      <p class="body-text">Individual accounts are also available. New users can create 10 Perma Links for free to try out the service. <a href="{% url 'sign_up' %}">Create an account</a> now to start your free trial.</p>
    </div>
  </div>
</div>
{% endblock mainContent %}
