{% extends "base-responsive.html" %}

{% block meta_description %}Create a Perma.cc account.{% endblock %}

{% block bodyFlags %}_signup _unaffiliated{% endblock %}
{% block mainFlags %}{% endblock %}

{% block mainContent %}
<div class="container cont-fixed">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-title">Sign up with Perma.cc</h1>
      <p class="page-dek">Perma.cc is available for use by anyone. Some types of users and organizations have special privileges and responsibilities. Select the affiliation that best describes you or your organization to learn more and get started creating an account. See <a href="{% url 'docs' %}">our documentation</a> for more about Perma.cc’s affiliations and roles.</p>
    </div>
  </div>
</div>

{% include "registration/includes/sign-up-navigation.html" with this_page="individual" %}

<div class="container cont-reading cont-fixed">
  <div class="row signup-info">
    <div class="col-sm-4 signup-learnMore-form">
      <h2 class="body-ah">Create an individual account</h2>
      <form method="post" action="">
        {% csrf_token %}
        {% include "includes/fieldset.html" %}
        <p class="body-text"><small>By registering, you agree to the <a href="{% url 'terms_of_service' %}">terms of service</a>.</small></p>
        <button type="submit" class="btn">Create account</button>
      </form>
    </div>
    <div class="col-sm-8 reading-body">
      <h2 class="body-ah">Perma.cc for individual users</h2>
      <p class="body-text">Anyone can create an individual Perma.cc account, which will allow you to create records to be preserved by The Harvard Law School Library. Just complete this form to get started.</p>
      <p class="body-text">New users are able to create ten free links on a trial basis. After using the trial, individuals must either be affiliated with a registrar or sign up for a paid subscription.</p>
      <p class="body-text">Many organizations qualify for free, unlimited service. To see if your organization qualifies, check out our <a href="{% url 'docs_accounts' %}">accounts page</a>.</p>

      <h3 class="body-bh">Contact your library for an affiliated account</h3>
      <p class="body-text">If your library or organization is already registered with us, we’ll let you know in your welcome email so you can contact them for an affiliation. If not, invite your library to visit our <a href="{% url 'sign_up_libraries' %}">library resource page</a> to request membership, and we’ll help them get started.</p>
    </div>
  </div>
</div>
{% endblock mainContent %}
