{% extends "base-responsive.html" %}

{% block meta_description %}Create a Perma.cc account.{% endblock %}

{% block bodyFlags %}_signup _unaffiliated{% endblock %}
{% block mainFlags %}{% endblock %}

{% block mainContent %}
<div class="container cont-fixed">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-title">Sign up with Perma.cc</h1>
      <p class="page-dek">Perma.cc is available for use by anyone. Some types of users and organizations have special privileges and responsibilities. Select the affiliation that best describes you or your organization to learn more and get started creating an account. See <a href="{% url 'docs' %}">our documentation</a> for more about Perma.cc’s affiliations and roles.</p>
    </div>
  </div>
</div>

{% include "registration/includes/sign-up-navigation.html" with this_page="individual" %}

<div class="container cont-reading cont-fixed">
  <div class="row signup-info">
    <div class="col-sm-4 signup-learnMore-form">
      <h2 class="body-ah">Create an individual account</h2>
      <form method="post" action="">
        {% csrf_token %}
        {% include "includes/fieldset.html" %}
          <div class="body-text"><div class="checkbox">
            <label>
              <input id="upgrade" name="upgrade" type="checkbox"> I'm interested in upgrading to a premium, unlimited account.
            </label>
          </div></div>
        <p class="body-text"><small>By registering, you agree to the <a href="{% url 'terms_of_service' %}">terms of service</a>.</small></p>
        <button type="submit" class="btn">Create account</button>
      </form>
    </div>
    <div class="col-sm-8 reading-body">
      <h2 class="body-ah">Perma.cc for individual users</h2>
      <p class="body-text">Anyone can create an individual Perma.cc account, which will allow you to create records to be preserved by The Harvard Law School Library. Just complete this form to get started.</p>
      <p class="body-text">New users are able to create ten free links on a trial basis. Once you've used your trial, individuals not affiliated with a registrar must sign up for a paid subscription.</p>
      <p class="body-text">Many organizations qualify for free, unlimited service. To see if your organization qualifies, check out our <a href="{% url 'docs_accounts' %}">accounts page</a>.</p>
      <p class="body-text">To learn more about how Perma.cc works, please review our <a href="{% url 'docs' %}">user guide</a>.</p>
    </div>
  </div>
</div>
{% endblock mainContent %}
