{% extends "base-responsive.html" %}

{% block meta_description %}Perma.cc for courts{% endblock %}

{% block bodyFlags %}_signup _courts{% endblock %}
{% block mainFlags %}{% endblock %}

{% block mainContent %}
<div class="container cont-fixed">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-title">Perma.cc for law firms</h1>
      <p class="page-dek">Law firms are eager to protect links in court filings and marketing materials.</p>
    </div>
  </div>
</div>

{% include "registration/includes/sign-up-navigation.html" with this_page="firms" %}

<div class="container cont-reading cont-fixed">
  <div class="row signup-info">
    <div class="col-sm-4 signup-learnMore-form">
      <h2 class="body-ah">Request information for firms</h2>
      <form method="post" action="">
        {% csrf_token %}
        <fieldset>
          {% for field in form %}
            <div class="form-group{% if field.errors %} _error{% endif %}">
              <label for="id_{{ field.name }}">{{ field.label }}</label>
              {{ field }}
              {% if field.errors %}
                {% for error in field.errors %}<span class="field-error">{{ error }}</span>{% endfor %}
              {%elif field.help_text %}
                <span class="help-inline">{{ field.help_text }}</span>
              {% endif %}
            </div>
          {% endfor %}
          <div class="checkbox">
            <label>
              <input id="id_create_account" name="create_account" type="checkbox" checked /> Create a free personal account to try Perma.cc
            </label>
          </div>
          {% if form.non_field_errors %}<span class="field-error">{{ form.non_field_errors }}</span>{% endif %}
          <p class="terms-statement"><small>By registering, you agree to the <a href="{% url 'terms_of_service' %}">terms of service</a>.</small></p>
        </fieldset>
        <button type="submit" class="btn">Send request</button>
      </form>
    </div>
    <div class="col-sm-8 reading-body">
      <h2 class="body-ah">Why should law firms use Perma.cc?</h2>
      <p class="body-text">Link rot affects web page citations in briefs and other court filings, as well as blog posts, white papers and other marketing materials intended for prospective clients. Many courts already use Perma.cc for their opinions, and Perma.cc citations are Bluebook-compliant.</p>

      <h3 class="body-bh">Paid option coming soon</h3>
      <p class="body-text">Right now individual lawyers can use Perma.cc to protect up to 10 links per month. Soon we'll be launching a reasonably priced paid service for law firms needing more links and Perma's administrative features for organizations.<p class="body-text">

      <h3 class="body-bh">Request more information</h3>
      <p class="body-text">If you’d like to learn more about how Perma.cc could help your firm, please fill out this form and we’ll follow up soon to share news about the launch of our paid service.<p class="body-text">

      <h3 class="body-bh">Try it now</h3>
      <p class="body-text">Create a free individual account now by leaving the “Create a free personal account” box checked.<p class="body-text">
    </div>
  </div>
</div>
{% endblock mainContent %}
