{% extends "layout-responsive.html" %}

{% block meta_description %}
Register for a Perma.cc account. Welcome aboard.
{% endblock %}

{% block content %}
<div class="container learn-more">
	<div class="row">
		<div class="col-sm-12">	
			<h1>Learn more and sign up</h1>
			<a class="btn btn-large btn-more btn-active" href="{% url 'sign_up_journals' %}" role="button">Journals</a><a class="btn btn-large btn-more" href="{% url 'sign_up_courts' %}" role="button">Courts</a><a class="btn btn-large btn-more" href="{% url 'sign_up_faculty' %}" role="button">Faculty</a><a class="btn btn-large btn-more" href="{% url 'libraries' %}">Libraries</a><a class="btn btn-large btn-more" href="{% url 'sign_up' %}" role="button">Individuals</a>
		</div>
	</div>
	<div class="row">
	    <div class="col-sm-7">
            <h2>Perma.cc for Journals</h2>
            <p>Over 150 academic law journals prevent link rot with Perma.cc.</p>
			<h4>Free and easy to use</h4>
			<p>Perma.cc is easy to use and free for any academic journal that is authorized by its library. Our <a href="{% url 'docs' %}">user guide</a> has more details on how Perma.cc works for journals.</p>
			<h4>Bluebook compliant</h4>
            <p>The Bluebook now encourages archiving online sources when a reliable service such as Perma.cc is available. </p>
			<h4>Contact your library for a journal account</h4>
			<p>If your library is already registered with us (<a href="{% url 'about' %}#partners">see the full list here</a>), contact them for setup. If not, invite your library to visit our <a href="{% url 'libraries' %}">library resource</a> page to request membership, and we'll help them get started.</p>
			<h4>Try it now</h4>
			<p>If you'd like to create a free, individual account now, please fill out this form. Your library will be able to connect this account to your journal's account at a later date.</p> 
                     
           
		</div>
	    <div class="col-sm-4 col-sm-offset-1">	
	        <h2>Create an individual account</h2>	
			<form method="post" action="">
				{% csrf_token %}
				 <fieldset>
				<span class="text-error"><br/>{{ form.non_field_errors }}</span>
				{% for field in form %}
				  <label for="id_{{ field.name }}">{{ field.label }}</label><br/>
				  {{ field }}
				  {% if field.errors %}
					{% for error in field.errors %}<span class="text-error"><br/>{{ error }}</span>{% endfor %}
				  {%elif field.help_text %}
					<span class="help-inline"><br/>{{ field.help_text }}</span>
				  {% endif %}<br/>
				{% endfor %}  
			  </fieldset>
				<p><small>By registering, you agree to the <a href="{% url 'terms_of_service' %}">terms of service</a>.</small></p>
				<button type="submit" class="btn-success">Create account</button>
			</form>
		</div>
	</div>
</div>
<br/>
<br/>
<br/>
<br/>
{% endblock content %}
{% block scripts %}
<script>
$(document).ready(function(){
    //$('input[type=text]:first').focus();
    $('#id_create_account').change(function() {
        $('.terms-statement').slideToggle();
    });
});
</script>
{% endblock scripts %}
