{% extends "layout-responsive.html" %}

{% block meta_description %}
Register for a Perma.cc account. Welcome aboard.
{% endblock %}

{% block content %}
<div class="container learn-more">
	<div class="row">
		<div class="col-sm-12">	
			<h1>Learn more and sign up</h1>
			<a class="btn btn-large btn-more" href="{% url 'sign_up_journals' %}" role="button">Journals</a><a class="btn btn-large btn-more" href="{% url 'sign_up_courts' %}" role="button">Courts</a><a class="btn btn-large btn-more btn-active" href="{% url 'sign_up_faculty' %}" role="button">Faculty</a><a class="btn btn-large btn-more" href="{% url 'libraries' %}">Libraries</a><a class="btn btn-large btn-more" href="{% url 'sign_up' %}" role="button">Individuals</a>
		</div>
	</div>
	<div class="row">
	    <div class="col-sm-7">
            <h2>Perma.cc for faculty</h2>	
            <p>Faculty use Perma.cc to prevent link rot in their scholarship.</p>
            <h4>Free and easy to use</h4>
            <p>Perma.cc is free for faculty and easy to use, and you can authorize others, such as assistants and researchers, to preserve sources on your behalf.</p> 	
            <h4>Contact your library for an unlimited faculty account</h4>
            <p>If your library is already registered with us (<a href="{% url 'about' %}#partners">see the full list here</a>), contact them for setup. If not, invite your library to visit our <a href="{% url 'libraries' %}">library resources</a> page to request membership, and we'll help them get started.</p>
            <h4>Try it now</h4>
            <p>If you'd like to get started now with a free, individual account, please fill out this form. Your library will be able to upgrade your individual account at a later date.</p> 
			
		</div>
	    <div class="col-sm-4 col-sm-offset-1">	
	        <h2>Create an individual account</h2>	
			<form method="post" action="">
				{% csrf_token %}
				 <fieldset>
				<span class="text-error"><br/>{{ form.non_field_errors }}</span>
				{% for field in form %}
				  <label for="id_{{ field.name }}">{{ field.label }}</label><br/>
				  {{ field }}
				  {% if field.errors %}
					{% for error in field.errors %}<span class="text-error"><br/>{{ error }}</span>{% endfor %}
				  {%elif field.help_text %}
					<span class="help-inline"><br/>{{ field.help_text }}</span>
				  {% endif %}<br/>
				{% endfor %}  
			  </fieldset>
				<p><small>By registering, you agree to the <a href="{% url 'terms_of_service' %}">terms of service</a>.</small></p>
				<button type="submit" class="btn-success">Create account</button>
			</form>
		</div>
	</div>
</div>
<br/>
<br/>
<br/>
<br/>
{% endblock content %}
{% block scripts %}
<script>
$(document).ready(function(){
    //$('input[type=text]:first').focus();
    $('#id_create_account').change(function() {
        $('.terms-statement').slideToggle();
    });
});
</script>
{% endblock scripts %}
