# heroku requirements
# these will get added onto the end of requirements.txt by heroku-buildpack-perma

dj_database_url==0.3.0
dj-static==0.0.5
newrelic==2.40.0.34
cffi                        # This is a dependency of some of our packages. Heroku will detect it and install a previously-compiled version.

# Overrides django-pipeline with a branch that fixes https://github.com/cyberdelia/django-pipeline/issues/473
-e git://github.com/skirsdeda/django-pipeline.git@fix473#egg=django-pipeline-heroku-fix
