#myModal {
	width: 850px; /* SET THE WIDTH OF THE MODAL */
	margin-left: -425px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}

.modal-body img {
  float:left;
}

#linky-desc {
  float:left;
  margin-left:15px;
}

#linkyUrl {
  font-weight:bold;
}