{% extends "admin-layout.html" %}

{% block content %}

<div class="row-fluid">
	<h2>Login</h2>
		
			{% if next %}
				<form method="post" action="?next={{ next }}">
			{% else %}
				<form method="post" action="">
			{% endif %}
				{% csrf_token %}
				 <fieldset>
        {% for field in form %}
          <label for="id_{{ field.name }}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            {% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
          {%elif field.help_text %}
            <span class="help-inline">{{ field.help_text }}</span>
          {% endif %}
        {% endfor %}  
      </fieldset>
				<button type="submit" class="btn">Login</button>
			</form>
			<br />
			<p>Can't remember your password? No problem, we can help you <a href="{% url auth_password_reset %}">create a new one.</a></p>
	</div><!-- end content -->
{% endblock content %}
