{% extends "layout.html" %}

{% block content %}
	<div class="row-fluid white-box">
		<h2>Password Reset</h2>
		<p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
		<form action="" method="post" class="embedded-form form-inline">
			{% csrf_token %}
			{{ form.email.errors }}
			<p><label for="id_email">E-mail address</label> {{ form.email }} <input type="submit" class="btn" value="Reset my password" /></p>
		</form>
</div> <!-- end wrapper -->
{% endblock content %}