{% extends "layouts/base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.css" type="text/css" />
<link rel="stylesheet" media="all" href="{{ STATIC_PREFIX }}css/awesome.css" />
{% endblock styles %}

{% block content %}
<body>
<div id="wrapper">
	<header id="branding">
		<span id="feeds">
			<ul>
				<li><a href="{% url auth_logout %}">Logout</a></li><li>|</li><li><a href="{% url control_home %}">Control Center</a></li>
			</ul>
		</span>
		<h1><a href="{% url landing %}">Awesome Box</a></h1>
	</header>
	<div id="content">
		<article class="control thin-centered">
			<h1>Change Password</h1>
			<form action="" method="post">
				{% csrf_token %}
				{{ form.old_password.errors }}
				<p class="aligned wide"><label for="id_old_password">Old password:</label>{{ form.old_password }}</p>
				{{ form.new_password1.errors }}
				<p class="aligned wide"><label for="id_new_password1">New password:</label>{{ form.new_password1 }}</p>
				{{ form.new_password2.errors }}
				<p class="aligned wide"><label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}</p>
				<p><input type="submit" value="Change Password" class="button positive icon-ok immediate"></p>
			</form>
		</article>
	</div><!-- end content -->
</div> <!-- end wrapper -->
{% endblock content %}

{% block scripts %}
<script src="{{ STATIC_PREFIX }}js/modernizr.custom.37797.js"></script> 
<!-- Grab Google CDN's jQuery. fall back to local if necessary --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="{{ STATIC_PREFIX }}/js/jquery-1.7.1.min.js"><\/script>')</script>
{% endblock scripts %}