{% extends "manage-layout.html" %}
{% load current_query_string %}

{% block title %} | Approve pending registrar{% endblock %}

{% block dashboardContent %}
  <h2 class="body-ah">Registrars</h2>

  {% if target_registrar.status == "approved" %}
    <h3 class="body-bh">Already approved!</h3>
    <p class="body-text">This organization has already been approved as a registrar.</p>
  {% else %}
    <h3 class="body-bh">Approve this registrar?</h3>
    <p class="body-text">The following organization requested a registrar account on <strong>{{ target_registrar.date_created|date:'N j, Y'}}</strong>.</p>

    {% if target_registrar.status == "denied" %}
      <p class="body-text"><strong>This registrar request has previously been marked denied. Clicking "Approve" will change it to approved.</strong></p>
    {% endif %}

    <h4 class="body-ch">Registrar information</h4>
    <p class="body-text">
      <strong>Name:</strong> {{ target_registrar.name }}<br />
      <strong>Email:</strong> {{ target_registrar.email }}<br />
      <strong>Website:</strong> <a href="{{ target_registrar.website }}" target="_blank">{{ target_registrar.website }}</a><br />
      {% if target_registrar.address %}
        Address: {{ target_registrar.address }}<br />
      {% endif %}
    </p>

    <form id="search_form" action="" method="GET"></form>

    <form id="form" action="" method="POST">
      {% csrf_token %}

      <h4 class="body-ch">Registrar user</h4>

      {% if target_registrar_user %}

        <p class="body-text">
        {% if target_registrar_user.first_name or target_registrar_user.last_name %}
          <strong>Name:</strong> {{ target_registrar_user.first_name }} {{ target_registrar_user.last_name }}<br />
        {% endif %}
          <strong>Email:</strong> {{ target_registrar_user.email }}<br />
        </p>

      {% else %}

        <p class="body-text">Before this registrar can be approved, you must assign a registrar user:</p>
        {% include "user_management/includes/search_form.html" with search_placeholder="Search Users" search_query=search_query form_id="search_form" %}

        {% if users.paginator.count %}
          <div class="row row-no-bleed">
            <div class="col admin-found col-no-gutter">
              <h5 class="sr-only">User List</h3>
              <div id="results" class="sort-filter-count"><strong>Found:</strong> {{ users.paginator.count }} user{{ users.paginator.count|pluralize }}</div>
              <div class="sort-filter-bar">
                <strong>Filter &amp; Sort:</strong>
                <div class="dropdown">
                  <button class="btn-transparent" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">Sort <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li>
                      <a {% if sort == 'last_name' %}class="selected" aria-current="true" {% endif %}href="?{% current_query_string page='' sort="last_name" %}"><i aria-hidden="true" class="icon-ok"></i> Last name A - Z</a>
                    </li>
                    <li>
                      <a {% if sort == '-last_name' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="-last_name" %}"><i aria-hidden="true" class="icon-ok"></i> Last name Z - A</a>
                    </li>
                    <li>
                      <a {% if sort == '-date_joined' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="-date_joined" %}"><i aria-hidden="true" class="icon-ok"></i> Newest</a>
                    </li>
                    <li>
                      <a {% if sort == 'date_joined' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="date_joined" %}"><i aria-hidden="true" class="icon-ok"></i> Oldest</a>
                    </li>
                    <li>
                      <a {% if sort == '-last_login' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="-last_login" %}"><i aria-hidden="true" class="icon-ok"></i> Recently active</a>
                    </li>
                    <li>
                      <a {% if sort == 'last_login' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="last_login" %}"><i aria-hidden="true" class="icon-ok"></i> Least recently active</a>
                    </li>
                    <li>
                      <a {% if sort == '-link_count' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="-link_count" %}"><i aria-hidden="true" class="icon-ok"></i> Most links</a>
                    </li>
                    <li>
                      <a {% if sort == 'link_count' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="link_count" %}"><i aria-hidden="true" class="icon-ok"></i> Least links</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div><!-- admin found -->
          </div><!-- row -->

          {% csrf_token %}
          <ol class="result-list">
            {% for listed_user in users %}
              <li class="item-container {% if not listed_user.is_active %}muted{% endif %}">
                <div class="col col-sm-8 col-no-gutter">
                  <h6 class="item-title" id="user-{{ listed_user.id }}">
                    {% if not listed_user.first_name and not listed_user.last_name %}
                      {{ listed_user.raw_email }}
                    {% else %}
                      {{ listed_user.first_name }} {{ listed_user.last_name }}
                    {% endif %}
                  </h6>
                  <div class="item-subtitle">{{ listed_user.raw_email }}</div>

                  {% if request.user.is_staff and listed_user.requested_account_type %}
                    <div class="item-org">Interested in a {{listed_user.requested_account_type}} account with {{listed_user.requested_account_note}}</div>
                  {% endif %}
                </div>

                <div class="col col-sm-4 col-no-gutter sm-align-right admin-actions">
                  <div>
                    <div class="item-activity">
                      created {{ listed_user.date_joined|date:'F j, Y' }}
                      {% if listed_user.is_confirmed %}
                        <br>
                        last active {{ listed_user.last_login|date:'F j, Y' }}
                      {% endif %}
                    </div>
                  </div>
                  {% if request.user.is_staff %}
                    <div>
                      <button type="submit" name="registrar_user" value="{{ listed_user.email }}" class="btn btn-small pull-right" form="form">Select<span class="sr-only"> {{ listed_user.get_full_name }}</button>
                    </div>
                  {% endif %}
                </div>
              </li>
            {% endfor %}
          </ol>

        {% elif users.paginator.count == 0 %}

          <div class="item-notification">No user{{ users.paginator.count|pluralize }} found.</div>

        {% endif %}

        {% include "user_management/includes/paginator.html" with page=users title='User List' %}

      {% endif %}

      {% if target_registrar_user and not target_registrar.nonpaying %}
        <h4 class="body-ch">Base rate</h4>
        <label for="id_base_rate" class="body-text">Enter the registrar's base rate in dollars:</label>
        {{ approve_registrar_form.base_rate }}
      {% endif %}

      <a class="btn cancel" href="../">Cancel</a>
      {% if target_registrar_user %}
        <button type="submit" name="status" value="approved" class="btn">Approve</button>
        <button type="submit" name="status" value="denied" class="btn delete-confirm">Deny</button>
      {% endif %}
    </form>
  {% endif %}

{% endblock %}
