{% extends "manage-layout.html" %}
{% block title %} | Approve pending registrar{% endblock %}

{% block content %}
	
	{% if target_registrar.is_approved %}
	<h3>Already approved!</h3>
	<p>This organization has already been approved as a registrar.</p>
	{% else %}
	<h3>Approve this registrar?</h3>
	<p>The following organization requested a registrar account on <strong>{{ target_registrar.date_created|date:'N j, Y'}}</strong> .</p>
	
	<h4>Registrar information</h4>
	<ul>
        <li>{{target_registrar.name}}</li>
        <li>{{target_registrar.email}}</li>
        <li><a href="{{target_registrar.website}}" target="_blank">{{target_registrar.website}}</a></li>
	</ul>
	<br>
	<h4>Requested by</h4>
	<ul>
	    {% if target_registrar_member.first_name and target_registrar_member.last_name %}
	    <li>{{target_registrar_member.first_name}} {{target_registrar_member.last_name}}</li>
	    {% endif %}
	    <li>{{target_registrar_member.email}}</li>
	</ul>

    <br>
    <form action="" method="POST">
	    {% csrf_token %}
        <a href="../">Cancel</a>
        <button type="submit" class="btn-success delete-confirm">
            Approve
        </button>
    </form>
    {% endif %}

{% endblock %}
