{% extends "admin-layout.html" %}
{% load compressed %}
{% block title %} | Create a Perma link{% endblock %}

{% block content %}
    <h3>Create a Perma archive</h3>
    <form class="form-inline" id="linker" action="{% url 'api_dispatch_list' resource_name='archives' api_name='v1' %}" method="post">
        <input id="rawUrl" name="url" class="text-input select-on-click" type="text" value="http://" data-placement="bottom" data-content="To save a link, enter its URL and click the <strong>Archive</strong> button. To see the links you've saved, click <strong>Library</strong> in the menu to the left." data-original-title="Start building your library" data-html="true" data-trigger="manual" />
        <button class="btn btn-large btn-info" id="addlink" type="submit"><div class="infinity"><img class="button-img" src="{{ STATIC_URL }}img/infinity-white.png" alt="Loading..." /></div></button>
    </form><!--/#linker-->


<div class="row preview-row hide">
    <div class="col-sm-6">
        <div id="preview-container"></div>
    </div>
    <div id="steps-container" class="col-sm-6">
    </div>
</div>

<!-- Modals -->
<!-- Upload file modal -->
<div  class="modal" id="archive-upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
    		    <div class="modal-header">
        		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <div class="logo-condensed-header">
					          <a href="{% url 'landing' %}">perma.cc<img class="infinity-logo" src="{{ STATIC_URL }}img/infinity-logo2.png"></a>
				        </div>
    		    </div>

				    <form class="form-inline" id="archive_upload_form" action="{% url 'api_dispatch_list' resource_name='archives' api_name='v1' %}" method="post">
				        <h4>Choose a file</h4>
				        <input id="file" name="file" class="input-xlarge" type="file" placeholder="example.png">
				        <p><label for="title">Title</label><br><input id="title" name="title" class="input-xlarge" type="text" placeholder="Example Page Title"></p>
				        <p><label for="url">URL</label><br><input id="url" name="url" class="input-xlarge" type="text" placeholder="www.example.com"></p>
				        <button type="submit" id="uploadLinky" class="btn btn-primary btn-large">Upload this Perma</button>
				        {% csrf_token %}
				        <p id="upload-error" class="text-error"></p>
				    </form>
		    </div>
	  </div>
</div><!--/.archive-upload-->


<!-- Upload complete modal -->
<div id="archive-upload-confirm" class="modal hide fade center">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <div class="logo-condensed-header">
			<a href="{% url 'landing' %}">perma.cc<img class="infinity-logo" src="{{ STATIC_URL }}img/infinity-logo2.png"></a>
		</div>
    </div>
    <div class="modal-body">
        <div class="center">
            <h4 id="archive_upload_success">Uploading your file...</h4>
            <p id="uploadedLinkyUrl"><a href="" target="_blank"></a></p>
        </div>
    </div>
    <div class="modal-footer upload-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script>
        var userguide_url = "{% url 'docs_perma_link_vesting' %}",
            vest_link_url = "{% url 'vest_link' 'GUID' %}",
            vesting_privs = {% if request.user.can_vest %}true{% else %}false{% endif %},
            thumbnail_service_url = "{% url 'service_get_thumbnail' %}";
    </script>

    {% compressed_js 'create' %}
{% endblock %}

{% block templates %}

{% verbatim %}
<script id="upload-confirm-template" type="text/x-handlebars-template">
	  <h4 class="text-warning">Upload successful!</h4>
	  <p><a href="{{url}}">{{url}}</a></p>
</script>
{% endverbatim %}

{% verbatim %}
<script id="error-template" type="text/x-handlebars-template">
    <p class="message-large">Failure</p>
    <p>Unable to create the archive.</p>
    <h4 class="text-warning">{{ message }}<h4/>
    <p>You can <a href="" onclick="return upload_form();">upload your own archive</a>. If that's not desirable, please <a href="#" data-toggle="modal" data-target="#feedbackModal" id="report-error">let us know what's happening.</a></p>
</script>
{% endverbatim %}

{% verbatim %}
<script id="success-template" type="text/x-handlebars-template">

		<div class="thumbnail-placeholder">
            <div id="spinner"></div>
            <p class="spinner-message">Creating archive</p>
		</div>

</script>
{% endverbatim %}

{% verbatim %}
<script id="preview-available-template" type="text/x-handlebars-template">
    <p id="upload-option">Archive not as expected? <a href="" onclick="return upload_form();">Upload your own</a></p>
    <div class="library-thumbnail">
        <a href="{{archive_url}}" target="_blank"><img src="{{image_url}}" class="img-responsive"></a>
    </div>
</script>
{% endverbatim %}

{% verbatim %}
<script id="preview-available-no-upload-option-template" type="text/x-handlebars-template">
    <div class="library-thumbnail">
        <a href="{{archive_url}}" target="_blank"><img src="{{image_url}}" class="img-responsive"></a>
    </div>
</script>
{% endverbatim %}

{% verbatim %}
<script id="preview-failure-template" type="text/x-handlebars-template">
    <div class="library-thumbnail">
        <img src="{{static_prefix}}img/sorry-preview.jpg" class="img-responsive">
    </div>
</script>
{% endverbatim %}

{% verbatim %}
<script id="success-steps-template" type="text/x-handlebars-template">
    <p class="message-large">Success!</p>
    {{#if vesting_privs }}
            <p>You're half way there. To make this archive permanent, review and vest it.</p>
    {{ else }}
            <p>You're half way there. To make this archive permanent, it needs to be vested by a partner organization. <a href="{{userguide_url}}">Learn more about vesting.</a></p>
    {{/if}}

    <p class="message-url"> <a href="{{url}}" target="_blank" class="perma-url">{{url}}</a></p>
</script>
{% endverbatim %}

<!-- Bookmarklet -->

<script>

// Catches the incoming bookmarklet archive request

// Get parameter by name
// from https://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

var user_email = '{{request.user.email}}';

// Populate the URL field and submit the "create link" form
$(document).ready(function() {
    var bookmarklet_url = getParameterByName('url');
    if (bookmarklet_url) {
        $('.bookmarklet-button').hide();
        $('#rawUrl').val(bookmarklet_url);
    }
    
    // Populate email field in feedback form
    $('#user_email').val(user_email);
});

</script>

{% endblock templates %}
