{% extends "admin-layout.html" %}
{% load truncatesmart compressed %}
{% block title %} | Create a Perma link{% endblock %}

{% block manage-created-links %}<li class="active"><a href="{% url 'created_links' %}">Created links</a></li>{% endblock %}

{% block content %}

<h3>Create a Perma link</h3>
<div class="home-form-elements dashboard-create">
  {% include 'add_link_form.html' %}
</div><!--/.home-form-->
           
<!-- Modals -->
<!-- Upload file modal -->
<div  class="modal" id="linky-upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
    		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<div class="logo-condensed-header">
					<a href="{% url 'landing' %}">perma.cc<img class="infinity-logo" src="{{ STATIC_URL }}img/infinity-logo.png"></a>
				</div>
    		</div>
    
			<div class="center">
				<form class="form-inline" id="linky_upload_form" action="{% url 'upload_link' %}" method="post">
				<h4>Choose a file</h4>
				<p><input id="file" name="file" class="input-xlarge" type="file" placeholder="example.png"></p>
				<p><input id="title" name="title" class="input-xlarge" type="text" placeholder="Example Page Title"></p>
				<p><input id="url" name="url" class="input-xlarge" type="text" placeholder="www.example.com"></p>
				<button type="submit" id="uploadLinky" class="btn btn-primary btn-large">Upload this Perma</button>
				{% csrf_token %}
				<p id="upload-error" class="text-error"></p>
				</form>
			</div>
		</div>	
	</div>
</div><!--/.linky-upload-->

<!-- Upload complete modal -->
<div id="linky-upload-confirm" class="modal hide fade center">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <div class="logo-condensed-header">
			<a href="{% url 'landing' %}">perma.cc<img class="infinity-logo" src="{{ STATIC_URL }}img/infinity-logo2.png"></a>
		</div>
    </div>
    <div class="modal-body">
        <div class="center">
            <h4 id="linky_upload_success">Uploading your file...</h4>
            <p id="uploadedLinkyUrl"><a href="" target="_blank"></a></p>
        </div>
    </div>
    <div class="modal-footer upload-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        var main_server_host = "http://{{request.main_server_host}}",
            mirror_server_host = "http://{{request.mirror_server_host}}",
            csrf_token = "{{csrf_token}}",
            static_prefix = "{{STATIC_URL}}",
            MEDIA_URL = "{{ MEDIA_URL }}",
            status_url = "{% url 'service_link_status' '' %}";

        $(function(){
            // Toggle users dropdown
            $('#dashboard-users').click(function(){
                $('.users-secondary').toggle();
            });
        });
    </script>
    <script src="{{ STATIC_URL }}js/ZeroClipboard/ZeroClipboard.min.js"></script>
    <script src="{{ STATIC_URL }}js/handlebars.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.form.min.js"></script>
    <script src="{{ STATIC_URL }}js/create.js"></script>
    <script src="{{ STATIC_URL }}js/swfobject.js"></script>
	{% compressed_js 'create' %}

{% endblock %}
{% block templates %}

{% verbatim %}
<script id="list-template" type="text/x-handlebars-template">
	<div class="row">
		<li>
			<div class="span8">
				<div class="favicon-preview">{{#if favicon_url}}<!--<img src="http://{{favicon_url}}">-->{{/if}}</div>
				<div class="recent-linky-summary">
					<h4><a href="http://{{url}}" target="_blank">{{#truncate title 50}}{{/truncate}}</a></h4>
					<small>{{#truncate original 70}}{{/truncate}}</small>
					<br>
					<p><a href="http://{{url}}" target="_blank">{{url}}</a></p>
				</div>
			</div>
			<div class="span4">
				<div class="copy-button-div"><span class="copy-confirm" style="display:none"><i class="icon-check text-success"></i></span><button class="btn copy-button" data-clipboard-text="{{url}}" title="Copy Perma Link">Copy Perma &infin;</button></div>
			</div>
		</li>
	</div>
</script>
{% endverbatim %}

{% verbatim %}
<script id="upload-confirm-template" type="text/x-handlebars-template">
	  <h4 class="text-warning">Upload successful!</h4>
	  <p><a href="{{url}}">{{url}}</a></p>
</script>
{% endverbatim %}

{% verbatim %}
<script id="error-template" type="text/x-handlebars-template">
	  <div class="library-thumbnail">
			<img src="{{static_prefix}}img/sorry-preview.jpg" />
	  </div>
	  <h4 class="text-warning">There was a problem creating your Perma</h4>
	  <br/>
	  <p><span class="bold" id="broken-link">{{url}}</span> is gumming up the works<br/>
      <a href="" onclick="return upload_form();">upload your own image</a></p>
	  
	  <p>If uploading your own capture is not desirable, please <a href="#" data-toggle="modal" data-target="#feedbackModal" id="report-error">report the error</a></p>
	  <br/><br/><br/><br/><br/>
</script>
{% endverbatim %}

{% verbatim %}
<script id="success-template" type="text/x-handlebars-template">
  <li id="link-short-slug" class="library-link-item" style="display: none;">

	{{#if message_pdf }}
		<div class="library-thumbnail">
			<img src="{{static_prefix}}img/pdf-preview.jpg" />
		</div>
	{{else}}
		<div class="thumbnail-placeholder"></div>
	{{/if}}

    <div class="link-results">
      
      <p class="library-link-title">{{title}}</p>
      <p class="library-link-url"><a href="{{original}}">{{original}}</a></p>
      <a href="{{url}}" class="btn-padding btn btn-success" target="_blank">{{url}}</a><br/>
      <span class="copy-confirm" style="display:none"><i class="icon-check text-success"></i></span><a class="copy-button" data-clipboard-text="{{url}}" title="Copy Perma Link">Copy Perma &infin;</a>
      <!--
      <form class="form-inline" id="emailPerma">
        <input id="email_request" type="text" placeholder="user@example.com">
        <button type="submit" class="btn">Email this Perma</button>
      </form>
      -->
      <p id="upload-option">Perma capture not right?<br/> <a href="" onclick="return upload_form();">Upload your own</a></p>
    </div> 
  </li>
</script>

{% endverbatim %}

<!-- Bookmarklet -->

<script>

// Get parameter by name
// from https://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

// Populate the URL field and submit the "create link" form
$(document).ready(function() {
    var bookmarklet_url = getParameterByName('url');
    if (bookmarklet_url) {
        $('.bookmarklet-button').hide();
        $('#rawUrl').val(bookmarklet_url);
    }
});

</script>

{% endblock templates %}
