{% extends "admin-layout.html" %}
{% load mptt_tags pipeline as_json %}

{% block title %} | Create a Perma link{% endblock %}
{% block bodyFlags %}{% endblock bodyFlags %}
{% block mainFlags %}_create{% if selected_org.default_to_private %} _isPrivate{% else %} _isPublic{% endif %}{% endblock mainFlags %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jstree-theme/style.min.css" />
{% endblock %}

{% block adminContent %}
	<!-- regular link creation -->
	{% if not selected_org.default_to_private %}
	<div id="create-link-container" class="container c-full-bleed">
		<div class="container c-fixed">
		    <h1 class="create-title">Create a new <span class="_noWrap">Perma Link</span></h1>
			<p class="create-lede">Enter any URL to preserve it forever.</p>
		</div>
		<div class="container c-full-bleed c-s-fixed">
		    <form 	class="form-priority" 
		    		id="linker" 
		    		action="{% url 'api_dispatch_list' resource_name='archives' api_name='v1' %}" 
		    		method="post">
				<fieldset class="form-priority-fieldset">
			        <input 	id="rawUrl" 
			        		name="url" 
			        		class="text-input select-on-click form-priority-input" 
			        		type="text" 
			        		{% if request.user.has_limit and links_remaining < 1 %}
			        		disabled="disabled"
			        		{% elif not selected_org and links_remaining < 1 %}
			        		disabled="disabled"
			        		{% else %} 
			        		placeholder="Paste your URL here." 
			        		data-placement="bottom" 
			        		data-content="To save a link, enter its URL and click the <strong>Create Perma Link</strong> button. To see the links you've saved, click <strong>Library</strong> in the menu to the left." 
			        		data-original-title="Start building your library" 
			        		data-html="true" 
			        		data-trigger="manual"
			        		{% endif %} />
			        <button class="btn btn-large btn-info _active-when-valid" id="addlink" type="submit" {% if request.user.has_limit and links_remaining < 1 %}disabled="disabled"{% endif %}{% if not selected_org and links_remaining < 1 %}disabled="disabled"{% endif %}>Create Perma Link</button>
			        {% if request.user.has_limit %}
					<p id="links-remaining-message">You have <span class="links-remaining">{{links_remaining}}</span> remaining Perma Links on your free account. <a href="{% url 'docs' %}#create-account">Learn more about accounts</a>.</p>
					{% else %}
					<div id="organization_select_form">
						<span class="label-affil">This Perma Link will be affiliated with</span>
						<div class="dropdown dropdown-affil">
			  				<button class="dropdown-toggle selector selector-affil needsclick" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    			Dropdown
				    			<span class="caret"></span>
			  				</button>
			  				<ul class="dropdown-menu selector-menu" aria-labelledby="dropdownMenu1" id="organization_select"></ul>
						</div>
					</div>
					{% endif %}
				</fieldset>
		    </form><!--/#linker-->
		</div><!-- c-full-bleed c-s-fixed -->
	</div><!-- container c-full-bleed -->
	{% else %}
	<!-- private link creation -->
	<div id="create-link-container" class="container c-full-bleed create-private-link">
		<div class="container c-fixed">
		    <h1 class="create-title">Create a Private Perma Link</h1>
			<p class="create-lede">Private Perma Links are visible only to your Archiving Organization.</p>
		</div>
		<div class="container c-full-bleed c-s-fixed">
		    <form 	class="form-priority _isPrivate" 
		    		id="linker" 
		    		action="{% url 'api_dispatch_list' resource_name='archives' api_name='v1' %}" 
		    		method="post">
				<fieldset class="form-priority-fieldset">
			        <input 	id="rawUrl" 
			        		name="url" 
			        		class="text-input select-on-click form-priority-input" 
			        		type="text" 
			        		{% if request.user.has_limit and links_remaining < 1 %}
			        		disabled="disabled"
			        		{% else %} 
			        		placeholder="Paste your URL here." 
			        		data-placement="bottom" 
			        		data-content="To save a link, enter its URL and click the <strong>Create Perma Link</strong> button. To see the links you've saved, click <strong>Library</strong> in the menu to the left." 
			        		data-original-title="Start building your library" 
			        		data-html="true" 
			        		data-trigger="manual"
			        		{% endif %} />
			        <button class="btn btn-large btn-info _active-when-valid" id="addlink" type="submit">Create Private Perma Link</button>
					<div id="organization_select_form">
						<span class="label-affil">This Perma Link with be affiliated with</span>
						<div class="dropdown dropdown-affil">
			  				<button class="dropdown-toggle selector selector-affil needsclick" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    			Dropdown
				    			<span class="caret"></span>
			  				</button>
			  				<ul class="dropdown-menu selector-menu" aria-labelledby="dropdownMenu1" id="organization_select"></ul>
						</div>
					</div>
				</fieldset>
		    </form><!--/#linker-->
		</div><!-- c-full-bleed c-s-fixed -->
	</div><!-- container c-full -->
	{% endif %}


<!-- our container for error messages -->
<div class="create-errors container c-fixed">
    <div id="error-container" class="_hide"></div>
</div>
<!-- / our container for error messages -->


<!-- Your Perma Links -->
{% if messages %}
<div class="row no-wide">
    <div class="col-sm-12">
	        {% for message in messages %}
	            <div class="alert alert-{% if message.level >= 30 %}danger{% else %}success{% endif %}" style="clear:both; margin:1em">{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
	        {% endfor %}
    </div>
</div>
{% endif %}


<div class="container c-fixed manage-links">
	<div class="row">
	    <div class="col-sm-3 folders-box">
	        <div class="panel-heading">
	            Folders
	            <a href="#" class="pull-right delete-folder icon-trash" title="Delete Selected Folder"></a>
	            <a href="#" class="pull-right edit-folder icon-edit" title="Rename Selected Folder"></a>
	            <a href="#" class="pull-right new-folder icon-plus" title="New Folder"></a>
	        </div>
	        <div id="folder-tree">
	            <ul>
	                {% for tree in request.user.all_folder_trees %}
	                    {% recursetree tree %}
	                        <li data-folder_id="{{ node.pk }}" data-jstree='{ {% if node.is_root_folder %}"selected":true{% elif node.is_shared_folder %}"type":"shared_folder"{% endif %} }'>
	                            <a href="{% url "folder_contents" folder_id=node.pk %}?iframe=1" target="folder-contents">{{ node.name }}</a>
	                            {% if not node.is_leaf_node %}
	                                <ul>
	                                    {{ children }}
	                                </ul>
	                            {% endif %}
	                        </li>
	                    {% endrecursetree %}
	                {% endfor %}
	            </ul>
	        </div>
	    </div>
	
	    <div class="col-sm-9 links-box">
	        <div class="container link-headers">
	            <div class="row">
	                <div class="col-sm-12">
	                    <h3 class="link-header body-ah">Your Perma Links</h3>
	                </div>
	            </div>
	        </div>
	        {% include "user_management/includes/search_form.html" with search_placeholder="Search Your Perma Links" %}
	        <div class="container link-rows">
	
	            <noscript>
	                <iframe src="{% url "folder_contents" folder_id=request.user.root_folder_id %}?iframe=1" name="folder-contents"></iframe>
	            </noscript>
	        </div>
	    </div>
	</div>
</div>
<!-- / Your Perma Links -->




<!-- Modals -->
<!-- Upload file modal -->
<div  class="modal" id="archive-upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm modal-new">
		    <div class="modal-content">
    		    <div class="modal-header">
					<h3 class="modal-title">Upload a file to Perma.cc</h3>
					<p class="modal-description">This will create a new Perma Link.</p>
    		    </div>

                <form id="archive_upload_form" action="{% url 'api_dispatch_list' resource_name='archives' api_name='v1' %}" method="post">
                    <div class="form-group">
                        <label class="control-label" for="title">New Perma Link title <span class="label-instruction">The page title associated with this upload</span></label>
                        <input id="title" name="title" class="" type="text" placeholder="Example Page Title">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="url">New Perma Link URL <span class="label-instruction">The URL associated with this upload</span></label>
                        <input id="url" name="url" class="" type="text" placeholder="www.example.com">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="file">Choose a file <span class="label-instruction">.gif, .jpg, .pdf, and .png allowed</span></label>
                        <input id="file" name="file" class="" type="file" placeholder="example.png" accept=".png,.jpg,.jpeg,.gif,.pdf">
                    </div>
                    <div class="modal-actions">
	                    <button type="submit" id="uploadLinky" class="btn btn-primary btn-large">Upload and create Perma Link</button>
	        		    <button type="button" class="btn cancel" data-dismiss="modal" aria-hidden="false">Cancel</button>
                    </div>
                    {% csrf_token %}
                    <p id="upload-error" class="field-error"></p>
                </form>
		    </div>
	  </div>
</div><!--/.archive-upload-->


<!-- Upload complete modal -->
<div id="archive-upload-confirm" class="modal _hide fade center">
    <div class="modal-header">
		<h3 class="modal-title">Upload a file to Perma.cc</h3>
		<p class="modal-description">This will create a new Perma Link.</p>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close window</button>
    </div>
    <div class="modal-body">
        <div class="center">
            <h4 id="archive_upload_success">Uploading your file...</h4>
            <p id="uploadedLinkyUrl"><a href=""></a></p>
        </div>
    </div>
    <div class="modal-footer upload-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script>
        var userguide_url = "{% url 'docs_perma_link_vesting' %}",
            vest_link_url = "{% url 'vest_link' 'GUID' %}",
            vesting_privs = {% if request.user.can_vest %}true{% else %}false{% endif %},
            selected_organization = "{{selected_org.id}}",
            shared_folder = "{{selected_org.shared_folder_id}}",
            create_url = "{% url 'create_link' %}",
            contact_url = "{% url 'contact' %}",
            links_remaining = "{{links_remaining}}",
            thumbnail_service_url = "{% url 'service_get_thumbnail' guid='GUID' %}",
            current_user = {% as_json request.user %},
            url_docs_perma_link_vesting = "{% url 'docs_perma_link_vesting' %}",
            can_vest = {% if request.user.can_vest %}true{% else %}false{% endif %};
    </script>

    {% javascript 'admin' %}
    {% javascript 'create' %}
{% endblock %}

{% block templates %}

{% verbatim %}
<script id="upload-confirm-template" type="text/x-handlebars-template">
	  <p class="message-large">Upload successful!</p>
	  <p><a href="{{url}}">{{url}}</a></p>
</script>
{% endverbatim %}

{% verbatim %}
<script id="error-template" type="text/x-handlebars-template">
    <p class="message-large">{{ message }}</p>
    <p class="message">We’re unable to create your Perma Link.</p>
     {{#if upload_allowed}}
    <p>You can <a href="" onclick="return upload_form();">upload your own archive</a> or <a href="{{contact_url}}">contact us about this error.</a></p>
    {{/if}}
</script>
{% endverbatim %}

{% verbatim %}
<script id="preview-failure-template" type="text/x-handlebars-template">
    <!--<div class="screenshot-thumbnail">
        <img src="{{static_prefix}}img/sorry-preview.jpg" class="img-responsive">
    </div>-->
</script>
{% endverbatim %}


<!-- Your Perma Links -->

{% verbatim %}


<script id="created-link-items-template" type="text/x-handlebars-template">
{{#if query }}
    <div class="shared-folder-label alert-success">
        Search results for "{{ query }}".
        <a href="#" class="clear-search">Clear search.</a>
    </div>
{{else}}
    <!-- TODO: insert template from comment above -->
{{/if}}


{{#each links}}
    <div class="link-container{{#if is_private }} _isPrivate{{/if}}">

        <div class="row link-row row-no-bleed" link_id="{{ guid }}">
            <div class="row">
	            <div class="col col-sm-7">
	            	<div class="link-title-display">
		            	{{#if is_private }}<span class="ui-private">[private] </span>{{/if}}<span>{{ title }}</span>
	            	</div>
	                <div class="record-url">
	                	<a href="{{ url }}" target="_blank" class="original-link no-drag">{{ truncatechars url 200 }}</a>
	                </div>
	            </div>
	            <div class="col col-sm-5 align-right perma-link">
	                {{#if delete_available}}<a class="delete no-drag" href="/manage/delete-link/{{guid}}">Delete</a>{{/if}}
	                <a class="perma no-drag" href="{{local_url}}" target="_blank">{{local_url}}</a>
	            </div>
            </div>
            <div class="row record-secondary">
	            <div class="col col-sm-7">
	            	{{#if organization }}
	                <div class="record-affil">
		                <span>{{organization.name}}</span>
		            </div>
		            {{/if}}
	            </div>
	            <div class="col col-sm-5 align-right">
		            <span class="record-date"><span class="label">Created </span>{{creation_timestamp_formatted}}</span>
	            </div>
            </div>
        </div>

        <div class="row link-details row-no-bleed" {{#if search_query_in_notes}}style="display:block"{{/if}}>
            <div class="col-sm-7">

                <div class="form-group">
                    <label for="link-title-{{guid}}">Display title</label>
                    <span class="title-save-status"></span>
                    <input type="text" class="link-title" name="input" id="link-title-{{guid}}" value="{{title}}">
                </div>

                <div class="form-group">
                    <label for="link-notes-{{guid}}">Notes</label>
                    <span class="notes-save-status"></span>
                    <textarea id="link-notes-{{guid}}" class="link-notes" rows="6">{{notes}}</textarea>
	                <span class="muted">
	                    Notes are private to you and your oganizations(s)
	                </span>
                </div>

                <div class="form-group">
                   <label for="move-to-folder-{{guid}}">Move to folder</label>
                    <select id="move-to-folder-{{guid}}" class="move-to-folder form-control"></select>
                </div>

            </div>
            <div class="col-sm-5">
                <div>
                	<span><strong>Views:</strong> {{view_count}}</span></div>
                <div><span><strong>Created by:</strong> {{created_by.full_name}}</span></div>
                {{#if vested}}
                    <div><span><strong>Vested by:</strong> {{vested_by_editor.full_name}}</span></div>
                {{/if}}
            </div>
        </div>
    </div>
{{else}}
    <div class="row link-row row-no-bleed">
        <div class="row">
            <div class="col col-sm-12">
                <div class="link-title-display">
                    <p class="no-users-found">This is an empty folder</p>
                </div>
            </div>
        </div>
    </div>
{{/each}}




{% endverbatim %}

<!-- / Your Perma Links -->

{% endblock templates %}
