{% extends "admin-layout.html" %}
{% load mptt_tags repeat %}

{% block title %} | {{ verb|capfirst }} Perma links{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{{ STATIC_PREFIX }}js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/jquery.dotdotdot-1.5.9.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/jquery.django-csrf.js"></script>
    <script src="{{ STATIC_PREFIX }}js/links-list.js"></script>
{% endblock %}

{% block content %}

	<h3>Perma links {{ verb }} by you</h3>

    {% if path == "/" %}
        <p>
            {% if linky_links %}
                    You've {{ verb }} {{ link_count }} link{{ link_count|pluralize }}.
                    {% if verb == 'created' %}
                        Vested links are marked with <span class="fancy-infinity">&infin;</span>.
                    {% endif %}
            {% else %}
                You haven't saved any links yet.
            {% endif %}
        </p>
    {% endif %}

    <form class="pull-right">
        <input type="text" name="q" value="{{ search_query }}" placeholder="Search {% if current_folder %}'{{ current_folder }}'{% else %}links{% endif %}" class="search-query"/>
    </form>

    <form method="POST">

        {### create new folder ###}
        {% csrf_token %}
        <div id="new_folder_container">
            <button type="button" id="new_folder_show" class="btn btn-default"><span class="icon-folder-close-alt" style="font-size: large;"></span> New Folder</button>
            {% if all_folders %}
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        Move selected items
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><button type="submit" name="move_selected_items_to" value="ROOT">home</button></li>
                        {% recursetree all_folders %}
                            <li><button type="submit" name="move_selected_items_to" value="{{ node.pk }}">-{{ "-"|repeat:node.get_level }} {{ node.name }}</button></li>
                            {% if not node.is_leaf_node %}
                                {{ children }}
                            {% endif %}
                        {% endrecursetree %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div id="new_folder_name_container" style="display:none">
            <input type="text" name="new_folder_name" id="new_folder_name" placeholder="New folder name" style="margin-bottom: 0;"/>
            <input type="submit" name="new_folder_submit" id="new_folder_submit" value="Create" class="btn btn-default" disabled/>
            <input type="button" id="new_folder_cancel" value="Cancel" class="btn btn-default"/>
        </div>

        <div class="folder-list">
            {% if path != "/" %}
                <div class="folder-row" folder_id="ROOT">
                    <span class="icon-folder-close-alt" style="font-size: large;"></span>
                    [ <a href="{{ base_url }}{{ path }}..">parent folder</a> ]
                </div>
            {% endif %}
            {% for folder in subfolders %}
                <div class="folder-row" folder_id="{{ folder.pk }}">
                    <input type="checkbox" name="folders" value="{{ folder.pk }}" class="checkbox" id="checkbox-{{ folder.pk }}"/><label for="checkbox-{{ folder.pk }}" class="icon-check-empty"></label>
                    <span class="icon-folder-close-alt" style="font-size: large;"></span>
                    <a href="{{ base_url }}{{ path }}{{ folder.slug }}">{{ folder.name }}</a>
                    <span class="tool-block">
                        <input type="button" name="rename" value="rename" class="btn btn-mini"/>
                        <input type="button" name="delete" value="delete" class="btn btn-mini"/>
                    </span>
                </div>
            {% endfor %}
        </div>
        
        {### folder path breadcrumbs ###}
        {% if current_folder %}
            <p class="folder-breadcrumbs">
                <a href="{{ base_url }}">home</a> &gt;
                {% if folder_breadcrumbs %}
                    {% for folder, breadcrumb_path in folder_breadcrumbs %}
                        <a href="{{ base_url }}/{{ breadcrumb_path }}">{{ folder.name }}</a> &gt;
                    {% endfor %}
                {% endif %}
                {{ current_folder.name }}
            </p>
        {% endif %}

        {% if search_query %}
            <p>
                <em>
                    Search results {% if current_folder %}in {{ current_folder }} folder{% endif %} for "{{ search_query }}".
                    <a href="?q=">Clear search.</a>
                </em>
            </p>
        {% endif %}

        <table class="vested-table">
            <thead>
                <tr>
                    <th></th>
                    <th class="linky-abbr-vested"> </th>
                    <th class="linky-link">Link</th>
                    <th class="linky-abbr-title"><a href="?sort={% if sort == 'submitted_title' %}-{% endif %}submitted_title{% if search_query %}&q={{ search_query }}{% endif %}">Title</a></th>
                    <th class="linky-abbr-date-time"><a href="?sort={% if sort == 'creation_timestamp' %}-{% endif %}creation_timestamp{% if search_query %}&q={{ search_query }}{% endif %}">Created</a></th>
                    <th class="linky-abbr-date-time"><a href="?sort={% if sort == 'vested_timestamp' %}-{% endif %}vested_timestamp{% if search_query %}&q={{ search_query }}{% endif %}">Vested</a></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for link in linky_links %}
                    <tr class="link-row" link_id="{{ link.pk }}">
                        <td>{% if all_folders %}
                            <input type="checkbox" name="links" value="{{ link.pk }}" class="checkbox" id="checkbox-{{ link.pk }}"/><label for="checkbox-{{ link.pk }}" class="icon-check-empty"></label>
                        {% endif %}</td>
                        <td class="linky-abbr-vested">{% if link.vested and verb == 'created' %}<span class="fancy-infinity">&infin;</span>{% endif %}</td>
                        <td class="linky-link">
                            <a class="orange" href="http://{{determined_host}}/{{link.guid}}" target="_blank">http://{{determined_host}}/{{link.guid}}</a><br/>
                            <a href="{{ link.submitted_url|truncatechars:70 }}" target="_blank" class="original-link">{{ link.submitted_url }}</a>
                        </td>
                        <td class="linky-abbr-title">
                            <div title="{{ link.submitted_title }}">{{ link.submitted_title }}</div>
                        </td>
                        <td class="linky-abbr-date-time">{{ link.creation_timestamp|date:"m/d/y" }}</td>
                        <td class="linky-abbr-date-time">{{ link.vested_timestamp|date:"m/d/y" }}</td>
                        <td class="linky-details-link"><a href="#" class="details">details</a></td>
                    </tr>
                    <tr class="link-details" {% if search_query in link.notes %}style="display:table-row"{% endif %}>
                        <td colspan="2"></td>
                        <td colspan="5">
                            <div class="pull-right"><strong>Views:</strong> {{ link.view_count }}</div>
                            <div>
                                <strong>Notes:</strong> <span class="muted notes-save-status"></span><br/>
                                <textarea>{{ link.notes }}</textarea><br/>
                                <span class="muted">Notes are visible to users who create or vest a link, but not to visitors.</span>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td></td><td colspan="4">No Perma links found.</td></tr>
                {% endfor %}
            </tbody>
	    </table>

        {% comment %}
            {% if linky_links.paginator.num_pages > 1 %}
                <div class="pagination">
                    <ul>
                        {% if linky_links.has_previous %}<li><a href="?page={{ linky_links.previous_page_number }}&sort={{ sort }}">&lt;</a></li>{% endif %}
                        {% for i in linky_links.paginator.page_range %}
                        {% ifequal i linky_links.number %}
                        <li class="active"><a href="">{{ i }}</a></li>
                        {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endifequal %}
                        {% endfor %}
                        {% if linky_links.has_next  %}<li><a href="?page={{ linky_links.next_page_number }}&sort={{ sort }}">&gt;</a></li>{% endif %}
                    </ul>
                </div>
            {% endif %}
        {% endcomment %}
    </form>



    {# used by javascript #}
    <div id="form_templates" style="display:none">
        <div class="rename-folder-form">
            <input type="text" name="folder_name"/>
            <input type="button" name="rename_folder_save" value="save" class="btn btn-mini"/>
            <input type="button" name="rename_folder_cancel" value="cancel" class="btn btn-mini"/>
        </div>
    </div>

{% endblock %}
