{% extends "admin-layout-responsive.html" %}
{% block title %} | Custom Domain{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
{% endblock %}

{% block content %}

<h3>Custom Domain</h3>

<!-- TODO add content -->
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin blandit dictum eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed tempus odio. Phasellus lobortis suscipit mattis. Nulla facilisi. In nisi turpis, tristique ut accumsan at, sagittis a orci. Ut nisl enim, eleifend quis fermentum commodo, fermentum a velit. Maecenas a augue nec leo fermentum auctor et ut turpis. Donec ultricies ligula sed mi suscipit sagittis.</p>

{% endblock %}
