{% extends "manage-layout.html" %}
{% load current_query_string visible_organizations visible_sponsorships %}
{% load intcomma from humanize %}
{% block title %} | {{ pretty_group_name_plural }}{% endblock %}

{% block dashboardContent %}
  <h2 class="body-ah">{{ pretty_group_name_plural|title }}</h2>

  <a class="action-heading" data-toggle="collapse" href="#add-member" aria-expanded="false" aria-controls="#add-member"><i class="icon-plus-sign" aria-hidden="true"></i> add<span class="_verbose"> {{ pretty_group_name|lower }}</span></a>

  {% if messages %}
    {% for message in messages %}
      <div class="alert-{{ message.level_tag }} alert-block" >{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
    {% endfor %}
  {% endif %}

  <div id="add-member" class="collapse {% if form.errors %}in{% endif %}">
    <form method="get" action="{% url add_user_url %}" class="form-inline" role="form">
      <fieldset>
        <div class="form-group fg-100">
          <label for="add" class="sr-only">new {{ pretty_group_name|lower }} email</label>
          <input id="add" type="text" name="email" value="{{ search_query|default:"" }}" placeholder="{{ search_placeholder|default:"Email" }}"/>
        </div>
        <button type="submit" class="btn btn-default btn-inline">Add {{ pretty_group_name|lower }}</button>
      </fieldset>
    </form>
  </div><!-- add member -->

  <div class="row row-no-bleed admin-data">
    <h3 class="sr-only">Stats</h3>
    <div class="col {% if request.user.is_staff and group_name == 'user' %}col-xs-3{% else %}col-xs-4{% endif %} col col-no-gutter admin-data-point">
      <div class="count-label">Users</div>
      <div class="count-number">
        {{ users.paginator.count|intcomma }}
      </div>
    </div>

    {% if request.user.is_staff and group_name == 'user' %}
      <div class="col col-xs-3 col-no-gutter admin-data-point">
        <div class="count-label">Deactivated Users</div>
        <div class="count-number">{{ deactivated_users }}</div>
      </div>
    {% endif %}

    <div class="col {% if request.user.is_staff and group_name == 'user' %}col-xs-3{% else %}col-xs-4{% endif %} col col-no-gutter admin-data-point">
      <div class="count-label">Unactivated Users</div>
      <div class="count-number">{{ unactivated_users }}</div>
    </div>

    <div class="col {% if request.user.is_staff and group_name == 'user' %}col-xs-3{% else %}col-xs-4{% endif %} col col-no-gutter admin-data-point">
      <div class="count-label">Links</div>
      <div class="count-number">{{ total_created_links_count|default:0|intcomma }}</div>
    </div>
  </div><!-- admin data -->

  <div class="row">
    <div class="col col-xs-12">
      <h3 class="sr-only">Search Users</h3>
      {% include "user_management/includes/search_form.html" with search_placeholder="Search Users" %}
    </div>
  </div><!-- search -->

  {% if registrar_filter.name or org_filter.name or status or upgrade or sponsorship_status or search_query %}
    <div class="row">
      <div class="col-sm-12">
        <div class="remove-search-filters">

          <h3 class="filters-title"><span class="sr-only">Current</span> Filters:</h3>

          {% if registrar_filter %}<span class="filter-label">Registrar</span> <strong>{{registrar_filter}}</strong> {% endif %}
          {% if org_filter %}<span class="filter-label">Organization</span> <strong>{{org_filter}}</strong> {% endif %}
          {% if status %}<span class="filter-label">Status</span> <strong>{{status}}</strong> {% endif %}
          {% if upgrade %}<span class="filter-label">Upgrade interest</span> <strong>{{upgrade}}</strong> {% endif %}
          {% if sponsorship_status %}<span class="filter-label">Sponsorship status</span> <strong>{{sponsorship_status}}</strong> {% endif %}
          {% if search_query %}<span class="filter-label">Search</span> <strong>{{search_query}}</strong>{% endif %}
          <a class="action remove-filters" href="?sort=last_name"><i aria-hidden="true" class="icon-remove-sign"></i> Clear all filters</a>
         </div>
      </div>
    </div>
  {% endif %}

  <div class="row row-no-bleed">
    <div class="col admin-found col-no-gutter">
      <h3 class="sr-only">User List</h3>
      <div id="results" class="sort-filter-count"><strong>Found:</strong> {{ users.paginator.count }} user{{ users.paginator.count|pluralize }}</div>
      <div class="sort-filter-bar">
        <strong>Filter &amp; Sort:</strong>
        {% if group_name == 'sponsored_user' %}
        <div class="dropdown"><button class="btn-transparent"><a href="{% url 'user_management_manage_sponsored_user_export_user_list' %}?{% current_query_string format='csv' %}" id="export-sponsored-user-csv" class="icon-download-alt" title="Export CSV"></a></button></div>
        {% endif %}
        <div class="dropdown">
          <button class="btn-transparent" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">Sort <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li>
              <a {% if sort == 'last_name' %}class="selected" aria-current="true" {% endif %}href="?{% current_query_string page='' sort="last_name" %}"><i aria-hidden="true" class="icon-ok"></i> Last name A - Z</a>
            </li>
            <li>
              <a {% if sort == '-last_name' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="-last_name" %}"><i aria-hidden="true" class="icon-ok"></i> Last name Z - A</a>
            </li>
            <li>
              <a {% if sort == '-date_joined' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="-date_joined" %}"><i aria-hidden="true" class="icon-ok"></i> Newest</a>
            </li>
            <li>
              <a {% if sort == 'date_joined' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="date_joined" %}"><i aria-hidden="true" class="icon-ok"></i> Oldest</a>
            </li>
            <li>
              <a {% if sort == '-last_login' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="-last_login" %}"><i aria-hidden="true" class="icon-ok"></i> Recently active</a>
            </li>
            <li>
              <a {% if sort == 'last_login' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="last_login" %}"><i aria-hidden="true" class="icon-ok"></i> Least recently active</a>
            </li>
            {% if group_name == 'organization_user' %}
            <li>
              <a {% if sort == '-link_count' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="-link_count" %}"><i aria-hidden="true" class="icon-ok"></i> Most links</a>
            </li>
            <li>
              <a {% if sort == 'link_count' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="link_count" %}"><i aria-hidden="true" class="icon-ok"></i> Least links</a>
            </li>
            {% endif %}
          </ul>
        </div>

        {% if request.user.is_staff and group_name == 'user' %}
          <div class="dropdown">
            <button class="btn-transparent" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">Upgrade interest <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>
                <a {% if upgrade == 'court' %}class="selected" aria-current="true" {% endif %}href="?{% current_query_string page='' upgrade="court" %}"><i aria-hidden="true" class="icon-ok"></i> Court</a>
              </li>
              <li>
                <a {% if upgrade == 'faculty' %}class="selected" aria-current="true" {% endif %}href="?{% current_query_string page='' upgrade="faculty" %}"><i aria-hidden="true" class="icon-ok"></i> Faculty</a>
              </li>
              <li>
                <a {% if upgrade == 'journal' %}class="selected" aria-current="true" {% endif %}href="?{% current_query_string page='' upgrade="journal" %}"><i aria-hidden="true" class="icon-ok"></i> Journal</a>
              </li>
              <li>
                  <a {% if upgrade == 'firm' %}class="selected" aria-current="true" {% endif %}href="?{% current_query_string page='' upgrade="firm" %}"><i aria-hidden="true" class="icon-ok"></i> Firm</a>
              </li>
            </ul>
          </div>
        {% endif %}

        <div class="dropdown">
          <button class="btn-transparent" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">Status <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li>
              <a {% if status == 'active' %}class="selected" aria-current="true" {% endif %}href="?{% current_query_string page='' status="active" %}"><i aria-hidden="true" class="icon-ok"></i> Active</a>
            </li>
            {% if request.user.is_staff and group_name|slice:"-4:" == 'user' %}
            <li>
              <a {% if status == 'deactivated' %}class="selected" aria-current="true" {% endif %}href="?{% current_query_string page='' status="deactivated" %}"><i aria-hidden="true" class="icon-ok"></i> Deactivated</a>
            </li>
            {% endif %}
            <li>
              <a {% if status == 'unactivated' %}class="selected" aria-current="true" {% endif %}href="?{% current_query_string page='' status="unactivated" %}"><i aria-hidden="true" class="icon-ok"></i> Unactivated</a>
            </li>
          </ul>
        </div>

        {% if request.user.is_staff or request.user.is_registrar_user %}
          {% if group_name == 'organization_user' %}
            <div class="dropdown">
              <button class="btn-transparent" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">Organization <span class="caret"></span></button>
              <ul class="dropdown-menu">
                {% if orgs %}
                  {% for org in orgs %}
                    {% if organization_filter == org %}
                      <li>
                        <a class="selected" aria-current="true" href="?{% current_query_string page='' org='' %}"><i aria-hidden="true" class="icon-ok"></i> {{org.name}}</a>
                      </li>
                    {% else %}
                      <li>
                        <a href="?{% current_query_string page='' org=org.id %}"><i aria-hidden="true" class="icon-ok"></i> {{org.name}}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <li><a href="#">None</a></li>
                {% endif %}
              </ul>
            </div>
          {% elif group_name == 'sponsored_user' %}
            <div class="dropdown">
              <button class="btn-transparent" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">Sponsorship Status <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li>
                  <a {% if sponsorship_status == 'active' %}class="selected" aria-current="true" {% endif %}href="?{% current_query_string page='' sponsorship_status='active' %}"><i aria-hidden="true" class="icon-ok"></i> Active</a>
                </li>
                <li>
                  <a {% if sponsorship_status == 'inactive' %}class="selected" aria-current="true" {% endif %}href="?{% current_query_string page='' sponsorship_status='inactive' %}"><i aria-hidden="true" class="icon-ok"></i> Inactive</a>
                </li>
              </ul>
            </div>
          {% endif %}
        {% endif %}

        {% if request.user.is_staff %}
          {% if not group_name == 'user' and not group_name == 'admin_user' %}
          <div class="dropdown">
            <button class="btn-transparent" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">Registrar <span class="caret"></span></button>
            <ul class="dropdown-menu">
                {% if registrars %}
                  {% for registrar in registrars %}
                    {% if registrar_filter == registrar %}
                      <li>
                        <a class="selected" aria-current="true" href="?{% current_query_string page='' registrar='' organization='' %}"><i aria-hidden="true" class="icon-ok"></i> {{registrar.name}}</a>
                      </li>
                    {% else %}
                      <li>
                        <a href="?{% current_query_string page='' registrar=registrar.id organization='' %}"><i aria-hidden="true" class="icon-ok"></i> {{registrar.name}}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <li><a href="#">None</a></li>
                {% endif %}
            </ul>
          </div>
          {% endif %}
        {% endif %}
      </div><!-- sort filter bar -->
    </div><!-- admin found -->
  </div><!-- row -->

  {% if users %}
    <ol class="result-list">
    {% for listed_user in users %}
      <li class="item-container {% if not listed_user.is_active %}muted{% endif %}">
        <div class="col col-sm-8 col-no-gutter">
          <h4 class="item-title" id="user-{{ listed_user.id }}">
            {% if not listed_user.first_name and not listed_user.last_name %}
              {{ listed_user.raw_email }}
            {% else %}
              {{ listed_user.first_name }} {{ listed_user.last_name }}
            {% endif %}
            {% if listed_user == request.user %}(you){% endif %}
          </h4>
          <div class="item-subtitle">{{ listed_user.raw_email }}</div>
          {% if not listed_user.is_confirmed %}
            <p class="warning">User must activate account</p>
          {% endif %}

          {% if group_name == 'organization_user' and listed_user|visible_organizations:request.user %}
            <div class="item-affil">
              <span class="sr-only">Member of:</span>
              {% for organization in listed_user|visible_organizations:request.user %}
                 <a href="{% url 'user_management_manage_organization' %}?q={{organization.name.split|join:'+'|lower}}#org-{{ organization.id }}">{{organization.name.strip}}</a>
                {% include "user_management/includes/comma.html" %}
              {% endfor %}
            </div>
          {% endif %}

          {% if request.user.is_staff and listed_user.requested_account_type %}
            <div class="item-org">Interested in a {{listed_user.requested_account_type}} account with {{listed_user.requested_account_note}}</div>
          {% endif %}

          {% if group_name == 'registrar_user' and request.user.is_staff %}
            <div class="item-affil"><span class="sr-only">Member of:</span> <a href="{% url 'user_management_manage_registrar' %}?q={{listed_user.registrar.name.split|join:'+'|lower}}#registrar-{{ listed_user.registrar.id }}">{{ listed_user.registrar.name }}</a></div>
          {% endif %}

          {% if group_name == 'sponsored_user'%}
            <div class="row row-half-bleed item-sponsor-groups">
              {% with listed_user|visible_sponsorships:request.user as sponsorships %}
                {% for sponsorship in sponsorships %}
                  <div class="item-sponsor-group">
                    <span class="item-sponsor-label">
                      {% if request.user.is_staff %}
                        <a href="{% url 'user_management_manage_single_sponsored_user_links' listed_user.id sponsorship.registrar.id %}">{{ sponsorship.registrar.name }}: view links
                        {% if sponsorship.status == 'inactive' %} (inactive sponsorship){% endif %}</a>
                      {% else %}
                        {% if sponsorship.status == 'inactive' %}<small>(inactive sponsorship)</small>{% endif %}
                      {% endif %}
                    </span>
                  </div>
                {% endfor %}
              {% endwith %}
            </div>
          {% endif %}

          {% if group_name == 'organization_user' %}
            <div class="row row-half-bleed item-count-groups">
              <div class="col col-xs-12 col-md-4 col-half-gutter">
                <div class="item-count-group">
                  <strong class="list-count-number">{{ listed_user.link_count }}</strong>
                  <span class="item-count-label">links</span>
                </div>
              </div>
            </div>
          {% endif %}
        </div>

        <div class="col col-sm-4 col-no-gutter sm-align-right admin-actions">
          <div>
            <div class="item-activity">
              created {{ listed_user.date_joined|date:'F j, Y' }}
              {% if listed_user.is_confirmed %}
                <br>
                last active {{ listed_user.last_login|date:'F j, Y' }}
              {% endif %}
            </div>
          </div>
          <div>
            <div class="item-status">
              {% if listed_user.is_active %}
                {% if request.user.is_staff %}
                  {% if group_name == 'sponsored_user' %}
                    {% include "user_management/includes/edit_sponsorship.html" %}
                  {% elif group_name != 'admin_user' %}
                    <a class="action action-delete" href="{% url single_user_url listed_user.id %}">remove/delete <span class="sr-only">{{ listed_user.get_full_name}}</span></a>
                  {% else %}
                    <a class="action action-delete" href="{% url 'user_management_manage_single_admin_user_remove' listed_user.id %}">remove <span class="sr-only">{{ listed_user.get_full_name}}</span></a>
                  {% endif %}
                {% elif request.user.is_registrar_user %}
                  {% if group_name == 'organization_user' %}
                    <a class="action action-delete" href="{% url single_user_url listed_user.id %}">remove <span class="sr-only">{{ listed_user.get_full_name}}</span></a>
                  {% elif group_name == 'registrar_user' %}
                    <a class="action action-delete" href="{% url 'user_management_manage_single_registrar_user_remove' listed_user.id %}">remove <span class="sr-only">{{ listed_user.get_full_name}}</span></a>
                  {% elif group_name == 'sponsored_user' %}
                    {% include "user_management/includes/edit_sponsorship.html" %}
                  {% endif %}
                {% else %}
                  <a class="action action-delete" href="{% url single_user_url listed_user.id %}">remove <span class="sr-only">{{ listed_user.get_full_name}}</span></a>
                {% endif %}
              {% elif listed_user.is_confirmed %}
                <span class="text-warning">deactivated account</span>
                {% if request.user.is_staff %}
                  <a class="action" href="{% url reactivate_user_url listed_user.id %}">reactivate <span class="sr-only">{{ listed_user.get_full_name}}</span></a>
                {% endif %}
              {% else %}
                {% if request.user.is_staff %}
                  {% if group_name == 'sponsored_user' %}
                    {% include "user_management/includes/edit_sponsorship.html" %}
                  {% else %}
                    <a class="action action-delete" href="{% url delete_user_url listed_user.id %}">delete <span class="sr-only">{{ listed_user.get_full_name}}</span></a>
                  {% endif %}
                {% else %}
                  {% if group_name == 'organization_user' %}
                    <a class="action action-delete" href="{% url 'user_management_manage_single_organization_user' listed_user.id %}">remove <span class="sr-only">{{ listed_user.get_full_name}}</span></a>
                  {% elif group_name == 'registrar_user' %}
                    <a class="action action-delete" href="{% url 'user_management_manage_single_registrar_user_remove' listed_user.id %}">remove <span class="sr-only">{{ listed_user.get_full_name}}</span></a>
                  {% elif group_name == 'sponsored_user' %}
                    {% include "user_management/includes/edit_sponsorship.html" %}
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
            {% if request.user.is_staff %}
              <div class="item-status"><a class="action" href="{% url "admin:perma_linkuser_change" listed_user.id %}">edit <div class="sr-wrapper"><span class="sr-only">{{ listed_user.get_full_name }} </span></div>in admin console</span></a></div>
            {% endif %}
            {% if not listed_user.is_confirmed %}
              <div class="item-status"><a class="action" href="{% url 'user_management_resend_activation' listed_user.id %}">resend activation email <span class="sr-only"> to {{ listed_user.get_full_name}}</span></a></div>
            {% endif %}
            {% if group_name == 'sponsored_user' and not request.user.is_staff %}
              <div class="item-status"><a class="action" href="{% url 'user_management_manage_single_sponsored_user_links' listed_user.id request.user.registrar.id %}">view links</a></div>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
    </ol>

  {% else %}
    <div class="item-notification">No {{ pretty_group_name_plural|lower }} found.</div>
  {% endif %}

  {% include "user_management/includes/paginator.html" with page=users title='User List'%}

{% endblock %}
