{% extends "manage-layout.html" %}
{% block title %} | Edit registrar{% endblock %}

{% block dashboardContent %}

<div class="container cont-fixed">
  <h3 class="body-bh">Edit registrar</h3>
  <div class="row">
    <div class="col-xs-12">
      <form method="post" class="fg-100">
        {% csrf_token %}
        {% include "includes/fieldset.html" with form_classes="fg-100" %}
        <button type="submit" class="btn">Save changes</button>
      </form>
    </div>
   </div>
</div>
{% endblock %}
