{% extends "manage-layout.html" %}
{% load current_query_string %}
{% load intcomma from humanize %}
{% block title %} | Organizations{% endblock %}

{% block dashboardContent %}
  <h2 class="body-ah">Organizations</h2>
  {% if request.user.is_staff or request.user.is_registrar_user %}

  <a class="action-heading" data-toggle="collapse" href="#add-member" aria-expanded="false" aria-controls="#add-member"><i class="icon-plus-sign" aria-hidden="true"></i> add<span class="_verbose"> organization</span></a>

  <div id="add-member" class="collapse {% if form.errors %}in{% endif %}">
    <form method="post">
      {% csrf_token %}
      <h4 class="body-ch">Add an Organization</h4>
          {% include "includes/fieldset.html" with form_classes="fg-inline" %}
      <button type="submit" class="btn">Create new organization</button>
    </form>
  </div>
  {% endif %}

  <div class="row row-no-bleed admin-data">
    <h3 class="sr-only">Stats</h3>
    <div class="col col-xs-6 col-no-gutter admin-data-point">
      <div class="count-label">Users</div>
      <div class="count-number">{{ users_count }}</div>
    </div>
    {% comment %}
    <div class="col col-no-gutter admin-data-point">
      <div class="count-label">Deactivated Users</div>
      <div class="count-number">{{ deactivated_users }}</div>
    </div>
    <div class="col col-no-gutter admin-data-point">
      <div class="count-label">Unactivated Users</div>
      <div class="count-number">{{ unactivated_users }}</div>
    </div>
    {% endcomment %}
    <div class="col col-xs-6 col-no-gutter admin-data-point">
      <div class="count-label">Organizations</div>
      <div class="count-number">{{ orgs.paginator.count }}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3 class="sr-only">Search Organizations</h3>
      {% include "user_management/includes/search_form.html" with search_placeholder="Search Organizations" %}
    </div>
  </div><!-- search -->

  {% if search_query or registrar_filter %}
    <div class="row">
      <div class="col-sm-12">
        <div class="remove-search-filters">
          <h3 class="filters-title"><span class="sr-only">Current</span> Filters:</h3>
          {% if registrar_filter %}<span class="filter-label">Registrar</span> <strong>{{registrar_filter.name}}</strong> {% endif %}
          {% if search_query %}<span class="filter-label">Search</span> <strong>{{search_query}}</strong>{% endif %}
          <a class="action remove-filters" href="?sort=name"><i class="icon-remove-sign" aria-hidden="true"></i> Clear all filters</a>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="row row-no-bleed">
    <div class="col admin-found col-no-gutter">
      <h3 class="sr-only">Organization List</h3>
      <div class="sort-filter-count"><strong>Found:</strong> {{ orgs.paginator.count }} organization{{ orgs.paginator.count|pluralize }}</div>
      <div class="sort-filter-bar">
        <strong>Filter &amp; Sort:</strong>
        <div class="btn-transparent dropdown">
          <button class="btn-transparent" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">Sort <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li>
              <a {% if sort == 'name' %}class="selected" aria-current="true" {% endif %}href="?{% current_query_string page='' sort="name" %}"><i aria-hidden="true" class="icon-ok"></i> Name A - Z</a>
            </li>
            <li>
              <a {% if sort == '-name' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="-name" %}"><i aria-hidden="true" class="icon-ok"></i> Name Z - A</a>
            </li>
            <li>
              <a {% if sort == '-date_created' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="-date_created" %}"><i aria-hidden="true" class="icon-ok"></i> Newest</a>
            </li>
            <li>
              <a {% if sort == 'date_created' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="date_created" %}"><i aria-hidden="true" class="icon-ok"></i> Oldest</a>
            </li>
            <li>
              <a {% if sort == '-last_active' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="-last_active" %}"><i aria-hidden="true" class="icon-ok"></i> Recently active</a>
            </li>
            <li>
              <a {% if sort == 'last_active' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="=last_active" %}"><i aria-hidden="true" class="icon-ok"></i> Least recently active</a>
            </li>
            <li>
              <a {% if sort == '-link_count' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="-link_count" %}"><i aria-hidden="true" class="icon-ok"></i> Most links</a>
            </li>
            <li>
              <a {% if sort == 'link_count' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="link_count" %}"><i aria-hidden="true" class="icon-ok"></i> Least links</a>
            </li>
            <li>
              <a {% if sort == '-org_users' %}class="selected" aria-current="true" {% endif %} href="?sort=-org_users{% if search_query %}&q={{ search_query }}{% endif %}{% if registrar_filter %}&registrar={{ registrar_filter.id }}{% endif %}"><i aria-hidden="true" class="icon-ok"></i> Most users</a>
            </li>
            <li>
              <a {% if sort == 'org_users' %}class="selected" aria-current="true" {% endif %} href="?{% current_query_string page='' sort="org_users" %}"><i aria-hidden="true" class="icon-ok"></i> Least users</a>
            </li>
          </ul>
        </div>
        {% if request.user.is_staff %}
          <div class="dropdown">
            <button class="btn-transparent" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">Registrar <span class="caret"></span></button>
            <ul class="dropdown-menu">
              {% if registrars %}
                {% for registrar in registrars %}
                  {% if registrar_filter == registrar %}
                    <li>
                      <a class="selected" aria-current="true" href="?{% current_query_string registrar='' page='' %}"><i aria-hidden="true" class="icon-ok"></i> {{registrar.name}}</a>
                    </li>
                  {% else %}
                    <li>
                      <a href="?{% current_query_string registrar=registrar.id page='' %}"><i aria-hidden="true" class="icon-ok"></i> {{registrar.name}}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              {% else %}
                <li><a href="#">None</a></li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% if orgs %}
    <ol class="result-list">
    {% for org in orgs %}
      <li class="item-container">
        <div class="col col-sm-8 col-no-gutter">
          <h4 class="item-title" id="org-{{ org.id }}" tabindex="-1">
            {% if org.default_to_private %}<span class="ui-private">[private organization]</span> {% endif %}
            {{ org.name }}
            </a>
          </h4>
          {% if request.user.is_staff %}
            <div class="item-affil">
              <span class="sr-only">Associated with: </span>
              <a href="{% url 'user_management_manage_registrar' %}?q={{org.registrar.name.split|join:'+'|lower}}#registrar-{{ org.registrar.id }}">{{ org.registrar }}</a>
            </div>
          {% endif %}

          <div class="row row-half-bleed item-count-groups">
            <div class="col col-xs-12 col-md-4 col-half-gutter">
              <div class="item-count-group">
                <strong class="list-count-number">{{ org.link_count|intcomma }}</strong>
                <span class="item-count-label">links</span>
              </div>
            </div>
            <div class="col col-xs-12 col-md-4 col-half-gutter">
              <div class="item-count-group">
                <strong class="list-count-number">{{ org.organization_users|default_if_none:"0" }}</strong>
                <span class="item-count-label">users <a href="{% url 'user_management_manage_organization_user' %}?org={{org.id}}">View <div class="sr-wrapper"><span class="sr-only">users</span></div> </a></span>
              </div>
            </div>
          </div>
        </div>

        <div class="col col-sm-4 col-no-gutter sm-align-right admin-actions">
          <div>
            <div class="item-activity">
            created {{ org.date_created|date:'N j, Y' }}
            <br>
            {% if org.organization_users %}
            last active {{ org.last_active|date:'N j, Y'}}
            {% else %}
            <span class="text-warning">no existing users</span>
            {% endif %}
            </div>
          </div>
          <div>
            <div class="item-status">
              {% if org.link_count < 1 %}
                <a class="action" href="{% url 'user_management_manage_single_organization_delete' org.id %}">delete <span class="sr-only">{{ org.name }}</span></a>
              {% endif %}
              <a class="action" href="{% url 'user_management_manage_single_organization' org.id %}">edit <span class="sr-only">{{ org.name }}</span></a>
              {% if request.user.is_staff %}
                <a class="action" href="{% url 'admin:perma_organization_change' org.id %}">edit <div class="sr-wrapper"><span class="sr-only">{{ org.name }}</span></div> in admin console</a>
              {% endif %}
              {% if request.user.is_staff or request.user.is_registrar_user or request.user.is_organization_user %}
                <a class="action" href="{% url 'user_management_manage_single_organization_list_users_csv' org.id %}">download <div class="sr-wrapper"><span class="sr-only">{{ org.name }}</span></div> CSV</a>
              {% endif %}
            </div>
          </div>

        </div>
      </li>
    {% endfor %}
  </ol>
  {% else %}
    <div class="item-notification">No organizations found.</div>
  {% endif %}

  {% include "user_management/includes/paginator.html" with page=orgs title='Organization List'%}

{% endblock %}
