{% extends "manage-layout.html" %}
{% load local_datetime humanize %}
{% block title %} | Vesting organizations{% endblock %}

{% block content %}

	<h3>Existing vesting organizations <small><a data-toggle="collapse" data-target="#add-member"><i class="icon-plus-sign"></i> add new</a></small></h3>
		
	<div id="add-member" class="collapse {% if form.errors %}in{% endif %}">
      <form method="post">
        {% csrf_token %}
        <h4>Add a new vesting organization</h4>
        <fieldset>
        <span class="text-error">{{ form.non_field_errors }}</span>
          {% for field in form %}
            <label for="id_{{ field.name }}">{{ field.label }}</label><br/>
            {{ field }}<br/>
            {% if field.errors %}
              {% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
            {%elif field.help_text %}
              <span class="help-inline">{{ field.help_text }}</span>
            {% endif %}
          {% endfor %}  
        </fieldset>
        <button type="submit" class="btn-success">Create new vesting organization</button>
      </form>
    </div>

    <div class="row">
        <div class="col-sm-3">
                <p class="count-label">Users</p>
                <p class="count-number">{{ users_count }}</p>
            </div>
            {% comment %}
            <div class="col-sm-3">
                <p class="count-label">Deactivated Users</p>
                <p class="count-number">{{ deactivated_users }}</p>
            </div>
            <div class="col-sm-3">
                <p class="count-label">Unactivated Users</p>
                <p class="count-number">{{ unactivated_users }}</p>
            </div>
            {% endcomment %}
        <div class="col-sm-3">
            <p class="count-label">Vesting Organizations</p>
            <p class="count-number">{{ vesting_orgs|length }}</p>
        </div>
    </div>

     {% if search_query or registrar_filter %}
        <div class="row">
            <div class="col-sm-12">
                <a class="remove-search-filters" href="?sort=name"><i class="icon-remove-sign"></i> Clear{% if registrar_filter %} registrar:<strong>{{registrar_filter.name}}</strong>{% endif %}{% if search_query %} search:<strong>{{search_query}}</strong>{% endif %}</a>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <p class="sort-filter-count">{{ vesting_orgs|length }} vesting organization{% if not vesting_orgs_count == 1 %}s{% endif %}</p>
                <div class="sort-filter-bar">
                {% include "user_management/includes/search_form_simple.html" %}
                <div class="dropdown">
                  <a role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                    Sort <span class="caret"></span>
                  </a>
                
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li>
                        <a {% if sort == 'name' %}class="selected" {% endif %}href="?sort=name&page={{ vesting_orgs.number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if registrar_filter %}&registrar={{ registrar_filter.id }}{% endif %}"><i class="icon-ok"></i> Name A - Z</a>
                        <a {% if sort == '-name' %}class="selected" {% endif %} href="?sort=-name&page={{ vesting_orgs.number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if registrar_filter %}&registrar={{ registrar_filter.id }}{% endif %}"><i class="icon-ok"></i> Name Z - A</a>
                        <a {% if sort == '-date_created' %}class="selected" {% endif %} href="?sort=-date_created&page={{ vesting_orgs.number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if registrar_filter %}&registrar={{ registrar_filter.id }}{% endif %}"><i class="icon-ok"></i> Newest</a>
                        <a {% if sort == 'date_created' %}class="selected" {% endif %} href="?sort=date_created&page={{ vesting_orgs.number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if registrar_filter %}&registrar={{ registrar_filter.id }}{% endif %}"><i class="icon-ok"></i> Oldest</a>
                        <a {% if sort == '-last_active' %}class="selected" {% endif %} href="?sort=-last_active&page={{ vesting_orgs.number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if registrar_filter %}&registrar={{ registrar_filter.id }}{% endif %}"><i class="icon-ok"></i> Recently active</a>
                        <a {% if sort == 'last_active' %}class="selected" {% endif %} href="?sort=last_active&page={{ vesting_orgs.number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if registrar_filter %}&registrar={{ registrar_filter.id }}{% endif %}"><i class="icon-ok"></i> Least recently active</a>
                        <a {% if sort == '-vested_links' %}class="selected" {% endif %} href="?sort=-vested_links&page={{ vesting_orgs.number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if registrar_filter %}&registrar={{ registrar_filter.id }}{% endif %}"><i class="icon-ok"></i> Most vested links</a>
                        <a {% if sort == 'vested_links' %}class="selected" {% endif %} href="?sort=vested_links&page={{ vesting_orgs.number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if registrar_filter %}&registrar={{ registrar_filter.id }}{% endif %}"><i class="icon-ok"></i> Least vested links</a>
                    </li>
                  </ul>
                </div>
                {% if request.user.is_staff %}
            <div class="dropdown">
                  <a role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                    Registrar <span class="caret"></span>
                  </a>
                
                
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li>
                        {% if registrars %}
                            {% for registrar in registrars %}
                            {% if registrar_filter == registrar %}
                                <a class="selected" href="?page={{ vesting_orgs.number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}"><i class="icon-ok"></i> {{registrar.name}}</a>
                            {% else %}
                                <a href="?registrar={{registrar.id}}&page={{ vesting_orgs.number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}"><i class="icon-ok"></i> {{registrar.name}}</a>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            <a href="">None</a>
                        {% endif %}
                    </li>
                  </ul>
                </div>
            {% endif %}
            </div>
            </div>
        </div>
        {% if vesting_orgs %}
          {% for vesting_org in vesting_orgs %}
            <div class="row list-user list-user-registrar">
            <div class="col-sm-12">
            <a class="pull-right" href="{% url 'user_management_manage_single_vesting_org' vesting_org.id %}">edit</a>
            {% if request.user.is_staff %}
                <br><a class="pull-right" href="{% url "admin:perma_vestingorg_change" vesting_org.id %}">edit in admin console</a>
            {% endif %}
            <p class="list-name"><a href="{% url 'user_management_manage_vesting_user' %}?vesting_org={{vesting_org.id}}">{{ vesting_org.name }}</a></p>
            </div>
              <div class="col-sm-5">
              <div class="list-count-group">
                <p class="list-count-number">{{ vesting_org.vested_links|intcomma }}</p>
                <p class="list-count-label">vested links</p>
                </div>
                {% comment %}
                    <div class="list-count-group">
                    <p class="list-count-number{% if group_name == 'user'%} vesting_user-list{% endif %}">{{ vesting_org.created_links_count }}</p>
                    <p class="list-count-label">created links</p>
                    </div>
                    {% endcomment %}
              </div>
              <div class="col-sm-7 center-list-count">
                <div class="list-count-group"><a href="{% url 'user_management_manage_vesting_user' %}?vesting_org={{vesting_org.id}}">
                <p class="list-count-number">{{ vesting_org.vesting_users|default_if_none:"0" }}</p>
                <p class="list-count-label">users</p></a>
                </div>
                {% comment %}
                <div class="list-count-group"><a href="{% url 'user_management_manage_vesting_user' %}?vesting_org={{vesting_org.name.split|join:'+'|lower}}&status=deactivated">
                <p class="list-count-number">{{ vesting_org.deactivated_count|default_if_none:"0" }}</p>
                <p class="list-count-label">deactivated users</p></a>
                </div>
                <div class="list-count-group"><a href="{% url 'user_management_manage_vesting_user' %}?vesting_org={{vesting_org.name.split|join:'+'|lower}}&status=unactivated">
                <p class="list-count-number">{{ vesting_org.unactivated_count|default_if_none:"0" }}</p>
                <p class="list-count-label">unactivated users</p></a>
                </div>
                {% endcomment %}
            </div>
            <div class="col-sm-7">
            {% if request.user.is_staff %}
            <p class="list-registrar"><a href="{% url 'user_management_manage_registrar' %}?q={{vesting_org.registrar.name.split|join:'+'|lower}}">{{ vesting_org.registrar }}</a></p>
            {% endif %}
            </div>
            <div class="col-sm-5">
                <p class="list-date">
              created {{ vesting_org.date_created|date:'N j, Y' }}
            <br>
              {% if vesting_org.vesting_users %}
              last active {{ vesting_org.last_active|date:'N j, Y'}}
              {% else %}
              <span class="text-warning">no existing users</span>
              {% endif %}
              </p>
            </div>
            </div>
          {% endfor %}
    {% else %}
        <p class="no-users-found">No vesting organizations found.</p>
    {% endif %}

    {% include "user_management/includes/paginator.html" with page=vesting_orgs %}

{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    $('#add-member').on('shown.bs.collapse', function () {
        $('#add-member input[type=text]:first').focus();
    });
});
</script>
{% endblock scripts %}
