{% extends "admin-layout.html" %}
{% load has_group %}
{% block title %} | Settings{% endblock %}

{% block manage-nav-settings %}<li class="active"><a href="{% url 'user_management_manage_account' %}">Account settings</a></li>{% endblock %}

{% block content %}
	  <h3>Tools</h3>
	  <h4>Bookmarklet</h4>
		<div class="bookmarklet-button-blurb">
			<p>You can create Perma links using the bookmarklet. Drag the following button to your bookmarks bar.</p>
			<p><a class="btn bookmarklet-button" style="background-color: #efefef;" href="javascript:window.open('http://www.perma.cc/service/bookmarklet-create/?v=1&url='+encodeURIComponent(location.href));window.focus();">Create Perma link</a> </p>
			<p>Then, click the button while you're viewing the page you want to save.</p>
		</div><!--/.bookmarklet-button-blurb-->
		<br />

	  <h3>Account settings</h3>
	  {% if request.user|has_group:'vesting_user' %}
	    <div class="sponsoring-library-info">
            <h4>Your sponsoring library</h4>
            {% if no_registrar %}
              <p>Seems to be missing</p>
            {% endif %}
            {% if sponsoring_library_website %}
            <p><strong><a href="{{sponsoring_library_website}}" target="_blank">{{sponsoring_library_name}}</a></strong>
            {% else %}
            <strong>{{sponsoring_library_name}}</strong>
            {% endif %}
            <br>{{sponsoring_library_email}}</p>
            <h4>Your vesting organization</h4>
            {% if no_vesting_org %}
                <p>Seems to be missing</p>
            {% else %}
                <p><strong>{{ vesting_org_name }}</strong> (<a href="{% url 'user_management_vesting_user_leave_vesting_org' %}">Leave</a>)</p>
            {% endif %}
        </div>
		{% endif %}
		<form method="post">
		  <h4>Change account details</h4>
      {% csrf_token %}
		  <fieldset>
		  <span class="text-error">{{ form.non_field_errors }}</span>
        {% for field in form %}
          <label for="id_{{ field.name }}">{{ field.label }}</label><br/>
          {{ field }}
          {% if field.errors %}
            {% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
          {%elif field.help_text %}
            <span class="help-inline">{{ field.help_text }}</span>
          {% endif %}
          <br/><br/>
        {% endfor %}  
      </fieldset>
      <button type="submit" class="btn-success br-correction">Save changes</button>
    </form>
    <br/><br/>
		{% include "password_change_embedded_form.html" %}

{% endblock %}
