{% extends "manage-layout.html" %}
{% load bootstrap_tags %}
{% block title %} | Edit organization{% endblock %}

{% block content %}

	<h3 class="body-bh">Edit organization</h3>
	<div class="row">
		<div class="col-sm-6">
    		<form method="post" action="">
				{% csrf_token %}
				<fieldset>
				{% for field in form %}
					<div class="form-group{% if field.errors %} _error{% endif %}">
					<label for="id_{{ field.name }}">{{ field.label }}</label>
					{{ field }}
					{% if field.errors %}
						{% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
					{%elif field.help_text %}
						<span class="help-inline">{{ field.help_text }}</span>
					{% endif %}
					</div>
				{% endfor %}
				{% if form.non_field_errors %}<span class="text-error">{{ form.non_field_errors }}</span>{% endif %}
				</fieldset>
				<button type="submit" class="btn btn-success">Save changes</button>
			</form>
    	</div>
    </div>

{% endblock %}
