{% extends "admin-layout.html" %}
{% load has_group local_datetime %}
{% block title %} | {{ pretty_group_name_plural }}{% endblock %}

{% block content %}

    <h3>Existing {{ pretty_group_name_plural|lower }} <small><a data-toggle="collapse" data-target="#add-member"><i class="icon-plus-sign"></i> add user</a></small></h3>

	{% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-block">{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
        {% endfor %}
    {% endif %}
	
	{% if added_user %}
        <div class="alert alert-success alert-block"><h4>Account created!</h4> <strong>{{ added_user }}</strong> will receive an email with instructions on how to activate the account and create a password.</div>
    {% endif %}

	<div id="add-member" class="collapse {% if form.errors %}in{% endif %}">
	    {% if request.user|has_group:'registrar_user,vesting_user' %}{% if group_name == 'vesting_user' %}
	    <form method="get" action="{% url 'user_management_vesting_user_add_user' %}" class="form-inline" role="form">
	        <div class="form-group">
                <input type="text" name="email" value="{{ search_query|default:"" }}" placeholder="{{ search_placeholder|default:"Email" }}"/>
            </div>
            <button type="submit" class="btn btn-default">Add</button>
        </form>
        {% endif %}
        {% else %}
        <form method="post">
          {% csrf_token %}
              <h4>Add a {{ pretty_group_name|lower }}</h4>
              <fieldset>
              <span class="text-error">{{ form.non_field_errors }}</span>
            {% for field in form %}
              <label for="id_{{ field.name }}">{{ field.label }}</label><br/>
              {{ field }}
              {% if field.errors %}<br/>
                {% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
              {%elif field.help_text %}
                <span class="help-inline">{{ field.help_text }}</span>
              {% endif %}<br/>
            {% endfor %}
          </fieldset>
          <button type="submit" class="btn-success">Add {{ pretty_group_name|lower }}</button>
        </form>
        {% endif %}
    </div>

        <div class="row">
            <div class="col-sm-3">
                <p class="count-label">Active Users</p>
                <p class="count-number">{{ active_users }}</p>
            </div>
            <div class="col-sm-3">
                <p class="count-label">Deactivated Users</p>
                <p class="count-number">{{ deactivated_users }}</p>
            </div>
            <div class="col-sm-3">
                <p class="count-label">Unactivated Users</p>
                <p class="count-number">{{ unactivated_users }}</p>
            </div>
        </div>
        {% if registrar_filter or vesting_org_filter or status or search_query %}
        <div class="row">
            <div class="col-sm-12">
                <a class="remove-search-filters" href="?sort=last_name"><i class="icon-remove-sign"></i> Clear{% if registrar_filter %} registrar:<strong>{{registrar_filter}}</strong>{% endif %}{% if vesting_org_filter %} vesting organization:<strong>{{vesting_org_filter}}</strong>{% endif %}{% if status %} status:<strong>{{status}}</strong>{% endif %}{% if search_query %} search:<strong>{{search_query}}</strong>{% endif %}</a>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <p class="sort-filter-count">{{users_count}} user{% if not users_count == 1 %}s{% endif %}</p>
                <div class="sort-filter-bar">
                {% include "user_management/includes/search_form.html" %}
                <div class="dropdown">
                  <a role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                    Sort <span class="caret"></span>
                  </a>
                
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li>
                        <a {% if sort == 'last_name' %}class="selected" {% endif %}href="?sort=last_name&page={{ users.number }}{% if sort_url %}{{ sort_url }}{% endif %}"><i class="icon-ok"></i> Last name A - Z</a>
                        <a {% if sort == '-last_name' %}class="selected" {% endif %} href="?sort=-last_name&page={{ users.number }}{% if sort_url %}{{ sort_url }}{% endif %}"><i class="icon-ok"></i> Last name Z - A</a>
                        <a {% if sort == '-date_joined' %}class="selected" {% endif %} href="?sort=-date_joined&page={{ users.number }}{% if sort_url %}{{ sort_url }}{% endif %}"><i class="icon-ok"></i> Newest</a>
                        <a {% if sort == 'date_joined' %}class="selected" {% endif %} href="?sort=date_joined&page={{ users.number }}{% if sort_url %}{{ sort_url }}{% endif %}"><i class="icon-ok"></i> Oldest</a>
                        <a {% if sort == '-last_login' %}class="selected" {% endif %} href="?sort=-last_login&page={{ users.number }}{% if sort_url %}{{ sort_url }}{% endif %}"><i class="icon-ok"></i> Recently active</a>
                        <a {% if sort == 'last_login' %}class="selected" {% endif %} href="?sort=last_login&page={{ users.number }}{% if sort_url %}{{ sort_url }}{% endif %}"><i class="icon-ok"></i> Least recently active</a>
                        {% if group_name == 'vesting_user' %}
                        <a {% if sort == '-vested_links' %}class="selected" {% endif %} href="?sort=-vested_links&page={{ users.number }}{% if sort_url %}{{ sort_url }}{% endif %}"><i class="icon-ok"></i> Most vested links</a>
                        <a {% if sort == 'vested_links' %}class="selected" {% endif %} href="?sort=vested_links&page={{ users.number }}{% if sort_url %}{{ sort_url }}{% endif %}"><i class="icon-ok"></i> Least vested links</a>
                        {% endif %}
                    </li>
                  </ul>
                </div>
            <div class="dropdown">
                  <a role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                    Status <span class="caret"></span>
                  </a>
                
                
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li>
                        <a {% if status == 'active' %}class="selected" {% endif %}href="?status=active&page={{ users.number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if vesting_org_filter %}&vesting_org={{ vesting_org_filter }}{% endif %}{% if registrar_filter %}&registrar={{ registrar_filter }}{% endif %}"><i class="icon-ok"></i> Active</a>
                        <a {% if status == 'deactivated' %}class="selected" {% endif %}href="?status=deactivated&page={{ users.number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if vesting_org_filter %}&vesting_org={{ vesting_org_filter }}{% endif %}{% if registrar_filter %}&registrar={{ registrar_filter }}{% endif %}"><i class="icon-ok"></i> Deactivated</a>
                        <a {% if status == 'unactivated' %}class="selected" {% endif %}href="?status=unactivated&page={{ users.number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if vesting_org_filter %}&vesting_org={{ vesting_org_filter }}{% endif %}{% if registrar_filter %}&registrar={{ registrar_filter }}{% endif %}"><i class="icon-ok"></i> Unactivated</a>
                    </li>
                  </ul>
                </div>
            {% if request.user|has_group:'registrar_user,registry_user' %}
            {% if group_name == 'vesting_user' %}
            <div class="dropdown">
                  <a role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                    Vesting organization <span class="caret"></span>
                  </a>
                
                
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li>
                        {% if vesting_orgs %}
                            {% for vesting_org in vesting_orgs %}
                            {% if vesting_org_filter == vesting_org.name|lower %}
                                <a class="selected" href="?page={{ users.number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if registrar_filter %}&registrar={{ registrar_filter }}{% endif %}{% if status %}&status={{ status }}{% endif %}"><i class="icon-ok"></i> {{vesting_org.name}}</a>
                            {% else %}
                                <a href="?vesting_org={{vesting_org.name.split|join:'+'|lower}}&page={{ users.number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if registrar_filter %}&registrar={{ registrar_filter }}{% endif %}{% if status %}&status={{ status }}{% endif %}"><i class="icon-ok"></i> {{vesting_org.name}}</a>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            <a href="">None</a>
                        {% endif %}
                    </li>
                  </ul>
                </div>
            {% endif %}
            {% endif %}
            {% if request.user|has_group:'registry_user' %}
            {% if not group_name == 'user' %}
            <div class="dropdown">
                  <a role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                    Registrar <span class="caret"></span>
                  </a>
                
                
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li>
                        {% if registrars %}
                            {% for registrar in registrars %}
                            {% if registrar_filter == registrar.name|lower %}
                                <a class="selected" href="?page={{ users.number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if vesting_org_filter %}&vesting_org={{ vesting_org_filter }}{% endif %}"><i class="icon-ok"></i> {{registrar.name}}</a>
                            {% else %}
                                <a href="?registrar={{registrar.name.split|join:'+'|lower}}&page={{ users.number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if sort %}&sort={{ sort }}{% endif %}{% if vesting_org_filter %}&vesting_org={{ vesting_org_filter }}{% endif %}"><i class="icon-ok"></i> {{registrar.name}}</a>
                            {% endif %}
                            {% endfor %}
                        {% else %}
                            <a href="">None</a>
                        {% endif %}
                    </li>
                  </ul>
                </div>
            {% endif %}
            {% endif %}
            </div>
            </div>
        </div>
        {% if users_list %}
          {% for listed_user in users_list %}
              {% if not listed_user.is_active %}
                <div class="row muted list-user">
              {% else %}
                <div class="row list-user">
              {% endif %}
              <div class="col-sm-6">
                <p class="list-name">{{ listed_user.first_name }} {{ listed_user.last_name }}</p>
              <p class="list-email">{{ listed_user.email }}</p>
              {% if request.user|has_group:'registry_user,registrar_user' %}{% if group_name == 'vesting_user' %}<p class="list-vesting-org">{{listed_user.vesting_org.name}}</p>{% endif %}{% endif %}
            {% if group_name == 'registrar_user' %}<p class="list-registrar">{{ listed_user.registrar.name }}</p>{% endif %}
              </div>
              <div class="col-sm-3">
                {% if group_name == 'vesting_user' %}
                <div class="list-count-group">
                <p class="list-count-number{% if request.user|has_group:'vesting_user'%} vesting_user-list{% endif %}">{{ listed_user.vested_links }}</p>
                <p class="list-count-label">vested links</p>
                </div>
                {% endif %}
                {% if group_name == 'vesting_user' or group_name == 'user' %}
                    {% if request.user|has_group:'registry_user' %}
                    <div class="list-count-group">
                    <p class="list-count-number{% if group_name == 'user'%} vesting_user-list{% endif %}">{{ listed_user.created_links }}</p>
                    <p class="list-count-label">created links</p>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-sm-3">
                <p class="list-status">
                {% if listed_user.is_active %}
                  <a href="{% url single_user_url listed_user.id %}">edit/delete</a>
                {% elif listed_user.is_confirmed %}
                    <span class="text-warning">deactivated account</span> <a href="{% url reactivate_user_url listed_user.id %}">reactivate</a>
                {% else %}
                    <span class="text-warning">user must activate account</span> <a href="{% url delete_user_url listed_user.id %}">delete</a>
                {% endif %}
                </p>
                <p class="list-date{% if request.user|has_group:'vesting_user' or group_name == 'user' %} vesting_user-list{% endif %}">
              created {{ listed_user.date_joined|local_datetime:"MMM DD, YYYY" }}
              {% if listed_user.is_confirmed %}
              <br>
              last active {{ listed_user.last_login|local_datetime:"MMM DD, YYYY" }}
              {% endif %}
              </p>
            </div>
            </div>
          {% endfor %}
    {% else %}
        <p class="no-users-found">No {{ pretty_group_name_plural|lower }} found.</p>
    {% endif %}

    {% include "user_management/includes/paginator.html" with page=users %}

{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    $('#add-member').on('shown.bs.collapse', function () {
        $('input[type=text]:first').focus();
    });
});
</script>
{% endblock scripts %}
