{% extends "admin-layout.html" %}
{% block title %} | Vesting organizations{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
{% endblock %}

{% block content %}


		<h3>Existing vesting organizations <small><a data-toggle="collapse" data-target="#add-member"><i class="icon-plus-sign"></i> add new</a></small></h3>
		
		<div id="add-member" class="collapse {% if add_error %}in{% endif %}">
      <form method="post">
        {% csrf_token %}
        <h4>Add a new vesting organization</h4>
        <fieldset>
        <span class="text-error">{{ form.non_field_errors }}</span>
          {% for field in form %}
            <label for="id_{{ field.name }}">{{ field.label }}</label><br/>
            {{ field }}<br/>
            {% if field.errors %}
              {% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
            {%elif field.help_text %}
              <span class="help-inline">{{ field.help_text }}</span>
            {% endif %}
          {% endfor %}  
        </fieldset>
        <button type="submit" class="btn-success">Create new vesting organization</button>
      </form>
    </div>
		
		<table class="table">
    <thead>
      <tr>
        <!--<th><input type="checkbox"></th>-->
        <th>Name<a href="?sort=name"> <i class="icon-chevron-up"></i></a><a href="?sort=-name"> <i class="icon-chevron-down"></i></a></th>
        <th>Registrar<a href="?sort=registrar__name"> <i class="icon-chevron-up"></i></a><a href="?sort=-registrar__name"> <i class="icon-chevron-down"></i></a></th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      {% for vesting_org in vesting_orgs %}
        <tr>
          <!--<td><input type="checkbox"></td>-->
          <td class="registrar-name-cell">{{ vesting_org.name }}</td>
          <td>{{ vesting_org.registrar.name }}</td>
          <td><a href="{% url 'user_management_manage_single_vesting_org' vesting_org.id %}">edit</a></td>
      {% empty %}
        <tr>No vesting organizations found.</tr>
      {% endfor %}
    </tbody>
  </table>
      {% if vesting_orgs.paginator.num_pages > 1 %}
<div class="pagination">
    <ul>
        {% if vesting_orgs.has_previous %}<li><a href="?page={{ vesting_orgs.previous_page_number }}&sort={{ sort }}">&lt;</a></li>{% endif %}
        {% for i in vesting_orgs.paginator.page_range %}
        {% ifequal i vesting_orgs.number %}
        <li class="active"><a href="">{{ i }}</a></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endifequal %}
        {% endfor %}
        {% if vesting_orgs.has_next  %}<li><a href="?page={{ vesting_orgs.next_page_number }}&sort={{ sort }}">&gt;</a></li>{% endif %}
    </ul>
</div>
{% endif %}

{% endblock %}
