{% extends "admin-layout.html" %}
{% block title %} | Vesting members{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
{% endblock %}

{% block content %}

	<h3>Reactivate {{ target_member.email }}</h3>
	<br/>
	<br/>
	<p>Do you really want to reactivate {{ target_member.email }}?</p>
	<br/>
	<form action="{% url 'user_management_manage_single_registrar_member_reactivate' target_member.id %}" method="POST">
	      {% csrf_token %}
        <a href="../">Cancel</a> <button type="submit" class="btn delete-confirm">Reactivate {{ target_member.email }}</button>
    </form>

{% endblock %}
