{% extends "manage-layout.html" %}
{% block title %} | Edit vesting organization{% endblock %}

{% block content %}

		<h3>Edit vesting organization</h3>

    <form method="post">
      {% csrf_token %}
		  <fieldset>
		  <span class="text-error">{{ form.non_field_errors }}</span>
        {% for field in form %}
          <label for="id_{{ field.name }}">{{ field.label }}</label><br/>
          {{ field }}
          {% if field.errors %}
            {% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
          {%elif field.help_text %}
            <span class="help-inline">{{ field.help_text }}</span>
          {% endif %}
          <br>
        {% endfor %}  
      </fieldset>
      <button type="submit" class="btn-success">Save changes</button>
    </form>

{% endblock %}
