{% extends "admin-layout.html" %}
{% block title %} | Registrars{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
{% endblock %}

{% block manage-nav-registrar %}<li class="active"><a href="{% url 'user_management_manage_registrar' %}">Registrars</a></li>{% endblock %}

{% block content %}


		<h3>Existing registrars <small><a data-toggle="collapse" data-target="#add-member"><i class="icon-plus-sign"></i> add new</a></small></h3>
		
		<div id="add-member" class="collapse {% if add_error %}in{% endif %}">
      <form method="post">
        {% csrf_token %}
        <h4>Add a new registrar</h4>
        <fieldset>
        <span class="text-error">{{ form.non_field_errors }}</span>
          {% for field in form %}
            <label for="id_{{ field.name }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
              {% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
            {%elif field.help_text %}
              <span class="help-inline">{{ field.help_text }}</span>
            {% endif %}
          {% endfor %}  
        </fieldset>
        <button type="submit" class="btn">Create new registrar</button>
      </form>
    </div>
		
		<table class="table">
    <thead>
      <tr>
        <!--<th><input type="checkbox"></th>-->
        <th>Name</th>
        <th>Email</th>
        <th>Website</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      {% for registrar in registrars %}
        <tr>
          <!--<td><input type="checkbox"></td>-->
          <td class="registrar-name-cell">{{ registrar.name }}</td>
          <td>{{ registrar.email }}</td>
          <td class="registrar-website-cell"><a href="{{ registrar.website }}" target="_blank">{{ registrar.website }}</a></td>
          <td><a href="{% url 'user_management_manage_single_registrar' registrar.id %}">edit</a></td>
      {% empty %}
        <tr>No registrars found.</tr>
      {% endfor %}
    </tbody>
  </table>
      {% if registrars.paginator.num_pages > 1 %}
<div class="pagination">
    <ul>
        {% if registrars.has_previous %}<li><a href="?page={{ registrars.previous_page_number }}&sort={{ sort }}">&lt;</a></li>{% endif %}
        {% for i in registrars.paginator.page_range %}
        {% ifequal i registrars.number %}
        <li class="active"><a href="">{{ i }}</a></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endifequal %}
        {% endfor %}
        {% if registrars.has_next  %}<li><a href="?page={{ registrars.next_page_number }}&sort={{ sort }}">&gt;</a></li>{% endif %}
    </ul>
</div>
{% endif %}

{% endblock %}
