{% extends "manage-layout.html" %}


{% block dashboardContent %}
  {% if this_page == 'users_sponsored_users' and sponsorships %}
    <div class="orgs-list-container">
      <h3 class="body-bh">Edit {{ target_user.raw_email }}'s sponsorship{{ sponsorships|length|pluralize }}</h3>
      {% regroup sponsorships by status as sponsorships_list %}
      {% for status in sponsorships_list %}
        <h4 class="body-ch">{{ status.grouper|title }}</h4>
        {% for sponsorship in status.list %}
          <div class="settings-block">
            <p>{{ sponsorship.registrar.name }}</p>
            {% if sponsorship.status == 'active' %}
              <a href="{% url 'user_management_manage_single_sponsored_user_remove' user_id=target_user.id registrar_id=sponsorship.registrar.id %}" class="btn cancel btn-xs leave-org-btn">Deactivate sponsorship</a>
            {% else %}
              <a href="{% url 'user_management_manage_single_sponsored_user_readd' user_id=target_user.id registrar_id=sponsorship.registrar.id %}" name="registrar" class="btn btn-default btn-xs leave-org-btn">Reactivate</a>
            {% endif %}
            {% if sponsorship.expires_at %}
              <br><p>Expiration date: {{ sponsorship.expires_at }}</p>
            {% endif %}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  {% elif this_page == 'users_organization_users' and affiliations %}
    <div class="orgs-list-container">
      <h3 class="body-bh">Remove from organization</h3>
      <p class="page-dek"><strong>{{ target_user.raw_email }}</strong> is a member of the following organization{{ affiliations|pluralize }}:</p>
      <form action="{% url 'user_management_manage_single_organization_user_remove' user_id=target_user.id %}" method="POST">
        {% csrf_token %}
        {% for aff in affiliations %}
          <div class="settings-block">
            <p>{{ aff.organization.name }}</p>
            <button name="affiliation" value="{{ aff.id }}" class="btn btn-default btn-xs leave-org-btn" data-toggle="tooltip">Remove</button>
            {% if aff.expires_at %}
              <br><p>Expiration date: {{ aff.expires_at }}</p>
            {% endif %}
          </div>
        {% endfor %}
      </form>
    </div>
  {% endif %}
  {% if request.user.is_staff %}
    <h3 class="body-bh">{% if target_user.is_confirmed %}Deactivate{% else %}Delete{% endif %}</h3>
    <a href="{% url delete_user_url target_user.id %}">
      <p class="page-dek"><strong>{{ target_user.raw_email}}</strong>'s account was created on {{ target_user.date_joined}}{% if target_user.last_login%} Last login occurred on {{ target_user.last_login}}{% else %}They have never logged in.{% endif %}</p>
      <span class="field-error">
        <i class="icon-trash"></i>

        {% if target_user.is_confirmed %}Deactivate{% else %}Delete{% endif %} {{ target_user.raw_email}}
      </span>
    </a>
  {% endif %}
{% endblock %}
