{% extends "admin-layout.html" %}
{% load local_datetime humanize %}
{% block title %} | Registrars{% endblock %}

{% block manage-nav-registrar %}<li class="active"><a href="{% url 'user_management_manage_registrar' %}">Registrars</a></li>{% endblock %}

{% block content %}

	<h3>Existing registrars <small><a data-toggle="collapse" data-target="#add-member"><i class="icon-plus-sign"></i> add new</a></small></h3>
		<div id="add-member" class="collapse {% if form.errors %}in{% endif %}">
      <form method="post">
        {% csrf_token %}
        <h4>Add a new registrar</h4>
        <fieldset>
        <span class="text-error">{{ form.non_field_errors }}</span>
          {% for field in form %}
            <label for="id_{{ field.name }}">{{ field.label }}</label><br/>
            {{ field }}<br/>
            {% if field.errors %}
              {% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
            {%elif field.help_text %}
              <span class="help-inline">{{ field.help_text }}</span>
            {% endif %}
          {% endfor %}  
        </fieldset>
        <button type="submit" class="btn-success">Create new registrar</button>
      </form>
    </div>
    
    <div class="row">
        <div class="col-sm-3">
            <p class="count-label">Vesting Organizations</p>
            <p class="count-number">{{ vesting_org_count.count }}</p>
        </div>
        <div class="col-sm-3">
            <p class="count-label">Registrars</p>
            <p class="count-number">{{ registrar_count }}</p>
        </div>
    </div>

     {% if search_query %}
        <div class="row">
            <div class="col-sm-12">
                <a class="remove-search-filters" href="?sort=name"><i class="icon-remove-sign"></i> Clear search for <strong>{{search_query}}</strong> and sort</a>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <p class="sort-filter-count">{{registrar_results}} registrar{% if not registrar_results == 1 %}s{% endif %}</p>
                <div class="sort-filter-bar">
                {% include "user_management/includes/search_form_simple.html" %}
                <div class="dropdown">
                  <a role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                    Sort <span class="caret"></span>
                  </a>
                
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li>
                        <a {% if sort == 'name' %}class="selected" {% endif %}href="?sort=name&page={{ registrars.number }}{% if search_query %}&q={{ search_query }}{% endif %}"><i class="icon-ok"></i> Name A - Z</a>
                        <a {% if sort == '-name' %}class="selected" {% endif %} href="?sort=-name&page={{ registrars.number }}{% if search_query %}&q={{ search_query }}{% endif %}"><i class="icon-ok"></i> Name Z - A</a>
                        <a {% if sort == '-date_created' %}class="selected" {% endif %} href="?sort=-date_created&page={{ registrars.number }}{% if search_query %}&q={{ search_query }}{% endif %}"><i class="icon-ok"></i> Newest</a>
                        <a {% if sort == 'date_created' %}class="selected" {% endif %} href="?sort=date_created&page={{ registrars.number }}{% if search_query %}&q={{ search_query }}{% endif %}"><i class="icon-ok"></i> Oldest</a>
                        <a {% if sort == '-last_active' %}class="selected" {% endif %} href="?sort=-last_active&page={{ registrars.number }}{% if search_query %}&q={{ search_query }}{% endif %}"><i class="icon-ok"></i> Recently active</a>
                        <a {% if sort == 'last_active' %}class="selected" {% endif %} href="?sort=last_active&page={{ registrars.number }}{% if search_query %}&q={{ search_query }}{% endif %}"><i class="icon-ok"></i> Least recently active</a>
                        <a {% if sort == '-vested_links' %}class="selected" {% endif %} href="?sort=-vested_links&page={{ registrars.number }}{% if search_query %}&q={{ search_query }}{% endif %}"><i class="icon-ok"></i> Most vested links</a>
                        <a {% if sort == 'vested_links' %}class="selected" {% endif %} href="?sort=vested_links&page={{ registrars.number }}{% if search_query %}&q={{ search_query }}{% endif %}"><i class="icon-ok"></i> Least vested links</a>
                    </li>
                  </ul>
                </div>
            </div>
            </div>
        </div>
        {% if registrars %}
          {% for registrar in registrars %}
            <div class="row list-user list-user-registrar">
            <div class="col-sm-12">
            <a class="pull-right" href="{% url 'user_management_manage_single_registrar' registrar.id %}">edit</a>
            <p class="list-name">{{ registrar.name }}</p>
            </div>
              <div class="col-sm-5">
              <div class="list-count-group">
                <p class="list-count-number">{{ registrar.vested_links|intcomma }}</p>
                <p class="list-count-label">vested links</p>
                </div>
                {% comment %}
                    <div class="list-count-group">
                    <p class="list-count-number{% if group_name == 'user'%} vesting_user-list{% endif %}">{{ registrar.created_links }}</p>
                    <p class="list-count-label">created links</p>
                    </div>
                {% endcomment %}
              </div>
              <div class="col-sm-7">
                <div class="list-count-group"><a href="{% url 'user_management_manage_vesting_org' %}?registrar={{registrar.id}}">
                <p class="list-count-number">{{ registrar.vesting_orgs_count }}</p>
                <p class="list-count-label">vesting orgs</p></a>
                </div>
                {% comment %}
                <div class="list-count-group"><a href="{% url 'user_management_manage_vesting_user' %}?registrar={{registrar.id}}">
                <p class="list-count-number">{{ registrar.vesting_users }}</p>
                <p class="list-count-label">vesting users</p></a>
                </div>
                {% endcomment %}
                <div class="list-count-group"><a href="{% url 'user_management_manage_registrar_user' %}?registrar={{registrar.id}}">
                <p class="list-count-number">{{ registrar.registrar_users }}</p>
                <p class="list-count-label">registrar users</p></a>
                </div>
            </div>
            <div class="col-sm-7">
            <p class="list-email">{{ registrar.email }}</p>
            <p class="list-website"><a href="{{ registrar.website }}">{{registrar.website}}</a></p>
            </div>
            <div class="col-sm-5">
                <p class="list-date">
              created {{ registrar.date_created|date:'N j, Y'}}
              <br>
              {% if registrar.last_active %}
                last active {{ registrar.last_active|date:'N j, Y'}}
              {% else %}
                no activity
              {% endif %}
              </p>
            </div>
            </div>
          {% endfor %}
    {% else %}
        <p class="no-users-found">No registrars found.</p>
    {% endif %}


    {% include "user_management/includes/paginator.html" with page=registrars %}

{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    $('#add-member').on('shown.bs.collapse', function () {
        $('#add-member input[type=text]:first').focus();
    });
});
</script>
{% endblock scripts %}