{% extends "settings-layout.html" %}

{% block title %} | Settings Password{% endblock %}

{% block content %}
	  <h3>Organizations</h3>
	  {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.level_tag }} alert-block">{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
        {% endfor %}
        {% endif %}
		<div class="sponsoring-library-info">
            {% with request.user.organizations as vesting_org %}
                <h5>Your sponsoring library and organization(s)</h5>
                    {% for vo in vesting_org.all %}
                    {% with vo.registrar as registrar %}
                        <p>
                            {% if registrar.website %}
                                <strong><a href="{{registrar.website}}" target="_blank">{{registrar}}</a></strong>
                            {% else %}
                                <strong>{{registrar}}</strong>
                            {% endif %}
                            <br>{{registrar.email}}
                    {% endwith %}
                            <p>{{ vo }} <a href="{% url 'user_management_organization_user_leave_organization' vo.id %}" class="btn btn-default btn-xs" role="button">Leave</a></p>
                        </p>
                    
                    {% endfor %}
            {% endwith %}
            {% if pending_registrar %}
                <p><strong>Pending registrar</strong> {{pending_registrar.name}}</p>
            {% endif %}
            
            {% if request.user.registrar %}
                <p>
                {% if request.user.registrar.website %}
                    <strong><a href="{{registrar.website}}" target="_blank">{{request.user.registrar}}</a></strong>
                {% else %}
                    <strong>{{request.user.registrar}}</strong>
                {% endif %}
                <br>{{request.user.registrar.email}}
            {% endif %}
        </div>
    <br/><br/>

{% endblock %}
