{% extends "settings-layout.html" %}
{% block title %} | Settings{% endblock %}

{% block dashboardContent %}

    <h2 class="body-ah _hideMobile">
      {% if customer_type == 'Registrar' %}
        Cancel {{ customer.name }}'s Subscription
      {% else %}
        Cancel Your {% if accounts|length > 1 %}Personal {% endif %}Subscription
      {% endif %}
    </h2>
    <p class="page-dek">Are you sure you want to cancel
      {% if customer_type == 'Registrar' %}
        the subscription for {{ customer.name }}?
      {% else %}
        your {% if customer.registrar %}personal {% endif %}subscription?
      {% endif %}
    </p>

    <form method="post" action="{{ cancel_url }}">
      <input type="hidden" name="encrypted_data" value={{ data }}>
      <button class="btn btn-primary" type="submit">
        Yes, cancel the subscription
      </button>
    </form>

{% endblock %}

