{% extends "settings-layout.html" %}

{% block title %} | Settings | Your Affiliations{% endblock %}

{% block dashboardContent %}
    <h3 class="body-ah _hideMobile">Your Affiliations</h3>
    {% if messages %}
    {% for message in messages %}
      <div class="alert-{{ message.level_tag }} alert-block">{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
    {% endfor %}
    {% endif %}
    <div class="org-settings">
      {% for registrar, orgs in orgs_by_registrar.items %}
        <h4 class="body-bh">
          <a href="mailto:{{registrar.email}}">{{registrar.name}}</a>
        </h4>
        {% for org in orgs %}
          <div class="settings-block">
            <p>
              {{ org }}
              {% if org.default_to_private %}
                (Links are <strong>Private</strong> by default)
              {% else %}
                (Links are <strong>Public</strong> by default)
              {% endif %}
            </p>
            <a href="{% url 'user_management_manage_single_organization' org.id %}" class="btn btn-default btn-xs" role="button">Edit</a>
            <a href="{% url 'user_management_organization_user_leave_organization' org.id %}" class="btn btn-default btn-xs leave-org-btn" role="button">Leave</a>
          </div>
        {% endfor%}
      {% endfor %}
      {% if pending_registrar %}
        <p class="body-text"><strong>Pending registrar</strong> {{pending_registrar.name}}</p>
      {% endif %}

      {% if request.user.registrar %}
        <div class="admin-sponsor">
        {% if request.user.registrar.website %}
          <strong><a href="{{request.user.registrar.website}}" target="_blank">{{request.user.registrar}}</a></strong>
        {% else %}
          <strong>{{request.user.registrar}}</strong>
        {% endif %}
        <span class="sponsor-email">{{request.user.registrar.email}}</span>
        <a href="{% url 'user_management_manage_single_registrar' request.user.registrar.id %}" class="btn btn-default btn-xs edit-registrar-btn" role="button">Edit</a>
        </div>
      {% endif %}
    </div>
{% endblock %}
