{% extends "settings-layout.html" %}
{% load bootstrap_tags %}
{% block title %} | Settings{% endblock %}

{% block manage-nav-settings %}<li class="active"><a href="{% url 'create_link' %}">Account settings</a></li>{% endblock %}

{% block content %}
	  <h3 class="body-ah _hideMobile">Profile</h3>
	  <p class="page-dek">Change your name and email</p>
	  {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-block">{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
        {% endfor %}
    {% endif %}
	<form method="post" action="">
		{% csrf_token %}
		<fieldset>
		{% for field in form %}
			<div class="form-group fg-100{% if field.errors %} _error{% endif %}">
				<label for="id_{{ field.name }}">{{ field.label }}</label>
				{{ field }}
				{% if field.errors %}
					{% for error in field.errors %}<span class="field-error">{{ error }}</span>{% endfor %}
				{%elif field.help_text %}
					<span class="help-inline">{{ field.help_text }}</span>
				{% endif %}
			</div>
		{% endfor %}
		{% if form.non_field_errors %}<span class="field-error">{{ form.non_field_errors }}</span>{% endif %}
		</fieldset>
		<button type="submit" class="btn btn-success">Save changes</button>
	</form>

{% endblock %}
