{% extends "admin-layout.html" %}
{% block title %} | Leave vesting organization{% endblock %}

{% block adminContent %}

	<div class="container cont-fixed">
		<h3 class="body-bh">Change default privacy settings for all links in <strong>{{ org.name }}</strong>?</h3>
	
	    <form method="post">
	    	{% csrf_token %}
	    	{% if org.default_to_private %}
	    		<p class="page-dek">Your Perma Links are currently <strong>Private</strong> by default.</p>
	        	<a class="btn cancel" href="{% url 'user_management_settings_organizations' %}">Cancel</a>
	        	<button type="submit" class="btn">Set to Public</button></p>
	        {% else %}
	        	<p class="page-dek">Your Perma Links are currently <strong>Public</strong> by default.</p> 
	        	<a class="btn cancel" href="{% url 'user_management_settings_organizations' %}">Cancel</a>
	        	<button type="submit" class="btn">Set to Private</button></p>
	        {% endif %}
	    </form>
    </div>

{% endblock %}
