{% extends "settings-layout.html" %}
{% load has_group %}
{% block title %} | Settings Password{% endblock %}

{% block content %}
	  <h3>Organizations</h3>
	  <p>View the organizations you belong to</p>
		<div class="sponsoring-library-info">
            {% with request.user.vesting_org as vesting_org %}
                <h5>Your sponsoring library</h5>
                {% if vesting_org and vesting_org.registrar %}
                    {% with vesting_org.registrar as registrar %}
                        <p>
                            {% if registrar.website %}
                                <strong><a href="{{registrar.website}}" target="_blank">{{registrar}}</a></strong>
                            {% else %}
                                <strong>{{registrar}}</strong>
                            {% endif %}
                            <br>{{registrar.email}}
                        </p>
                    {% endwith %}
                {% else %}
                    <p>Seems to be missing</p>
                {% endif %}
                <h5>Your vesting organization</h5>
                {% if vesting_org %}
                    <p>{{ vesting_org }} <a href="{% url 'user_management_vesting_user_leave_vesting_org' %}" class="btn btn-default btn-xs" role="button">Leave</a></p>
                {% else %}
                    <p>Seems to be missing</p>
                {% endif %}
            {% endwith %}
        </div>
    <br/><br/>

{% endblock %}
