{% extends "settings-layout.html" %}
{% block title %} | Settings{% endblock %}

{% block dashboardContent %}

  {% if not subscription %}
    <h3 class="body-ah">Subscribe</h3>
    <p class="page-dek">Purchase a subscription for {{ request.user.registrar.name }}</p>

    <div class="row">

      <form class="upgrade-form col-xs-12 col-md-4" method="post" action="{{ subscribe_url }}">
        <button style="border-color: rgba(223,182,103,1);;"><span>Monthly</span><br>${{ monthly_rate }}/month</button>
        <input type="hidden" name="encrypted_data" value={{ data_monthly }}>
      </form>

      <form class="upgrade-form col-xs-12 col-md-4" method="post" action="{{ subscribe_url }}">
        <button style="border-color: rgba(160,160,160,1);"><span>Quarterly</span><br>${{ quarterly_rate }}/quarter</button>
        <input type="hidden" name="encrypted_data" value={{ data_quarterly }}>
      </form>

      <form class="upgrade-form col-xs-12 col-md-4" method="post" action="{{ subscribe_url }}">
          <button style="border-color: rgba(242,215,50,1);"><span>Annually</span><br>${{ annual_rate }}/year</button>
          <input type="hidden" name="encrypted_data" value={{ data_annually }}>
      </form>
    </div>

  {% elif subscription.status == 'Cancellation Requested' %}
    <h3 class="body-ah _hideMobile">Cancellation Request Pending</h3>

    <p class="page-dek">We've received the request to cancel your subscription. We're sorry to see you go!</p>

    <p class="page-dek">Please note that it can take up to one full business day for us to process a cancellation; you will continue to be able to create Permalinks for {{ request.user.registrar.name }} until it's official.</p>

  {% else %}
    <h3 class="body-ah _hideMobile">Subscription</h3>

    <p class="page-dek">{{ request.user.registrar.name }}</p>

    <p class="page-dek">Subscription Status: {{ subscription.status }}</p>

    <a href="{{ cancel_confirm_url }}" class="btn btn-primary" type="submit">
      Cancel Subscription
    </a>
  {% endif %}


{% endblock %}

