{% extends "settings-layout.html" %}
{% load humanize %}

{% block title %} | Settings{% endblock %}

{% block dashboardContent %}
{% for account in accounts %}
  {% with subscription=account.subscription %}
  {% with customer=account.customer %}
  {% with customer_type=customer.customer_type %}

    {% if customer_type == 'Registrar' %}
        <h2 class="body-ah">Registrar Subscription &mdash; {{ customer.name }}</h2>
    {% else %}
        <h2 class="body-ah">Personal Subscription</h2>
    {% endif %}

    {% if not subscription %}

      {% if customer_type == 'Registrar' %}
        <p class="page-dek">Purchase a subscription for {{ customer.name }}</p>
      {% else %}
        <p class="page-dek">Purchase a personal subscription</p>
      {% endif %}

      <div class="row">
        {% for tier in account.tiers %}
          {% if tier.type == 'upgrade' or tier.type == 'downgrade' %}
            <form class="upgrade-form col-xs-12 col-md-3" method="post" action="{{ subscribe_url }}">
              {% if tier.period == 'monthly' %}
                <button><span>{{ tier.limit }} Links{% if tier.limit != "unlimited" %} per month{% endif %}</span><br>${{ tier.required_fields.recurring_amount | intcomma }}/month<br><br>${{ tier.required_fields.amount | intcomma }} this month (prorated)</button>
              {% elif tier.period == 'annually'%}
                 <button><span>{{ tier.limit }} Links{% if tier.limit != "unlimited" %} per year{% endif %}</span><br>${{ tier.required_fields.amount | intcomma }}/year</button>
              {% endif %}
              <input type="hidden" name="encrypted_data" value={{ tier.encrypted_data }}>
            </form>
          {% endif %}
        {% endfor %}
      </div>

    {% elif subscription.status == 'Cancellation Requested' %}
      <p class="page-dek"><span class="blue-text">Cancellation Request Pending</span></p>

      <p class="page-dek">We've received the request to cancel your subscription. We're sorry to see you go!</p>

      <p class="page-dek">Please note that it can take up to one full business day for us to process a cancellation.

      {% if subscription.paid_through %}
        <p class="page-dek">You will continue to be able to create Perma Links{% if customer_type == 'Registrar' %} for {{ customer.name }}{% endif %} until {{ subscription.paid_through | date:"F jS, Y" }}.</p>
      {% endif %}

    {% elif subscription.status == 'Canceled' %}

      <p class="page-dek">Your paid subscription has been <span class="blue-text">canceled</span>. You will not be charged again.</p>

      <p class="page-dek">You will continue to be able to create Perma Links{% if customer_type == 'Registrar' %} for {{ customer.name }}{% endif %} until {{ subscription.paid_through | date:"F jS, Y" }}.</p>

    {% else %}

      {% if subscription.status == 'Hold' %}
        <p class="page-dek">Your subscription is <span class="blue-text">on hold</span>  due to a problem with your credit card.</p>

        <p class="page-dek">You can update payment information by clicking the "Modify Subscription" button below. If you need assistance or believe this message is in error, please <a href="{% url 'contact' %}?subject=Subscription%20On%20Hold">contact us</a>.</p>
      {% else %}
        <p class="page-dek">Your subscription is <span class="blue-text">{{ subscription.status | lower }}</span>.</p>
      {% endif %}

      <div class="row">
        <div class="col-xs-12">
          <dl class="dl-horizontal">
            {% if subscription.frequency == 'monthly' %}
              <dt>Rate:</dt><dd>${{ subscription.rate | intcomma }}/month</dd>
              <dt>Next payment:</dt><dd>{{ account.next_monthly_payment | date:"F jS, Y" }}</dd>
            {% elif subscription.frequency == 'annually'%}
              <dt>Rate:</dt><dd>${{ subscription.rate | intcomma }}/year</dd>
              <dt>Paid through:</dt><dd>{{ subscription.paid_through | date:"F jS, Y" }}</dd>
            {% endif %}
            {% if customer.unlimited %}
              <dt>Links:</dt><dd>unlimited</dd>
            {% else %}
              <dt>Included Links:</dt><dd>{{ customer.link_limit }}</dd>
            {% endif %}
          </dl>
        </div>
      </div>

      <div class="row subscription-buttons">
        <div class="col-xs-12 col-md-6">
          <form method="post" action="{{ update_url }}">
            {% csrf_token %}
            <input type="hidden" name="account_type" value={{ customer_type }}>
            <button class="btn btn-primary" type="submit">
              Modify Subscription
            </button>
          </form>
        </div>
        <div class="col-xs-12 col-md-6">
          <form method="post" action="{{ cancel_confirm_url }}">
            {% csrf_token %}
            <input type="hidden" name="account_type" value={{ customer_type }}>
            <button class="btn cancel" type="submit">
              Cancel Subscription
            </button>
          </form>
        </div>
      </div>

    {% endif %}

  {% endwith %}
  {% endwith %}
  {% endwith %}

{% endfor %}
{% endblock %}

