{% extends "settings-layout.html" %}
{% load bootstrap_tags %}
{% block title %} | Settings{% endblock %}

{% block manage-nav-settings %}<li class="active"><a href="{% url 'create_link' %}">Account settings</a></li>{% endblock %}

{% block dashboardContent %}
  {% with bookmarklet="javascript:window.open('http://www.perma.cc/service/bookmarklet-create/?v=1&url='+encodeURIComponent(location.href));window.focus();" %}
    <h3 class="body-ah">Bookmarklet</h3>
    <p class="body-text">You can create Perma links using our bookmarklet. Drag the following button to your bookmarks bar.</p>
    <a class="btn btn-bookmarklet" href={{bookmarklet}}>Create Perma link</a>
    <p class="body-text">Then, click the button while you’re viewing the page you want to save.</p>

    <h4 class="body-bh">Microsoft Edge Users</h4>
    <p>You can use our bookmarklet too! Right click this link: <a href="{{bookmarklet}}">Create Perma Link</a>. From the dropdown, select "Add to reading list." While viewing the page you want to save, just open your <a href="https://support.microsoft.com/en-us/help/17171/windows-10-get-to-know-microsoft-edge">"Hub"</a>, then select the Reading List panel and click "Create Perma Link."
      <span role="button" tabindex="0" aria-label="MS Edge visual demo" onclick="$('#msedge-hub').toggle();">
        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
      </span>
    </p>
    <p id="msedge-hub" style="width: 250px; display:none;"><img src="{{ STATIC_URL }}img/msedge-hub.png" width="250" class="img-thumbnail"></p>
  {% endwith %}

    <h3 class="body-ah">Browser Extensions</h3>
    <p class="body-text">You can create Perma links using our Chrome or Firefox extensions. </p>
    <a class="btn btn-bookmarklet" href="https://chrome.google.com/webstore/detail/permacc/bigjakhahgnccheaompmgebkncglllel">Install Perma for Chrome</a>
    <a class="btn btn-bookmarklet" href="https://addons.mozilla.org/en-US/firefox/addon/perma-cc/">Install Perma for Firefox</a>
    <p class="body-text">
        Then, click the Perma.cc infinity button
        <span class="extension-btn">
            <img src="{{ STATIC_URL }}img/infinity-logo2.png" style="width:20px; display:inline" alt="">
        </span>
        while you’re viewing the page you want to save.
    </p>

    {% include "api_key_embedded_form.html" %}
{% endblock %}

