{% extends "base-responsive.html" %}
{% load render_bundle from webpack_loader %}
{% block title %} | Admin Stats{% endblock %}

{% block mainContent %}
  <div class="container cont-fixed stats-container"></div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% render_bundle 'admin-stats' %}
{% endblock %}

{% block templates %}
  {% verbatim %}
    <script id="random-template" type="text/x-handlebars-template">
      <h3 class="body-ah">Random:</h3>

      <div class="row">
        <div class="col-sm-3">Total links:</div>
        <div class="col-sm-9">{{ total_link_count }}</div>
      </div>

      <div class="row">
        <div class="col-sm-3">Private links (user directed):</div>
        <div class="col-sm-9">{{ private_user_direction }} ({{ private_user_percentage_of_private }}% of private, {{ private_user_percentage_of_total }}% of total)</div>
      </div>

      <div class="row">
        <div class="col-sm-3">Private links (by policy):</div>
        <div class="col-sm-9">{{ private_policy }} ({{ private_policy_percentage_of_private }}% of private, {{ private_policy_percentage_of_total }}% of total)</div>
      </div>

      <div class="row">
        <div class="col-sm-3">Private links (takedowns):</div>
        <div class="col-sm-9">{{ private_takedown }} ({{ private_takedown_percentage_of_private }}% of private, {{ private_takedown_percentage_of_total }}% of total)</div>
      </div>

      <div class="row">
        <div class="col-sm-3">Private links (meta tag failure):</div>
        <div class="col-sm-9">{{ private_meta_failure }} ({{ private_meta_failure_percentage_of_private }}% of private, {{ private_meta_failure_percentage_of_total }}% of total)</div>
      </div>

      <div class="row">
        <div class="col-sm-3">Private links (total):</div>
        <div class="col-sm-9">{{ private_link_count }} ({{ private_link_percentage }}%)</div>
      </div>

      <div class="row">
        <div class="col-sm-3">Total users:</div>
        <div class="col-sm-1">{{ total_user_count }}</div>
      </div>

      <div class="row">
        <div class="col-sm-3">Unconfirmed users:</div>
        <div class="col-sm-9">{{ unconfirmed_user_count }} ({{ unconfirmed_user_percentage }}%)</div>
      </div>
    </script>

    <script id="days-template" type="text/x-handlebars-template">
      <h3 class="body-ah">Links from the past month:</h3>
      <table class="table">
        <tbody id="day">
          <tr>
            <th>Days<br>Ago</th>
            <th>Count</th>
            <th>Success</th>
            <th>Pending</th>
            <th>Failed</th>
            <th>Capture Time (5% / 50% / 95%)</th>
            <th>Queue Time (5% / 50% / 95%)</th>
            <th colspan="6">Top Users</th>
          </tr>
          {{#each days}}
            <tr>
              <td title="{{ start_date }}-{{ end_date }}">{{ days_ago }}</td>
              <td>{{ link_count }}</td>
              <td>{{ statuses.success }}</td>
              <td>{{ statuses.pending }}</td>
              <td>{{ statuses.failed }}</td>
              <td>{{ capture_time_dist }}</td>
              <td>{{ wait_time_dist }}</td>
              {{#each top_users}}
                <td>{{ email }}</td>
                <td>{{ links_count }}</td>
              {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    </script>

    <script id="emails-template" type="text/x-handlebars-template">
      <h3 class="body-ah">Users by email domain:</h3>
      <div class="body-text" style="-webkit-column-count: 4; -moz-column-count: 4; column-count: 4;">
        {{#each users_by_domain}}
          .{{ domain }}: {{ count }}<br/>
        {{/each}}
      </div>
    </script>

    <script id="job_queue-template" type="text/x-handlebars-template">
      <h3 class="body-ah">Capture jobs:</h3>
      <div class="row">
        <div class="col-sm-4">
          <h4>In progress:</h4>
          {{#each active_jobs}}
            {{ link_id }} attempt {{ attempt }}<br/>
            {{ email }}<br/>
            Started {{ capture_start_time }}<br/>
            Step {{ step_count }}: {{ step_description }}<br/><br/>
          {{/each}}
        </div>
        <div class="col-sm-4">
          <h4>Human requests:</h4>
          {{#each job_queues.human }}
            {{ email }}: {{ count }}
          {{/each}}
        </div>
        <div class="col-sm-4">
          <h4>API requests:</h4>
          {{#each job_queues.robot }}
            User {{@key}}: {{this}} waiting
          {{/each}}
        </div>
      </div>
    </script>

    <script id="celery-template" type="text/x-handlebars-template">
      <h3 class="body-ah">Celery task data:</h3>
      <div class="row">
        {{#each queues}}
          <div class="col-sm-6">
            <h4>{{ name }}</h4>
            <div>
              <h5>Active jobs:</h5>
              {{#each active}}
                {{name}}: {{kwargs}}<br/>
              {{/each}}
            </div>
            <div>
              <h5>Next jobs (not a complete list):</h5>
              {{#each reserved}}
                {{name}}: {{kwargs}}<br/>
              {{/each}}
            </div>
            <div>{{ reserved }}</div>
            <div>
              <h5>Finished task count:</h5>
              {{#each stats.total}}
                {{@key}}: {{this}}<br/>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    </script>
  {% endverbatim %}
{% endblock %}
