{% extends "manage-layout.html" %}

{% block title %} | {{ pretty_group_name }}{% endblock %}

{% block content %}

<div class="container"
	<h3 class="body-bh">Add registrar</h3>
	<form method="post">
		{% csrf_token %}
		<fieldset>
	        <span class="field-error">{{ form.non_field_errors }}</span>
	          {% for field in form %}
	            <label for="id_{{ field.name }}">{{ field.label }}</label>
	            {{ field }}
	            {% if field.errors %}
	              {% for error in field.errors %}<span class="field-error">{{ error }}</span>{% endfor %}
	            {%elif field.help_text %}
	              <span class="help-inline">{{ field.help_text }}</span>
	            {% endif %}
	          {% endfor %}  
	        </fieldset>
		<button type="submit" class="btn btn-success">Save changes</button>
	</form>
</div>

{% endblock %}
