{% extends "admin-layout.html" %}

{% block title %} | Add user{% endblock %}

{% block adminContent %}
	<h3 class="body-bh">Add {{ user_email }}</h3>
	{% if not target_user %}
	    <form method="post">
            {% csrf_token %}
          <fieldset>
				<div class="form-group{% if field.errors %} _error{% endif %}">
		            {% for field in form %}
						<label for="id_{{ field.name }}">{{ field.label }}</label>              
						{{ field }}
						{% if field.errors %}                
							{% for error in field.errors %}
								<span class="field-error">{{ error }}</span>
							{% endfor %}
							{%elif field.help_text %}
							<span class="help-inline">{{ field.help_text }}</span>
						{% endif %}            
					{% endfor %}
				</div>
				{% if field.errors %}
					<span class="field-error">{{ form.non_field_errors }}</span>
				{% endif %} 
			</fieldset>
            <button type="submit" class="btn">Add vesting user</button>
            <a href="{% url 'user_management_manage_organization_user' %}" class="btn cancel">Cancel</a>
        </form>
    {% else %}

        <p>{{ user_email }} already has an account.  Would you like to add them to a vesting organization?</p>

        <form method="post">
            {% csrf_token %}
          <fieldset>
				<div class="form-group{% if field.errors %} _error{% endif %}">
		            {% for field in form %}
						<label for="id_{{ field.name }}">{{ field.label }}</label>              
						{{ field }}
						{% if field.errors %}                
							{% for error in field.errors %}
								<span class="field-error">{{ error }}</span>
							{% endfor %}
							{%elif field.help_text %}
							<span class="help-inline">{{ field.help_text }}</span>
						{% endif %}            
					{% endfor %}
				</div>
				{% if field.errors %}
					<span class="field-error">{{ form.non_field_errors }}</span>
				{% endif %} 
			</fieldset>
            <button type="submit" class="btn">Add to vesting organization</button>
            <a href="{% url 'user_management_manage_organization_user' %}" class="btn cancel">Cancel</a>
        </form>
    {% endif %}
{% endblock %}
