{% extends "admin-layout.html" %}
{% block title %} | Reactivate user{% endblock %}

{% block adminContent %}

<h3 class="body-bh">Reactivate <strong>{{ target_member.email }}</strong></h3>
<p class="page-dek">Do you really want to reactivate <strong>{{ target_member.email }}</strong>?</p>
	<form action="" method="POST">
      {% csrf_token %}
    <a class="btn cancel" href="../">Cancel</a> <button type="submit" class="btn delete-confirm">Reactivate {{ target_member.email }}</button>
</form>

{% endblock %}
