{% extends "admin-layout.html" %}

{% block title %} | Add user to organization{% endblock %}

{% block adminContent %}

  <h3 class="body-bh">Add {{ user_email }} to Organization</h3>

  {% if not form %}
    <p>{{ error_message }}</p>
  {% else %}

    {% if object.id %}
      <p>{{ user_email }} already has an account.  Would you like to add them to an organization?</p>
    {% endif %}

    <form class="add-user" method="post">
      {% csrf_token %}
      {% include "includes/fieldset.html" %}
      {% if object.id %}
        <button type="submit" class="btn">Add to organization</button>
      {% else %}
        <button type="submit" class="btn">Add organization user</button>
      {% endif %}
      <a href="{% url 'user_management_manage_organization_user' %}" class="btn cancel">Cancel</a>
    </form>

    <script>
      const checkbox = document.getElementById("id_a-indefinite_affiliation");
      const datetimeField = document.getElementById("id_a-expires_at");
      const datetimeFieldLabel = document.querySelector('label[for="id_a-expires_at"]');

      const toggleExpirationDateField = () => {
        const displayStyle = checkbox.checked ? "none" : "block";
        datetimeField.style.display = displayStyle;
        datetimeFieldLabel.style.display = displayStyle;
      };

      document.addEventListener("DOMContentLoaded", toggleExpirationDateField);
      checkbox.addEventListener("change", toggleExpirationDateField);
    </script>

  {% endif %}
{% endblock %}
