{% extends "admin-layout.html" %}

{% block title %} | Add user to registrar{% endblock %}

{% block adminContent %}
  <h3 class="body-bh">Add {{ user_email }} to registrar</h3>
  {% if not form %}

    <p>{{ error_message }}</p>

  {% else %}

    {% if object.id %}
      <p>{{ user_email }} already has an account.  Would you like to add them to a registrar?</p>

      {% if request.user.is_staff %}
        {% if object.is_organization_member %}
          <p><b>WARNING:</b> This user is currently a member of the following organizations. Upgrading them to a registrar will REPLACE these affiliations:</p>
          <ul>
          {% for org in object.organizations.all %}
            <li>{{ org }} (registrar: {{ org.registrar }})</li>
          {% endfor %}
          </ul>
        {% elif object.is_registrar_member %}
          <p><b>WARNING:</b> This user is already a member of <b>{{ object.registrar }}</b>. Submitting this form will REPLACE that affiliation.</p>
        {% endif %}
      {% endif %}
    {% endif %}

    <form method="post">
      {% csrf_token %}
      {% include "includes/fieldset.html" %}
      {% if object.id %}
        <button type="submit" class="btn">Add to registrar</button>
      {% else %}
        <button type="submit" class="btn">Add registrar user</button>
      {% endif %}
      <a href="{% url 'user_management_manage_registrar_user' %}" class="btn cancel">Cancel</a>
    </form>

  {% endif %}
{% endblock %}
