{% extends "admin-layout.html" %}

{% block title %} | Add user{% endblock %}

{% block adminContent %}

	{% if cannot_add %}
	<div class="alert alert-danger alert-block"><strong>Error!</strong> <p>{{ user_email }} is already a registry member.</p></div>
	<p><a href="{% url 'user_management_manage_registry_user' %}">Go back</a></p>
	{% else %}
		<h3 class="body-bh">Add {{ user_email }} as a registry user</h3>
	{% if target_user = None %}
	<form method="post">
          {% csrf_token %}
              <fieldset>
              <span class="field-error">{{ form.non_field_errors }}</span>
            {% for field in form %}
              <label for="id_{{ field.name }}">{{ field.label }}</label>              {{ field }}
              {% if field.errors %}                {% for error in field.errors %}<span class="field-error">{{ error }}</span>{% endfor %}
              {%elif field.help_text %}
                <span class="help-inline">{{ field.help_text }}</span>
              {% endif %}            {% endfor %}
          </fieldset>
          <button type="submit" class="btn">Add registry user</button>
          <a href="{% url 'user_management_manage_registry_user' %}">Cancel</a>
    </form>
    {% else %}
        <p>{{ user_email }} already has an account.  Would you like to give this user registry powers?</p>
        <form method="post">
        {% csrf_token %}
    <button type="submit" class="btn">Give this user registry powers</button>
          <a href="{% url 'user_management_manage_registry_user' %}">Cancel</a>
          </form>
    {% endif %}
    {% endif %}

{% endblock %}
