{% extends "admin-layout.html" %}
{% block title %} | Remove user{% endblock %}

{% block content %}

	<h3>Remove {{ target_member.email }} from {{target_member.vesting_org.name}}?</h3>
	<br/>
	<br/>
	<p>This user will no longer be able to vest links on behalf of {{target_member.vesting_org.name}}.</p>
	<p>Do you really want to remove {{ target_member.email }} forever?</p>
	<br/>
	<form action="" method="POST">
	      {% csrf_token %}
        <a href="../">Cancel</a> <button type="submit" class="btn-success delete-confirm">Remove {{ target_member.email }} forever</button>
    </form>

{% endblock %}
