{% extends "admin-layout.html" %}

{% block title %} | Add user{% endblock %}

{% block content %}

	{% if cannot_add %}
	<div class="alert alert-danger alert-block"><strong>Error!</strong> <p>{{ user_email }} is already affiliated and cannot be added to your registrar.</p></div>
	<br>
	<p><a href="{% url 'user_management_manage_registrar_user' %}">Go back</a></p>
	{% else %}
	<h3 class="body-bh">Add {{ user_email }} as a registrar user</h3>
	{% if target_user = None %}
	<form method="post">
          {% csrf_token %}
              <fieldset>
              <span class="field-error">{{ form.non_field_errors }}</span>
            {% for field in form %}
              <label for="id_{{ field.name }}">{{ field.label }}</label>              {{ field }}
              {% if field.errors %}                {% for error in field.errors %}<span class="field-error">{{ error }}</span>{% endfor %}
              {%elif field.help_text %}
                <span class="help-inline">{{ field.help_text }}</span>
              {% endif %}            {% endfor %}
          </fieldset>
          <button type="submit" class="btn btn-success">Add registrar user</button>
          <a href="{% url 'user_management_manage_registrar_user' %}">Cancel</a>
    </form>
    {% else %}
        <p>{{ user_email }} already has an account.  Would you like to add this user to {% if request.user.is_registrar_member %}{{ request.user.registrar.name }}{% else %}a registrar{% endif %}?</p>
        <form method="post">
        {% csrf_token %}
        <fieldset>
              <span class="field-error">{{ form.non_field_errors }}</span>
            {% for field in form %}
              <label for="id_{{ field.name }}">{{ field.label }}</label>              {{ field }}
              {% if field.errors %}                {% for error in field.errors %}<span class="field-error">{{ error }}</span>{% endfor %}
              {%elif field.help_text %}
                <span class="help-inline">{{ field.help_text }}</span>
              {% endif %}            {% endfor %}
          </fieldset>
    <button type="submit" class="btn btn-success">Add as a registrar user</button>
          <a href="{% url 'user_management_manage_registrar_user' %}">Cancel</a>
          </form>
    {% endif %}
    {% endif %}

{% endblock %}
