{% extends "admin-layout.html" %}
{% block title %} | Delete user{% endblock %}

{% block content %}

	<h3>Delete {{ target_member.email }}</h3>
	<br/>
	<br/>
	<p>Yahowza! Do you really want to {% if target_member.is_confirmed %}deactivate {{ target_member.email }}{% else %}delete {{ target_member.email }} forever{% endif %}?</p>
	<br/>
	<form action="" method="POST">
	    {% csrf_token %}
        <a href="../">Cancel</a>
        <button type="submit" class="btn-success delete-confirm">
            {% if target_member.is_confirmed %}Deactivate{% else %}Delete {{ target_member.email }} forever{% endif %}
        </button>
    </form>

{% endblock %}
