{% extends "admin-layout.html" %}
{% block title %} | Leave vesting organization{% endblock %}

{% block content %}

	<h3>Leave {{ user.vesting_org.name }}</h3>
	<br/>
	<br/>
	<p>Yahowza! Do you really want to leave {{ user.vesting_org.name }} forever?</p>
	<div class="alert alert-danger">You will lose vesting privileges.</div>
	<br/>
	<form action="" method="POST">
	      {% csrf_token %}
        <a href="../">Cancel</a> <button type="submit" class="btn-success delete-confirm">Leave {{ user.vesting_org.name }} forever</button>
    </form>

{% endblock %}
