{% extends "admin-layout.html" %}
{% block title %} | Remove user{% endblock %}

{% block content %}

	<h3 class="body-bh">Remove {{ target_member.email }} from {{target_member.registrar.name}}?</h3>
	<p>This user will no longer be able to create vesting organizations and users on behalf of {{target_member.registrar.name}}.</p>
	<p>Do you really want to remove {{ target_member.email }} forever?</p>
		<form action="" method="POST">
	      {% csrf_token %}
        <a class="btn cancel" href="../">Cancel</a> <button type="submit" class="btn btn-success delete-confirm">Remove {{ target_member.email }} forever</button>
    </form>

{% endblock %}
