{% extends "admin-layout.html" %}

{% block title %} | {% if request.user.is_registrar_user %}Sponsor user{% else %}Add sponsorship to user {% endif %}{% endblock %}

{% block adminContent %}

  <h3 class="body-bh">{% if request.user.is_registrar_user %}Sponsor {{ user_email }}{% else %}Add sponsorship to {{ user_email }}{% endif %}</h3>

  {% if not form %}
    <p>{{ error_message }}</p>
  {% else %}

    {% if object.id %}
      <p>{{ user_email }} already has an account.  Would you like to {% if request.user.is_registrar_user %}sponsor them{% else %}add a sponsorship{% endif %}?</p>
    {% endif %}

    <form class="add-user" method="post">
      {% csrf_token %}
      {% include "includes/fieldset.html" %}
      <button type="submit" class="btn">{% if request.user.is_registrar_user %}Sponsor{% else %}Add sponsorship{% endif %}</button>
      <a href="{% url 'user_management_manage_sponsored_user' %}" class="btn cancel">Cancel</a>
    </form>
    <script>
      const checkbox = document.getElementById("id_a-indefinite_sponsorship");
      const datetimeField = document.getElementById("id_a-expires_at");
      const datetimeFieldLabel = document.querySelector('label[for="id_a-expires_at"]');

      const toggleExpirationDateField = () => {
        const displayStyle = checkbox.checked ? "none" : "block";
        datetimeField.style.display = displayStyle;
        datetimeFieldLabel.style.display = displayStyle;
      };

      document.addEventListener("DOMContentLoaded", toggleExpirationDateField);
      checkbox.addEventListener("change", toggleExpirationDateField);
    </script>

  {% endif %}
{% endblock %}



Sponsor user
