{% extends "layout.html" %}
{% block title %} | Admin{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css">
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span2">
	  {% include "manage-navbar.html" %}

  </div> <!--span-->
  <div class="span9 offset1">
    <h3>Admin</h3>
    {% if user.groups.all.0.name == 'registry_member' %}
    <!--<h3>You are a registry member at {{user.get_profile.registrar.name}} </h3>-->
    {% endif %}
  </div>
</div> <!--row-->
{% endblock %}

{% block scripts %}
{% endblock %}