{% extends "layout.html" %}
{% block title %} | Registrar members{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css">
{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<h3>Existing registrar members</h3>
		
	<table class="table">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      {% for registrar_member in registrar_members %}
        <tr>
          <td><input type="checkbox"></td>
          <td>{{ registrar_member.first_name }} {{ registrar_member.last_name }}</td>
          <td>{{ registrar_member.email }}</td>
          <td>{{ registrar_member.username }}</td>
      {% empty %}
        <tr>No registrar members found.</tr>
      {% endfor %}
    </tbody>
  </table>

		{% ifequal user.groups.all.0.name 'registry_member' %}
		<form action="" method="post" class="embedded-form">
			{% csrf_token %}

			<h4>Add a new registrar member</h4>
			{{ form }}
			<br />
			<button type="submit" class="btn btn-primary">Create new registrar member</button>
		</form>
		{% endifequal %}
	</div> <!--span-->
</div> <!--row-->

{% endblock %}

{% block scripts %}
{% endblock %}