{% extends "layout.html" %}
{% block title %} | Journal members{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css">
{% endblock %}

{% block content %}

<div class="row-fluid white-box">
	<div class="span3">
    {% include "manage-navbar.html" %}
  </div> <!--span-->
	<div class="span9">
		<h3>Existing journal members</h3>
		
	<table class="table">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      {% for member in journal_members %}
        <tr>
          <td><input type="checkbox"></td>
          <td>{{ member.first_name }} {{ member.last_name }}</td>
          <td>{{ member.email }}</td>
          <td>{{ member.username }}</td>
      {% empty %}
        <tr>No journal members found.</tr>
      {% endfor %}
    </tbody>
  </table>

    <form class="embedded-form" method="post">
      {% csrf_token %}
		  <h4>Add a new journal member</h4>
		  <fieldset>
        {% for field in form %}
          <label for="id_{{ field.name }}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            {% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
          {%elif field.help_text %}
            <span class="help-inline">{{ field.help_text }}</span>
          {% endif %}
        {% endfor %}  
      </fieldset>
      <button type="submit" class="btn">Add journal member</button>
    </form>
	</div> <!--span-->
</div> <!--row-->

{% endblock %}

{% block scripts %}
{% endblock %}