{% extends "layout.html" %}
{% block title %} | Registrar members{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css">
{% endblock %}

{% block content %}

<div class="row-fluid">
	<div class="span2">
	  {% include "manage-navbar.html" %}
  </div> <!--span-->
	<div class="span9 offset1">
		<h3>Existing registrar members</h3>
		
	<table class="table">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      {% for registrar_member in registrar_members %}
        <tr>
          <td><input type="checkbox"></td>
          <td>{{ registrar_member.first_name }} {{ registrar_member.last_name }}</td>
          <td>{{ registrar_member.email }}</td>
          <td>{{ registrar_member.username }}</td>
      {% empty %}
        <tr>No registrar members found.</tr>
      {% endfor %}
    </tbody>
  </table>

		{% ifequal user.groups.all.0.name 'registry_member' %}
		<!--<form action="" method="post" class="embedded-form">
			{% csrf_token %}

			<h4>Add a new registrar member</h4>
			{{ form }}
			<br />
			<button type="submit" class="btn btn-primary">Add new registrar member</button>
		</form>-->
		
    <form class="embedded-form" method="post">
      {% csrf_token %}
		  <h4>Add a new registrar member</h4>
		  <fieldset>
        {% for field in form %}
          <label for="id_{{ field.name }}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            {% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
          {%elif field.help_text %}
            <span class="help-inline">{{ field.help_text }}</span>
          {% endif %}
        {% endfor %}  
      </fieldset>
      <button type="submit" class="btn">Add registrar member</button>
    </form>
		{% endifequal %}
	</div> <!--span-->
</div> <!--row-->

{% endblock %}

{% block scripts %}
{% endblock %}