{% extends "layout.html" %}
{% block title %} | Journal members{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css">
{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<h3>Existing journal members</h3>
		
	<table class="table">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      {% for member in journal_members %}
        <tr>
          <td><input type="checkbox"></td>
          <td>{{ member.first_name }} {{ member.last_name }}</td>
          <td>{{ member.email }}</td>
          <td>{{ member.username }}</td>
      {% empty %}
        <tr>No journal members found.</tr>
      {% endfor %}
    </tbody>
  </table>

		<form action="" method="post" class="embedded-form">
			{% csrf_token %}

			<h4>Add a new journal member</h4>
			{{ form }}
			<br />
			<button type="submit" class="btn btn-primary">Add journal member</button>
		</form>
	</div> <!--span-->
</div> <!--row-->

{% endblock %}

{% block scripts %}
{% endblock %}