{% extends "layout.html" %}
{% block title %} | Registrars{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css">
{% endblock %}

{% block content %}

<div class="row-fluid white-box">
  <div class="span3">
	{% include "manage-navbar.html" %}
  </div> <!--span-->
	<div class="span9">
		<h3>Existing registrars</h3>
		
		<table class="table">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for registrar in registrars %}
        <tr>
          <td><input type="checkbox"></td>
          <td>{{ registrar.name }}</td>
      {% empty %}
        <tr>No registrars found.</tr>
      {% endfor %}
    </tbody>
  </table>

		<!--<form action="" method="post" class="embedded-form">
			{% csrf_token %}

			<h4>Add a new registrar</h4>
			{{ form }}
			<br />
			<button type="submit" class="btn btn-primary">Create new registrar</button>
		</form>-->
		
		<form action="" method="post" class="embedded-form form-inline">
		  {% csrf_token %}
      {{ form.non_field_errors }}
      <h4>Add a new registrar</h4>
        {{ form.name.errors }}
        <label for="id_a-name">Name</label>
        {{ form.name }}
      <button type="submit" class="btn">Create new registrar</button>
    </form>
	</div> <!--span-->
</div> <!--row-->

{% endblock %}

{% block scripts %}
{% endblock %}