{% extends "admin-layout.html" %}
{% block title %} | Journal members{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
{% endblock %}

{% block content %}

	<h3>Delete {{ target_member.username }}</h3>
	
	<p>Yahowza! Do you really want to delete {{ target_member.username }} forever?</p>
	
	<form action="{% url user_management_manage_single_journal_member_delete target_member.id %}" method="POST">
	      {% csrf_token %}
	
        <button type="submit">Delete {{ target_member.username }} forever</button>
    </form>

{% endblock %}

{% block scripts %}
{% endblock %}