{% extends "admin-layout.html" %}
{% block title %} | Journal members{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
{% endblock %}

{% block content %}

	<h3>Edit journal member</h3>

    <form method="post">
      {% csrf_token %}
		  <fieldset>
        {% for field in form %}
          <label for="id_{{ field.name }}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            {% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
          {%elif field.help_text %}
            <span class="help-inline">{{ field.help_text }}</span>
          {% endif %}
        {% endfor %}  
      </fieldset>
      <button type="submit" class="btn">Save changes</button>
    </form>

	<a href="{% url user_management_manage_single_journal_member_delete target_member.id %}"><span class="text-error"><i class="icon-trash"></i> Delete this user</span><!--{{target_member.username}}--></a>

{% endblock %}

{% block scripts %}
{% endblock %}