# After updating this file, run `pip-compile --allow-unsafe --generate-hashes` to update requirements.txt.

Fabric3                             # task automation
tqdm                                # progress bar in dev fab tasks
requests
pyquery
pytest
pytest-cov
playwright==1.18.2
pytest-playwright==0.2.2

# dev
pip-tools