body, .modal {
	background-image:url('../img/brickwall.png');
	background-color:#cccccc;
	border-radius:3px;
}

/*/ 
Background by Benjamin Ward.
This pattern is downloaded from www.subtlepatterns.com 
If you need more, that's where to get'em.
/*/
 
#linky-confirm {
	width: 900px; /* SET THE WIDTH OF THE MODAL */
	margin-left: -450px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}

#linky-desc {
  float:left;
  margin-left:15px;
  width:320px;
}

.unavailable {
    opacity: .6;
}

#linky-preview img {
  max-width:500px;
}

#linky-preview {
  max-height:400px;
  width:515px;
  border:1px solid #ddd;
  overflow:auto;
}

.border {
	 border:1px solid #ddd;
}

#linkyUrl {
  height:140px;
}

#linky_title {
  margin-top:10px;
  display:block;
}

#saveLinky {
  margin-top:45px;
}

#linky-list {
  display:none;
}

#linky-list th {
  width:200px;
}

.linky-ul-header {
	margin-top:5px;
}

#linky-ul {
  list-style:none;
  margin-left:0;
  margin-top:15px;
}

#linky-ul li {
  margin-top:20px;
}

#linky-ul li p a{

}

#linky-ul li h4 {
  margin-bottom:0px;
}

#linky-ul li h4 a {
	color: #003355;
}

.big {
	font-size:24px;
	color:#09f;
}


.big:hover {
	color:#06f;
}

header {
	margin-top:25px;	
}

.loading-icon {
	height:2px;
}

.logo {
	color:#035;
}

.logo-big {
	color:#035;
	font-size:48px;
}

.logo-img {
	width:30px;
	margin-top:-116px;
	margin-left:70px;
}

.logo-big-img {
	width:37px;
	margin-top:-123px;
	margin-left:88px;
}

.jumbo {
	color:#09f;
	padding-bottom:20px;
}

h3 {
	color:#999;
	line-height: 30px;
}

.center {
	text-align:center;
}

.red {
	background: red;
}
img.linky-image, img.linky-image-preview {
	border:1px solid #ccc;
	margin-bottom:40px;
	border-radius:3px;
	-moz-box-shadow: 0 0 2px 2px #eee;
	-webkit-box-shadow: 0 0 2px 2px#eee;
	box-shadow: 0 0 2px 2px #eee;
	background:#fff;
}

img.linky-image-preview {
	width:300px;
}

img.watermark-image {
position:relative;
margin:auto;
border:none;
	margin-bottom:-450px;
	border-radius:3px;
	-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
background:repeat;
opacity:.4;
}

p.definition {
	color:#999;
	margin-top: 20px;
	margin-bottom: -10px;
	text-align: center;
}
a.grey {
	color:#999;
}
.indexed {
	margin-bottom:15px;
}

.manage-nav {
  margin-top:10px;
}

.favicon-preview {
    float: left;
    max-height: 16px;
    max-width: 16px;

}

.recent-linky-summary {
    margin-left: 27px;
}


h2, h3 {
	font-weight:normal;
	color: #4694a9;
	text-shadow: 0px 1px 0px #1e4049, 
				 0px -1px 0px #fff; 
}

h3 {
	font-size:21.5px;
}

h4 {
	font-weight:normal;
	color: #777;
}

h1.big-logo {
	
}

.span4 img {
	width:50%;
}

ul#linky-ul li {
	margin-left:24px;
}

img.favicon-preview {
	margin-left:-20px;
}

footer {
	background:red;
	height:100%;
	margin-bottom:0;
}

.embedded-form fieldset {
  margin-top:25px;
  margin-bottom:15px;
}
