#linky-confirm {
	width: 900px; /* SET THE WIDTH OF THE MODAL */
	margin-left: -450px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}

#linky-desc {
  float:left;
  margin-left:15px;
  width:320px;
}

#linky-preview img {
  max-width:500px;
}

#linky-preview {
  max-height:400px;
  width:515px;
  border:1px solid #ddd;
  overflow:auto;
}

#linkyUrl {
  height:100px;
}

#saveLinky {
  margin-top:45px;
}

#linky-list {
  display:none;
}

#linky-list th {
  width:200px;
}



.big {
	font-size:24px;
	color:#09f;
}


.big:hover {
	color:#06f;
}

header {
	margin-top:25px;	
}

.loading-icon {
	height:2px;
}

.logo {
	color:#035;
}

.logo-big {
	color:#035;
	font-size:48px;
}

.logo-img {
	width:30px;
	margin-top:-116px;
	margin-left:70px;
}

.logo-big-img {
	width:37px;
	margin-top:-123px;
	margin-left:88px;
}

.jumbo {
	color:#09f;
	padding-bottom:20px;
}

.center {
	text-align:center;
	margin:auto;
}

.jumbo img {
	border:1px solid #ccc;
	margin-bottom:40px;
	border-radius:3px;
	-moz-box-shadow: 0 0 2px 2px #eee;
-webkit-box-shadow: 0 0 2px 2px#eee;
box-shadow: 0 0 2px 2px #eee;
}

img.watermark-image {
position:relative;
margin:auto;
border:none;
	margin-bottom:-450px;
	border-radius:3px;
	-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
background:repeat;
height:300px;

opacity:.4;
}

.indexed {
	margin-bottom:15px;
}