<div class="container cont-full-bleed overview">
  <div class="container cont-full-bleed cont-sm-fixed">
    <div class="row row-no-bleed">
      <div class="col col-sm-by4 overview-module col-no-gutter {% if this_page == 'individual' %}_active{% endif %}">
        <a class="overview-module-content" href="{% url 'sign_up' %}">
          <strong class="overview-module-title">Individual</strong>
          <p class="overview-module-description">Anyone can create an account and start creating Perma Links.</p>
        </a>
      </div>
      <div class="col col-sm-by4 overview-module col-no-gutter {% if this_page == 'sign_up_libraries' %}_active{% endif %}">
        <a class="overview-module-content" href="{% url 'sign_up_libraries' %}">
          <strong class="overview-module-title">Libraries</strong>
          <p class="overview-module-description">Libraries play a critical role in powering and supporting Perma.cc.</p>
        </a>
      </div>
      <div class="col col-sm-by4 overview-module col-no-gutter {% if this_page == 'courts' %}_active{% endif %}">
        <a class="overview-module-content" href="{% url 'sign_up_courts' %}">
          <strong class="overview-module-title">Courts</strong>
          <p class="overview-module-description">Courts care about the accuracy, integrity and reliability of the citations in their opinions.</p>
        </a>
      </div>
      <div class="col col-sm-by4 overview-module col-no-gutter {% if this_page == 'firms' %}_active{% endif %}">
        <a class="overview-module-content" href="{% url 'sign_up_firm' %}">
          <strong class="overview-module-title">Other Organizations</strong>
          <p class="overview-module-description">There are many applications for Perma.cc citation preservation tools.</p>
        </a>
      </div>
    </div>
  </div>
</div>
