{% extends "layout-responsive.html" %}
{% block title %} | 500{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
    	<div class="col-sm-12">
			<h2>HTTP 500. Sorry. Something went wrong. Please drop us a note using our <a href="#" data-toggle="modal" data-target="#feedbackModal">feedback tool</a> and tell us what happened.</h2>
		</div>
		</div> <!--/.row -->
</div><!--/.container-->
{% endblock %}


{% block scripts %}
<script>
  var mirror_server_host = "http://{{request.mirror_server_host}}";
  var csrf_token = "{{csrf_token}}";
</script>
<script src="{{ STATIC_URL }}js/ZeroClipboard/ZeroClipboard.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.form.min.js"></script>
<script src="{{ STATIC_URL }}js/swfobject.js"></script>
<script src="{{ STATIC_URL }}js/holder.js"></script>
{% endblock %}
{% block templates %}

{% endblock templates %}