{% extends "layout-responsive.html" %}
{% load file_exists %}
{% block title %} | About{% endblock %}

{% block content %}
<div class="container">
<h2>About Perma</h2>

<div class="row">
	<div class="col-sm-6 column">	
		<p>Perma.cc is a service that helps scholars, courts and others create web citation links that will never break.</p>
		
		<p>When a user creates a Perma.cc link, Perma.cc archives the referenced content and generates a link to an archived record of the page. Regardless of what may happen to the original source, the archived record will always be available through the Perma.cc link. To learn more about how Perma.cc works, please take a look at our <a href="{% url 'docs' %}">user guide</a>.</p>
	</div>
	<div class="col-sm-6 column">	
		<p>Perma.cc is developed and maintained by the Harvard Law School Library in conjunction with university law libraries across the country and other organizations in the “forever” business.</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 column">	
		<h3>Why use Perma.cc</h3>
		
		<p><a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=2329161">In a sample of several legal journals</a>, approximately 70% of all links in citations published between 1999 and 2011 no longer point to the same material.  Broken links in journal articles undermine the citation-based system of legal scholarship by obscuring the evidence underlying authors’ ideas.</p>
		
		<p>As Internet usage becomes more widespread and web citations in legal scholarship become more common, the problem of link rot will become increasingly important.</p>
		
		<p>Using Perma.cc ensures that material cited by authors will always be accessible to readers, preserving the foundation of legal scholarship online.</p>
	</div>
	<div class="col-sm-6 column">	
		<h3>How it works</h3>
		
		<p>Any author can go to the Perma.cc website and input a URL. Perma.cc downloads the material at that URL and gives back a new URL (a “Perma.cc link”) that can then be inserted in a paper.</p>
		
		<p>After the paper has been submitted to a journal, the journal staff checks that the provided Perma.cc link actually represents the cited material. If it does, the staff “vests” the link and it is forever preserved.  Links that are not “vested” will be preserved for two years, at which point the author will have the option to renew the link for another two years.</p>
		
		<p>Readers who encounter Perma.cc links can click on them like ordinary URLs. This takes them to the Perma.cc site where they are presented with a page that has links both to the original web source (along with some information, including the date of the Perma.cc link’s creation) and to the archived version stored by Perma.cc.</p>
	</div>
</div>	


<div class="row">
	<div class="col-sm-12 column">
	    <h3>Perma Partners</h3>
    </div>
</div>

<div class="row partner-list">
    {% for partner in partners %}
        <div class="col-sm-12 column">
            <a href="{{ partner.website }}">{{ partner.partner_display_name|default:partner.name }}</a>
        </div>
    {% endfor %}
</div>


<div class="row">
	<div class="col-sm-offset-3 col-sm-6 column">
	<h3>Explore our Stats</h3>
		<a href="{% url 'global_stats' %}"><img class="stats-graph" src="{{ STATIC_URL }}img/graph-illus.png" alt="A placeholder graph showing a potential Perma.cc growth curve."/></a><p class="right">We've put together a <a href="{% url 'global_stats' %}">Stats page</a> to begin to visualize activity.</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 column">
		<h3>Contact</h3>
		
		<p>For more information, please contact email us at <a href="mailto:info@perma.cc">info@perma.cc</a></p>
		<br/>
		<br/>
	</div>
</div>	
{% endblock %}
