{% extends "layout-responsive.html" %}
{% load startswith has_group %}

{% block styles %}
    {# put in styles because this has to be available during page load #}
    <script src="{{ STATIC_URL }}js/local-datetime.js"></script>
{% endblock %}

{% block row %}

<div id="dashboard-container">

<div class="col-sm-3">	

    <!-- Dashboard tabs -->
    <ul class="nav nav-pills nav-stacked" id="dashboard-tabs">

        <li{% if this_page == 'create_link' %} class="active"{% endif %}><a href="{% url 'create_link' %}" id="dashboard-add">Create</a></li>
        
        <li{% if this_page == 'created_links' %} class="active"{% endif %}><a href="{% url 'created_links' %}" id="dashboard-library">Links</a></li>

        <!-- Vested links -->
        {% if request.user|has_group:'registrar_member,registry_member,vesting_member,vesting_manager' %}
            <li{% if this_page == 'vested_links' %} class="active"{% endif %}><a href="{% url 'vested_links' %}" id="dashboard-vested">Vested Links</a></li>
        {% endif %}<!-- FIXME change icon -->
		
		{% comment %}
        <!-- Batch convert -->
        <!-- TODO add view and template -->
        <li{% if this_page == 'batch_convert' %} class="active"{% endif %}><a href="{% url 'user_management_batch_convert' %}" id="dashboard-batch-convert">Batch Convert</a></li>

        <!-- Export -->
        <!-- TODO add view and template -->
        <li{% if this_page == 'export' %} class="active"{% endif %}><a href="{% url 'user_management_export' %}" id="dashboard-export">Export</a></li>

        <!-- Custom Domain -->
        <!-- TODO add view and template -->
        <li{% if this_page == 'custom_domain' %} class="active"{% endif %}><a href="{% url 'user_management_custom_domain' %}" id="dashboard-custom-domain">Custom Domain</a></li>
		{% endcomment %}

        <!-- Settings -->
        <li{% if this_page == 'settings' %} class="active"{% endif %}><a href="{% url 'user_management_manage_account' %}" id="dashboard-settings">Tools &amp; Settings</a></li>

        <!-- Manage users -->
        {% if request.user|has_group:'registrar_member,registry_member,vesting_manager' %}
        <li{% if this_page|startswith:"users" %} class="active"{% endif %}><a href="javascript:void(0);" id="dashboard-users">Manage Users</a></li>
        {% endif %}

        <!-- Registrars and registrar users -->
        {% if request.user|has_group:'registry_member' %}
        <li class="dashboard-secondary users-secondary"{% if this_page|startswith:"users" %} style="display: list-item;"{% endif %}><a {% if this_page == "users_registrars" %}class="active" {% endif %}href="{% url 'user_management_manage_registrar' %}">Registrars</a></li>
        <li class="dashboard-secondary users-secondary"{% if this_page|startswith:"users" %} style="display: list-item;"{% endif %}><a {% if this_page == "users_registrar_members" %}class="active" {% endif %}href="{% url 'user_management_manage_registrar_member' %}">Registrar Users</a></li>{% endif %}
        
        <!-- Vesting managers aka journal managers -->
        {% if request.user|has_group:'registrar_member,registry_member' %}
        <li class="dashboard-secondary users-secondary"{% if this_page|startswith:"users" %} style="display: list-item;"{% endif %}><a {% if this_page == "users_vesting_orgs" %}class="active" {% endif %}href="{% url 'user_management_manage_vesting_org' %}">Vesting Organizations</a></li>
        <li class="dashboard-secondary users-secondary"{% if this_page|startswith:"users" %} style="display: list-item;"{% endif %}><a {% if this_page == "users_vesting_managers" %}class="active" {% endif %}href="{% url 'user_management_manage_vesting_manager' %}">Vesting Managers</a></li>
        {% endif %}

        <!-- Vesting users -->
        {% if request.user|has_group:'registrar_member,registry_member,vesting_manager' %}
        <li class="dashboard-secondary users-secondary"{% if this_page|startswith:"users" %} style="display: list-item;"{% endif %}><a {% if this_page == "users_vesting_members" %}class="active" {% endif %}href="{% url 'user_management_manage_vesting_member' %}">Vesting Users</a></li>
        {% endif %}
        
        <!-- Regular users -->
        {% if request.user|has_group:'registry_member' %}
        <li class="dashboard-secondary users-secondary"{% if this_page|startswith:"users" %} style="display: list-item;"{% endif %}><a {% if this_page == "users_users" %}class="active" {% endif %}href="{% url 'user_management_manage_user' %}">Users</a></li>{% endif %}
    </ul><!--/#dashboard-tabs-->
</div><!--/col-sm-3-->
   
   
   <!-- Dashboard tab content -->
    <div class="tab-content col-sm-9">
        <div class="tab-pane active">
        {% block content %}{% endblock content %}
        </div><!--/.tab-pane-->
    </div><!--/.tab-content-->

</div><!--/#dashboard-container-->

{% comment %}

<div class="row-fluid white-box">
	<div class="col-sm-3">
    <ul class="nav nav-list manage-nav">
      {% if user.is_authenticated %}
      {% block manage-created-links %}<li><a href="{% url 'created_links' %}">Created links</a></li>{% endblock %}
      {% endif %}
      {% if user|has_group:'registrar_member,registry_member,vesting_member' %}
      {% block manage-nav-links %}<li><a href="{% url 'vested_links' %}">Vested links</a></li>{% endblock %}
      {% endif %}
      {% if user|has_group:'registrar_member,registry_member' %}
      <li><h3><small>Manage users</small><h3></li>
      {% endif %}
      {% if user|has_group:'registry_member' %}
      {% block manage-nav-registrar %}<li><a href="{% url 'user_management_manage_registrar' %}">Registrars</a></li>{% endblock %}
      {% block manage-nav-registry %}<li><a href="{% url 'user_management_manage_registrar_member' %}">Registrar users</a></li>{% endblock %}
      {% endif %}
      
      {% if user|has_group:'registrar_member,registry_member' %}
      {% block manage-nav-journal %}<li><a href="{% url 'user_management_manage_journal_member' %}">Vesting users</a></li>{% endblock %}
      {% endif %}
          
      {% if user|has_group:'vesting_member' %}
      {% block manage-nav-sponsor %}<li><a href="{% url 'user_management_sponsoring_library' %}">Sponsoring library</a></li>{% endblock %}
      {% endif %}
          
      {% if user|has_group:'vesting_member,registrar_member,registry_member' %}
      <!--<li class="divider"></li>-->
      {% endif %}
          
      {% if user.is_authenticated %}
      <li class="divider"></li>
      {% block manage-nav-settings %}<li><a href="{% url 'user_management_manage_account' %}">Account settings</a></li>{% endblock %}
      {% endif %}
    </ul>

  </div> <!--span-->

{% endcomment %}


</div> <!--row-->
{% endblock %}

{% block scripts %}
<script>

$(document).ready(function(){
    // Toggle users dropdown
    $('#dashboard-users').click(function(){
        $('.users-secondary').toggle();
    });
});

</script>
{% endblock scripts %}
