{% extends "layout-responsive.html" %}
{% load pipeline %}

{% block row %}

<div class="container container-full" id="dashboard-container">
   <!-- Dashboard tab content -->
    <div class="tab-content col-sm-12">
        <div class="tab-pane active">
        {% block content %}{% endblock content %}
        </div><!--/.tab-pane-->
    </div><!--/.tab-content-->
</div><!--/#dashboard-container-->

{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% javascript 'admin' %}
{% endblock scripts %}
