{% extends "layout-responsive.html" %}
{% load startswith has_group %}

{% block styles %}
    {# put in styles because this has to be available during page load #}
    <script src="{{ STATIC_URL }}js/local-datetime.js "></script>
{% endblock %}

{% block row %}

<div id="dashboard-container">
   <!-- Dashboard tab content -->
    <div class="tab-content col-sm-12">
        <div class="tab-pane active">
        {% block content %}{% endblock content %}
        </div><!--/.tab-pane-->
    </div><!--/.tab-content-->

</div><!--/#dashboard-container-->
</div> <!--row-->
{% endblock %}

{% block globaljs %}
<script src="{{ STATIC_URL }}js/handlebars.js"></script>
<script src="{{ STATIC_URL }}js/handlebars_helpers.js"></script>
{% include 'js_config.html' %}
<script>
    // current user
    var current_user = {
      has_group: function(group){
        return true;
      }
    };

    // templates
    var templates = {};
    $(function(){
      $("script[type='text/x-handlebars-template']").each(function(){
        var $this = $(this),
            name = $this.attr('id').replace('-template', '').replace(/-/g, '_');
        templates[name] = Handlebars.compile($this.html());
      });
    });
</script>
{% endblock %}

{% block scripts %}
<script>

$(document).ready(function(){
    // Toggle users dropdown
    $('.manage-users-button').click(function(){
        $('.users-secondary').toggle();
    });
});

</script>


{% endblock scripts %}
