<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Perma{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="IE=8">
        <meta name="google" value="notranslate" />
        <!-- TODO add default meta description -->
        <meta name="description" content="{% block meta_description %} Broken links are everywhere. Perma helps authors and journals create permanent links for citations in their published work.{% endblock %}">
        {% block meta-head %}{% endblock %}
        <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap3.css">
        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style-responsive.css">
        {% block styles %}{% endblock %}
        <!--
        <script type="text/javascript" src="//use.typekit.net/pjl6esq.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
  			<script src="{{ STATIC_URL }}js/html5shiv.js"></script>
  			<script src="{{ STATIC_URL }}js/respond.js"></script>
		<![endif]-->
    </head>
    <body>
		{% block header %}{% endblock header %}
		<section id="main-archive">
			<div id="main-content">
				<div class="row">
			{% block row %}{% endblock row %}
				</div><!--/.row-fluid-->
			</div><!--/.main-container #main-content"-->
		</section><!--/#main-->


    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap3.js"></script>
    <script src="{{ STATIC_URL }}js/global.js"></script>
    {% block scripts %}
    {% endblock %}   
    
    {% block templates %}
    {% endblock %}
    <script type="text/javascript">
      var fby = fby || [];
      (function () {
          var f = document.createElement('script'); f.type = 'text/javascript'; f.async = true;
          f.src = '//cdn.feedbackify.com/f.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(f, s);
      })();
    </script>
    {{ analytics_code }}
  </body>
</html>