{% load django_vite %}<!DOCTYPE html>
<html lang="en-us">
  {# Template is used at perma-archives and at perma; links should point to perma #}
  {% with base_url=request.scheme|add:"://"|add:HOST %}

  <head>
    <title>Perma.cc{% block title %}{% endblock %}</title>

    <!-- currently 'edge' or nothing seems to be the best IE mode for modern sites -- see http://stackoverflow.com/a/8942455 -->
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <meta charset="utf-8">
    <meta name="description" content="{% block meta_description %} Broken links are everywhere. Perma helps authors and journals create permanent links for citations in their published work.{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@permacc">
    <meta name="twitter:title" content="Websites change. Perma Links don't.">
    <meta name="twitter:description" content="Perma.cc helps scholars, journals, courts, and others create permanent records of the web sources they cite.">
    <meta name="twitter:image" content="{{ base_url }}{{ STATIC_URL }}img/create-step-4.png?cache-buster=10">

    <meta property="og:title" content="Websites change. Perma Links don't.">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Perma">
    <meta property="og:url" content="{{ base_url }}">
    <meta property="og:image" content="{{ base_url }}{{ STATIC_URL }}img/sharing/blue_logo.png?cache-buster=10">

    {% block meta %}{% endblock %}
    <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    
    <!--Python variables for use in Javascript -->
    {% include 'js_config.html' %}
    
    {% vite_hmr_client %}
    {% vite_asset 'js/global.js' %}
    {% block scripts %}{% endblock %}
    {% block header_scripts %}{% endblock %}
    {% block styles %}{% endblock %}

  </head>
  <body class="{% block bodyFlags %}{% endblock bodyFlags %}">
    {% block modals %}{% endblock modals %}
    <div id="after-modals">
      <a href="#main-skip-target" class="skip-link">Skip to main content</a>
      <a href="#footer-skip-target" class="skip-link">Skip to footer</a>
      <header class="_default">
        <nav class="navbar navbar-default navbar-static-top" aria-labelledby="upper_right_menu_name">
          <div class="container cont-fixed">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#upper_right_menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" aria-hidden="true"></span>
                <span class="icon-bar" aria-hidden="true"></span>
                <span class="icon-bar" aria-hidden="true"></span>
              </button>
              <div class="navbar-brand logo">
                <a href="{{ base_url }}{% url 'landing' %}">Perma.cc<span class="sr-only">Home</span><img alt="infinity symbol logo" class="infinity-logo" src="{{ STATIC_URL }}img/perma-logo-orange.svg"></a>
              </div>
            </div>
            {% include 'includes/upper_right_menu.html' %}
          </div><!--/container -->
        </nav><!--/navbar -->
      </header>

      <main id="main" class="{% block mainFlags %}{% endblock mainFlags %}">
        {% if this_page != 'landing' and this_page != 'manage' %}
          <div id="main-content" class="container cont-full-bleed">
        {% endif %}

        {% block defaultSkipTarget %}
          {% comment %}
            Override this block in child templates with an empty block,
            if you want to provide a template-specific skip target.
            Then, place exactly the same p tag as below in your desired location.
          {% endcomment %}
          <p id="main-skip-target" tabindex="-1" class="sr-only">Main Content</p>
        {% endblock defaultSkipTarget %}

        {% block mainContent %}{% endblock mainContent %}

        {% if this_page != 'landing' %}
          </div><!--/ #main-content"-->
        {% endif %}
      </main><!--/#main-->

      {% block footer %}
        <footer>
          <div class="container cont-fixed">
            <div class="row">
              <div class="col col-lg-6">
                <p id="footer-skip-target" tabindex="-1" class="sr-only">Footer</p>
                <nav aria-label="Learn More">
                  <ul id="footer-nav">
                    <li class="footer-nav-item"><a href="{{ base_url }}{% url 'about' %}">About</a></li>
                    <li class="footer-nav-item"><a href="{{ base_url }}{% url 'docs' %}">Guide</a></li>
                    <li class="footer-nav-item"><a href="{{ base_url }}{% url 'dev_docs' %}">Developers</a></li>
                    <li class="footer-nav-item"><a href="{{ base_url }}{% url 'contact' %}">Contact</a></li>
                    <li class="footer-nav-item"><a href="https://blogs.law.harvard.edu/perma/">Blog</a></li>
                    <li class="footer-nav-item"><a href="https://twitter.com/permacc">Twitter</a></li>
                    <li class="footer-nav-item"><a href="https://github.com/harvard-lil/perma">GitHub</a></li>
                    <li class="footer-nav-item"><a href="https://status.perma.cc/">Status</a></li>
                  </ul>
                </nav>
              </div>
              <div class="col col-lg-6">
                <nav aria-label="Terms and Conditions">
                  <ul id="boilerplate">
                    <li class="boilerplate-item"><a href="{{ base_url }}{% url 'terms_of_service' %}">Terms of Service</a></li>
                    <li class="boilerplate-item"><a href="{{ base_url }}{% url 'privacy_policy' %}">Privacy Policy</a></li>
                    <li class="boilerplate-item"><a href="{{ base_url }}{% url 'return_policy' %}">Return Policy</a></li>
                    <li class="boilerplate-item"><a href="{{ base_url }}{% url 'copyright_policy' %}">Copyright Policy</a></li>
                    <li class="boilerplate-item"><a href="https://accessibility.huit.harvard.edu/digital-accessibility-policy">Accessibility</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div><!--/container-->
        </footer>
      {% endblock %}
    </div>
    {% block templates %}{% endblock %}
  </body>
  {% include 'includes/analytics.html' %}
  {% endwith %}
</html>
