{% load compressed has_group %}<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>perma.cc{% block title %}{% endblock %}</title>

        {# currently 'edge' or nothing seems to be the best IE mode for modern sites -- see http://stackoverflow.com/a/8942455 #}
        <meta http-equiv="x-ua-compatible" content="IE=edge">

        <meta charset="utf-8" />
        <meta name="google" value="notranslate" />
        <meta name="description" content="{% block meta_description %} Broken links are everywhere. Perma helps authors and journals create permanent links for citations in their published work.{% endblock %}">
        {% block meta %}{% endblock %}  

        <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        {% compressed_css 'base' %}

        {# Python variables for use in Javascript #}
        {% include 'js_config.html' %}

        {% compressed_js 'global_head' %}
        {% block styles %}{% endblock %}
        
        <!--[if lt IE 9]>
			<script src="{{ STATIC_URL }}js/html5shiv.js"></script>
		  	<script src="{{ STATIC_URL }}js/respond.js"></script>
		<![endif]-->

    </head>
    <body>

    	<header>
    	    <div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					  
					  <div class="logo navbar-brand">
							<a href="{% url 'landing' %}">perma.cc<img class="infinity-logo" src="{{ STATIC_URL }}img/infinity-logo2.png"></a>
						</div>
					</div>
					<div class="navbar-collapse collapse">
					  <ul class="nav navbar-nav navbar-right">
					  	{% if request.user.is_authenticated %}
                            {% comment %}<li><a href="{% url 'logout' %}" style="color: #aaa;">Log out</a></li>{% endcomment %}
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle navbar-link" data-toggle="dropdown" role="button" aria-expanded="false">{{ request.user.get_short_name }} <span class="caret"></span></a>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'link_browser' %}">My links</a></li>
                                
                                {% if request.user|has_group:'registrar_user,registry_user,vesting_user' %}
                                {% if request.user|has_group:'registrar_user,registry_user' %}
                                <li class="divider"></li>
                                <li role="presentation" class="dropdown-header">Manage users</li>
                                {% endif %}
                                {% if request.user|has_group:'registry_user' %}
                                <li><a href="{% url 'user_management_manage_registrar' %}">Registrars</a></li>
                                {% endif %}
                    
                                {% if request.user|has_group:'registrar_user,registry_user' %}
                                <li><a href="{% url 'user_management_manage_registrar_user' %}">Registrar users</a></li>
                                <li><a href="{% url 'user_management_manage_vesting_org' %}">Vesting organizations</a></li>
                                <li><a href="{% url 'user_management_manage_vesting_user' %}">Vesting users</a></li>
                                {% endif %}
                    
                                <!-- Regular users -->
                                {% if request.user|has_group:'registry_user' %}
                                <li><a href="{% url 'user_management_manage_user' %}">Users</a></li>{% endif %}
                                <li class="divider"></li>
                                {% endif %}
                                
                                <!-- Vesting users -->
                                {% if request.user|has_group:'vesting_user' %}
                                <li><a href="{% url 'user_management_manage_vesting_user' %}">Manage users</a></li>
                                {% endif %}
                                {% if request.user.is_staff %}
                                <li><a href="{% url 'admin:index' %}">Admin console</a></li>
                                {% endif %}
                                <li><a href="{% url 'user_management_settings_tools' %}">Tools</a></li>
                                <li><a href="{% url 'user_management_settings_profile' %}">Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'logout' %}">Log out</a></li>
                              </ul>
                            </li>
                            <li><a href="{% url 'create_link' %}" role="button" class="btn btn-large btn-info infinity-navbar navbar-btn" data-toggle="tooltip" title="Create Perma archive"><img src="{{ STATIC_URL }}img/infinity-white.png" alt="Loading..." /></a></li>
						{% else %}
                            <li><a href="{% url 'about' %}" class="navbar-link{% if this_page == 'about' %} this-page{% endif %}">About</a></li>
                            <li><a href="{% url 'user_management_limited_login' %}" class="navbar-link">Log in</a></li>
                            {% comment %}
                            <li><a href="{% url 'register' %}" id="nav-button" class="btn btn-large btn-success">Sign Up</a></li>
                            {% endcomment %}
						{% endif %}
					  </ul>
					</div><!--/.nav-collapse -->
				</div><!--/container -->
			</div><!--/navbar -->	
		</header>
  
		<section id="main">
			{% if this_page != 'landing' and this_page != 'manage' %}
			<div class="container" id="main-content">
				<div class="row">
					{% endif %}
					{% block row %}{% endblock row %}
					{% if this_page != 'landing' %}
				</div><!--/.row-fluid-->
			</div><!--/.main-container #main-content"-->
			{% endif %}
		</section><!--/#main-->
		
		{% block footer %}
		
		
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<p class="built-by">Built & Run by Libraries</p>
						<p id="footer-nav">
						<a href="{% url 'landing' %}">Home</a>
						&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                        <a href="https://blogs.law.harvard.edu/perma/">Blog</a>
                        &nbsp;&nbsp;&middot;&nbsp;&nbsp;
						<a href="{% url 'about' %}">About</a>
						&nbsp;&nbsp;&middot;&nbsp;&nbsp;
						<a href="{% url 'docs' %}">User Guide</a>
						&nbsp;&nbsp;&middot;&nbsp;&nbsp;
						<a href="{% url 'contact' %}">Contact</a>
						</p><!--/#footer-nav-->

						{% include "includes/participating_institutions.html" %}

						<p id="boilerplate">
							<a href="{% url 'terms_of_service' %}">terms of service</a>
							&nbsp;&nbsp;&middot;&nbsp;&nbsp;
							<a href="{% url 'privacy_policy' %}">privacy policy</a>
							&nbsp;&nbsp;&middot;&nbsp;&nbsp;
						   <a href="{% url 'copyright_policy' %}">copyright policy</a>
						</p>
					</div><!--/col-->
				</div><!--/row-->
			</div><!--/container-->
		</footer>
		
	{% endblock %}
		
		
            </div><!--/.row-fluid-->
        </div><!--/.container-fluid-->


    <div class="modal" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModal" aria-hidden="true">
	    <div class="modal-dialog modal-sm">
		<div class="modal-content">
    		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<div class="logo-condensed-header">
					<a href="{% url 'landing' %}">perma.cc<img class="infinity-logo" src="{{ STATIC_URL }}img/infinity-logo2.png"></a>
				</div>
    		</div>
			<div class="center feedback-form-inputs">
			    <form class="feedback" name="feedback">
				<h4>Feedback</h4>
				<p id="broken-link-report"></p>
                <label for="user_email">Your email</label><br>
                <input type="email" name="user_email" id="user_email" class="input-xlarge">
                <br>
                <label for="feedback_text">Comments</label><br>
                <textarea name="feedback_text" class="input-xlarge"></textarea>
                </form>
			</div>
			<div class="modal-footer feedback-form-inputs">
                <input class="btn btn-primary btn-large pull-right" value="Send" id="submit-feedback">
           <a href="#" data-dismiss="modal" id="cancel-feedback" class="pull-right">cancel</a>
            </div>
            <div class="center feedback-form-submitted">
                <h4>Your feedback has been sent.</h4>
            </div>
            <div class="modal-footer feedback-form-submitted">
           <!--<a href="#" data-dismiss="modal" id="cancel-feedback" class="pull-right">close</a>-->
           <input data-dismiss="modal" class="btn btn-primary btn-large pull-right" value="Close">
            </div>
	    </div>		
	</div>
</div><!--/feedback modal-->
    {% compressed_js 'global' %}

    {% block scripts %}
    {% endblock %}
    
    {% block templates %}
    {% endblock %}
  </body>
</html>
