{% load pipeline %}<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Perma.cc{% block title %}{% endblock %}</title>

        {# currently 'edge' or nothing seems to be the best IE mode for modern sites -- see http://stackoverflow.com/a/8942455 #}
        <meta http-equiv="x-ua-compatible" content="IE=edge">

        <meta charset="utf-8" />
        <meta name="google" value="notranslate" />
        <meta name="description" content="{% block meta_description %} Broken links are everywhere. Perma helps authors and journals create permanent links for citations in their published work.{% endblock %}">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
        <!-- iOS9 viewport bug hack -->
        <meta name="viewport" content="initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001"/>
        <!-- -->
        {% block meta %}{% endblock %}  

		<link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
        <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        {% stylesheet 'base' %}

        {# Python variables for use in Javascript #}
        {% include 'js_config.html' %}

        {% javascript 'global_head' %}
        {% block styles %}{% endblock %}
        
        <!--[if lt IE 9]>
			<script src="{{ STATIC_URL }}js/html5shiv.js"></script>
		  	<script src="{{ STATIC_URL }}js/respond.js"></script>
		<![endif]-->

    </head>
    <body class="{% block bodyFlags %}{% endblock bodyFlags %}">

    	<header class="_default">
    	    <div class="navbar navbar-default navbar-static-top">
				<div class="container cont-fixed">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					  
						<div class="navbar-brand logo">
							<a href="{% url 'landing' %}">Perma.cc<img class="infinity-logo" src="{{ STATIC_URL }}img/perma-logo-orange.svg"></a>
						</div>
					</div>
					<div class="navbar-collapse collapse">
					  <ul class="nav navbar-nav navbar-right">
					  	{% if request.user.is_authenticated %}
                            {% if not this_page == 'create_link' %}
                                <li class="navbar-create-button"><a href="{% url 'create_link' %}" role="button" class="btn btn-large btn-info navbar-create navbar-btn" data-toggle="tooltip" title="Create new Perma archive">Create and manage Perma Links</a></li>
                            {% endif %}
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle navbar-link needsclick" data-toggle="dropdown" role="button" aria-expanded="false">{{ request.user.get_short_name }}</a>
                              <ul class="dropdown-menu" role="menu">
                                {% if not this_page == 'create_link' %}
                                <li><a href="{% url 'create_link' %}">Create and manage Perma Links</a></li>
                                <li class="divider"></li>
                                {% endif %}
                                
                                
                                {% if request.user.is_staff or request.user.is_registrar_member %}
                                    <li role="presentation" class="dropdown-header">Manage users</li>

                                    {% if request.user.is_staff %}
                                        <li><a href="{% url 'user_management_manage_registry_user' %}">Registry users</a></li>
                                        <li><a href="{% url 'user_management_manage_registrar' %}">Registrars</a></li>
                                    {% endif %}

                                    <li><a href="{% url 'user_management_manage_registrar_user' %}">Registrar users</a></li>
                                    <li><a href="{% url 'user_management_manage_organization' %}">Organizations</a></li>
                                    <li><a href="{% url 'user_management_manage_organization_user' %}">Organization users</a></li>

                                    {% if request.user.is_staff %}
                                        <li><a href="{% url 'user_management_manage_user' %}">Users</a></li>
                                    {% endif %}
	                                <li class="divider"></li>
                                {% endif %}
                                
                                <!-- Vesting users -->
                                {% if request.user.is_organization_member %}
	                                <li><a href="{% url 'user_management_manage_organization_user' %}">Manage users</a></li>
	                                <li class="divider"></li>
                                {% endif %}
                                {% if request.user.is_staff %}
									<li><a href="{% url 'admin:index' %}">Admin console</a></li>
	                                <li class="divider"></li>
                                {% endif %}
                                <li role="presentation" class="dropdown-header">Settings</li>
                                <li><a href="{% url 'user_management_settings_profile' %}">Profile</a></li>
                                <li><a href="{% url 'user_management_settings_password' %}">Password</a></li>
                                <li><a href="{% url 'user_management_settings_tools' %}">Tools</a></li>
                                {% if request.user.is_organization_member or request.user.is_registrar_member or request.user.has_registrar_pending %}
	                                <li><a href="{% url 'user_management_settings_organizations' %}">Your organization</a></li>
								{% endif %}
                                <li class="divider"></li>
                                <li><a href="{% url 'logout' %}">Log out</a></li>
                              </ul>
                            </li>
						{% else %}
                            <!--<li><a href="#" class="navbar-link">How it Works</a></li>-->
                            <li><a href="{% url 'about' %}" class="navbar-link">About Perma.cc</a></li>
                            <li><a href="{% url 'docs' %}" class="navbar-link">Guide</a></li>
                            <li><a href="https://blogs.law.harvard.edu/perma/" class="navbar-link">Blog</a></li>
                            <li><a href="{% url 'sign_up' %}" class="btn _nav{% if this_page == 'sign_up' %} this-page{% endif %}">Sign up</a></li>
                            <li><a href="{% url 'user_management_limited_login' %}" class="navbar-link _login">Log in</a></li>
                            {% comment %}
                            <li><a href="{% url 'sign_up' %}" id="nav-button" class="btn btn-large">Sign Up</a></li>
                            {% endcomment %}
						{% endif %}
					  </ul>
					</div><!--/.nav-collapse -->
				</div><!--/container -->
			</div><!--/navbar -->	
		</header>

		  
		<section id="main" class="{% block mainFlags %}{% endblock mainFlags %}">
			{% if this_page != 'landing' and this_page != 'manage' %}
				<div id="main-content" class="container cont-full-bleed">
			{% endif %}

			{% block mainContent %}{% endblock mainContent %}

			{% if this_page != 'landing' %}
				</div><!--/ #main-content"-->
			{% endif %}
		</section><!--/#main-->
		
		{% block footer %}
			<footer>
				<div class="container cont-fixed">
					<div class="row">
						<div class="col col-sm-6">
							<ul id="footer-nav">
					            <!--<li class="footer-nav-item"><a class="home" href="{% url 'landing' %}">Perma.cc</a></li>-->
					            <li class="footer-nav-item"><a href="{% url 'about' %}">About</a></li>
					            <li class="footer-nav-item"><a href="{% url 'docs' %}">Guide</a></li>
					            <li class="footer-nav-item"><a href="{% url 'dev_docs' %}">Developers</a></li>
					            <li class="footer-nav-item"><a href="{% url 'contact' %}">Contact</a></li>
					            <li class="footer-nav-item"><a href="https://blogs.law.harvard.edu/perma/">Blog</a></li>
					            <li class="footer-nav-item"><a href="https://github.com/harvard-lil/perma">Github</a></li>
							</ul>
						</div>
						<div class="col col-sm-6">
							<ul id="boilerplate">
								<li class="boilerplate-item"><a href="{% url 'terms_of_service' %}">Terms of Service</a></li>
								<li class="boilerplate-item"><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
								<li class="boilerplate-item"><a href="{% url 'copyright_policy' %}">Copyright Policy</a></li>
							</ul>
						</div>
					</div>
				</div><!--/container-->
			</footer>
		{% endblock %}

    {% javascript 'global' %}
    {% block scripts %}{% endblock %}
    {% block templates %}{% endblock %}
  </body>
</html>
