{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Perma{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="IE=8">
        <meta name="google" value="notranslate" />
        <!-- TODO add default meta description -->
        <meta name="description" content="{% block meta_description %} Broken links are everywhere. Perma helps authors and journals create permanent links for citations in their published work.{% endblock %}">
        <link href="{{ STATIC_PREFIX }}img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap3.css">
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap3-responsive.css">
        
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style-responsive.css">
        {% block styles %}{% endblock %}  
        <!--
        <script type="text/javascript" src="//use.typekit.net/pjl6esq.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        -->
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
				{% block header %}{% endblock header %}
                <section id="main" class="clouds">
                    <div class="main-container" id="main-content">
                        <div class="row-fluid">
                    {% block row %}{% endblock row %}
                        </div><!--/.row-fluid-->
                    </div><!--/.main-container #main-content"-->
                </section><!--/#main-->
				<footer>
                    <div class="main-container">
                    	<p class="built-by">Built & Run by Libraries</p>
                        <p id="footer-nav">
                            <a href="{% url 'landing' %}">Home</a>
                            &nbsp;&nbsp;&middot;&nbsp;&nbsp;
                            <a href="{% url 'about' %}">About</a>
                            &nbsp;&nbsp;&middot;&nbsp;&nbsp;
                            <a href="{% url 'faq' %}">FAQs</a>
                            &nbsp;&nbsp;&middot;&nbsp;&nbsp;
                            <a href="#" onclick="fby.push(['showForm', '5593']);return false;">Feedback</a>
                        </p><!--/#footer-nav-->

                        <div class="partners">
							<ul class="partners">
								<li class="participating-institutions">
									<a href="http://www.wcl.american.edu/"><img src="/static/img/participating-institutions/AU-WCL-bw.png" alt="American University Washington University Law Library"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.bc.edu/schools/law/library.html"><img src="/static/img/participating-institutions/BC-bw.png" alt="Law Library At Boston College"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.bu.edu/lawlibrary/"><img src="/static/img/participating-institutions/BU-bw.png" alt="Boston University Law School"></a>
								</li>
								<li class="participating-institutions">
									<a href="https://www.law.upenn.edu/library/"><img src="/static/img/participating-institutions/Biddle-bw.jpg" alt="Biddle Law Library, University of Pennsylvania"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.charlestonlaw.edu/Library.aspx"><img src="/static/img/participating-institutions/Charleston-bw.png" alt="Charleston School of Law"></a>
								</li>
								<li class="participating-institutions">
									<a href="https://www.cloudflare.com/"><img src="/static/img/participating-institutions/CloudFlare-bw.png" alt="CloudFlare, Inc."></a>
								</li>
								<li class="participating-institutions">
									<a href="http://lawlibrary.colorado.edu/"><img src="/static/img/participating-institutions/Colorado-bw.png" alt="Colorado Law"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://web.law.columbia.edu/library"><img src="/static/img/participating-institutions/Columbia-bw.png" alt="Columbia Law School"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.lawschool.cornell.edu/library/"><img src="/static/img/participating-institutions/Cornell-bw.png" alt="Cornell University Law School"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://dp.la/"><img src="/static/img/participating-institutions/DPLA-bw.png" alt="Digital Public Library of America"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://law.duke.edu/lib/"><img src="/static/img/participating-institutions/Duke-bw.png" alt="Duke Law School"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.law.ufl.edu/library"><img src="/static/img/participating-institutions/Florida-bw.png" alt="University of Florida Levin College of Law"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.law.fsu.edu/library/"><img src="/static/img/participating-institutions/FSU-bw.png" alt="Florida State Law Research Center"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://lawlib1.lawnet.fordham.edu/"><img src="/static/img/participating-institutions/Fordham-bw.png" alt="Fordham law school"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.law.georgetown.edu/library/"><img src="/static/img/participating-institutions/Georgetown-bw.png" alt="Georgetown law library"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://archive.org/index.php"><img src="/static/img/participating-institutions/IA-bw.png" alt="Internet Archive"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.law.harvard.edu/library/"><img src="/static/img/participating-institutions/HLS-bw.png" alt="Harvard Law School Library"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://mckinneylaw.iu.edu/library/"><img src="/static/img/participating-institutions/Indiana-bw.png" alt="Robert H. McKinney School of Law, Indiana University"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://library.jmls.edu/"><img src="/static/img/participating-institutions/Jmls-bw.png" alt="John Marshall Law School"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://lawlibrary.laverne.edu/"><img src="/static/img/participating-institutions/LaVerne-bw.png" alt="College of Law Library, University of La Verne"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www1.law.lsu.edu/library/"><img src="/static/img/participating-institutions/LSU-bw.jpg" alt="Lousiana State University Law School Library"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.luc.edu/law/library/"><img src="/static/img/participating-institutions/Loyola-bw.png" alt="Loyola University School of Law"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.law.umaryland.edu/marshall/"><img src="/static/img/participating-institutions/Maryland-bw.png" alt="University of Maryland Francis King Carey School of Law"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.law.unimelb.edu.au/lawlib"><img src="/static/img/participating-institutions/Melbourne-bw.png" alt="Melbourne Law School"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.law.miami.edu/library"><img src="/static/img/participating-institutions/Miami-bw.png" alt="University of Miami School of Law"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://law.unl.edu/library"><img src="/static/img/participating-institutions/Nebraska-bw.png" alt="University of Nebraska College of Law"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://moritzlaw.osu.edu/library/"><img src="/static/img/participating-institutions/Ohio-State-bw.png" alt="Ohio State University"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.bodleian.ox.ac.uk/law"><img src="/static/img/participating-institutions/Oxford-bw.png" alt="University of Oxford"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://law.pepperdine.edu/library/"><img src="/static/img/participating-institutions/Pepperdine-bw.png" alt="Pepperdine University Law School"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.stcl.edu/library/libhome.html"><img src="/static/img/participating-institutions/Southtexas-bw.png" alt="South Texas College of Law"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.law.stanford.edu/organizations/offices/robert-crown-law-library"><img src="/static/img/participating-institutions/Stanford-bw.jpg" alt="Stanford Law Library"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.law.ucla.edu/library/Pages/default.aspx"><img src="/static/img/participating-institutions/UCLA-bw.jpg" alt="UCLA Law Library"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://library.law.olemiss.edu/"><img src="/static/img/participating-institutions/UMiss-bw.png" alt="University of Mississippi School of Law"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.law.unlv.edu/law-library/home.html"><img src="/static/img/participating-institutions/UNLV-bw.png" alt="University of Nevada, Las Vegas, School of Law"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.sandiego.edu/law/library/"><img src="/static/img/participating-institutions/SanDiego-bw.png" alt="Pardee Legal Research Center, University of San Diego "></a>
								</li>
								<li class="participating-institutions">
									<a href="http://tarlton.law.utexas.edu/"><img src="/static/img/participating-institutions/UT-Austin-bw.png" alt="University of Texas, Austin, Law School"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.law.utah.edu/library//"><img src="/static/img/participating-institutions/U-Utah-bw.png" alt="S.J. Quinney Law Library, University of Utah"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.library.vanderbilt.edu/law/"><img src="/static/img/participating-institutions/Vanderbilt-bw.png" alt="Vanderbilt Law School"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.law.virginia.edu/html/librarysite/library.htm"><img src="/static/img/participating-institutions/uvalaw-bw.png" alt="University of Virginia School of Law"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://www.law.washington.edu/"><img src="/static/img/participating-institutions/U-Washington-bw.png" alt="University of Washington School of Law"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://law.wustl.edu/library/"><img src="/static/img/participating-institutions/WashU-bw.png" alt="Washington University Law"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://law.wm.edu/library/"><img src="/static/img/participating-institutions/William-Mary-bw.png" alt="William & Mary Law School"></a>
								</li>
								<li class="participating-institutions">
									<a href="http://library.law.yale.edu/"><img src="/static/img/participating-institutions/YLS-bw.png" alt="Yale Law Library"></a>
								</li>
							</ul>
						</div>		
						<p id="boilerplate">			
							&copy; perma.cc
							&nbsp;&nbsp;&middot;&nbsp;&nbsp;
							<a href="{% url 'terms_of_service' %}">Terms of Service</a>
							&nbsp;&nbsp;&middot;&nbsp;&nbsp;
							<a href="{% url 'privacy_policy' %}">Privacy Policy</a>
							&nbsp;&nbsp;&middot;&nbsp;&nbsp;
						   <a href="{% url 'copyright_policy' %}">Copyright Policy</a>
						</p>
                    </div><!--/.main-container-->
                </footer>
	          </div><!--/.row-fluid-->
        </div><!--/.container-fluid-->

    <script src="{{ STATIC_PREFIX }}js/jquery.js"></script>
    <script src="{{ STATIC_PREFIX }}js/bootstrap.js"></script>
    <script src="{{ STATIC_PREFIX }}js/global.js"></script>
    {% block scripts %}
    {% endblock %}   
    
    {% block templates %}
    {% endblock %}
    <script type="text/javascript">
      var fby = fby || [];
      (function () {
          var f = document.createElement('script'); f.type = 'text/javascript'; f.async = true;
          f.src = '//cdn.feedbackify.com/f.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(f, s);
      })();
    </script>
    {{ analytics_code }}
  </body>
</html>