{% load compressed %}<!DOCTYPE html>
<html lang="en-us">
<html lang="en-us">
    <head>
        <title>Perma{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="google" value="notranslate" />
        <!-- TODO add default meta description -->
        <meta name="description" content="{% block meta_description %} Broken links are everywhere. Perma helps authors and journals create permanent links for citations in their published work.{% endblock %}">
        {% block meta-head %}{% endblock %}
        <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        
        {% compressed_css 'base' %}
        {% block styles %}{% endblock %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
  			<script src="{{ STATIC_URL }}js/html5shiv.js"></script>
  			<script src="{{ STATIC_URL }}js/respond.js"></script>
		<![endif]-->
    </head>
    <body>
		{% block header %}{% endblock header %}
		<section id="main-archive">
			<div id="main-content" class="container-fluid">
				<div class="row">
                    {% block content %}
                    {% endblock content %}
				</div><!--/.row-fluid-->
			</div><!--/.main-container #main-content"-->
		</section><!--/#main-->

        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap3.js"></script>
        <script src="{{ STATIC_URL }}js/global.js"></script>
        {% block scripts %}
        {% endblock %}

        {% block templates %}
        {% endblock %}
    </body>
</html>