{% extends "base-responsive.html" %}
{% block title %} | Contact{% endblock %}

{% block meta %}
<meta name="robots" content="noarchive">
{% endblock %}

{% block mainContent %}

<div class="container cont-fixed">
  <div class="row">
    <div class="col-sm-12">
      {% if upgrade %}
        <h1 class="page-title">Request Information For Organization</h1>
        <p class="page-dek">Organizations may purchase unlimited Perma.cc service for their members at a discounted group rate. Certain organizations qualify for free unlimited service. To find out if your organization qualifies, check out our <a href="{% url 'docs_accounts' %}">accounts page</a>.</p>
        <p class="page-dek">For more information, submit the form below, and a Perma.cc team member will be in touch shortly!</p>
      {% else %}
        <h1 class="page-title">Contact</h1>
        {% if request.user.is_supported_by_registrar %}
          <p class="page-dek">This form is the easiest way to start a dialog with Perma.cc support at your library.</p>
        {% else %}
          <p class="page-dek">This form is the easiest way to start a dialog with Perma.cc.</p>
        {% endif %}
        <p class="page-dek">Save yourself some time. Is your question one of our <a href="{% url 'docs_faq' %}">Frequently Asked Questions?</a> Do you have questions about <a href="{% url 'sign_up' %}">setting up a Perma.cc account?</a> Have you looked at our <a href="{% url 'docs' %}">Perma.cc Guide</a>? The answer may be right at your fingertips!</p>
      {% endif %}
    </div>
  </div> <!-- row -->
  <div class="row">
    <div class="col-sm-6 contact-form">
      <form action="{% url 'contact' %}" method="post">
        {% csrf_token %}
        {% include "includes/fieldset.html" with form_classes="fg-100" %}
        <button type="submit" class="btn">Send</button>
      </form>
    </div><!--col -->
  </div><!--row-->
</div><!--container-->
{% endblock mainContent %}
