{% extends "base-responsive.html" %}
{% block title %} | Thanks{% endblock %}

{% block meta %}
<meta name="robots" content="noarchive">
{% endblock %}

{% block mainContent %}

<div class="container cont-fixed">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-title">Thanks!</h1>
      {% if registrar %}
        <p class="page-dek">Your message was successfully sent to {{registrar.name}} and the Perma.cc team:</p>
        <ul class="page-dek">{% for user in registrar.active_registrar_users %}
         <li>{{user.get_full_name}} ({{user.email}})</li>{% endfor %}
         <li>info@perma.cc</li>
        </ul>
      {% else %}
        <p class="page-dek">Your message was successfully sent to the Perma.cc team.</p>
      {% endif %}
    </div><!--col -->
  </div><!--row-->
</div><!--container-->
{% endblock mainContent %}
