{% extends "layout.html" %}

{% load truncatesmart %}

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
{% endblock %}

{% block content %}

<!-- URL input -->
<section id="home-form-container">
    <div class="main-container">
        <div class="home-form-frame">
            <p id="home-blurb">Permanently archive your links.</p>
            <div class="home-form-elements">
                {% include 'add_link_form.html' %}
            </div><!--/.home-form-->
        </div><!--/.home-form-frame-->
    </div><!--/.main-container-->
</section><!--/#home-form-container-->

<section id="home-description">
    <div class="main-container">
      <h2>This is the new landing page</h2>
        <p>Broken links are everywhere.</p>
        <p>Perma.cc helps authors and journals create<br />
        permanent links for citations in their published work.</p>
        {% if user.is_authenticated %}
        <p><a href="{% url 'user_management_created_links' %}" class="btn btn-large btn-success">Visit Your Dashboard</a></p>
        {% else %}
        <p><a href="#" class="btn btn-large btn-success">Sign Up for a Free Account</a></p>
        {% endif %}
    </div><!--/.main-container-->
</section><!--/#home-description-->

{% endblock %}

{% block scripts %}
<script>
  var web_base = "http://{{host}}";
  var csrf_token = "{{csrf_token}}";
</script>
<script src="{{ STATIC_PREFIX }}js/ZeroClipboard/ZeroClipboard.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/handlebars.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="{{ STATIC_PREFIX }}js/landing.js"></script>
<script src="{{ STATIC_PREFIX }}js/swfobject.js"></script>
{% endblock %}
{% block templates %}

{% endblock templates %}
