{% extends "base-responsive.html" %}

{% load pipeline %}

{% block styles %}
{% endblock %}

{% block bodyFlags %}{% if request.user.is_authenticated %}_search{% else %}_welcome{% endif %}{% endblock %}

{% block mainContent %}

<!-- URL input -->
<section id="landing-introduction" class="container-fluid">
    <div class="container cont-fixed">
		<div class="row">
			<div class="col-xs-12 col-sm-9 col-lg-8">
				<h1 class="_hide">Perma.cc prevents link rot.</h1>
				<p class="primary-intro"><strong>Perma.cc</strong> helps <a href="#">journals</a>, <a href="#">lawyers</a>, <a href="#">courts</a>, and <a href="#">others</a> prevent <a href="#">link rot</a> and preserve web citations by creating <a href="#">permanent records</a> of their cited links.</p>
				<p class="primary-intro">Perma.cc is simple, <a href="#">free to use</a>, and is built and <a href="#">supported by libraries</a>.</p>
			</div>
			<div class="col-xs-12 col-sm-3 col-lg-4">
				<div class="container">
					<div class="row row-halfgutter">
						<div class="col-xs-6 col-sm-12 col-lg-6">
							<a class="link-block xs-badge-sq sm-badge" href="#"><span class="badge-inner"><strong>Recommended by the 2015 Blue Book.</strong> See Rule 32.6.8<span></a>
						</div>
						<div class="col-xs-6 col-sm-12 col-lg-6">
							<a class="link-block xs-badge-sq sm-badge _badge-webby" href="#"><span class="badge-inner"><strong>Webby-award Winning.</strong> Best Legal Website 2014</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12  _isCentered">
		        {% if request.user.is_authenticated %}
		            <a href="{% url 'create_link' %}" class="btn btn-large">Create and manage your Perma Links</a>
		        {% else %}
			    	<a href="{% url 'sign_up' %}" class="btn btn-large">Sign up and use Perma.cc for free</a>
			    	<a href="{% url 'libraries' %}" class="btn btn-large-alt">How can my library power Perma.cc?</a>
		        {% endif %}
			</div>
		</div>
    </div>
</section>

<section id="landing-problem" class="container-fluid cont-bg">
    <div class="container cont-fixed">
		<h2 class="section-title">What is link rot?</h2>
		<p class="section-subtitle">When linked citations lead to broken, blank, unintentional, or even malicious pages, that’s called “link rot.” </p>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h3 class="section-ah">Link rot affects you</h3>
				<p class="section-strong">Over 50% of cited links in Spreme Court decisions no longer point to the proper page. If you link to the Web, link rot affects you too.</p>
				<p class="section-body">Websites change, go away, and get taken down. When they do, linked citations can lead to broken, blank, unintentional, or even malicious pages. This decay is called “link rot.” Perma.cc helps scholars, journals and courts prevent link rot by creating permanent, reliable, unalterable links to the online sources cited in their work.</p>
				<p class="section-body">Perma.cc helps scholars, journals and courts prevent link rot by creating permanent, reliable, unalterable links to the online sources cited in their work.</p>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h3 class="section-ah">Articles and studies</h3>
				<p class="section-strong">Over 50% of cited links in Spreme Court decisions no longer point to the proper page. If you link to the Web, link rot affects you too.</p>
				<p class="section-body">Websites change, go away, and get taken down. When they do, linked citations can lead to broken, blank, unintentional, or even malicious pages. This decay is called “link rot.” Perma.cc helps scholars, journals and courts prevent link rot by creating permanent, reliable, unalterable links to the online sources cited in their work:</p>
				<ul class="section-list">
					<li class="section-list-item"><a href="#" class="outside"><strong>Link rot is real</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The New Yorker</cite>, 2014</li>
					<li class="section-list-item"><a href="#" class="outside"><strong>Link rot in academic citations</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The Harvard Law Review</cite>, 2013</li>
					<li class="section-list-item"><a href="#" class="outside"><strong>Menace to the courts</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>Wired</cite>, 2015</li>
					<li class="section-list-item"><a href="#" class="outside"><strong>Our fragile web</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>First Look LegalTech</cite>, 2014</li>
				</ul>
			</div>
		</div>
    </div>
    <div class="container-fluid section-break">
		<div class="container cont-fixed">
			<div class="row">
				<div class="col-xs-12 section-hed">
					<h3 class="section-ah">Link rot destroys connections to outside sources</h3>
				</div>
				<div class="figure col-xs-6 col-sm-3">
                    <img src="{{ STATIC_URL }}img/link-rot-0.svg" height="400" width="400" class="img-responsive" alt="1. A graph of citations before link rot" />
					<p class="caption"><strong>When the citation is collected.</strong> New references to websites usually start correct.</p>
				</div>
				<div class="figure col-xs-6 col-sm-3">
                    <img src="{{ STATIC_URL }}img/link-rot-20.svg" height="400" width="400" class="img-responsive" alt="1. A graph of citations before link rot" />
					<p class="caption"><strong>One year later.</strong> After a year, over 20% of cited links may be dead or inacessible.</p>
				</div>
				<div class="figure col-xs-6 col-sm-3">
                    <img src="{{ STATIC_URL }}img/link-rot-50.svg" height="400" width="400" class="img-responsive" alt="1. A graph of citations before link rot" />
					<p class="caption"><strong>Five years later.</strong> After five years, the situation is much worse, over 50% of cited links can be afftected.</p>
				</div>
				<div class="figure col-xs-6 col-sm-3">
                    <img src="{{ STATIC_URL }}img/link-rot-80.svg" height="400" width="400" class="img-responsive" alt="1. A graph of citations before link rot" />
					<p class="caption"><strong>As time goes on.</strong> Link rot is rarely reversible. The longer the wait, the more likely a link will be dead.</p>
				</div>
			</div>
			<div class="row row-subsection">
				<div class="col-xs-12  _isCentered">
			        {% if request.user.is_authenticated %}
			            <a href="{% url 'create_link' %}" class="btn btn-large">Create and manage your Perma Links</a>
			        {% else %}
				    	<a href="{% url 'sign_up' %}" class="btn btn-large">Sign up and start preventing link rot</a>
			        {% endif %}
				</div>
				<div class="col-xs-12">
					<p class="section-body small footnote">Data taken from <a href="http://harvardlawreview.org/2014/03/perma-scoping-and-addressing-the-problem-of-link-and-reference-rot-in-legal-citations/">“Perma: Scoping and Addressing the Problem of Link and Reference Rot in Legal Citations,”</a> <a class="cc" href="http://www.perma.cc/4356-6557">http://www.perma.cc/4356-6557</a> Jonathan Zittrain, Kendra Albert & Lawrence Lessig. Harvard Law Review. March 17, 2014.</p>
				</div>
			</div>
		</div>
    </div>
</section>

<section id="landing-product" class="container-fluid _hasDivider">
    <div class="container cont-fixed">
		<h2 class="section-title">Perma.cc prevents link rot.</h2>
		<p class="section-subtitle">Copy. Paste. Perma.</p>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<h3 class="section-ah">Unbreakable links</h3>
				<p class="section-body">Websites change, go away, and get taken down. When they do, linked citations can lead to broken, blank, unintentional, or even malicious pages. This decay is called “link rot.” Perma.cc helps scholars, journals and courts prevent link rot by creating permanent, reliable, unalterable links to the online sources cited in their work.</p>
				<ul class="section-list">
					<li class="section-list-item"><a href="#"><strong>Link rot is real</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The New Yorker</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot in academic citations</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The Harvard Law Review</cite>, 2013</li>
					<li class="section-list-item"><a href="#"><strong>Menace to the courts</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>Wired</cite>, 2015</li>
					<li class="section-list-item"><a href="#"><strong>Our fragile web</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>First Look LegalTech</cite>, 2014</li>
				</ul>
			    <a href="{% url 'docs_perma_link_creation' %}" class="btn btn-small">More about Perma Links</a>
			    <a href="{% url 'docs_faq' %}" class="btn btn-small">Frequently asked questions</a>
			</div>
			<div class="col-xs-12 col-sm-4">
				<h3 class="section-ah">Library-strength reliability</h3>
					<p class="section-strong">Perma.cc was built by Harvard’s <a href="http://librarylab.law.harvard.edu">Library Innovation Lab</a> and is backed by the power of libraries. We’re both in the forever business: libraries already look after physical and digital materials — now we can do the same for links.</p>
					<p class="section-body">If you’re a librarian or are affiliated with a library, we can make using Perma.cc free and simple for you and the scholars that depend on you. We’ve answered many common questions and prepared a special library signup at the link below.</p>
					<a href="{% url 'libraries' %}" class="btn btn-small">More about our partners</a>
					<a href="{% url 'libraries' %}" class="btn btn-small">Sign up your library</a>
			</div>
			<div class="col-xs-12 col-sm-4">
				<h3 class="section-ah">Organized records</h3>
				<p class="section-body">Websites change, go away, and get taken down. When they do, linked citations can lead to broken, blank, unintentional, or even malicious pages. This decay is called “link rot.” Perma.cc helps scholars, journals and courts prevent link rot by creating permanent, reliable, unalterable links to the online sources cited in their work:</p>
			    <a href="{% url 'sign_up' %}" class="btn btn-small">More about your records</a>
			</div>
		</div>
    </div>
    <div class="cont-full cont-subsection">
		<div class="container cont-fixed">
			<div class="row">
				<div class="col-xs-12 section-hed">
					<h3 class="section-ah">Making a Perma Link is as simple as copy and paste</h3>
				</div>
			</div>
			<div class="row row-modules">
				<div class="col-xs-12 col-sm-4">
                    <img src="{{ STATIC_URL }}img/signal.png" height="400" width="400" class="img-responsive" alt="Responsive image" alt="1. A graph of citations before link rot" />
					<p class="caption"><strong>Add the URL you want to preserve to the Create bar.</strong> Paste any URL into the Create bar and Perma.cc does the rest. Perma.cc records preserve <a href="#">all kinds of URLS</a> (including PDFs) with near-perfect fidelity to the original.</p>
				</div>
				<div class="col-xs-12 col-sm-4">
                    <img src="{{ STATIC_URL }}img/signal.png" height="400" width="400" class="img-responsive" alt="Responsive image" alt="2. A graph of citations at the start of link rot" />
					<p class="caption"><strong>Perma.cc creates your Perma Link.</strong> Just select “Create” and Perma.cc builds your new record in a matter of moments. You’ll see your record when it’s finished and have a chance to <a href="#">delete</a> or <a href="#">annotate</a> it.</p>
				</div>
				<div class="col-xs-12 col-sm-4">
                    <img src="{{ STATIC_URL }}img/signal.png" height="400" width="400" class="img-responsive" alt="Responsive image" alt="3. A graph of citations with typical link rot" />
					<p class="caption"><strong>Use the Perma Link URL in your citations.</strong> Use your Perma Link as you would the original cited URL. Perma.cc has a simple record management system to make <a href="#">organization</a> and <a href="#">record-keeping</a> a snap.</p>
				</div>
			</div>
			<div class="row row-subsection">
				<div class="col-xs-12  _isCentered">
			        {% if request.user.is_authenticated %}
			            <a href="{% url 'create_link' %}" class="btn btn-large">Create and manage your Perma Links</a>
			        {% else %}
				    	<a href="{% url 'sign_up' %}" class="btn btn-large">Sign up for free</a>
			        {% endif %}
				</div>
			</div>
		</div>
    </div>
    <div class="container-fluid container-square-display">
	    <div class="container-fluid section-break cont-bg-knockout inner">
			<div class="container cont-fixed">
				<h2 class="section-title-alt light">Perma.cc has already preserved thousands of links for users all over the world</h2>
				<div class="row-stats  _isCentered">
					<div class="col-stat stat-10p5">
						<div class="stat-number">120,234</div>
						<div class="stat-label">Links preserved</div>
					</div>
					<div class="col-stat stat-10p3">
						<div class="stat-number">6,236</div>
						<div class="stat-label">Users</div>
					</div>
					<div class="col-stat stat-10p2">
						<div class="stat-number">441</div>
						<div class="stat-label">Archiving organizations</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
</section>

<section id="landing-institutions" class="container-fluid">
	<div class="container cont-fixed">
		<h2 class="section-title">Perma.cc is built to last.</h2>
		<p class="section-subtitle">Libraries are in the forever business. We’re committed to preserving your digital records to the same standards that we preseve phsyical records. That’s why journals, courts, universities trust us with their citations.</p>
		<div class="row row-subsection">
			<div class="col-sm-12">
	            {% include "includes/participating_institutions.html" %}
			</div><!--col-sm-12-->
		</div><!--row-->	
		<div class="row row-subsection">
			<div class="col-xs-12 section-hed">
				<h3 class="section-ah">Participating institutions</h3>
			</div>
			<div class="col-xs-12 col-sm-3col col-md-4col">
				<ul class="section-list list-tight partners">
					<li class="section-list-item"><a href="#">Alex A. Hanna Law Library, St. Thomas University School of Law</a></li>
					<li class="section-list-item"><a href="#">Alexander Campbell King Law Library, University of Georgia School of Law</a></li>
					<li class="section-list-item"><a href="#">American University Washington University Law Library</a></li>
					<li class="section-list-item"><a href="#">Arthur J. Morris Law Library, University of Virginia School of Law</a></li>
					<li class="section-list-item"><a href="#">Belmont University College of Law</a></li>
					<li class="section-list-item"><a href="#">Berkeley Law Library</a></li>
					<li class="section-list-item"><a href="#">Biddle Law Library, University of Pennsylvania</a></li>
					<li class="section-list-item"><a href="#">Bodleian Law Library, Bodleian Libraries, University of Oxford</a></li>
					<li class="section-list-item"><a href="#">Brooklyn Law School Library</a></li>
					<li class="section-list-item"><a href="#">CUNY School of Law Library</a></li>
					<li class="section-list-item"><a href="#">Charleston School of Law Library</a></li>
					<li class="section-list-item"><a href="#">Claremont School of Theology Library, Claremont School of Theology</a></li>
					<li class="section-list-item"><a href="#">College of Law Library, University of La Verne</a></li>
					<li class="section-list-item"><a href="#">Colorado Law</a></li>
					<li class="section-list-item"><a href="#">Columbia Law School</a></li>
					<li class="section-list-item"><a href="#">Cornell University Law School</a></li>
					<li class="section-list-item"><a href="#">Creighton University School of Law</a></li>
					<li class="section-list-item"><a href="#">David C. Shapiro Memorial Law Library at Northern Illinois University College of Law</a></li>
					<li class="section-list-item"><a href="#">Digital Public Library of America</a></li>
					<li class="section-list-item"><a href="#">Duke Law School</a></li>
					<li class="section-list-item"><a href="#">Fletcher School of Law and Diplomacy, Tufts University</a></li>
					<li class="section-list-item"><a href="#">Florida State Law Research Center</a></li>
					<li class="section-list-item"><a href="#">George R. Farmer Jr. Law Library</a></li>
					<li class="section-list-item"><a href="#">Georgetown Law Library, Georgetown Law</a></li>
					<li class="section-list-item"><a href="#">Golden Gate University Law Library</a></li>
					<li class="section-list-item"><a href="#">Grisham Law Library, University of Mississippi School of Law</a></li>
					<li class="section-list-item"><a href="#">Harvard Law School Library</a></li>
					<li class="section-list-item"><a href="#">Hugh & Hazel Darling Law Library, UCLA School of Law</a></li>
					<li class="section-list-item"><a href="#">IIT Chicago-Kent Law Library, IIT Chicago-Kent College of Law</a></li>
					<li class="section-list-item"><a href="#">James E. Faust Law Library, University of Utah</a></li>
					<li class="section-list-item"><a href="#">John F. Schaefer Law Library, Michigan State University College of Law</a></li>
					<li class="section-list-item"><a href="#">John Joseph Moakley Law Library, Suffolk University Law School</a></li>
					<li class="section-list-item"><a href="#">Kathrine R. Everett Law Library, University of North Carolina</a></li>
					<li class="section-list-item"><a href="#">Kresge Law Library, University of Notre Dame The Law School</a></li>
					<li class="section-list-item"><a href="#">Law Library at Boston College, Boston College of Law</a></li>
					<li class="section-list-item"><a href="#">Law Library, Indiana University Maurer School of Law</a></li>
					<li class="section-list-item"><a href="#">Louis L. Biro Law Library, The John Marshall Law School</a></li>
					<li class="section-list-item"><a href="#">Louisiana State University Law Library, LSU Law Center</a></li>
					<li class="section-list-item"><a href="#">Loyola Law School, Los Angeles</a></li>
					<li class="section-list-item"><a href="#">Loyola University Chicago School of Law</a></li>
					<li class="section-list-item"><a href="#">Melbourne Law School Library, The University of Melbourne</a></li>
					<li class="section-list-item"><a href="#">Michael E. Moritz Law Library, Ohio State University</a></li>
					<li class="section-list-item"><a href="#">Michigan Reporter of Decisions, Michigan Supreme Court</a></li>
					<li class="section-list-item"><a href="#">New York University Law Library</a></li>
					<li class="section-list-item"><a href="#">Oklahoma City University School of Law</a></li>
					<li class="section-list-item"><a href="#">Osgoode Hall Law School Library, York University</a></li>
					<li class="section-list-item"><a href="#">Pace Law School, Pace University</a></li>
					<li class="section-list-item"><a href="#">Pappas Law Library, Boston University School of Law</a></li>
					<li class="section-list-item"><a href="#">Pardee Legal Research Center, University of San Diego</a></li>
					<li class="section-list-item"><a href="#">Paul L. Boley Law Library, Lewis & Clark Law School</a></li>
					<li class="section-list-item"><a href="#">Pitt Law Library</a></li>
					<li class="section-list-item"><a href="#">Princeton University Library, Princeton University</a></li>
					<li class="section-list-item"><a href="#">Pritzker Legal Research Center, Northwestern Law</a></li>
					<li class="section-list-item"><a href="#">Ray & Kay Eckstein Law Library, Marquette University</a></li>
					<li class="section-list-item"><a href="#">Robert Crown Law Library, Stanford Law School</a></li>
					<li class="section-list-item"><a href="#">Ross-Blakely Law Library, Sandra Day O'Connor College of Law at Arizona State University</a></li>
					<li class="section-list-item"><a href="#">Ruth Lilly Law Library, Robert H. McKinney School of Law, Indiana University</a></li>
					<li class="section-list-item"><a href="#">SMU Dedman School of Law</a></li>
					<li class="section-list-item"><a href="#">Seattle University School of Law</a></li>
					<li class="section-list-item"><a href="#">Southwestern Law School Library</a></li>
					<li class="section-list-item"><a href="#">Tarlton Law Library, Jamail Center of Legal Research, The University of Texas School of Law</a></li>
					<li class="section-list-item"><a href="#">Temple University Beasley School of Law Library</a></li>
					<li class="section-list-item"><a href="#">Texas Tech University School of Law</a></li>
					<li class="section-list-item"><a href="#">The Leo T. Kissam Memorial Library, Fordham University School of Law</a></li>
					<li class="section-list-item"><a href="#">The Mendik Library at New York Law School</a></li>
					<li class="section-list-item"><a href="#">The Peter Rodino Law Library, Seton Hall Law School</a></li>
					<li class="section-list-item"><a href="#">Thomas Jefferson School of Law Library</a></li>
					<li class="section-list-item"><a href="#">Thurgood Marshall Law Library, Francis King Carey School of Law, University of Maryland</a></li>
					<li class="section-list-item"><a href="#">Tulane Law Library, Tulane University Law School</a></li>
					<li class="section-list-item"><a href="#">University of California, Irvine School of Law</a></li>
					<li class="section-list-item"><a href="#">University of Iowa Law Library</a></li>
					<li class="section-list-item"><a href="#">University of Massachusetts Dartmouth Law Library</a></li>
					<li class="section-list-item"><a href="#">University of Nebraska College of Law</a></li>
					<li class="section-list-item"><a href="#">University of New Hampshire School of Law Library</a></li>
					<li class="section-list-item"><a href="#">University of New Mexico School of Law Library</a></li>
					<li class="section-list-item"><a href="#">University of Saskatchewan</a></li>
					<li class="section-list-item"><a href="#">University of South Dakota School of Law, Law Library</a></li>
					<li class="section-list-item"><a href="#">University of Tennessee-Knoxville College of Law</a></li>
					<li class="section-list-item"><a href="#">University of Victoria Libraries</a></li>
					<li class="section-list-item"><a href="#">University of Washington School of Law</a></li>
					<li class="section-list-item"><a href="#">University of Wisconsin Law Library</a></li>
					<li class="section-list-item"><a href="#">Valparaiso University School of Law Library</a></li>
					<li class="section-list-item"><a href="#">Vanderbilt Law School</a></li>
					<li class="section-list-item"><a href="#">Vermont Law School Library, Vermont Law School</a></li>
					<li class="section-list-item"><a href="#">Villanova University School of Law, Library</a></li>
					<li class="section-list-item"><a href="#">Vincent C. Immel Law Library, Saint Louis University</a></li>
					<li class="section-list-item"><a href="#">Washington University Law</a></li>
					<li class="section-list-item"><a href="#">Widener University School of Law</a></li>
					<li class="section-list-item"><a href="#">Willamette University College of Law</a></li>
					<li class="section-list-item"><a href="#">William & Mary Law School</a></li>
					<li class="section-list-item"><a href="#">William Taylor Muse Law Library, University of Richmond School of Law</a></li>
					<li class="section-list-item"><a href="#">Yale Law Library</a></li>
					<li class="section-list-item"><a href="#">Young Law Library University of Arkansas School of Law</a></li>
				</ul>
			</div>
		</div>
		<div class="row row-subsection">
			<div class="col-xs-12 section-hed">
				<h3 class="section-ah">Articles and awards</h3>
			</div>
			<div class="col col-xs-12 col-sm-3col">
				<ul class="section-list">
					<li class="section-list-item"><a href="#"><strong>Link rot is real</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The New Yorker</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot in academic citations</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The Harvard Law Review</cite>, 2013</li>
					<li class="section-list-item"><a href="#"><strong>Menace to the courts</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>Wired</cite>, 2015</li>
					<li class="section-list-item"><a href="#"><strong>Our fragile web</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>First Look LegalTech</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot is real</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The New Yorker</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot in academic citations</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The Harvard Law Review</cite>, 2013</li>
					<li class="section-list-item"><a href="#"><strong>Menace to the courts</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>Wired</cite>, 2015</li>
					<li class="section-list-item"><a href="#"><strong>Our fragile web</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>First Look LegalTech</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot is real</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The New Yorker</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot in academic citations</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The Harvard Law Review</cite>, 2013</li>
					<li class="section-list-item"><a href="#"><strong>Menace to the courts</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>Wired</cite>, 2015</li>
					<li class="section-list-item"><a href="#"><strong>Our fragile web</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>First Look LegalTech</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot is real</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The New Yorker</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot in academic citations</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The Harvard Law Review</cite>, 2013</li>
					<li class="section-list-item"><a href="#"><strong>Menace to the courts</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>Wired</cite>, 2015</li>
					<li class="section-list-item"><a href="#"><strong>Our fragile web</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>First Look LegalTech</cite>, 2014</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="landing-signup" class="container-fluid cont-bg">
	<div class="container cont-fixed">
		<h2 class="section-title-alt">Sign up for free</h2>
		<p class="section-subtitle-alt">It only takes a minute to get sign up with Perma.cc. Select your organization and get started.</p>
		<div class="row row-modules">
			<div class="col-xs-12 col-sm-3 _isCentered">
                <img class="img-responsive signup-image" src="{{ STATIC_URL }}img/signup-libraries-bg.png" alt="An illustration of Perma.cc links being placed in a documents citations."/>
                <p class="caption"><strong>Libraries.</strong> Libraries play a critical role in powering and supporting Perma.cc.</p>
				<a href="{% url 'libraries' %}" class="btn btn-small center">Perma.cc for libraries</a>
			</div>
			<div class="col-xs-12 col-sm-3 _isCentered">
                <img class="img-responsive signup-image" src="{{ STATIC_URL }}img/signup-academics-bg.png" alt="An illustration of Perma.cc links being placed in a documents citations."/>
                <p class="caption"><strong>Faculty and journals.</strong> Over 150 academic law journals prevent link rot with Perma.cc.</p>
				<a href="{% url 'sign_up_faculty' %}" class="btn btn-small center">Perma.cc for law journals</a>
			</div>
			<div class="col-xs-12 col-sm-3 _isCentered">
                <img class="img-responsive signup-image" src="{{ STATIC_URL }}img/signup-courts-bg.png" alt="An illustration of Perma.cc links being placed in a documents citations."/>
                <p class="caption"><strong>Courts.</strong> Courts demand long-term accuracy, integrity, and reliability.</p>
				<a href="{% url 'sign_up_courts' %}" class="btn btn-small center">Perma.cc for courts</a>
			</div>
			<div class="col-xs-12 col-sm-3 _isCentered">
                <img class="img-responsive signup-image" src="{{ STATIC_URL }}img/signup-everyone-bg.png" alt="An illustration of Perma.cc links being placed in a documents citations."/>
                <p class="caption"><strong>Everyone.</strong> Anyone can create a free account and start creating Perma Links.</p>
				<a href="{% url 'sign_up' %}" class="btn btn-small center">Perma.cc for everyone</a>
			</div>
		</div>
	</div>
</section>

<section id="landing-developers" class="container-fluid cont-banner">
	<div class="container cont-fixed">
		<p class="inverse"><strong>Interested in developing with the Perma.cc API?</strong> <a class="btn-inline">Check out Perma.cc for developers.</a></p>
	</div>
</section>

<section id="supporting-partners">
    <div class="container cont-fixed">
        <div class="row">
            <div class="col-sm-12 supporting-partners">

                <h2>Perma.cc’s Supporting Partners</h2>

                <div>
                    <a href="http://librarylab.law.harvard.edu/"><img src="{{ STATIC_URL }}img/supporting-partners/LIL-bw.gif" alt="Harvard Library Innovation Lab" class="square"></a>
                    <a href="http://lipalliance.org/"><img src="{{ STATIC_URL }}img/supporting-partners/LIPA-bw.gif" alt="Legal Information Preservation Alliance" class="square"></a>
                    <a href="http://cyber.law.harvard.edu/"><img src="{{ STATIC_URL }}img/supporting-partners/Berkman-bw.gif" alt="Berkman Center for Internet and Society"></a>
                    <a href="http://archive.org/index.php" class="square"><img src="{{ STATIC_URL }}img/supporting-partners/IA-bw.gif" alt="Internet Archive" class="square"></a>
                    <a href="http://dp.la/"><img src="{{ STATIC_URL }}img/supporting-partners/DPLA-bw.gif" alt="Digital Public Library of America"></a>
                    <a href="https://www.cloudflare.com/"><img src="{{ STATIC_URL }}img/supporting-partners/CloudFlare-bw.gif" alt="CloudFlare, Inc."></a>
                    <a href="http://dyn.com/"><img src="{{ STATIC_URL }}img/supporting-partners/Dyn-bw.gif" alt="Dyn"></a>
                </div>


            </div><!--/col-->
        </div><!--/row-->

    </div><!--/container-->
</section>

{% endblock %}

{% block footer %}
<footer>
	<div class="container cont-fixed">
		<div class="row">
			<div class="col col-sm-6">
				<ul id="footer-nav">
		            <!--<li class="footer-nav-item"><a class="home" href="{% url 'landing' %}">Perma.cc</a></li>-->
		            <li class="footer-nav-item"><a href="{% url 'about' %}">About</a></li>
		            <li class="footer-nav-item"><a href="{% url 'docs' %}">Guide</a></li>
		            <li class="footer-nav-item"><a href="{% url 'dev_docs' %}">Developers</a></li>
		            <li class="footer-nav-item"><a href="{% url 'contact' %}">Contact</a></li>
		            <li class="footer-nav-item"><a href="https://blogs.law.harvard.edu/perma/">Blog</a></li>
		            <li class="footer-nav-item"><a href="https://github.com/harvard-lil/perma">Github</a></li>
				</ul>
			</div>
			<div class="col col-sm-6">
				<ul id="boilerplate">
					<li class="boilerplate-item"><a href="{% url 'terms_of_service' %}">Terms of Service</a></li>
					<li class="boilerplate-item"><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
					<li class="boilerplate-item"><a href="{% url 'copyright_policy' %}">Copyright Policy</a></li>
				</ul>
			</div>
		</div>
	</div><!--/container-->
</footer>
{% endblock %}

{% block scripts %}
    {% javascript 'landing' %}
    {% javascript 'map' %}
{% endblock %}
