{% extends "base-responsive.html" %}

{% load pipeline %}

{% block styles %}
{% endblock %}

{% block bodyFlags %}{% if request.user.is_authenticated %}_search{% else %}_welcome{% endif %}{% endblock %}

{% block mainContent %}

<!-- URL input -->
<section id="landing-introduction" class="container-fluid">
    <div class="container cont-fixed">
		<div class="row">
			<div class="col-xs-12 col-sm-7">
				<h1 class="section-title">Websites change. <span class="_noWrap">Perma Links don’t.</span></h1>
				<p class="primary-intro"><strong>Perma.cc</strong> helps <a href="#">journals</a>, <a href="#">lawyers</a>, <a href="#">courts</a>, and <a href="#">others</a>  preserve web citations by creating <a href="#">permanent archives</a> of their <span class="_noWrap">cited links.</span></p>
				<p class="primary-intro _showDesktop">Perma.cc is simple, <a href="#">free to use</a>, and is built and <a href="#">supported by libraries</a>.</p>
			</div>
			<div class="col-xs-12 col-sm-5">
                <img 	src="{{ STATIC_URL }}img/websites-change-square.svg"
                		height="400" 
                		width="400" 
                		class="img-responsive primary-img" 
                		alt="Websites change. Perma Links don’t." />
                <!--
				<div class="container">
					<div class="row row-halfgutter">
						<div class="col-xs-6 col-sm-12 col-lg-6">
							<a class="link-block xs-badge-sq sm-badge" href="#"><span class="badge-inner"><strong>Recommended by the 2015 Bluebook.</strong> See Rule 32.6.8<span></a>
						</div>
						<div class="col-xs-6 col-sm-12 col-lg-6">
							<a class="link-block xs-badge-sq sm-badge _badge-webby" href="#"><span class="badge-inner"><strong>Webby-award Winning.</strong> Best Legal Website 2014</span></a>
						</div>
					</div>
				</div>
                -->
			</div>
		</div>
		<div class="row row-modules">
			<div class="col-xs-12  _isCentered">
		        {% if request.user.is_authenticated %}
		            <a href="{% url 'create_link' %}" class="btn btn-large">Create and manage your Perma Links</a>
		        {% else %}
			    	<a href="{% url 'sign_up' %}" class="btn btn-large">Sign up and use Perma.cc for free</a>
			    	<a href="{% url 'libraries' %}" class="btn btn-large-alt">How can my library power Perma.cc?</a>
		        {% endif %}
			</div>
		</div>
    </div>
</section>
<section id="minisxs" class="cont-bg">
    <div class="container-hero">
    	<h6 class="image-hed">Perma.cc is a simple way <span class="_noWrap">to preserve your links.</span></h6>
    	<div class="row outer">
	    	<div class="col-xs-12 col-md-6">
	    		<div class="container cont-fixed">
		    		<div class="row">
			    		<div class="col-xs-6">
			    			<a href="#" class="link-block hero-module">
				    			<p class="caption-hero">Find<span class="_verbose"> any URL</span>.</p>
				                <img 	src="{{ STATIC_URL }}img/create-step-1.png"
				                		height="400" 
				                		width="400" 
				                		class="img-responsive" 
				                		alt="Perma Step 2" />
			    			</a>
			    		</div>
			    		<div class="col-xs-6">
			    			<a href="#" class="link-block hero-module">
				    			<p class="caption-hero">Add<span class="_verbose"> it to Perma.cc</span>.</p>
				                <img 	src="{{ STATIC_URL }}img/create-step-2.png"
				                		height="400" 
				                		width="400" 
				                		class="img-responsive" 
				                		alt="Perma Step 2" />
			    			</a>
			    		</div>
		    		</div>
	    		</div>
	    	</div>
	    	<div class="col-xs-12 col-md-6">
	    		<div class="container cont-fixed">
		    		<div class="row">
			    		<div class="col-xs-6">
			    			<a href="#" class="link-block hero-module">
				    			<p class="caption-hero">Create<span class="_verbose"> a Perma Link</span>.</p>
				                <img 	src="{{ STATIC_URL }}img/create-step-3.png"
				                		height="400" 
				                		width="400" 
				                		class="img-responsive" 
				                		alt="Perma Step 3" />
			    			</a>
			    		</div>
			    		<div class="col-xs-6">
			    			<a href="#" class="link-block hero-module">
				    			<p class="caption-hero">Cite<span class="_verbose"> safely</span>.</p>
				                <img 	src="{{ STATIC_URL }}img/create-step-4.png"
				                		height="400" 
				                		width="400" 
				                		class="img-responsive" 
				                		alt="Perma Step 4" />
			    			</a>
			    		</div>
			    	</div>
	    		</div>
	    	</div>
    	</div>
    </div>

</section>

<section id="landing-problem" class="container-fluid cont-bg">
    <div class="container cont-fixed">
		<h2 class="section-title">One good reason to use Perma.cc? <span class="_noWrap">How about 404?</span></h2>
		<p class="section-subtitle">Websites change, go away, and get taken down. When linked citations lead to broken, blank, unintentional, or even malicious pages, that’s called link rot.</p>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h3 class="section-ah">Link rot affects everybody</h3>
				<p class="section-strong">Over 50% of cited links in Spreme Court decisions no longer point to the proper page. If you link to the Web, link rot affects you too.</p>
				<p class="section-body">Websites change, go away, and get taken down. When they do, linked citations can lead to broken, blank, unintentional, or even malicious pages. This decay is called “link rot.” Perma.cc helps scholars, journals and courts prevent link rot by creating permanent, reliable, unalterable links to the online sources cited in their work.</p>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h3 class="section-ah">Articles and studies</h3>
				<p class="section-strong">Over 50% of cited links in Spreme Court decisions no longer point to the proper page. If you link to the Web, link rot affects you too.</p>
				<ul class="section-list">
					<li class="section-list-item"><a href="#" class="outside"><strong>Link rot is real</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The New Yorker</cite>, 2014</li>
					<li class="section-list-item"><a href="#" class="outside"><strong>Link rot in academic citations</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The Harvard Law Review</cite>, 2013</li>
					<li class="section-list-item"><a href="#" class="outside"><strong>Menace to the courts</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>Wired</cite>, 2015</li>
					<li class="section-list-item"><a href="#" class="outside"><strong>Our fragile web</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>First Look LegalTech</cite>, 2014</li>
				</ul>
			</div>
		</div>
    </div>
    <div class="container-fluid section-break">
		<div class="container cont-fixed">
			<div class="row">
				<div class="col-xs-12 section-hed">
					<h3 class="section-ah">Link rot destroys the integrity <span class="_noWrap">of your citations</span></h3>
				</div>
			</div>
			<div class="row row-modules">
				<div class="col-xs-12 col-sm-6">
					<div class="row">
						<div class="figure col-xs-6">
		                    <img src="{{ STATIC_URL }}img/link-rot-0.svg" height="400" width="400" class="img-responsive" alt="1. A graph of citations before link rot" />
							<p class="caption"><strong>Links start healthy.</strong> New citations have been vetted and verified.</p>
						</div>
						<div class="figure col-xs-6">
		                    <img src="{{ STATIC_URL }}img/link-rot-20.svg" height="400" width="400" class="img-responsive" alt="1. A graph of citations before link rot" />
							<p class="caption"><strong>After one year.</strong> After a year, over 20% of cited links may be dead or otherwise inacessible.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="row">
						<div class="figure col-xs-6">
		                    <img src="{{ STATIC_URL }}img/link-rot-50.svg" height="400" width="400" class="img-responsive" alt="1. A graph of citations before link rot" />
							<p class="caption"><strong>After five years.</strong> After five years, the situation is much worse — over 50% of cited links can be afftected.</p>
						</div>
						<div class="figure col-xs-6">
		                    <img src="{{ STATIC_URL }}img/link-rot-80.svg" height="400" width="400" class="img-responsive" alt="1. A graph of citations before link rot" />
							<p class="caption"><strong>As time goes on.</strong> Link rot is inevitable and rarely reversible. The longer the wait, the more likely a link will have rotted.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-subsection">
				<div class="col-xs-12  _isCentered">
			        {% if request.user.is_authenticated %}
			            <a href="{% url 'create_link' %}" class="btn btn-large">Create and manage your Perma Links</a>
			        {% else %}
				    	<a href="{% url 'sign_up' %}" class="btn btn-large">Sign up and start preventing link rot</a>
			        {% endif %}
				</div>
				<div class="col-xs-12">
					<p class="section-body small footnote">Data taken from <a href="http://harvardlawreview.org/2014/03/perma-scoping-and-addressing-the-problem-of-link-and-reference-rot-in-legal-citations/">“Perma: Scoping and Addressing the Problem of Link and Reference Rot in Legal Citations,”</a> <a class="cc" href="http://www.perma.cc/4356-6557">http://www.perma.cc/4356-6557</a> Jonathan Zittrain, Kendra Albert & Lawrence Lessig. Harvard Law Review. March 17, 2014.</p>
				</div>
			</div>
		</div>
    </div>
</section>

<section id="landing-product" class="container-fluid">
    <div class="container cont-fixed">
		<h2 class="section-title">Meet the Perma Link.</h2>
		<p class="section-subtitle">A Perma Link is a reliable, unbreakable link to an unalterable copy of any page you’ve cited. It’s both a time capsule for a webpage and a way to always <span class="_noWrap">find it.</span></p>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h3 class="section-ah">We’re committed to preservation</h3>
				<p class="section-body">Websites change, go away, and get taken down. When they do, linked citations can lead to broken, blank, unintentional, or even malicious pages. This decay is called “link rot.” Perma.cc helps scholars, journals and courts prevent link rot by creating permanent, reliable, unalterable links to the online sources cited in their work.</p>
			    <a href="{% url 'docs_perma_link_creation' %}" class="btn btn-small">All about Perma Links</a>
			</div>
			<div class="col-xs-12 col-sm-6">
					<h3 class="section-ah">Frequently asked questions</h3>
					<p class="section-body">Once you capture a Perma Link, neither its content nor its address will change, no matter what happens to the original link.</p>
					<ul class="section-list">
						<li class="section-list-item"><a class="outside" href="#"><strong>What is a Perma archive?</strong></a></li>
						<li class="section-list-item"><a class="outside" href="#"><strong>How long do Perma Links last?</strong></a></li>
						<li class="section-list-item"><a class="outside" href="#"><strong>What about protected content?</strong></a></li>
						<li class="section-list-item"><a class="outside" href="#"><strong>What are Perma.cc’s long-term plans for these links?</strong></a></li>
						<li class="section-list-item"><a class="outside" href="#"><strong>What’s your privacy policy?</strong></a></li>
					</ul>
				    <a href="{% url 'docs_faq' %}" class="btn btn-small">More questions? Get more answers.</a>
			</div>
		</div>
    </div>
</section>

<section id="landing-sxs" class="container-fluid cont-bg">
    <div class="container cont-fixed">
		<h2 class="section-title">It’s easy to make and use a Perma Link.</h2>
		<p class="section-subtitle">Copy. Paste. Perma.</p>
    </div>
    <div class="container-fluid row-sxs">
	    <div class="container cont-fixed">
			<div class="row row-modules">
				<div class="col-xs-12 col-sm-5 first">
					<p class="caption caption-sxs right"><strong class="num">Step 1 </strong><strong>Find the page you want to preserve.</strong> Copy its URL and open Perma.cc.</p>
				</div>
				<div class="col-xs-12 col-sm-7">
                    <img src="{{ STATIC_URL }}img/create-step-1.png" height="400" width="400" class="img-responsive img-sxs left" alt="Responsive image" alt="1. A graph of citations before link rot" />
				</div>
			</div>
	    </div>
    </div>
    <div class="container-fluid row-sxs">
	    <div class="container cont-fixed">
			<div class="row row-modules">
				<div class="col-xs-12 col-sm-7">
                    <img src="{{ STATIC_URL }}img/create-step-2.png" height="400" width="400" class="img-responsive img-sxs right" alt="Responsive image" alt="1. A graph of citations before link rot" />
				</div>
				<div class="col-xs-12 col-sm-5 first">
					<p class="caption caption-sxs"><strong class="num">Step 2 </strong><strong>Add your URL to Perma.cc.</strong> Select Create Perma Link and Perma.cc does the rest.</p>
				</div>
			</div>
	    </div>
	</div>
    <div class="container-fluid row-sxs">
	    <div class="container cont-fixed">
			<div class="row row-modules">
				<div class="col-xs-12 col-sm-5 first">
					<p class="caption caption-sxs right"><strong class="num">Step 3 </strong><strong>Get your Perma Link.</strong> Perma.cc builds your new record in a matter of moments. When it’s finished, you have a chance to <a href="#">delete</a> or <a href="#">annotate</a> it.</p>
				</div>
				<div class="col-xs-12 col-sm-7">
                    <img src="{{ STATIC_URL }}img/create-step-3.png" height="400" width="400" class="img-responsive img-sxs left" alt="Responsive image" alt="2. A graph of citations at the start of link rot" />
				</div>
			</div>
	    </div>
	</div>
    <div class="container-fluid row-sxs">
	    <div class="container cont-fixed">
			<div class="row row-modules">
				<div class="col-xs-12 col-sm-7">
                    <img src="{{ STATIC_URL }}img/create-step-4.png" height="400" width="400" class="img-responsive img-sxs right" alt="Responsive image" alt="3. A graph of citations with typical link rot" />
				</div>
				<div class="col-xs-12 col-sm-5 first">
					<p class="caption caption-sxs"><strong class="num">Step 4 </strong><strong>Use the Perma Link in your citations.</strong> Use your Perma Link as you would the original cited URL. Your citation is safe from link rot — it will never change or break.</p>
				</div>
			</div>
	    </div>
	</div>
</section>
<section id="landing-stats" class="container-fluid container-square-display">
	    <div class="container-fluid section-break cont-bg-knockout inner">
			<div class="container cont-fixed">
                <img 	src="{{ STATIC_URL }}img/transparent-sq.png" 
                		height="400" 
                		width="400" 
                		class="img-responsive _showMobile" 
                		alt="A world of healthy links" 
                		id="healthylinks" />
				<h2 class="section-title-alt light">Perma.cc has already preserved thousands of links for users all over the world.</h2>
				<div class="row-stats  _isCentered">
					<div class="col-stat stat-10p5">
						<div class="stat-number">120,234</div>
						<div class="stat-label">Links preserved</div>
					</div>
					<div class="col-stat stat-10p3">
						<div class="stat-number">6,236</div>
						<div class="stat-label">Users</div>
					</div>
					<div class="col-stat stat-10p2">
						<div class="stat-number">441</div>
						<div class="stat-label">Archiving organizations</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12  _isCentered">
				    	<a href="{% url 'sign_up' %}" class="btn btn-large">Sign up and create your first Perma Link</a>
					</div>
				</div>
			</div>
	    </div>
	</div>
</section>

<section id="landing-institutions" class="container-fluid">
	<div class="container cont-fixed">
		<h2 class="section-title">Built to last.</h2>
		<p class="section-subtitle">Libraries are in the forever business. We’re committed to preserving your digital records to the same standards that we preseve phsyical records. That’s why over 150 journals, courts, universities trust us with their citations.</p>
		<div class="row row-subsection">
			<div class="col-sm-12">
	            {% include "includes/participating_institutions.html" %}
			</div><!--col-sm-12-->
		</div><!--row-->	
		<div class="row row-subsection">
			<div class="col-xs-12 section-hed">
				<h3 class="section-ah">Articles and awards</h3>
			</div>
		</div>
		<div class="row row-subsection">
			<div class="col col-xs-12 col-sm-2col col-md-3col">
				<ul class="section-list">
					<li class="section-list-item"><a href="#"><strong>Link rot is real</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The New Yorker</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot in academic citations</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The Harvard Law Review</cite>, 2013</li>
					<li class="section-list-item"><a href="#"><strong>Menace to the courts</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>Wired</cite>, 2015</li>
					<li class="section-list-item"><a href="#"><strong>Our fragile web</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>First Look LegalTech</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot is real</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The New Yorker</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot in academic citations</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The Harvard Law Review</cite>, 2013</li>
					<li class="section-list-item"><a href="#"><strong>Menace to the courts</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>Wired</cite>, 2015</li>
					<li class="section-list-item"><a href="#"><strong>Our fragile web</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>First Look LegalTech</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot is real</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The New Yorker</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot in academic citations</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The Harvard Law Review</cite>, 2013</li>
					<li class="section-list-item"><a href="#"><strong>Menace to the courts</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>Wired</cite>, 2015</li>
					<li class="section-list-item"><a href="#"><strong>Our fragile web</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>First Look LegalTech</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot is real</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The New Yorker</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot in academic citations</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The Harvard Law Review</cite>, 2013</li>
					<li class="section-list-item"><a href="#"><strong>Menace to the courts</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>Wired</cite>, 2015</li>
					<li class="section-list-item"><a href="#"><strong>Our fragile web</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>First Look LegalTech</cite>, 2014</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="landing-signup" class="container-fluid cont-bg">
	<div class="container cont-fixed">
		<h2 class="section-title-alt">Sign up for free</h2>
		<p class="section-subtitle-alt">It only takes a minute to get sign up with Perma.cc. Select your organization and get&nbsp;started.</p>
		<div class="row row-modules">
			<div class="col-xs-12 col-sm-3 _isCentered signup-module">
                <img class="img-responsive signup-image" src="{{ STATIC_URL }}img/signup-libraries-bg.png" alt="An illustration of Perma.cc links being placed in a documents citations."/>
                <p class="caption"><strong>Libraries<span class="_verbose">.</span></strong> Libraries play a critical role in powering and supporting Perma.cc.</p>
				<a href="{% url 'libraries' %}" class="btn btn-small center">Perma.cc for libraries</a>
			</div>
			<div class="col-xs-12 col-sm-3 _isCentered signup-module">
                <img class="img-responsive signup-image" src="{{ STATIC_URL }}img/signup-academics-bg.png" alt="An illustration of Perma.cc links being placed in a documents citations."/>
                <p class="caption"><strong>Faculty and journals<span class="_verbose">.</span></strong> Over 150 academic law journals use Perma.cc.</p>
				<a href="{% url 'sign_up_journals' %}" class="btn btn-small center">Perma.cc for journals</a>
			</div>
			<div class="col-xs-12 col-sm-3 _isCentered signup-module">
                <img class="img-responsive signup-image" src="{{ STATIC_URL }}img/signup-courts-bg.png" alt="An illustration of Perma.cc links being placed in a documents citations."/>
                <p class="caption"><strong>Courts<span class="_verbose">.</span></strong> Courts demand long-term reliability from the links in their decisions.</p>
				<a href="{% url 'sign_up_courts' %}" class="btn btn-small center">Perma.cc for courts</a>
			</div>
			<div class="col-xs-12 col-sm-3 _isCentered signup-module">
                <img class="img-responsive signup-image" src="{{ STATIC_URL }}img/signup-everyone-bg.png" alt="An illustration of Perma.cc links being placed in a documents citations."/>
                <p class="caption"><strong>Everyone<span class="_verbose">.</span></strong> Anyone can create a free account and start creating Perma Links.</p>
				<a href="{% url 'sign_up' %}" class="btn btn-small center">Perma.cc for everyone</a>
			</div>
		</div>
	</div>
</section>

<section id="landing-developers" class="container-fluid cont-banner">
	<div class="container cont-fixed">
		<p class="inverse"><strong>Interested in developing with the Perma.cc API?</strong> <a class="btn-inline" href="{% url 'dev_docs' %}">Check out Perma.cc for developers.</a></p>
	</div>
</section>

<section id="supporting-partners">
    <div class="container cont-fixed">
        <div class="row">
            <div class="col-sm-12 supporting-partners">

                <h2>Perma.cc’s Supporting Partners</h2>

                <div>
                    <a href="http://librarylab.law.harvard.edu/"><img src="{{ STATIC_URL }}img/supporting-partners/LIL-bw.gif" alt="Harvard Library Innovation Lab" class="square"></a>
                    <a href="http://lipalliance.org/"><img src="{{ STATIC_URL }}img/supporting-partners/LIPA-bw.gif" alt="Legal Information Preservation Alliance" class="square"></a>
                    <a href="http://cyber.law.harvard.edu/"><img src="{{ STATIC_URL }}img/supporting-partners/Berkman-bw.gif" alt="Berkman Center for Internet and Society"></a>
                    <a href="http://archive.org/index.php" class="square"><img src="{{ STATIC_URL }}img/supporting-partners/IA-bw.gif" alt="Internet Archive" class="square"></a>
                    <a href="http://dp.la/"><img src="{{ STATIC_URL }}img/supporting-partners/DPLA-bw.gif" alt="Digital Public Library of America"></a>
                    <a href="https://www.cloudflare.com/"><img src="{{ STATIC_URL }}img/supporting-partners/CloudFlare-bw.gif" alt="CloudFlare, Inc."></a>
                    <a href="http://dyn.com/"><img src="{{ STATIC_URL }}img/supporting-partners/Dyn-bw.gif" alt="Dyn"></a>
                </div>


            </div><!--/col-->
        </div><!--/row-->

    </div><!--/container-->
</section>

{% endblock %}

{% block footer %}
<footer>
	<div class="container cont-fixed">
		<div class="row">
			<div class="col col-sm-6">
				<ul id="footer-nav">
		            <!--<li class="footer-nav-item"><a class="home" href="{% url 'landing' %}">Perma.cc</a></li>-->
		            <li class="footer-nav-item"><a href="{% url 'about' %}">About</a></li>
		            <li class="footer-nav-item"><a href="{% url 'docs' %}">Guide</a></li>
		            <li class="footer-nav-item"><a href="{% url 'dev_docs' %}">Developers</a></li>
		            <li class="footer-nav-item"><a href="{% url 'contact' %}">Contact</a></li>
		            <li class="footer-nav-item"><a href="https://blogs.law.harvard.edu/perma/">Blog</a></li>
		            <li class="footer-nav-item"><a href="https://github.com/harvard-lil/perma">Github</a></li>
				</ul>
			</div>
			<div class="col col-sm-6">
				<ul id="boilerplate">
					<li class="boilerplate-item"><a href="{% url 'terms_of_service' %}">Terms of Service</a></li>
					<li class="boilerplate-item"><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
					<li class="boilerplate-item"><a href="{% url 'copyright_policy' %}">Copyright Policy</a></li>
				</ul>
			</div>
		</div>
	</div><!--/container-->
</footer>
{% endblock %}

{% block scripts %}
    {% javascript 'landing' %}
    {% javascript 'map' %}
{% endblock %}
