{% extends "base-responsive.html" %}

{% load pipeline %}

{% block styles %}
{% endblock %}

{% block bodyFlags %}{% if request.user.is_authenticated %}_search{% else %}_welcome{% endif %}{% endblock %}

{% block mainContent %}

<!-- URL input -->
<section id="landing-introduction" class="container-fluid">
    <div class="container cont-fixed">
		<div class="row">
			<div class="col-xs-12 col-sm-9 col-lg-8">
				<h1 class="_hide">Perma.cc prevents link rot.</h1>
				<p class="primary-intro"><strong>Perma.cc</strong> helps <a href="#">scholars</a>, <a href="#">lawyers</a>, <a href="#">judges</a>, and <a href="#">others</a> prevent <a href="#">link rot</a> and preserve web citations by creating <a href="#">permanent records</a> of their cited links.</p>
				<p class="primary-intro">Perma.cc is simple, <a href="#">free to use</a>, and is built and <a href="#">supported by libraries</a>.</p>
			</div>
			<div class="col-xs-12 col-sm-3 col-lg-4">
				<div class="container">
					<div class="row row-halfgutter">
						<div class="col-xs-6 col-sm-12 col-lg-6">
							<a class="link-block xs-badge-sq sm-badge" href="#"><span class="badge-inner"><strong>Recommended by the 2015 Blue Book.</strong> See Rule 32.6.8<span></a>
						</div>
						<div class="col-xs-6 col-sm-12 col-lg-6">
							<a class="link-block xs-badge-sq sm-badge _badge-webby" href="#"><span class="badge-inner"><strong>Webby-award Winning.</strong> Best Legal Website 2014</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12  _isCentered">
		        {% if request.user.is_authenticated %}
		            <a href="{% url 'create_link' %}" class="btn btn-large">Create and manage your Perma Links</a>
		        {% else %}
			    	<a href="{% url 'sign_up' %}" class="btn btn-large">Sign up and use Perma.cc for free</a>
			    	<a href="{% url 'libraries' %}" class="btn btn-large-alt">How can my library power Perma.cc?</a>
		        {% endif %}
			</div>
		</div>
    </div>
</section>

<section id="landing-problem" class="container-fluid cont-bg">
    <div class="container cont-fixed">
		<h2 class="section-title">Why do we exist? Link rot is hurting you.</h2>
		<p class="section-subtitle">Link rot kills academic citations. Perma.cc kills link rot.</p>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h3 class="section-ah">About link rot</h3>
				<p class="section-strong">Websites change, go away, and get taken down. When they do, linked citations can lead to broken, blank, unintentional, or even malicious pages. This decay is called “link rot.”</p>
				<p class="section-body">Websites change, go away, and get taken down. When they do, linked citations can lead to broken, blank, unintentional, or even malicious pages. This decay is called “link rot.” Perma.cc helps scholars, journals and courts prevent link rot by creating permanent, reliable, unalterable links to the online sources cited in their work.</p>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h3 class="section-ah">Articles/studies</h3>
				<p class="section-body">Websites change, go away, and get taken down. When they do, linked citations can lead to broken, blank, unintentional, or even malicious pages. This decay is called “link rot.” Perma.cc helps scholars, journals and courts prevent link rot by creating permanent, reliable, unalterable links to the online sources cited in their work:</p>
				<ul class="section-list">
					<li class="section-list-item"><a href="#"><strong>Link rot is real</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The New Yorker</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot in academic citations</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The Harvard Law Review</cite>, 2013</li>
					<li class="section-list-item"><a href="#"><strong>Menace to the courts</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>Wired</cite>, 2015</li>
					<li class="section-list-item"><a href="#"><strong>Our fragile web</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>First Look LegalTech</cite>, 2014</li>
				</ul>
			</div>
		</div>
    </div>
    <div class="cont-full section-break">
		<div class="container cont-fixed">
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-md-1">
					<p class="caption _alignLeft">Here’s what link rot does.</p>
				</div>
				<div class="col-xs-12 col-sm-10by3">
                    <img src="{{ STATIC_URL }}img/signal.png" height="400" width="400" class="img-responsive" alt="1. A graph of citations before link rot" />
					<p class="caption">Vesting helps to assure that our Perma Links are valid, necessary, and correct.</p>
				</div>
				<div class="col-xs-12 col-sm-10by3">
                    <img src="{{ STATIC_URL }}img/signal.png" height="400" width="400" class="img-responsive" alt="1. A graph of citations before link rot" />
					<p class="caption">Vesting helps to assure that our Perma Links are valid, necessary, and correct.</p>
				</div>
				<div class="col-xs-12 col-sm-10by3">
                    <img src="{{ STATIC_URL }}img/signal.png" height="400" width="400" class="img-responsive" alt="1. A graph of citations before link rot" />
					<p class="caption">Vesting helps to assure that our Perma Links are valid, necessary, and correct.</p>
				</div>
				<div class="col-xs-12 col-sm-2 col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-xs-12  _isCentered">
			        {% if request.user.is_authenticated %}
			            <a href="{% url 'create_link' %}" class="btn btn-large">Create and manage your Perma Links</a>
			        {% else %}
				    	<a href="{% url 'sign_up' %}" class="btn btn-large">Sign up for free</a>
			        {% endif %}
				</div>
			</div>
		</div>
    </div>
</section>

<section id="landing-product" class="container-fluid _hasDivider">
    <div class="container cont-fixed">
		<h2 class="section-title">Perma.cc prevents link rot.</h2>
		<p class="section-subtitle">Copy. Paste. Perma.</p>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<h3 class="section-ah">Simple</h3>
				<p class="section-body">Websites change, go away, and get taken down. When they do, linked citations can lead to broken, blank, unintentional, or even malicious pages. This decay is called “link rot.” Perma.cc helps scholars, journals and courts prevent link rot by creating permanent, reliable, unalterable links to the online sources cited in their work.</p>
				<ul class="section-list">
					<li class="section-list-item"><a href="#"><strong>Link rot is real</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The New Yorker</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot in academic citations</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The Harvard Law Review</cite>, 2013</li>
					<li class="section-list-item"><a href="#"><strong>Menace to the courts</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>Wired</cite>, 2015</li>
					<li class="section-list-item"><a href="#"><strong>Our fragile web</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>First Look LegalTech</cite>, 2014</li>
				</ul>
			    <a href="{% url 'sign_up' %}" class="btn btn-small">How it works</a>
			</div>
			<div class="col-xs-12 col-sm-4">
				<h3 class="section-ah">Free</h3>
				<p class="section-body">Websites change, go away, and get taken down. When they do, linked citations can lead to broken, blank, unintentional, or even malicious pages. This decay is called “link rot.” Perma.cc helps scholars, journals and courts prevent link rot by creating permanent, reliable, unalterable links to the online sources cited in their work:</p>
			    <a href="{% url 'sign_up' %}" class="btn btn-small">How it works</a>
			    <a href="{% url 'sign_up' %}" class="btn btn-small">Perma.cc for libraries</a>
			</div>
			<div class="col-xs-12 col-sm-4">
				<h3 class="section-ah">Powered by Libraries</h3>
				<p class="section-body">Websites change, go away, and get taken down. When they do, linked citations can lead to broken, blank, unintentional, or even malicious pages. This decay is called “link rot.” Perma.cc helps scholars, journals and courts prevent link rot by creating permanent, reliable, unalterable links to the online sources cited in their work:</p>
			    <a href="{% url 'sign_up' %}" class="btn btn-small">How it works</a>
			</div>
		</div>
    </div>
    <div class="cont-full cont-bg">
		<div class="container cont-fixed">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<h6 class="figure-title">Enter your url</h6>
                    <img src="{{ STATIC_URL }}img/signal.png" height="400" width="400" class="img-responsive" alt="Responsive image" alt="1. A graph of citations before link rot" />
					<p class="caption">Vesting helps to assure that our Perma Links are valid, necessary, and correct.</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h6 class="figure-title">Get a Perma Link</h6>
                    <img src="{{ STATIC_URL }}img/signal.png" height="400" width="400" class="img-responsive" alt="Responsive image" alt="2. A graph of citations at the start of link rot" />
					<p class="caption">Vesting helps to assure that our Perma Links are valid, necessary, and correct.</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h6 class="figure-title">Cite safely</h6>
                    <img src="{{ STATIC_URL }}img/signal.png" height="400" width="400" class="img-responsive" alt="Responsive image" alt="3. A graph of citations with typical link rot" />
					<p class="caption">Vesting helps to assure that our Perma Links are valid, necessary, and correct.</p>
				</div>
			</div>
		</div>
    </div>
    <div class="cont-full section-break">
		<div class="container cont-fixed">
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-md-1">
					<p class="caption text-left">Here’s what Perma.cc does for link rot.</p>
				</div>
				<div class="col-xs-12 col-sm-10by3">
                    <img src="{{ STATIC_URL }}img/signal.png" height="400" width="400" class="img-responsive" alt="Responsive image" alt="1. A graph of citations before link rot" />
					<p class="caption">Vesting helps to assure that our Perma Links are valid, necessary, and correct.</p>
				</div>
				<div class="col-xs-12 col-sm-10by3">
                    <img src="{{ STATIC_URL }}img/signal.png" height="400" width="400" class="img-responsive" alt="Responsive image" alt="2. A graph of citations at the start of link rot" />
					<p class="caption">Vesting helps to assure that our Perma Links are valid, necessary, and correct.</p>
				</div>
				<div class="col-xs-12 col-sm-10by3">
                    <img src="{{ STATIC_URL }}img/signal.png" height="400" width="400" class="img-responsive" alt="Responsive image" alt="3. A graph of citations with typical link rot" />
					<p class="caption">Vesting helps to assure that our Perma Links are valid, necessary, and correct.</p>
				</div>
				<div class="col-xs-12 col-sm-2 col-md-1"></div>
			</div>
			<div class="row">
			<div class="col-xs-12  _isCentered">
		        {% if request.user.is_authenticated %}
		            <a href="{% url 'create_link' %}" class="btn btn-large">Create and manage your Perma Links</a>
		        {% else %}
			    	<a href="{% url 'sign_up' %}" class="btn btn-large">Sign up for free</a>
		        {% endif %}
			</div>
			</div>
		</div>
    </div>
    <div class="cont-full section-break">
		<div class="container cont-fixed">
			<h4 class="subsection-title">Perma.cc has already preserved thousands of links for users all over the world</h4>
			<div class="row-stats">
				<div class="col-stat stat-10p5">
					<div class="stat-number">120,234</div>
					<div class="stat-label">Links preserved</div>
				</div>
				<div class="col-stat stat-10p3">
					<div class="stat-number">6,236</div>
					<div class="stat-label">Users</div>
				</div>
				<div class="col-stat stat-10p2">
					<div class="stat-number">441</div>
					<div class="stat-label">Archiving organizations</div>
				</div>
			</div>
		</div>
    </div>
</section>

<section id="landing-developers" class="container-fluid cont-banner">
	<div class="container cont-fixed">
		<p class="inverse"><strong>Interested in developing with the Perma.cc API?</strong> <a class="btn-inline">Check out Perma.cc for developers.</a></p>
	</div>
</section>

<section id="landing-institutions" class="container-fluid">
	<div class="container cont-fixed">
		<h2 class="section-title">This is why you should trust us.</h2>
		<p class="section-subtitle">Libraries, institutions, commitment, webby, etc.</p>
		<p class="section-lede">Perma.cc is free to use for anyone. However, some types of users and organizations have special privileges and responsibilities. Select the affiliation that best describes you or your organization to learn more and get started creating an account.</p>
		<div class="row">
			<div class="col-sm-2col">
				<p class="section-body">The Tax the Rich campaign is the next wave in underground, media-savvy politics: pretend as if you're promoting another rock band. Sell the brand. Put up posters. Or, in the case of Tax the Rich, have a lot of people put up posters that say "Tax The Rich", especially on February 18. Why February 18? So it can be a "media event", two days before the New Hampshire primaries.</p>
				<p class="section-body">Supplement your postering campaign with an actual plan or specific proposal? Never! Don't "aim to implement or advocate specific legislation": details, mere details! Instead, couch your posturing effort in such terms as "empower[ing]... campaign participants." We will smother them with our wheatpaste! Viva la revolution:</p>
				<p class="section-body">"Spray glue, tape and stapler in your pack, posters hot off the xerox clenched in your teeth. A car goes by. Darkness leaves and returns. Find a smooth clean wall and lay it up. Dim lit alley to your right, throw up two. Dull thuds crisp across the street as friendly staples hit their mark. Spray. Press. Spray. Press. You run just for the thrill of it."</p>
				<a href="{% url 'libraries' %}" class="btn btn-small">More about Perma.cc</a>
			</div>
		</div>
		<h3 class="section-ah">Articles/awards</h3>
		<div class="row">
			<div class="col-sm-3col">
				<ul class="section-list">
					<li class="section-list-item"><a href="#"><strong>Link rot is real</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The New Yorker</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot in academic citations</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The Harvard Law Review</cite>, 2013</li>
					<li class="section-list-item"><a href="#"><strong>Menace to the courts</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>Wired</cite>, 2015</li>
					<li class="section-list-item"><a href="#"><strong>Our fragile web</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>First Look LegalTech</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot is real</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The New Yorker</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot in academic citations</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The Harvard Law Review</cite>, 2013</li>
					<li class="section-list-item"><a href="#"><strong>Menace to the courts</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>Wired</cite>, 2015</li>
					<li class="section-list-item"><a href="#"><strong>Our fragile web</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>First Look LegalTech</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot is real</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The New Yorker</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot in academic citations</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The Harvard Law Review</cite>, 2013</li>
					<li class="section-list-item"><a href="#"><strong>Menace to the courts</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>Wired</cite>, 2015</li>
					<li class="section-list-item"><a href="#"><strong>Our fragile web</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>First Look LegalTech</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot is real</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The New Yorker</cite>, 2014</li>
					<li class="section-list-item"><a href="#"><strong>Link rot in academic citations</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>The Harvard Law Review</cite>, 2013</li>
					<li class="section-list-item"><a href="#"><strong>Menace to the courts</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>Wired</cite>, 2015</li>
					<li class="section-list-item"><a href="#"><strong>Our fragile web</strong></a> <a class="cc" href="http://perma.cc/3333-3333">(Perma.cc archive)</a> <cite>First Look LegalTech</cite>, 2014</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
					<h3 class="section-ah">Library-strength reliability</h3>
					<p class="strong">Perma.cc was built by Harvard’s <a href="http://librarylab.law.harvard.edu">Library Innovation Lab</a> and is backed by the power of libraries. We’re both in the forever business: libraries already look after physical and digital materials — now we can do the same for links.</p>
					<p class="section-body">If you’re a librarian or are affiliated with a library, we can make using Perma.cc free and simple for you and the scholars that depend on you. We’ve answered many common questions and prepared a special library signup at the link below.</p>
					<a href="{% url 'libraries' %}" class="btn btn-small">Try Perma.cc for libraries</a>
			</div><!--col-sm-6-->
			<div class="col-sm-6 _image">
	    		<div class="content">
				    {% include "includes/partner_map.html" %}
					<div class="caption">
						<p>Perma.cc is used and supported by libraries and institutions across America.</p>
					</div>
	    		</div>
			</div><!--col-sm-6-->
		</div><!--row-->
		<div class="row">
			<div class="col-sm-12">
	            {% include "includes/participating_institutions.html" %}
			</div><!--col-sm-12-->
		</div><!--row-->	
		<div class="row">
			<div class="col-sm-3col col-md-5col">
				<ul class="section-list partners">
					<li class="section-list-item"><a href="#">Alex A. Hanna Law Library, St. Thomas University School of Law</a></li>
					<li class="section-list-item"><a href="#">Alexander Campbell King Law Library, University of Georgia School of Law</a></li>
					<li class="section-list-item"><a href="#">American University Washington University Law Library</a></li>
					<li class="section-list-item"><a href="#">Arthur J. Morris Law Library, University of Virginia School of Law</a></li>
					<li class="section-list-item"><a href="#">Belmont University College of Law</a></li>
					<li class="section-list-item"><a href="#">Berkeley Law Library</a></li>
					<li class="section-list-item"><a href="#">Biddle Law Library, University of Pennsylvania</a></li>
					<li class="section-list-item"><a href="#">Bodleian Law Library, Bodleian Libraries, University of Oxford</a></li>
					<li class="section-list-item"><a href="#">Brooklyn Law School Library</a></li>
					<li class="section-list-item"><a href="#">CUNY School of Law Library</a></li>
					<li class="section-list-item"><a href="#">Charleston School of Law Library</a></li>
					<li class="section-list-item"><a href="#">Claremont School of Theology Library, Claremont School of Theology</a></li>
					<li class="section-list-item"><a href="#">College of Law Library, University of La Verne</a></li>
					<li class="section-list-item"><a href="#">Colorado Law</a></li>
					<li class="section-list-item"><a href="#">Columbia Law School</a></li>
					<li class="section-list-item"><a href="#">Cornell University Law School</a></li>
					<li class="section-list-item"><a href="#">Creighton University School of Law</a></li>
					<li class="section-list-item"><a href="#">David C. Shapiro Memorial Law Library at Northern Illinois University College of Law</a></li>
					<li class="section-list-item"><a href="#">Digital Public Library of America</a></li>
					<li class="section-list-item"><a href="#">Duke Law School</a></li>
					<li class="section-list-item"><a href="#">Fletcher School of Law and Diplomacy, Tufts University</a></li>
					<li class="section-list-item"><a href="#">Florida State Law Research Center</a></li>
					<li class="section-list-item"><a href="#">George R. Farmer Jr. Law Library</a></li>
					<li class="section-list-item"><a href="#">Georgetown Law Library, Georgetown Law</a></li>
					<li class="section-list-item"><a href="#">Golden Gate University Law Library</a></li>
					<li class="section-list-item"><a href="#">Grisham Law Library, University of Mississippi School of Law</a></li>
					<li class="section-list-item"><a href="#">Harvard Law School Library</a></li>
					<li class="section-list-item"><a href="#">Hugh & Hazel Darling Law Library, UCLA School of Law</a></li>
					<li class="section-list-item"><a href="#">IIT Chicago-Kent Law Library, IIT Chicago-Kent College of Law</a></li>
					<li class="section-list-item"><a href="#">James E. Faust Law Library, University of Utah</a></li>
					<li class="section-list-item"><a href="#">John F. Schaefer Law Library, Michigan State University College of Law</a></li>
					<li class="section-list-item"><a href="#">John Joseph Moakley Law Library, Suffolk University Law School</a></li>
					<li class="section-list-item"><a href="#">Kathrine R. Everett Law Library, University of North Carolina</a></li>
					<li class="section-list-item"><a href="#">Kresge Law Library, University of Notre Dame The Law School</a></li>
					<li class="section-list-item"><a href="#">Law Library at Boston College, Boston College of Law</a></li>
					<li class="section-list-item"><a href="#">Law Library, Indiana University Maurer School of Law</a></li>
					<li class="section-list-item"><a href="#">Louis L. Biro Law Library, The John Marshall Law School</a></li>
					<li class="section-list-item"><a href="#">Louisiana State University Law Library, LSU Law Center</a></li>
					<li class="section-list-item"><a href="#">Loyola Law School, Los Angeles</a></li>
					<li class="section-list-item"><a href="#">Loyola University Chicago School of Law</a></li>
					<li class="section-list-item"><a href="#">Melbourne Law School Library, The University of Melbourne</a></li>
					<li class="section-list-item"><a href="#">Michael E. Moritz Law Library, Ohio State University</a></li>
					<li class="section-list-item"><a href="#">Michigan Reporter of Decisions, Michigan Supreme Court</a></li>
					<li class="section-list-item"><a href="#">New York University Law Library</a></li>
					<li class="section-list-item"><a href="#">Oklahoma City University School of Law</a></li>
					<li class="section-list-item"><a href="#">Osgoode Hall Law School Library, York University</a></li>
					<li class="section-list-item"><a href="#">Pace Law School, Pace University</a></li>
					<li class="section-list-item"><a href="#">Pappas Law Library, Boston University School of Law</a></li>
					<li class="section-list-item"><a href="#">Pardee Legal Research Center, University of San Diego</a></li>
					<li class="section-list-item"><a href="#">Paul L. Boley Law Library, Lewis & Clark Law School</a></li>
					<li class="section-list-item"><a href="#">Pitt Law Library</a></li>
					<li class="section-list-item"><a href="#">Princeton University Library, Princeton University</a></li>
					<li class="section-list-item"><a href="#">Pritzker Legal Research Center, Northwestern Law</a></li>
					<li class="section-list-item"><a href="#">Ray & Kay Eckstein Law Library, Marquette University</a></li>
					<li class="section-list-item"><a href="#">Robert Crown Law Library, Stanford Law School</a></li>
					<li class="section-list-item"><a href="#">Ross-Blakely Law Library, Sandra Day O'Connor College of Law at Arizona State University</a></li>
					<li class="section-list-item"><a href="#">Ruth Lilly Law Library, Robert H. McKinney School of Law, Indiana University</a></li>
					<li class="section-list-item"><a href="#">SMU Dedman School of Law</a></li>
					<li class="section-list-item"><a href="#">Seattle University School of Law</a></li>
					<li class="section-list-item"><a href="#">Southwestern Law School Library</a></li>
					<li class="section-list-item"><a href="#">Tarlton Law Library, Jamail Center of Legal Research, The University of Texas School of Law</a></li>
					<li class="section-list-item"><a href="#">Temple University Beasley School of Law Library</a></li>
					<li class="section-list-item"><a href="#">Texas Tech University School of Law</a></li>
					<li class="section-list-item"><a href="#">The Leo T. Kissam Memorial Library, Fordham University School of Law</a></li>
					<li class="section-list-item"><a href="#">The Mendik Library at New York Law School</a></li>
					<li class="section-list-item"><a href="#">The Peter Rodino Law Library, Seton Hall Law School</a></li>
					<li class="section-list-item"><a href="#">Thomas Jefferson School of Law Library</a></li>
					<li class="section-list-item"><a href="#">Thurgood Marshall Law Library, Francis King Carey School of Law, University of Maryland</a></li>
					<li class="section-list-item"><a href="#">Tulane Law Library, Tulane University Law School</a></li>
					<li class="section-list-item"><a href="#">University of California, Irvine School of Law</a></li>
					<li class="section-list-item"><a href="#">University of Iowa Law Library</a></li>
					<li class="section-list-item"><a href="#">University of Massachusetts Dartmouth Law Library</a></li>
					<li class="section-list-item"><a href="#">University of Nebraska College of Law</a></li>
					<li class="section-list-item"><a href="#">University of New Hampshire School of Law Library</a></li>
					<li class="section-list-item"><a href="#">University of New Mexico School of Law Library</a></li>
					<li class="section-list-item"><a href="#">University of Saskatchewan</a></li>
					<li class="section-list-item"><a href="#">University of South Dakota School of Law, Law Library</a></li>
					<li class="section-list-item"><a href="#">University of Tennessee-Knoxville College of Law</a></li>
					<li class="section-list-item"><a href="#">University of Victoria Libraries</a></li>
					<li class="section-list-item"><a href="#">University of Washington School of Law</a></li>
					<li class="section-list-item"><a href="#">University of Wisconsin Law Library</a></li>
					<li class="section-list-item"><a href="#">Valparaiso University School of Law Library</a></li>
					<li class="section-list-item"><a href="#">Vanderbilt Law School</a></li>
					<li class="section-list-item"><a href="#">Vermont Law School Library, Vermont Law School</a></li>
					<li class="section-list-item"><a href="#">Villanova University School of Law, Library</a></li>
					<li class="section-list-item"><a href="#">Vincent C. Immel Law Library, Saint Louis University</a></li>
					<li class="section-list-item"><a href="#">Washington University Law</a></li>
					<li class="section-list-item"><a href="#">Widener University School of Law</a></li>
					<li class="section-list-item"><a href="#">Willamette University College of Law</a></li>
					<li class="section-list-item"><a href="#">William & Mary Law School</a></li>
					<li class="section-list-item"><a href="#">William Taylor Muse Law Library, University of Richmond School of Law</a></li>
					<li class="section-list-item"><a href="#">Yale Law Library</a></li>
					<li class="section-list-item"><a href="#">Young Law Library University of Arkansas School of Law</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="landing-signup" class="container-fluid cont-bg">
	<div class="container cont-fixed">
		<h2 class="setction-title-alt">Sign up for free</h2>
		<p class="section-subtitle-alt">Libraries, institutions, commitment, webby, etc.</p>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
                <img class="img-responsive" src="{{ STATIC_URL }}img/create-links.png" alt="An illustration of Perma.cc links being placed in a documents citations."/>
                <p class="caption">Perma Links are short, consistent, and simple to add to academic and legal citations.</p>
				<a href="{% url 'sign_up' %}" class="btn btn-small">Perma.cc for libraries</a>
			</div>
			<div class="col-xs-12 col-sm-4">
                <img class="img-responsive" src="{{ STATIC_URL }}img/create-links.png" alt="An illustration of Perma.cc links being placed in a documents citations."/>
                <p class="caption">Perma Links are short, consistent, and simple to add to academic and legal citations.</p>
				<a href="{% url 'sign_up' %}" class="btn btn-small">Perma.cc for courts</a>
			</div>
			<div class="col-xs-12 col-sm-4">
                <img class="img-responsive" src="{{ STATIC_URL }}img/create-links.png" alt="An illustration of Perma.cc links being placed in a documents citations."/>
                <p class="caption">Perma Links are short, consistent, and simple to add to academic and legal citations.</p>
				<a href="{% url 'sign_up' %}" class="btn btn-small">Perma.cc for academics</a>
			</div>
		</div>
		<a href="{% url 'sign_up' %}" class="btn btn-large">Sign up for free</a>
	</div>
</section>

<section id="supporting-partners">
    <div class="container cont-fixed">
        <div class="row">
            <div class="col-sm-12 supporting-partners">

                <h2>Perma.cc’s Supporting Partners</h2>

                <div>
                    <a href="http://librarylab.law.harvard.edu/"><img src="{{ STATIC_URL }}img/supporting-partners/LIL-bw.gif" alt="Harvard Library Innovation Lab" class="square"></a>
                    <a href="http://lipalliance.org/"><img src="{{ STATIC_URL }}img/supporting-partners/LIPA-bw.gif" alt="Legal Information Preservation Alliance" class="square"></a>
                    <a href="http://cyber.law.harvard.edu/"><img src="{{ STATIC_URL }}img/supporting-partners/Berkman-bw.gif" alt="Berkman Center for Internet and Society"></a>
                    <a href="http://archive.org/index.php" class="square"><img src="{{ STATIC_URL }}img/supporting-partners/IA-bw.gif" alt="Internet Archive" class="square"></a>
                    <a href="http://dp.la/"><img src="{{ STATIC_URL }}img/supporting-partners/DPLA-bw.gif" alt="Digital Public Library of America"></a>
                    <a href="https://www.cloudflare.com/"><img src="{{ STATIC_URL }}img/supporting-partners/CloudFlare-bw.gif" alt="CloudFlare, Inc."></a>
                    <a href="http://dyn.com/"><img src="{{ STATIC_URL }}img/supporting-partners/Dyn-bw.gif" alt="Dyn"></a>
                </div>


            </div><!--/col-->
        </div><!--/row-->

    </div><!--/container-->
</section>

{% endblock %}

{% block footer %}
<footer>
	<div class="container cont-fixed">
		<div class="row">
			<div class="col col-sm-6">
				<ul id="footer-nav">
		            <!--<li class="footer-nav-item"><a class="home" href="{% url 'landing' %}">Perma.cc</a></li>-->
		            <li class="footer-nav-item"><a href="{% url 'about' %}">About</a></li>
		            <li class="footer-nav-item"><a href="{% url 'docs' %}">Guide</a></li>
		            <li class="footer-nav-item"><a href="{% url 'dev_docs' %}">Developers</a></li>
		            <li class="footer-nav-item"><a href="{% url 'contact' %}">Contact</a></li>
		            <li class="footer-nav-item"><a href="https://blogs.law.harvard.edu/perma/">Blog</a></li>
		            <li class="footer-nav-item"><a href="https://github.com/harvard-lil/perma">Github</a></li>
				</ul>
			</div>
			<div class="col col-sm-6">
				<ul id="boilerplate">
					<li class="boilerplate-item"><a href="{% url 'terms_of_service' %}">Terms of Service</a></li>
					<li class="boilerplate-item"><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
					<li class="boilerplate-item"><a href="{% url 'copyright_policy' %}">Copyright Policy</a></li>
				</ul>
			</div>
		</div>
	</div><!--/container-->
</footer>
{% endblock %}

{% block scripts %}
    {% javascript 'landing' %}
    {% javascript 'map' %}
{% endblock %}
