{% extends "base-archive-confirm.html" %}

{% block confirm %}
    <h1 class="cyan">Yahowza!</h1>
    <h2>Do you really want to <span class="dark">delete</span> this link forever?</h2>
    <div class="centered-box">
        <a href="/{{ link.guid }}" class="cancel-button">Cancel</a> <button type="submit" class="btn delete-confirm btn-success">Delete this link forever</button>
    </div>
    <div class="library-thumbnail user-delete-thumbnail">
        {% if asset.image_capture and asset.image_capture != 'failed' %}
            {% if asset.image_capture != 'pending' %}
                <img src="{{ MEDIA_URL }}{{ asset.image_url }}"/>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block globaljs %}
    {{ block.super }}
    {% include 'js_config.html' %}
    <script>
        var url_link_browser = "{% url 'link_browser' %}",
            archive = {{ archive_json|safe }};
    </script>
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/link-delete-confirm.js"></script>
{% endblock %}
