<form method="post" action="{% url 'django.contrib.auth.views.password_change' %}" class="embedded-form">
<h4>Change password</h4>
  {{ auth_form.non_field_errors }}
  <p>
    {{ auth_form.old_password.errors }}
    <label for="id_old_password">Old password</label> <input type="password" class="input-medium" name="old_password" id="id_old_password"> 
  </p>
  <p>
    {{ auth_form.new_password1.errors }}
    <label for="id_new_password1">New password</label> <input type="password" class="input-medium" name="new_password1" id="id_new_password1"> 
  </p>
    <p>
    {{ auth_form.new_password2.errors }}
    <label for="id_new_password2">Confirm password</label> <input type="password" class="input-medium" name="new_password2" id="id_new_password2"> 
  </p>
  <p>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input type="submit" class="btn" value="Change password">
    <input type="hidden" name="next" value="{{ next }}">
  </p>
</form>