<form method="post" action="{% url 'password_change' %}" class="embedded-form" role="form">
  <fieldset>
    {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
    <div class="form-group{% if form.old_password.errors %} _error{% endif %}">
      <label for="id_old_password">Old password</label>
      <input type="password" class="form-control" name="old_password" id="id_old_password">
      {% if form.old_password.errors %}{{ form.old_password.errors }}{% endif %}
      <p class="field-note"><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
    </div>
    <div class="form-group{% if form.new_password1.errors %} _error{% endif %}">
      <label for="id_new_password1">New password</label>
      <input type="password" class="form-control" name="new_password1" id="id_new_password1">
      {% if form.new_password1.errors %}
        {{ form.new_password1.errors }}
      {% elif form.new_password1.help_text %}
        <div class="field-error">
        {{ form.new_password1.help_text | safe }}
        </div>
      {% endif %}
    </div>
    <div class="form-group{% if form.new_password2.errors %} _error{% endif %}">
      <label for="id_new_password2">Confirm password</label>
      <input type="password" class="form-control" name="new_password2" id="id_new_password2">
      {% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}
    </div>
  </fieldset>
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  <input type="submit" class="btn" value="Change password">
</form>
