<form method="post" action="{% url 'django.contrib.auth.views.password_change' %}" class="embedded-form" role="form">
	<fieldset>
		{% if auth_form.non_field_errors %}{{ auth_form.non_field_errors }}{% endif %}
		<div class="form-group{% if auth_form.old_password.errors %} _error{% endif %}">
			<label for="id_old_password">Old password</label>
			<input type="password" class="form-control" name="old_password" id="id_old_password"> 
			{% if auth_form.old_password.errors %}{{ auth_form.old_password.errors }}{% endif %}
			<p class="field-note"><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
		</div>
		<div class="form-group{% if auth_form.new_password1.errors %} _error{% endif %}">
			<label for="id_new_password1">New password</label>
			<input type="password" class="form-control" name="new_password1" id="id_new_password1"> 
			{% if auth_form.new_password1.errors %}{{ auth_form.new_password1.errors }}{% endif %}
		</div>
		<div class="form-group{% if auth_form.new_password2.errors %} _error{% endif %}">
			<label for="id_new_password2">Confirm password</label>
			<input type="password" class="form-control" name="new_password2" id="id_new_password2"> 
			{% if auth_form.new_password2.errors %}{{ auth_form.new_password2.errors }}{% endif %}
		</div>
	</fieldset>
	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
	<input type="submit" class="btn" value="Change password">
	<input type="hidden" name="next" value="{{ next }}">
</form>