{% extends "base-responsive.html" %}
{% block title %} | Return Policy{% endblock %}

{% block meta_description %}
The Perma.cc Return Policy.
{% endblock %}

{% block mainContent %}
  <div class="container cont-fixed">
    <div class="row">
      <div class="col-sm-12 ">
        <h1>Return Policy</h1>
      </div>
    </div>
  </div>

<div class="container cont-reading cont-fixed">
  <div class="row">
    <div class="col-sm-8 docs reading-body">
      <p class="body-text">We do not offer refunds, but you may cancel your subscription to avoid incurring additional charges. If you have questions about this policy, please <a href="/contact?subject=Question%20About%20Return%20Policy">contact us</a>.</p>

    </div><!--span-->
  </div><!--row-->
</div><!--container-->
{% endblock mainContent %}
