{% extends "base-archive-responsive.html" %}
{% load file_exists  truncatesmart has_group is_darchive local_datetime mirror_tags local_datetime %}

{% block title %} | {{linky.submitted_title}}{% endblock %}

{% block meta-head %}
    <meta name="robots" content="noindex, noarchive, noodp, noimageindex">
{% endblock %}

{% block styles %}
    {# put in styles because this has to be available during page load #}
    <script src="{{ STATIC_URL }}js/local-datetime.js "></script>
{% endblock %}

{% block header %}
    <!-- Served up by Perma mirror, {{ request.META.HTTP_HOST }} -->
    <header>
        <div class="navbar navbar-default navbar-static-top tab-border">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 logo">
                        <a href="{% url 'landing' %}">perma.cc<img class="infinity-logo" src="{{ STATIC_URL }}img/infinity-logo2.png"></a>
                    </div><!--end span 3 -->
                    <div class="col-sm-6 meta-data">
                        {% if not linky.user_deleted or request.user == linky.created_by %}
                            <a class="submitted_url" href="{{linky.submitted_url}}">{{linky.submitted_title}}</a><br/>

                            <!--<a class="submitted_url" href="{{linky.submitted_url}}">{{linky.submitted_url}}</a>-->
                            <span class="light-grey">created {{ linky.creation_timestamp|local_datetime }} | {{ linky.view_count }} view{% if linky.view_count > 1 %}s{% endif %} </span>
                        {% endif %}
                    </div><!--end span 6 -->
                    <div class="col-sm-offset-1 col-sm-1 button-set">
                        <ul class="vesting">
                            <li><a class="btn vest none" href="">hidden button</a></li><!-- to keep vertical spacing and layout simpler across states when there are and aren't buttons -->
                            {% if request.user.is_authenticated %}
                                {% if not linky.user_deleted %}
                                    {% if request.user|has_group:'registry_user,registrar_user,vesting_user' and not linky.vested %}
                                        <a class="btn vest" href="{% main_url 'vest_link' linky.guid %}">Vest site</a>
                                    {% endif %}

                                    {% if request.user|has_group:'registry_user' and not linky|is_darchive %}
                                        <a class="btn vest" href="{% main_url 'dark_archive_link' linky.guid %}">Dark archive</a>
                                    {% elif request.user|has_group:'registrar_user' and not linky|is_darchive and linky.vesting_org.registrar == request.user.registrar %}
                                        <a class="btn vest" href="{% main_url 'dark_archive_link' linky.guid %}">Dark archive</a>
                                    {% elif request.user|has_group:'vesting_user' and request.user.vesting_org == linky.vesting_org %}
                                        <a class="btn vest" href="{% main_url 'dark_archive_link' linky.guid %}">Dark archive</a>
                                    {% elif request.user == linky.created_by and not linky|is_darchive %}
                                        <a class="btn vest" href="{% main_url 'dark_archive_link' linky.guid %}">Dark archive</a>
                                    {% endif %}

                                    {% if request.user == linky.created_by and not linky.vested %}
                                        <a class="btn user-delete" href="{% main_url 'user_delete_link' linky.guid %}"><i class="icon-trash"></i> Delete</a>
                                    {% endif %}
                                {% endif %}

                                <li><a class="btn dashboard" href="{% url 'create_link' %}" id="nav-button">Dashboard</a></li>
                            {% endif %}
                        </ul>
                    </div><!--end span 3-->
                </div><!--end row -->
                {% if not linky.user_deleted %}
                    <div class="row">

                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle menu-adjust" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                            </div>

                            <div class="navbar-collapse collapse" id="collapse-refresh">

                                <ul class="nav navbar-nav tabbed">
                                    <li>
                                        <a  class="tab-styling{% if serve_type == 'live' %} active-view{% endif %}" href="{% url 'single_linky' linky.guid %}?type=live">Live page view</a>
                                    </li>

                                    {% if asset.image_capture and asset.image_capture != 'failed' and not asset.pdf_capture%}
                                        <li>
                                            {% if asset.image_capture == 'pending' %}
                                                <span id="image_cap_container_loading" class="tab-styling">Screen capture</span>
                                                <a id="image_cap_container_complete" class="tab-styling{% if serve_type == 'image' %}active-view{% endif %}" href="{% url 'single_linky' linky.guid %}?type=image" style="display:none;">Screen capture</a>
                                            {% else %}
                                                <span id="image_cap_container_loading" class="tab-styling" style="display:none;">Screen capture</span>
                                                <a id="image_cap_container_complete" class="tab-styling{% if serve_type == 'image' %} active-view{% endif %}" href="{% url 'single_linky' linky.guid %}?type=image">Screen capture</a>
                                            {% endif %}
                                        </li>
                                    {% endif %}

                                    {% if asset.warc_capture and asset.warc_capture != 'failed' %}
                                        <li>
                                            {% if asset.warc_capture == 'pending' %}
                                                <span id="warc_cap_container_loading" class="tab-styling">Archiving page</span>
                                                <a id="warc_cap_container_complete" class="tab-styling{% if serve_type == 'source' %}active-view{% endif %}" href="{% url 'single_linky' linky.guid %}?type=source" style="display:none;">Archived page</a>
                                            {% else %}
                                                <span id="warc_cap_container_loading" class="tab-styling" style="display:none;">Archiving page</span>
                                                <!--<img src="{{ STATIC_URL }}img/dots.gif" alt="Archiving...">-->
                                                <a id="warc_cap_container_complete" class="tab-styling{% if serve_type == 'source' %} active-view{% endif %}" href="{% url 'single_linky' linky.guid %}?type=source">Archived page</a>
                                            {% endif %}
                                        </li>
                                    {% endif %}

                                    {% if asset.pdf_capture and asset.pdf_capture != 'failed' %}
                                        <li>
                                            {% if asset.pdf_capture == 'pending' %}
                                                <span id="pdf_cap_container_loading" class="tab-styling">Archiving PDF</span>
                                                <a id="pdf_cap_container_complete" class="tab-styling{% if serve_type == 'pdf' %}active-view{% endif %}" href="{% url 'single_linky' linky.guid %}?type=pdf" style="display:none;">PDF</a>
                                            {% else %}
                                                <span id="pdf_cap_container_loading" class="tab-styling" style="display:none;">Archiving PDF</span>
                                                <a id="pdf_cap_container_complete" class="tab-styling{% if serve_type == 'pdf' %} active-view{% endif %}" href="{% url 'single_linky' linky.guid %}?type=pdf">PDF</a>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div><!--/.nav-collapse -->

                    </div><!--/.row -->
                {% endif %}
            </div><!--/container -->
        </div><!--/navbar -->
    </header>
{% endblock %}

{% block content %}
    {# deleted unvested link #}
    {% if linky.user_deleted %}
        <div class="col-sm-6 col-sm-offset-3 yahowza text-center">
            {% if request.user == linky.created_by %}
                <h2>You deleted this link.</h2>
            {% else %}
                <h1 class="cyan">Apologies.</h1><h2>This unvested link was deleted by the user who created it.</h2>
            {% endif %}
        </div>

    {% else %}

        {# message for a darchived link that user has permission to access #}
        {% if linky|is_darchive and request.user|has_group:'registry_user,registrar_user,vesting_user' or request.user == linky.created_by %}
            <div class="col-sm-6 col-sm-offset-3 yahowza text-center">
                <img class="dark-bulb center" src="{{ STATIC_URL }}img/dark-bulb.png">
                {% if linky.dark_archived %}
                    <h2>This link is in the <span class="dark">dark archive</span>.</h2>
                {% elif linky.dark_archived_robots_txt_blocked %}
                    <h2>This link is in the <span class="dark">dark archive</span> because Perma.cc has <a href="{% url 'faq' %}#robots-text">respected the content creator's request to not share this archive publicly</a>.</h2>
                {% endif %}
                <p>You can see the contents only because you are logged into a vesting account.</p>
            </div>
            </div><div class="row"> {# go to next row #}
        {% endif %}

        {# link contents #}
        <div class="linky-view center col-sm-12">
            <div class="watermark center">

                {% if not linky.vested and serve_type != 'live' %}
                    {% if not linky|is_darchive or request.user|has_group:'registry_user,registrar_user,vesting_user' or request.user == linky.created_by %}
						<div class="watermark-container">
							<span class="pull-right">
								<span class="glyphicon glyphicon-remove"></span>
							</span>	
							<class ="row">
								<div class="col-sm-4 col-sm-offset-1 col-xs-12">
									<img src="{{ STATIC_URL }}img/stopwatch.png" class="img-responsive stopwatch">
								</div>
								<div class="col-sm-4 col-xs-12">
									<span class="pull-left">
										<h2>Temporary Archive</h2>
										<p>This archive is temporary and will expire on <span class="highlight">{{ linky.get_expiration_date|local_datetime:"M. j, Y" }}</span> unless <a href="{% url 'docs_perma_link_vesting' %}" target="_blank">vested</a>.</p>
									</span>
								</div>
							</div> <!-- nested row -->
						</div> <!-- watermark-container -->
                    {% endif %}
    			{% endif %}
        
                {% if serve_type == 'live' %}
                    {% if display_iframe %}
                        <iframe src="{{linky.submitted_url}}"{% if not asset.pdf_capture %} sandbox="allow-forms allow-scripts" {% endif %}>
                            <p>You can access the archives using the tabs above or you open <a href="{{linky.submitted_url}}" target="_blank">{{linky.submitted_url}}</a> in a new browser window.</p>
                        </iframe>
                    {% else %}
                        <div class="translucent-background no-live-preview"><h2>Live site view unavailable. Sorry.</h2>
                            <p>You can access the archives by using the tabs above or open <a href="{{linky.submitted_url}}" target="_blank">{{linky.submitted_url}}</a> in a new browser window.</p>
                        </div>
                    {% endif %}

                {% elif linky|is_darchive and not request.user|has_group:'registry_user,registrar_user,vesting_user' and not request.user == linky.created_by %}
                    <img class="dark-bulb center" src="{{ STATIC_URL }}img/dark-bulb.png">
                    <h1 class="cyan">Apologies.</h1>
                    <h2>
                        This link is not available in our public archive.<br/>
                        Contact a participating librarian to get a copy.
                    </h2>
                    {% comment %}
                        <br/>
                        {% if linky.dark_archived %}
                            <p>This link is in the <span class="dark">dark archive</span> because Perma.cc has complied with a takedown notice.</p>
                        {% elif linky.dark_archived_robots_txt_blocked %}
                            <p>This link is in the <span class="dark">dark archive</span> because Perma.cc has <a href="{% url 'faq' %}#robots-text">respected the content creator's request to not share this archive publicly</a>.</p>
                        {% endif %}
                    {% endcomment %}

                {% elif serve_type == 'image' %}
                    <img class="image-view" src="{{ MEDIA_URL }}{{ asset.image_url }}"/>

                {% elif serve_type == 'pdf' %}
                    <iframe src="{{ MEDIA_URL }}{{ asset.pdf_url }}">
                        <p>Unable to create a live view of <a class="submitted_url" href="{{linky.submitted_url}}">{{linky.submitted_url}}</a></p>
                    </iframe>

                {% elif serve_type == 'source' %}
                    <iframe src="{{ warc_url }}" sandbox="allow-forms allow-scripts allow-top-navigation">
                        <p>Unable to create a live view of <a class="submitted_url" href="{{linky.submitted_url}}">{{linky.submitted_url}}</a></p>
                    </iframe>

                {% endif %}
            </div><!--end watermark-->
        </div><!--end linky-view-->

   	{% endif %}
    <script>
        var status_url = "{% main_url 'service_link_status' linky.guid %}";
    </script>
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/single-link.js"></script>
{% endblock %}
