{% extends "base-archive-responsive.html" %}
{% load has_group is_darchive local_datetime mirror_tags count_archives %}
{% block title %} | {{archive.submitted_title}}{% endblock %}
{% block meta-head %}
<meta name="robots" content="noindex, noarchive, noodp, noimageindex">
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">

    {# put in styles because this has to be available during page load #}
    <script src="{{ STATIC_URL }}js/local-datetime.js "></script>
{% endblock %}

{% block header %}
<!-- Served up by Perma mirror, {{ request.META.HTTP_HOST }} -->
<header>
    <div class="navbar navbar-default navbar-static-top tab-border">
        <div class="container">

            <div id="full-header">
                <div class="row controls"> <!-- start logo and login/logout | dashboard -->
                    <div class="col-xs-6 logo">
                        <a href="{% url 'landing' %}">perma.cc<img class="infinity-logo" src="{{ STATIC_URL }}img/infinity-logo2.png"></a>
                    </div><!--end span 3 -->
                    <div class="col-xs-6 nav">
					  	{% if request.user.is_authenticated %}
                            <a href="{% url 'create_link' %}" class="pull-right">Dashboard</a>
						{% endif %}
                    </div><!--end span 9 -->
                </div> <!-- end logo and login/logout | dashboard -->

                <section class="url-row">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9">
                            <p style="color: #444; font-family: helvetica; margin-bottom:2px; font-size: 16px;">This is an archive of</p>
                            <p class="big-link">
                                <a href="{{archive.submitted_url}}" target="_blank">{{ archive.submitted_url|truncatechars:130 }}</a>
                            </p>
                            <p class="creation-details">
                                created {{ archive.creation_timestamp|local_datetime }} <span class="spacer">·</span>  <a href="{% url 'docs_perma_link_vesting'%}#vesting" target="_blank">not vested</a> <span class="spacer">·</span> viewed {{ archive.view_count }} time{% if archive.view_count > 1 %}s{% endif %} <span class="spacer">·</span> <a href="{% url 'contact' %}?message=Please have a look at perma.cc{% url 'single_link_header' archive.guid %} " target="_blank">report abuse</a>
                            </p>
                        </div><!--end 9 -->
                        <div class="col-xs-12 col-sm-3">
                            <div class="pull-right button-container">
                                {% if request.user.is_authenticated %}
                                    {% if request.user|has_group:'registry_user,registrar_user,vesting_user' and not archive.vested %}
                                        <form action="{% main_url 'vest_link' archive.guid %}" method="post">
                                        {% csrf_token %}
                                            <p class="float-right"><input type="submit" value="Vest site" name="vest" class="btn vest"></p>
                                        </form>
                                    {% endif %}
                                    {% if request.user|has_group:'registry_user' %}
                                        <p class="float-right"><a class="btn vest" href="{% url 'dark_archive_link' archive.guid %}">Dark archive</a></p>
                                    {% endif %}
                                    {% if request.user == archive.created_by and not archive.vested and not archive.dark_archive %}
                                        <p class="float-right"><a class="btn user-delete" href="{% url 'user_delete_link' archive.guid %}"><i class="icon-trash"></i> Delete</a></p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div><!--end col 2 -->
                    </div><!--/row-->
                </section>



                <div class="row">
                    <div class="col-xs-12 col-sm-9">
                        <p class="archive-note">
                            We have {{ asset|count_archives }} for this archive
                        </p>
                    </div>
                </div>


                <div class="row">

                    {% if asset.image_capture and asset.image_capture != 'failed' %}
                    <div class="col-sm-6 image-container">
                        {% if serve_type != 'image' %}<a href="{% url 'single_link_header' archive.guid %}">{% endif %}
                        <div class="{% if serve_type == 'image' %}selected-archive-container{% endif %} archive-container" style="overflow: hidden; ">
                            <div style="float: left; min-width: 55px;">
                                <img src="{{ STATIC_URL }}img/static_capture_icon.png" class="" style="margin-top: 2px;" height=76px width=53px>
                            </div>
                            <div style="float: left; width: 77%; margin-left: 12px;">
                                {% if asset.image_capture == 'pending' %}
                                    <p class="archive-heading" id="image_cap_container_loading">Screen capture <img style="margin-top: 13px;" class="pull-right" src="{{ STATIC_URL }}img/dots.gif"></p>
                                    <p class="archive-heading" id="image_cap_container_complete">Screen capture</p>
                                {% else %}
                                    <p class="archive-heading">Screen capture</p>
                                {% endif %}
                                <p>A static image of the webpage as it existed when the archive was created</p>
                            </div>
                        </div>
                        {% if serve_type != 'image' %}</a>{% endif %}
                    </div>
                    {% endif %}

                    {% if asset.warc_capture and asset.warc_capture != 'failed' %}
                    <div class="col-sm-6 source-container">
                        {% if serve_type != 'source' %}<a href="{% url 'single_link_header' archive.guid %}?type=source">{% endif %}
                            <div class="{% if serve_type == 'source' %}selected-archive-container{% endif %} archive-container" style="overflow: hidden; ">
                                <div style="float: left; min-width: 55px;">
                                        <img src="{{ STATIC_URL }}img/lsource_capture_icon.png" style="margin-top: 2px;" height=76px width=53px>
                                </div>
                                <div style="float: left; width: 77%; margin-left: 12px;">
                                    {% if asset.warc_capture == 'pending' %}
                                        <p class="archive-heading" id="warc_cap_container_loading">Page capture <img style="margin-top: 13px;" class="pull-right" src="{{ STATIC_URL }}img/dots.gif"></p>
                                        <p class="archive-heading" id="warc_cap_container_complete">Page capture</p>
                                    {% else %}
                                        <p class="archive-heading">Page capture</p>
                                    {% endif %}
                                    <p>A recreation of the webpage using the HTML as it existed when the archive was created</p>
                                </div>
                            </div>
                        {% if serve_type != 'source' %}</a>{% endif %}
                    </div>
                    {% endif %}

                    {% if asset.pdf_capture and asset.pdf_capture != 'failed' %}
                    <div class="col-sm-6 pdf-container">
                        {% if serve_type != 'pdf' %}<a href="{% url 'single_link_header' archive.guid %}?type=pdf_capture">{% endif %}
                            <div class="{% if serve_type == 'pdf' %}selected-archive-container{% endif %} archive-container" style="overflow: hidden; ">
                                <div style="float: left; min-width: 55px;">
                                        <img src="{{ STATIC_URL }}img/pdf_capture_icon.png" style="margin-top: 2px;" height=76px width=53px>
                                </div>
                                <div style="float: left; width: 77%; margin-left: 12px;">
                                    {% if asset.pdf_capture == 'pending' %}
                                        <p class="archive-heading" id="pdf_cap_container_loading">PDF capture <img style="margin-top: 13px;" class="pull-right" src="{{ STATIC_URL }}img/dots.gif"></p>
                                        <p class="archive-heading" id="pdf_cap_container_complete">PDF capture</p>
                                    {% else %}
                                        <p class="archive-heading">PDF capture</p>
                                    {% endif %}
                                    <p>The PDF document that was captured when the archive was created </p>
                                </div>
                            </div>
                        {% if serve_type != 'pdf' %}</a>{% endif %}
                    </div>
                    {% endif %}

                </div><!--/row-->
            </div> <!-- /full-header -->

            <div id="compact-header">
                <div class="row"> <!-- start logo and login/logout | dashboard -->
                    <div class="col-xs-1">
                        <a href="{% url 'landing' %}"><img class="infinity-logo" src="{{ STATIC_URL }}img/infinity-logo2.png"></a>
                    </div><!--end span 3 -->
                    <div class="col-xs-10">
                        <p class="url-compact text-center"><a href="{{archive.submitted_url}}" target="_blank">{{ archive.submitted_url|truncatechars:50 }}</a></p>
                    </div><!--end span 9 -->
                    <div class="col-xs-1">
                        <span class="glyphicon glyphicon-chevron-down pull-right expand-button"></span>
                    </div><!--end span 3 -->

                </div> <!-- end logo and login/logout | dashboard -->
            </div>

        </div><!--/container -->
    </div><!--/navbar -->



</header>
{% endblock %}

{% block content %}
    <div class="overlay" onClick="style.pointerEvents='none'"></div>

    {% if archive.dark_archived and request.user|has_group:'registry_user,registrar_user,vesting_user' %}
    	<div class="col-sm-6 col-sm-offset-3 yahowza-small">
			<div class="darchive">
				<img class="dark-bulb-small" src="{{ STATIC_URL }}img/dark-bulb.png">
				<h2 class="orange">This link is in the <span class="dark">dark archive</span> because Perma.cc has complied with a takedown notice.</h2>
			</div>
		</div>
	{% elif archive.dark_archived_robots_txt_blocked and request.user|has_group:'registry_user,registrar_user,vesting_user' %}
    	<div class="col-sm-6 col-sm-offset-3 yahowza-small">
    		<img class="dark-bulb-small" src="{{ STATIC_URL }}img/dark-bulb.png">
			<h2>This link is in the <span class="dark">dark archive</span> because Perma.cc has <a href="{% url 'faq' %}#robots-text">respected the content creator's request to not share this archive publicly</a.>.</h2>
		</div>
	{% endif %}
    {% if not archive|is_darchive or request.user|has_group:'registry_user,registrar_user,vesting_user' %}
        {% if not archive.user_deleted %}
	<div class="archive-view center">
  		<div class="watermark center">

			{% if not archive.vested %}<div class="negative-margin"><img class="watermark-image" src="{{ STATIC_URL }}img/watermark-text.png"/></div>{% endif %}

			{% if serve_type == 'image'%}
            <iframe src="{% url 'service_image_wrapper' archive.guid %}" sandbox="allow-forms allow-scripts allow-same-origin" id="image_iframe">
                <p>Unable to display the <a href="{{ MEDIA_URL }}{{ asset.image_url }}" target="_blank">archived image</a></p>
            </iframe>
			{% endif %}

			{% if serve_type == 'pdf' %}
			<iframe src="{{ MEDIA_URL }}{{ asset.pdf_url }}">
			  <p>Unable to display the <a href="{{ MEDIA_URL }}{{ asset.pdf_url }}" target="_blank">archived PDF</a></p>
			</iframe>
			{% endif %}

			{% if serve_type == 'source' %}
			<iframe src="{{ warc_url }}" sandbox="allow-forms allow-scripts allow-same-origin" id="warc_iframe">
                <p>Unable to display the <a href="{{ warc_url }}" target="_blank">archived PDF</a></p>
			</iframe>
			{% endif %}
		</div><!--end watermark-->
   	</div><!--end archive-view-->

   	{% elif archive|is_darchive %}
   		<div class="container">
			<div class="row">
				<div class="col-sm-12 yahowza">
					<img class="dark-bulb center" src="{{ STATIC_URL }}img/dark-bulb.png">
					 <h1 class="cyan">Apologies.</h1><h2>This link has been <span class="dark">dark archived</span>.<br/>Contact a librarian to get a copy.</h2>
					<br/>
					{% if archive.dark_archived %}
						<p>This link is in the <span class="dark">dark archive</span> because Perma.cc has complied with a takedown notice.</p>
					{% elif archive.dark_archived_robots_txt_blocked %}
						<p>This link is in the <span class="dark">dark archive</span> because Perma.cc has <a href="{% url 'faq' %}#robots-text">respected the content creator's request to not share this archive publicly</a>.</p>
					{% endif %}
				</div>
			</div>
   	    </div>
   	 {% else %}
   	    <div class="container">
			<div class="row">
				<div class="col-sm-12 yahowza">
					 <h1 class="cyan">Apologies.</h1><h2>This unvested link was deleted by the user who created it.</h2>
				</div>
			</div>
   	    </div>
   	{% endif %}
   	{% endif %}
<script>
	var status_url = "{% main_url 'service_link_status' archive.guid %}";
</script>
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/single-link.js"></script>
{% endblock %}