{% extends "layout-archive-responsive.html" %}
{% load file_exists  truncatesmart diff has_group is_darchive %}
{% block title %} | {{linky.submitted_title}}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
	{% if serve_type == 'text' %}
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/text-capture.css">
	{% endif %}
{% endblock %}

{% block header %}

<header>
    	    <div class="navbar navbar-default navbar-static-top">
				<div class="container">
				 <div class="row">
				 	<div class="col-sm-3 logo">
				 		<a href="{% url 'landing' %}">perma.cc<img class="infinity-logo" src="{{ STATIC_PREFIX }}img/infinity-logo2.png"></a>
				 	</div><!--end span 3 -->
				 	<div class="col-sm-6 meta-data">
						<a class="submitted_url" href="{{linky.submitted_url}}">{{linky.submitted_title}}</a><br/>
						
						<!--<a class="submitted_url" href="{{linky.submitted_url}}">{{linky.submitted_url}}</a>-->
						<span class="light-grey">created {{linky.creation_timestamp}} | {{ linky.view_count }} view{% if linky.view_count > 1 %}s{% endif %}</span>
						{% comment %}
						{% diff asset linky %} <!-- has the instapaper cap changed recently? -->
						{% endcomment %}
					</div><!--end span 6 -->
				 </div><!--end row -->
				 <div class="row">
				 	<div class="col-sm-10 col-sm-offset-1">	
						
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle menu-adjust" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>  
						</div>
						
						<div class="navbar-collapse collapse">
						  
						<div class="centering-tabs">  
						  <ul class="nav navbar-nav">	
						  </ul>
						  
							{% if not linky|is_darchive or user|has_group:'registry_member,registrar_member' %}
					
					
					
						<ul class="nav navbar-nav tabbed">
							<li>
								<a  class="tab-styling" {% if serve_type == 'live' %}class="active-view"{% endif %} href="{% url 'single_linky' linky.guid %}?type=live">Live site view</a>
							</li>
	
							{% if asset.image_capture and asset.image_capture != 'failed' %}
								<li>
									<a class="tab-styling" {% if serve_type == 'image' %}class="active-view"{% endif %} href="{% url 'single_linky' linky.guid %}?type=image">Screen capture</a>
								</li>
							{% endif %}
							
							{% if asset.warc_capture and asset.warc_capture != 'failed' %}
							<li class="tab-styling">
							{% if asset.warc_capture == 'pending' %}
								<span id="warc_cap_container_loading">
									Archived site <!--<img src="{{ STATIC_PREFIX }}img/dots.gif" alt="Archiving...">-->
								</span>
							
								<span id="warc_cap_container_complete" class="hide">
									<a class="tab-styling" {% if serve_type == 'source' %}class="active-view"{% endif %} href="{% url 'single_linky' linky.guid %}?type=source">Archived Site</a>
								</span>
							
							{% else %}
							<span id="warc_cap_container_loading" class="hide">
								Archived site <!--<img src="{{ STATIC_PREFIX }}img/dots.gif" alt="Archiving...">-->
							</span>
							<span id="warc_cap_container_complete">
								<a {% if serve_type == 'source' %}class="active-view"{% endif %} href="{% url 'single_linky' linky.guid %}?type=source">Archived Site</a>
							</span>
							{% endif %}
							</li>
							{% endif %}
							
							{% if asset.pdf_capture and asset.pdf_capture != 'failed' %}
							<li class="pdf_cap_container">
							{% if asset.pdf_capture == 'pending' %}
								<span id="pdf_cap_container_loading">
									PDF <!--<img src="{{ STATIC_PREFIX }}img/dots.gif" alt="Archiving...">-->
								</span>
								<span id="pdf_cap_container_complete" class="hide">
									<a {% if serve_type == 'pdf' %}class="active-view"{% endif %} href="{% url 'single_linky' linky.guid %}?type=pdf">PDF</a>
								</span>
							{% else %}
								<span id="pdf_cap_container_loading" class="hide">
									PDF <!--<img src="{{ STATIC_PREFIX }}img/dots.gif" alt="Archiving...">-->
								</span>
								<span id="pdf_cap_container_complete">
									<a {% if serve_type == 'pdf' %}class="active-view"{% endif %} href="{% url 'single_linky' linky.guid %}?type=pdf">PDF</a>
								</span>
							{% endif %}
							</li>
							{% endif %}
							
							{% if asset.text_capture and asset.text_capture != 'failed' %}
							<li class="tab-styling">
							{% if asset.text_capture == 'pending' %}
								<span id="text_cap_container_loading">
									Archived text <!--<img src="{{ STATIC_PREFIX }}img/dots.gif" alt="Archiving...">-->
								</span>
								<span id="text_cap_container_complete" class="hide">
									<a {% if serve_type == 'text' %}class="active-view"{% endif %} href="{% url 'single_linky' linky.guid %}?type=text">Extracted text</a>
								</span>
							{% else %}
								<span id="text_cap_container_loading" class="hide">
									Archived text <!--<img src="{{ STATIC_PREFIX }}img/dots.gif" alt="Archiving...">-->
								</span>
								<span id="text_cap_container_complete">
									<a {% if serve_type == 'text' %}class="active-view"{% endif %} href="{% url 'single_linky' linky.guid %}?type=text">Extracted text</a>
								</span>
							{% endif%}
							</li>
							{% endif %}
							
						</ul>
					</div><!--/.center-->
					{% endif %}
						</div><!--/.nav-collapse -->
					
					</div><!--/.row -->
				</div><!--/container -->
			</div><!--/navbar -->
		</header>
{% endblock %}

{% block content %}
   		
			<div class="row">
    {% if linky.dark_archived and user|has_group:'registry_member,registrar_member' %}
    	<div class="col-sm-6 offset3 yahowza-small">
    		<img class="dark-bulb-small" src="{{ STATIC_PREFIX }}img/dark-bulb.png">
			<h2>This link is in the <span class="dark">dark archive</span> because Perma.cc has complied with a takedown notice.</h2>
		</div>
	{% elif linky.dark_archived_robots_txt_blocked and user|has_group:'registry_member,registrar_member' %}
    	<div class="col-sm-6 offset3 yahowza-small">
    		<img class="dark-bulb-small" src="{{ STATIC_PREFIX }}img/dark-bulb.png">
			<h2>This link is in the <span class="dark">dark archive</span> because Perma.cc has complied with the site's robots.txt.</h2>
		</div>
	{% endif %}
    {% if not linky|is_darchive or user|has_group:'registry_member,registrar_member' %}
	<div class="linky-view center">
  		<div class="watermark center">

			{% if not linky.vested and serve_type != 'live' %}<div class="negative-margin"><img class="watermark-image" src="{{ STATIC_PREFIX }}img/perma-infinity-landing.png"/></div>{% endif %}

			{% if serve_type == 'live' %}
				{% if display_iframe %}
				<iframe src="{{linky.submitted_url}}"{% if not asset.pdf_capture %} sandbox="allow-forms" {% endif %}>
				  <p>Unable to create a live view of the {{linky.submitted_url}}</p>
				</iframe>
				{% else %}
				<div class="translucent-background"><h1>sorry</h1>
				<h2>live preview of <a href="{{linky.submitted_url}}">{{linky.submitted_url}}</a> is not available</h2></div>
				{% endif %}
			{% endif %}
			
			{% if serve_type == 'image' %}
			<img class="image-view" src="{{ STATIC_PREFIX }}{{asset.base_storage_path}}/{{asset.image_capture}}"/>
			{% endif %}
			
			{% if serve_type == 'pdf' %}
			<iframe src="{{ STATIC_PREFIX }}{{asset.base_storage_path}}/{{asset.pdf_capture}}">
			  <p>Unable to create a live view of <a class="submitted_url" href="{{linky.submitted_url}}">{{linky.submitted_url}}</a></p>
			</iframe>
			{% endif %}
			
			{% if serve_type == 'source' %}
			<iframe src="{{ STATIC_PREFIX }}{{asset.base_storage_path}}/{{asset.warc_capture}}" sandbox="allow-forms allow-scripts">
			  <p>Unable to create a live view of <a class="submitted_url" href="{{linky.submitted_url}}">{{linky.submitted_url}}</a></p>
			</iframe>
			{% endif %}
			
			{% if serve_type == 'text' %}
			<div class="translucent-background">
				<div id="text-capture">{% autoescape off %}{{ text_capture }}{% endautoescape %}</div>
			</div>
			{% endif %}
		</div><!--end watermark-->
   	</div><!--end linky-view-->
   	
   	{% else %}
   		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 yahowza">
					<img class="dark-bulb" src="{{ STATIC_PREFIX }}img/dark-bulb.png">
					 <h1 class="cyan">Apologies.</h1><h2>This link has been <span class="dark">dark archived</span>.<br/>Contact a librarian to get a copy.</h2>
					<br/>
					{% if linky.dark_archived %}
						<p>This link is in the <span class="dark">dark archive</span> because Perma.cc has complied with a takedown notice.</p>
					{% elif linky.dark_archived_robots_txt_blocked %}
						<p>This link is in the <span class="dark">dark archive</span> because Perma.cc has complied with the site's robots.txt.</p>
					{% endif %}
				</div>
			</div>
   	    </div>
   	{% endif %}
</div><!--row-->

{% endblock %}

{% block scripts %}
{% if asset.warc_capture == 'pending' or asset.pdf_capture == 'pending' or asset.text_capture == 'pending' %}
<script type="text/javascript" language="javascript">

	var refreshIntervalId = 0;

	var check_status = function() {
		
	// Check our status service to see if we have archivng jobs pending
		var request = $.ajax({
			url: "{% url 'service_link_status' linky.guid %}",
			type: "GET",
			dataType: "json"
		});

		request.done(function(data) {
			if ($('#warc_cap_container_loading').is(":visible") && data.source_capture != 'pending') {
				$('#warc_cap_container_loading').hide();
				$('#warc_cap_container_complete').show();
			}
			
			if ($('#pdf_cap_container_loading').is(":visible") && data.pdf_capture != 'pending') {
				$('#pdf_cap_container_loading').hide();
				$('#pdf_cap_container_complete').show();
			}
			
			if ($('#text_cap_container_loading').is(":visible") && data.text_capture != 'pending') {
				$('#text_cap_container_loading').hide();
				$('#text_cap_container_complete').show();
			}
			
			// if no status is pending
			if (data.source_capture != 'pending' && data.pdf_capture != 'pending' && data.text_capture != 'pending') {
				clearInterval(refreshIntervalId);
			}	
		});
	}

	$(document).ready(function() {
		$(document).ready(function() {
		refreshIntervalId = setInterval(check_status, 4000);
		var headerHeight = $('header').height(),
		windowHeight = $(window).height();
		$('iframe').height(windowHeight - headerHeight - 0);
	});
	});
</script>
{% endif %}

{% endblock %}