{% extends "base-responsive.html" %}
{% load file_exists pipeline %}
{% block title %} | The numbers{% endblock %}
{% block meta %}<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/style-responsive.css">
{% endblock %}

{% block scripts %}
    <script>
        var stats_users_url = "{% url 'service_stats_users' %}";
        var stats_organizations_url = "{% url 'service_stats_org' %}";
        var stats_registrars_url = "{% url 'service_stats_registrar' %}";
        var stats_links_url = "{% url 'service_stats_links' %}";
        var stats_storage_url = "{% url 'service_stats_storage' %}";
    </script>
    {% javascript 'stats' %}
{% endblock %}

{% block mainContent %}

<div class="container cont-fixed stats">
	<div class="row">	
		<div class="col-sm-12">
			<h1>Perma, the numbers</h1>
			<h2>The folks</h2>
			<div id="folks-vis" class="vis-container"></div>
			<p class="vis-desc">All users across all roles. <span id="user_count"></span> in total.</p>
			<h2>The organizations</h2>
			<div id="org-vis" class="vis-container"></div>
			<p class="vis-desc">All organizations. <span id="organization_count"></span> in total.</p>
			<h2>The libraries</h2>
			<div id="registrars-vis" class="vis-container"></div>
			<p class="vis-desc">All libraries. <span id="library_count"></span> in total.</p>
			<h2>The links</h2>
			<div id="links-vis" class="vis-container"></div>
			<p class="vis-desc">All public archives. <span id="link_count"></span> in total.</p>
			<h2>The darchive</h2>
			<div id="darchive-vis" class="vis-container"></div>
			<p class="vis-desc">All links in the darchive. <span id="darchive_count"></span> in total.</p>
			<h2>The storage</h2>
			<div id="storage-vis" class="vis-container"></div>
			<p class="vis-desc">Space used for all archives. <span id="total_size"></span> GB in total.</p>
		</div><!--span-->
	</div><!--row-->
</div><!--container-->
{% endblock mainContent %}
