{% extends "base-responsive.html" %}
{% load file_exists pipeline %}
{% block title %} | Stats{% endblock %}

{% block meta_description %}
Perma.cc prevents link rot.
{% endblock %}

{% block bodyFlags %}_about{% endblock %}
{% block mainFlags %}{% endblock %}

{% block mainContent %}
<div id="stats">
	<div class="container cont-fixed">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="page-title">Perma.cc engagement</h1>
				<p class="page-dek">Perma.cc is constantly growing. Every minute of every day we're archving new web pages, and signing up new users, organizations, and libraries.</p>
			</div>
		</div>
	</div>

	<div class="container cont-reading cont-fixed" id="what-is-perma">
		<div class="row">
			<div class="col-sm-8">
				<div id='archives-vis-container'></div>
			</div>
			<div class="col-sm-4" >
				<h2 class="mega">Archives</h2>
				<p>1,798 archives created this week</p>
				<p>5,362 archives created this week</p>
				<p>206,577 archives created in total</p>
			</div>
		</div> <!-- row -->
	</div>

	<div class="container cont-reading cont-fixed" id="what-is-perma">
		<div class="row">
			<div class="col-sm-8" >
				<div id='users-vis-container'></div>
			</div>
			<div class="col-sm-4">
				<h2 class="mega">Users</h2>
				<p>5 users added this week</p>
				<p>33 users last week</p>
				<p>6,387 users in total</p>
			</div>
		</div> <!-- row -->
	</div>

	<div class="container cont-reading cont-fixed">
		<div class="row">
			<div class="col-sm-6">
				<div class="center">
					<h2 class="mega">Organizations</h2>
					<p>2 added this week</p>
					<p>3 additions is average</p>
					<p>502 in total</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="center">
					<h2 class="mega">Libraries</h2>
					<p>1 added this week</p>
					<p>3 additions is average</p>
					<p>148 in total</p>
				</div>
			</div>
		</div> <!-- row -->
	</div>

	<div class="container cont-reading cont-fixed">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="mega">Perma.cc, so far today</h2>
				<p>Here's what has been happening with Perma today. We've added <span class="archives-label">122 archives</span>, <span class="users-label">3 users</span>, and <span class="orgs-label">1 organization</span>.</p>
				<div id='today-vis-container'></div>
			</div>
		</div> <!-- row -->
	</div>
</div>
{% endblock %}

{% block scripts %}
	{% javascript 'stats' %}
{% endblock %}