{% extends "base-responsive.html" %}
{% load file_exists pipeline %}
{% block title %} | Stats{% endblock %}

{% block meta_description %}
Perma.cc prevents link rot.
{% endblock %}

{% block bodyFlags %}_about{% endblock %}
{% block mainFlags %}{% endblock %}

{% block mainContent %}
<div id="stats">
	<div class="container cont-fixed">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="page-title">Perma.cc engagement</h1>
				<p class="page-dek">Perma.cc is constantly growing. Every minute of every day we're making the web better by archving </p>
			</div>
		</div>
	</div>

	<div class="container cont-reading cont-fixed" id="what-is-perma">
		<div class="row">
			<div class="col-sm-8">
				<div id='archives-vis-container'></div>
			</div>
			<div class="col-sm-4" >
				<p class="number-header">266,577</p>
				<div class="graph-numbers-container">
					<h2 class="mega">archives</h2>
					<div class="sub-number-container">
						<div>
							<p>1,798</p>
							<p>this week</p>
						</div>
						<div>
							<p>5,642</p>
							<p>avg week</p>
						</div>
					</div>
				</div>
			</div> <!-- / col -->
		</div> <!-- row -->
	</div>

	<div class="container cont-reading cont-fixed" id="what-is-perma">
		<div class="row">
			<div class="col-sm-8" >
				<div id='users-vis-container'></div>
			</div>
			<div class="col-sm-4">
				<p class="number-header">6,387</p>
				<div class="graph-numbers-container">
					<h2 class="mega">users</h2>
					<div class="sub-number-container">
						<div>
							<p>5</p>
							<p>this week</p>
						</div>
						<div>
							<p>33</p>
							<p>avg week</p>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- row -->
	</div>

	<div class="container cont-reading cont-fixed">
		<div class="row">
			<div class="col-sm-6">
				<div class="no-graph">
					<div class="vert-number-container">
						<p class="vert-number">502</p>
					</div>
					<div class="graph-numbers-container">
						<h2 class="mega">organizations</h2>
						<div class="sub-number-container">
							<div>
								<p>2</p>
								<p>this week</p>
							</div>
							<div>
								<p>3</p>
								<p>avg week</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="no-graph">
					<div class="vert-number-container">
						<p class="vert-number">148</p>
					</div>
					<div class="graph-numbers-container">
						<h2 class="mega">libraries</h2>
						<div class="sub-number-container">
							<div>
								<p>1</p>
								<p>this week</p>
							</div>
							<div>
								<p>3</p>
								<p>avg week</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- row -->
	</div>

	<div class="container cont-reading cont-fixed">
		<div class="row">
			<div class="col-md-10">
				<h2 class="mega">Happening right now in Perma.cc</h2>

				<div id='today-vis-container'></div>
			</div>
			<div class="col-md-2">
				<p>Since the start of the day we've added</p>
				<div class="daily-num-container">
					<p class="num-value">488</p>
					<p class="num-label">archives</p>
				</div>
				<div class="daily-num-container">
					<p class="num-value">4</p>
					<p class="num-label">users</p>
				</div>
				<div class="daily-num-container">
					<p class="num-value">1</p>
					<p class="num-label">library</p>
				</div>
			</div>
		</div> <!-- row -->
	</div>
</div>
{% endblock %}

{% block scripts %}
	{% javascript 'stats' %}
{% endblock %}