{% extends "base-responsive.html" %}
{% block title %} | Tools{% endblock %}

{% block mainContent %}

<div class="container cont-fixed">
	<div class="row">
		<h1 class="page-title">Tools</h1>
		<h2 class="body-ah">Library</h2>
		<p class="body-text">The library tool allows you to manage and sort your Perma links.  Every Perma link you make while logged in will be recorded in the library, and you’ll be able to see which of your links have created.</p>
		
		<h2 class="body-ah">Export</h2>
		<p class="body-text"The export tool lets you download a copy of your Perma library.  This allows you to maintain a record of your Perma links on your computer.</p>
		
		<h2 class="body-ah">Batch Converter</h2>
		<p class="body-text">The batch converter will allow you to take a collection of URLs and convert them to Perma links without having to input each URL individually.  Simply insert text into the batch converter; it will extract all the URLs and give you a Perma link for each one.</p>
		
		<h2 class="body-ah">Tagging</h2>
		<p class="body-text">The tagging tool will provide you with an easy way to organize your Perma links.  Whether you want to associate links with a particular article you’re writing or a general topic you’re interest in, the tagging tool will allow you to sort and search through your links using your own organizational system.</p>
	</div>
</div>




{% endblock mainContent %}
