{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css">
{% endblock %}

{% block navbar %}
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{% url auth_logout %}">Sign out</a></li>
          <li><a href="{% url landing %}">Create linky</a></li>
          <li><a href="{% url editor_home %}">View linkies</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="jumbo">
  <h4>Linkys vetted by {{user.username}}</h4>

	{% if linky_list %}
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Linky link</th>
	        <th>Original link</th>
	        <th>Vetted date</th>
	        <!--<th>Vetted by</th>-->
	      </tr>
	    </thead>
	    <tbody>	
	
		{% for linky in linky_list %}
	      <tr>
	        <td><a href="http://{{host}}/{{ linky.hash_id }}">http://{{host}}/{{ linky.hash_id }}</a></td>
	        <td><a href="{{ linky.submitted_url }}">{{ linky.submitted_url }}</a></td>
	        <td>{{linky.vetted_timestamp}}</td>
	        <!--<td>{{linky.vetted_by_editor.username}}</td>-->
	      </tr>
		{% endfor %}
		
		</tbody>
	  </table>
	{% else %}
	    <p>It appears as if you haven't vetted any Linkys.</p>
	{% endif %}

  </div>
{% endblock %}
{% block scripts %}
<script>
  var web_base = "{{web_base}}";
</script>
<script src="{{ STATIC_PREFIX }}js/landing.js"></script>
{% endblock %}