{% extends "layout.html" %}
{% load templatetag_handlebars %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
{% endblock %}

{% block content %}

<div class="row-fluid">
	<div class="span12 center">
		<form class="form-inline" id="linker">
    		<input type="text" id="rawUrl" class="input-xlarge" placeholder="Enter URL">
      		<button type="submit" class="btn big">&infin;</button>
    	</form>
	</div> <!--span-->
</div> <!--row-->
<div class="row-fluid">
	<div class="span12 center">    	
			<div class="span4">
				<img src="{{ STATIC_PREFIX }}img/linky-1-export.png">
		 		<h3>Create a Linky</h3>
			</div> <!--span-->
			<div class="span4">
		 		<img src="{{ STATIC_PREFIX }}img/linky-2-export.png">
		 		<h3>We'll hang on to it for a while</h3>
			</div> <!--span-->
			<div class="span4">
		 		<img src="{{ STATIC_PREFIX }}img/linky-3-export.png">
		 		<h3>If it's published, we'll keep it forever</h3>
			</div> <!--span-->
	</div> <!--row span10-->
</div>

<div class="row-fluid">
	<div id="linky-list" class="span12" style="display:none;">
		<hr>
  	<h3 class="text-center linky-ul-header">Recently created</h3>
  	<ul id="linky-ul"></ul>
  	<!--{% include "login-form.html" %}-->
	</div>

  <div class="span12 center">
    <div id="linky-confirm" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="logo-big">Linky Preview</h1>
        <img class="logo-big-img-preview" src="{{ STATIC_PREFIX }}img/infinity.png"/>
      </div>
    
      <div class="modal-body">
        <div id="linky-preview" class="pull-left">
          <div class="center"><img class="loading-background" src="{{ STATIC_PREFIX }}img/infinity_500_400.gif"></div>
        </div>
        <div id="linky-desc" class="unavailable">
          <h4 id="linky_generation_message">Creating your Linky. Hold tight.</h4>
          <p id="linkyUrl"><a href="" target="_blank"></a><br ><small id="linky_title"></small></p>
          <h4>Email this Linky</h4>
          <p><input id="email_request" class="input-xlarge" type="text" placeholder="user@example.com"></p>
          <p><a href="#" id="saveLinky" class="btn btn-primary btn-large btn-block">Save this Linky</a></p>
        </div>
      </div>
      <div class="modal-footer pull-left">
        <!--<p>Linky capture not right? Upload your own.</p>-->
      </div>
    </div>
  </div> <!--span-->
</div> <!--row-->

{% endblock %}
{% block scripts %}
</div> <!--container-->
<script>
  var web_base = "http://{{host}}";
</script>
<script src="{{ STATIC_PREFIX }}js/ZeroClipboard/ZeroClipboard.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/handlebars.js"></script>
<script src="{{ STATIC_PREFIX }}js/landing.js"></script>
{% endblock %}
{% block templates %}

{% tplhandlebars "list-template" %}
<div class="row-fluid">
		<li>
			<div class="span8">
				<div class="favicon-preview">{{#if favicon_url}}<img src="http://{{favicon_url}}">{{/if}}</div>
				<div class="recent-linky-summary">
					<h4><a href="{{#http_it url}}{{/http_it}}" target="_blank">{{#truncate title 50}}{{/truncate}}</a></h4>
					<small>{{#truncate original 70}}{{/truncate}}</small>
					<br>
					<p><a href="{{#http_it url}}{{/http_it}}" target="_blank">{{url}}</a></p>	
				</div>
			</div>
			<div class="span4">
				<div class="copy-button-div"><button class="btn copy-button" data-clipboard-text="{{#http_it url}}{{/http_it}}" title="Copy Linky Link">Copy Linky &infin;</button><p class="copy-confirm" style="display:none"></p></div>
			</div>
		</li>
</div>


	
{% endtplhandlebars %}

{% endblock templates %}
