{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css">
{% endblock %}
{% block content %}
  <div class="jumbo">
    <form class="form-inline" id="linker">
      <input type="text" id="rawUrl" class="input-xxlarge" placeholder="Enter URL">
      <button type="submit" class="btn big">&infin;</button>
    </form>
    <table id="linky-list" class="table">
      <thead>
        <tr>
          <th>Linky link</th>
          <th>Original link</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div id="linky-confirm" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h1 class="logo">Linky Preview</h1>
        <img class="logo-img" src="{{ STATIC_PREFIX }}img/infinity.png"/>
    </div>
    <div class="modal-body">
      <div id="linky-preview" class="pull-left">
        <div class="center"><img src="{{ STATIC_PREFIX }}img/infinity_500_400.gif"></div>
      </div>
      <div id="linky-desc" class="unavailable">
        <h4 id="linky_generation_message">Creating your Linky. Hold tight.</h4>
        <p id="linkyUrl"><a href="" target="_blank"></a></p>
        <h4>Email this Linky</h4>
        <p><input id="email_request" class="input-xlarge" type="text" placeholder="user@example.com"></p>
        <p><a href="#" id="saveLinky" class="btn btn-primary btn-large btn-block">Save this Linky</a></p>
      </div>
    </div>
    <div class="modal-footer pull-left">
      <!--<p>Linky capture not right? Upload your own.</p>-->
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script>
  var web_base = "http://{{host}}";
</script>
<script src="{{ STATIC_PREFIX }}js/landing.js"></script>
{% endblock %}