<ul class="nav nav-list manage-nav">
  {% if user.groups.all.0.name == 'registrar_member' or user.groups.all.0.name == 'registry_member' or user.groups.all.0.name == 'journal_member' %}
  <li><a href="{% url user_management_manage_links %}">Vested links</a></li>
  {% endif %}
  {% if user.groups.all.0.name == 'registrar_member' or user.groups.all.0.name == 'registry_member' %}
	<li><h3><small>Manage users</small><h3></li>
	{% endif %}
  {% if user.groups.all.0.name == 'registry_member' %}
  <li><a href="{% url user_management_manage_registrar %}">Registrars</a></li>
  <li><a href="{% url user_management_manage_registrar_member %}">Registrar users</a></li>
  {% endif %}
  
  {% if user.groups.all.0.name == 'registrar_member' or user.groups.all.0.name == 'registry_member' %}
  <li><a href="{% url user_management_manage_journal_member %}">Journal users</a></li>
  {% endif %}
      
  {% if user.groups.all.0.name == 'journal_member' %}
  <li><a href="{% url user_management_sponsoring_library %}">Sponsoring library</a></li>
  {% endif %}
      
  <!--{% if user.groups.all.0.name == 'journal_member' or user.groups.all.0.name == 'registrar_member' or user.groups.all.0.name == 'registry_member' %}
  <li class="divider"></li>
  {% endif %}-->
      
  {% ifequal user.groups.all.0.name 'user' %}
  <li><a href="">My links</a></li>
  {% endifequal %}
      
  {% if user.is_authenticated %}
  <li class="divider"></li>
  <li><a href="{% url user_management_manage_account %}">Account settings</a></li>
  {% endif %}
</ul>