<div class="dropdown thin pull-right">
  {% if user.is_authenticated %}
  <span class="greeting tk-adelle ">Hello, {{ user.first_name }}</span> <a href="#" class="dropdown-toggle btn" data-toggle="dropdown">Account&nbsp;<b class="caret"></b></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a href="{% url user_management_manage_links %}">Linky admin</a></li>
    <li><a href="{% url user_management_manage_account %}">Account settings</a></li>
    <li class="divider"></li>
    <li><a href="{% url auth_logout %}">Sign out</a></li>
  </ul>
  {% else %}
  <a href="#" class="dropdown-toggle btn" data-toggle="dropdown">Login&nbsp;<b class="caret"></b></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <!--<li><a href="{% url auth_login %}">Login</a></li>-->
    <li>
    {% include "login-form.html" %}
    </li>
  </ul>
  {% endif %}
    
</div>

<div class="alpha">
	<h4>Caution!<br/>Pre-Alpha Demo</h4>
</div>