{% extends "layout.html" %}
{% load file_exists %}
{% block title %} | {{linky.submitted_title}}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
{% endblock %}

{% block content %}
<script language="JavaScript">

function autoResize(id){
    var newheight;
    var newwidth;

    if(document.getElementById){
        newheight=document.getElementById(id).contentWindow.document .body.scrollHeight;
        newwidth=document.getElementById(id).contentWindow.document .body.scrollWidth;
    }

    document.getElementById(id).height= (newheight) + "px";
    document.getElementById(id).width= (newwidth) + "px";
}
</script>

<div class="row-fluid">
	<div class="span2">
		<h4 class="indexed">{{linky.submitted_title}}<br><small>indexed on {{linky.creation_timestamp}}{% if linky.vested %} | vested on {{linky.vested_timestamp}}{% endif %}</small></h4>
	  
	</div>
	<div class="span8 linky-view">
  		<div class="watermark center">

			{% if not linky.vested %}<img class="watermark-image" src="{{ STATIC_PREFIX }}img/watermark.png"/>{% endif %}
			{% file_exists STATIC_PREFIX linky.id linky.submitted_url %}
		</div>
		<p><a class="submitted_url" href="{{linky.submitted_url}}">{{linky.submitted_url}}</a></p> 
   	</div>
   	<!--{% include "login-form.html" %}-->
   	<div class="span2 center">
    {% if not linky.vested %}
      {% if user.groups.all.0.name == 'registry_member' or user.groups.all.0.name == 'registrar_member' or user.groups.all.0.name == 'journal_member' %}
        <form action="" method="post">
          {% csrf_token %}
          <input type="submit" value="vest" name="vet" class="btn">
        </form>
    	{% endif %}
    {% endif %}
</div><!--row-->

<!-- Modal -->
<div id="myModal" class="modal hide fade center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   
  </div>
  <div class="modal-body">
     <h4 class="indexed"><a href="{{linky.submitted_url}}">{{linky.submitted_title}}</a><br><small>Archived on {{linky.creation_timestamp}}<br>Today's live view<br> 
     <div id="iframe-wrap">
		<iframe id="frame" class="center" src="{{linky.submitted_url}}"></iframe>
	</div>
     <a href="{{linky.submitted_url}}" class="grey">{{linky.submitted_url}}</a></small></h4>
     <a href="{{linky.submitted_url}}"></a>
  </div>
  <div class="modal-footer">
  	<div class="logo-box">
    	<a href="{% url 'landing' %}"><h1 class="logo-big">Linky</h1>
    	<img class="logo-big-img" src="{{ STATIC_PREFIX }}img/infinity.png"/></a>
    </div>
  <button class="btn-large btn-primary"><a href="{{linky.submitted_url}}" style="color:white">Go to original page</a></button></br></br>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Go to archived Linky</button>
    
     <p class="definition"><a href="{% url 'landing' %}">Wait, what's a Linky?</a></p>
  </div>
</div>

</div><!--container-->
{% endblock %}
{% block scripts %}

{% if user.groups.all.0.name != 'registry_member' and user.groups.all.0.name != 'registrar_member' and user.groups.all.0.name != 'journal_member' %}
<script>
	window.onload = function(){
    $('#myModal').modal('show');
  }
</script>
{% endif %}

{% endblock %}
