{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block content %}
  <div class="jumbo">
    <form class="form-inline" id="linker">
      <input type="text" id="rawUrl" class="input-xxlarge" placeholder="Enter URL">
      <button type="submit" class="btn">&infin;</button>
    </form>
    <div id="linky-list">
      <ul></ul>
    </div>
  </div>
  <div id="linky-confirm" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Modal header</h3>
    </div>
    <div class="modal-body">
      <img src="http://placekitten.com/500/400" class="pull-left">
      <div id="linky-desc">
        <h4>Your linky has been created at<br><span id="linkyUrl"></span></h4>
        <h4>Email this Linky</h4>
        <p><input class="input-xlarge" type="text" placeholder="user@example.com"></p>
        <p><a href="#" id="saveLinky" class="btn btn-primary btn-large btn-block">Save Linky</a></p>
      </div>
    </div>
    <div class="modal-footer pull-left">
      <p>Linky capture not right? Upload your own.</p>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script>
  var static_url = "{{url_for('static', filename='img')}}";
</script>
<script src="{{ url_for('static', filename='js/landing.js') }}"></script>
{% endblock %}