<!DOCTYPE html>
<html>
  <head>
    <title>Linky</title>  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    {% block styles %}
    {% endblock %}  
  </head>
  <body>
   
    <header>
      <div class="container">
        <h1 class="logo">Linky</h1>
      </div>
    </header> 
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    {% block scripts %}
    {% endblock %}   
  </body>
</html>