# This process handles celery tasks that can happen at any point (no user is waiting on the results).
description "celery-background-queue"

start on started celery-user-queue
stop on stopping celery-user-queue

respawn
console log
setuid jc
setgid jc

exec {{ git_dir }}/venv/bin/celery -A perma worker --loglevel=info -Q background --logfile={{ logs_dir }}/celery_background_queue.log --workdir={{ git_dir }}/perma_web/

