{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Perma.cc + Replayweb.page</title>
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    #download-interstitial {
      background-color: #2D76EE;
      border: 0;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-family: "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 16px;
      line-height: 22.85px;
      padding: 14px 24px ;
      text-align: center;
      white-space: nowrap
    }
    #download-interstitial:hover, #download-interstitial:focus {
      background-color: #0092FF;
    }
    .button-wrapper {
      margin: auto;
      text-align: center;
    }
    replay-web-page {
      display: block;
    }
    .hidden {
      visibility: hidden;
      height: 10px;
      min-width: 10px;
      width: 10px
    }
    .welcome {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>
<body>

  <script src="{% static "vendors/replay-web-page/ui.js" %}"></script>
  <script>

    const guid = "{{ guid }}";
    if (guid && window.location != window.parent.location){

      //
      // If we are in an iframe: offer a replay
      //

      // Helpers

      const launch_playback = () => {
        const url = "{{ target_url | escapejs }}";
        const embed_style = "{{ embed_style }}";
        const sandbox = {{ sandbox|yesno:"true,false" }};

        const warc_source_allowed_host = "{{ warc_source_allowed_host }}";
        const warc_source = new URL(window.name);
        if (warc_source.host != warc_source_allowed_host) {
          throw `Forbidden warc source: ${warc_source}`
        }

        console.log(`Requesting playback of Perma Link ${guid} (${url}) from ${warc_source}`)

        const replay = document.createElement('replay-web-page');
        replay.setAttribute('source', warc_source);
        replay.setAttribute('url', url);
        replay.setAttribute('view', 'replay');
        replay.setAttribute('embed', embed_style);
        replay.setAttribute('noSandbox', !sandbox);
        replay.setAttribute('replayBase', "{% static "vendors/replay-web-page" %}/");
        const hidden = {{ hidden|yesno:'true, false' }};
        if (hidden){
          replay.className = 'hidden';
        }
        document.body.appendChild(replay);
        return replay;
      }

      const wait_for_element = async (selector_function) => {
        const maxPauseSeconds = 60
        let tries = maxPauseSeconds * 60;  // we expect a repaint rate of ~60 times a second, per https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame
        let elem = null;
        while ( !elem && tries > 0) {
          // sleep efficiently until the next repaint
          const pause = await new Promise(resolve => requestAnimationFrame(resolve));
          cancelAnimationFrame(pause);
          // look for the target element
          try {
            elem = selector_function();
          } catch (err) {
            if ( !(err.message.includes('is null') || err.message.includes('of null')) ) {
              throw err;
            }
            tries -= 1
          }
        }
        if (elem) {
          return elem;
        }
        throw 'Timed out.'
      }

      const wait_for_replay = async (replay_elem) => {
        return await wait_for_element(() => {
          return replay_elem.shadowRoot.querySelector('iframe').contentDocument.querySelector('replay-app-main').shadowRoot.querySelector('wr-coll').shadowRoot.querySelector('wr-coll-replay').shadowRoot.querySelector('iframe')
        })
      }

      const handle_target = async (elem) => {
        const target = "{{ target }}";
        if (target==='blank'){
          // inject a download link and click it
          console.log(`Opening ${elem.src} in a new window`)
          const download = document.createElement('a');
          download.href = elem.src
          download.target = '_blank'
          download.click()
        } else if (target==='img'){
          // set alt text and style the loaded image for cross-browser consistency
          console.log("Formatting image")
          const img = await wait_for_element(() => {
            return elem.contentDocument.querySelector('img')
          })
          img.style = "display: block; margin: auto; width: auto; height: auto;";
          img.alt = "screenshot"
        }
      }

      const replay = async () => {
        const replay_elem = launch_playback();
        const internal_elem = await wait_for_replay(replay_elem);
        await handle_target(internal_elem);
      }

      // Do the replay

      const ondemand = {{ ondemand|yesno:'true, false' }};
      if (ondemand){

        // Insert the download button
        const button = document.createElement('div');
        button.className = 'button-wrapper'
        button.innerHTML = '<button id="download-interstitial">View/Download File</button>';
        document.body.appendChild(button);
        // On-click, trigger replay in a hidden iframe
        const downloadButton = document.getElementById("download-interstitial");
        downloadButton.onclick = replay;

      } else {
        (async() => {
          await replay();
        })()
      }

    } else {

      //
      // Otherwise, display a simple landing page
      //

      const content = document.createElement('div');
      content.className = 'welcome'
      content.innerHTML = "<div>Welcome.</div>";
      document.body.appendChild(content);

      //
      // And clean up after any earlier attempted playbacks.
      // (Will be unnecessary when the 'Clear-Site-Data' header is implemented more thoroughly across browsers)
      //

      // Unregister service worker
      navigator.serviceWorker.getRegistrations()
        .then(registrations=>{
          for(let registration of registrations) {
             console.log(`Unregistering service worker from scope ${registration.scope}.`);
             registration.unregister();
          }
        });

      // Empty local, session, and cache storages
      localStorage.clear()
      sessionStorage.clear()
      caches.keys().then(names=>{
        for (let name of names) {
          caches.delete(name);
        }
      });

      // Delete IndexedDBs
      const DBOpenRequest = indexedDB.open('collDB');
      DBOpenRequest.onsuccess = event=> {
      //// Try to retrieve a list of per-warc DBs...
        const collDB = DBOpenRequest.result;
        try {
          const objectStore = collDB.transaction(['colls'], 'readonly').objectStore('colls').getAllKeys();
          objectStore.onsuccess = event=>{
            const dbIDs = objectStore.result;
      ////...and on success delete each...
            for(let dbID of dbIDs){
              console.log(`Requesting deletion of db:${dbID}.`);
              indexedDB.deleteDatabase(`db:${dbID}`);
            }
      ////...and then delete the collections database.
            console.log(`Requesting deletion of collDB.`);
            collDB.close();
            indexedDB.deleteDatabase('collDB');
          }
        } catch (err) {
      //// If there is no list of per-warc DBs, delete the collections database.
          console.log(`Requesting deletion of collDB.`);
          collDB.close();
          indexedDB.deleteDatabase('collDB');
          if ( !err.message.includes('object store') ) {
            throw err;
          }
        }
      }
    }
  </script>
</body>
</html>
