{% extends "base-responsive.html" %}
{% load render_bundle from webpack_loader %}
{% block title %} | Diff{% endblock %}

{% block meta_description %}
Perma.cc prevents link rot.
{% endblock %}

{% block bodyFlags %}Difference Panoramic{% endblock %}
{% block mainFlags %}{% endblock %}

{% block mainContent %}
<div class="container cont-fixed">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-title">diff</h1>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
