{% extends "admin-layout.html" %}
{% block title %} | Journal members{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
{% endblock %}

{% block manage-nav-journal %}<li class="active"><a href="{% url 'user_management_manage_journal_member' %}">Journal users</a></li>{% endblock %}

{% block content %}


	<h3>Existing journal members</h3>

	<table class="table">
    <thead>
      <tr>
        <!--<th><input type="checkbox"></th>-->
        <th>Name</th>
        <th>Email</th>
        {% if user.groups.all.0.name == 'registry_member' %}<th>Registrar</th>{% endif %}
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      {% for member in journal_members %}
        <tr>
          <!--<td><input type="checkbox"></td>-->
          <td>{{ member.first_name }} {{ member.last_name }}</td>
          <td>{{ member.email }}</td>
		  {% if user.groups.all.0.name == 'registry_member' %}<td>{{member.registrar.name}}</td>{% endif %}
          <td><a href="{% url 'user_management_manage_single_journal_member' member.id%}">edit/delete</a></td>
      {% empty %}
        <tr>No journal members found.</tr>
      {% endfor %}
    </tbody>
  </table>

    <form class="embedded-form" method="post">
      {% csrf_token %}
		  <h4>Add a new journal member</h4>
		  <fieldset>
		  <span class="text-error">{{ form.non_field_errors }}</span>
        {% for field in form %}
          <label for="id_{{ field.name }}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            {% for error in field.errors %}<span class="text-error">{{ error }}</span>{% endfor %}
          {%elif field.help_text %}
            <span class="help-inline">{{ field.help_text }}</span>
          {% endif %}
        {% endfor %}  
      </fieldset>
      <button type="submit" class="btn">Add journal member</button>
    </form>


{% endblock %}
