
  <header{% if original_archive.is_private %} class="_isPrivate"{% endif %}>
    {% if request.user.is_authenticated %}
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  {% endif %}

    <div class="primary-segment row">
      <div class="col col-sm-2 _details">
        <div class="content">
          <button id="details-button" class="btn btn-ui-small details" type="button">
            <span>Slider here</span>
          </button>
        </div>
      </div>
      <div class="col col-sm-4 _main {% if request.user.is_authenticated %}_authenticated{% else %}_unauthenticated{% endif %}">
        <div class="content">
          <p class="title"></p>
          <p class="creation">
            {% if new_archive %}
              <p>Old archive is on bottom  {{ old_archive.creation_timestamp }}</p>
              <p>Old archive is layered on top in red {{ new_archive.creation_timestamp }}</p>
            {% endif %}

            {% if request.user.is_authenticated %}
            {% else %}
              <a class="about" href="{% url 'about' %}" target="_blank">What is Perma.cc?</a>
            {% endif %}
          </p>
        </div>
      </div>
      <div class="col col-sm-2 _user {% if request.user.is_authenticated %}_authenticated{% else %}_unauthenticated{% endif %}">
        <div class="content">
            <a class="about" href="{% url 'about' %}" target="_blank">What is Perma.cc?</a>
        </div>
      </div>
    </div>
    <div id="collapse-details" class="details-segment ui-tray row collapse">
      <div class="tray-details tray-inverse">
        <div class="tray-detail-group">
          <label class="tray-detail-title" for="source_url">Original page URL</label>
          <input id="source_url" class="tray-detail-entry" value="{{ original_archive.submitted_url }}" readonly>
        </div>
        {% if new_archive %}

        <div class="tray-detail-group">
          <label class="tray-detail-title" for="source_url">Original page URL</label>
          <input id="source_url" class="tray-detail-entry" value="{{ original_archive.submitted_url }}" readonly>
        </div>

        {% endif %}

      </div>
    </div>
  </header>
