{% extends "admin-layout.html" %}
{% block title %} | Vested Linky links{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
{% endblock %}

{% block manage-created-links %}<li class="active"><a href="{% url 'user_management_created_links' %}">Created links</a></li>{% endblock %}

{% block content %}

		<h3>Linky links created by you</h3>
		<p>You've created {{ total_created }} links</p>

		<table class="vested-table">
    	<thead>
      	<tr>
      	<th> </th>
        <th>Link</th>
			  <th>Created<a href="?sort=creation_timestamp">^</a><a href="?sort=-creation_timestamp">v</a></th>
			  <th>Vested<a href="?sort=vested_timestamp">^</a><a href="?sort=-vested_timestamp">v</a></th>
		  </tr>
		</thead>
		<tbody>
		  {% for linky_link in linky_links %}
			<tr>
			  <td class="linky-abbr-vested">{% if linky_link.vested %}∞{% endif %}</td>
			  <td class="linky-abbr-title">{{ linky_link.submitted_title }}<br><a href="{{ linky_link.submitted_url }}" target="_blank">{{ linky_link.submitted_url }}</a><br><a href="http://{{host}}/{{linky_link.id}}" target="_blank">{{host}}/{{linky_link.id}}</a></td>
			  <td class="linky-abbr-date-time">{{ linky_link.creation_timestamp|date:"m/d/Y" }}</td>
			  <td class="linky-abbr-date-time">{{ linky_link.vested_timestamp|date:"m/d/Y" }}</td>
		  {% empty %}
			<tr><td>No linky links found.</td></tr>
		  {% endfor %}
		</tbody>
        {% if linky_links.has_previous %}<a href="?page={{ linky_links.previous_page_number }}&sort={{ sort }}">&lt;</a>{% endif %}
        {% for i in linky_links.paginator.page_range %}
        {% ifequal i linky_links.number %}
        <a href="">{{ i }}</a>
        {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
        {% endifequal %}
        {% endfor %}
        {% if linky_links.has_next  %}<a href="?page={{ linky_links.next_page_number }}&sort={{ sort }}">&gt;</a>{% endif %}
	  </table>

{% endblock %}

{% block scripts %}
{% endblock %}
