{% extends "admin-layout.html" %}
{% block title %} | Vested Linky links{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
{% endblock %}

{% block manage-created-links %}<li class="active"><a href="{% url 'user_management_created_links' %}">Created links</a></li>{% endblock %}

{% block content %}

		<h3>Linky links created by you</h3>
		<p>You've created {{ total_created }} links</p>

		<table class="vested-table">
    	<thead>
      	<tr>
      	<th> </th>
        <th>Link</th>
			  <th>Created</th>
			  <th>Vested</th>
			  <th>Views</th>
		  </tr>
		</thead>
		<tbody>
		  {% for linky_link in linky_links %}
			<tr>
			  <td class="linky-abbr-vested">{% if linky_link.vested %}∞{% endif %}</td>
			  <td class="linky-abbr-title">{{ linky_link.submitted_title }}<br><a href="{{ linky_link.submitted_url }}" target="_blank">{{ linky_link.submitted_url }}</a><br><a href="http://{{host}}/{{linky_link.id}}" target="_blank">{{host}}/{{linky_link.id}}</a></td>
			  <td class="linky-abbr-date-time">{{ linky_link.creation_timestamp|date:"m/d/Y" }}</td>
			  <td class="linky-abbr-date-time">{{ linky_link.vested_timestamp|date:"m/d/Y" }}</td>
			  <td class="linky-view-count">{{ linky_link.view_count }}</td>
		  {% empty %}
			<tr><td>No linky links found.</td></tr>
		  {% endfor %}
		</tbody>
	  </table>

{% endblock %}

{% block scripts %}
{% endblock %}
