{% extends "admin-layout.html" %}
{% block manage-nav-links %}<li class="active"><a href="{% url 'user_management_vested_links' %}">Vested links</a></li>{% endblock %}
{% block title %} | Vested Perma links{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.min.css">
{% endblock %}

{% block content %}

		<h3>Perma links vested by you</h3>
		<p>You've vested {{ total_vested }} link{{ total_vested|pluralize }}.</p>
		
		<table class="vested-table">
    	<thead>
      	<tr>
        	<th>Link</th>
          <th>Created<a href="?sort=creation_timestamp"> <i class="icon-chevron-up"></i></a><a href="?sort=-creation_timestamp"> <i class="icon-chevron-down"></i></a></th>
			    <th>Vested<a href="?sort=vested_timestamp"> <i class="icon-chevron-up"></i></a><a href="?sort=-vested_timestamp"> <i class="icon-chevron-down"></i></a></th>		  
			  </tr>
		</thead>
		<tbody>
		  {% for linky_link in linky_links %}
			<tr>
			  <td class="linky-abbr-title">{{ linky_link.submitted_title }}<br><a href="{{ linky_link.submitted_url }}" target="_blank">{{ linky_link.submitted_url }}</a><br><a href="http://{{host}}/{{linky_link.guid}}" target="_blank">{{host}}/{{linky_link.guid}}</a></td>
			  <td class="linky-abbr-date-time">{{ linky_link.creation_timestamp|date:"m/d/Y" }}</td>
			  <td class="linky-abbr-date-time">{{ linky_link.vested_timestamp|date:"m/d/Y" }}</td>
		  {% empty %}
			<tr><td>No Perma links found.</td></tr>
		  {% endfor %}
		</tbody>
	  </table>


{% if linky_links.paginator.num_pages > 1 %}
<div class="pagination">
    <ul>
        {% if linky_links.has_previous %}<li><a href="?page={{ linky_links.previous_page_number }}&sort={{ sort }}">&lt;</a></li>{% endif %}
        {% for i in linky_links.paginator.page_range %}
        {% ifequal i linky_links.number %}
        <li class="active"><a href="">{{ i }}</a></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endifequal %}
        {% endfor %}
        {% if linky_links.has_next  %}<li><a href="?page={{ linky_links.next_page_number }}&sort={{ sort }}">&gt;</a></li>{% endif %}
    </ul>
</div>
{% endif %}

{% endblock %}
