<div id="playback-interstitial" class="record-message">
  <p class="hidden record-message-primary">Perma.cc can't display this file type on mobile, but you can view or download the archived file by clicking below.</p>
  <p class="hidden record-message-secondary">File type {{mime_type}}</p>
  {% if PLAYBACK_HOST %}
    <button id="download-button" class="hidden btn btn-primary">View/Download File</button>
    <div>
      {% include "archive/includes/wacz_exhibitor_iframe.html" with interstitial=True  %}
    </div>
  {% else %}
    <div>
      {% include "archive/includes/client_side_iframe.html" with interstitial=True target="blank" %}
    </div>
  {% endif %}
</div>
