{% extends "archive/base-archive-responsive.html" %}
{% load file_exists  truncatesmart is_darchive local_datetime pipeline as_json %}

{% block title %} | {{link.submitted_title}}{% endblock %}

{% block meta-head %}
    <meta name="robots" content="noindex, noarchive, noodp, noimageindex">
{% endblock %}

{% block header %}

{% comment %}


    Our header is built using three segments.
    +-----------------------------------+
    | Primary segment                   |
    |                                   |
    | This segment is always displayed  |
    -------------------------------------
    | Details segment                   |
    |                                   |
    | This segment is displayed         |
    | if the user clicks the show       |
    | details button                    |
    -------------------------------------
    | Message segment                   |
    |                                   |
    | If we have a message to share     |
    | we display it here. Things like   |
    | "Things archive is dark, but you  |
    | can see it because you're part of |
    | org that owns the archive" or     |
    | "Archive created successfully,    |
    | here's the perma.cc address of    |
    | the archive"                      |
    +-----------------------------------+
 
 {% endcomment %}


    <header>

        <div class="primary-segment row">
            <div class="col-sm-2">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-details" aria-expanded="false" aria-controls="collapse-details">
                    Show details
                </button>
            </div>
            <div class="col-sm-3">
                <p>This page is a Perma.cc record</p>
                <p>Created {{ link.creation_timestamp|local_datetime:"F j, Y" }} Looks wrong? Try the <a href="{% url 'single_linky' link.guid %}?type=image">Screenshot View</a>.</p>
            </div>
            <div class="col-sm-2">
                <p><a href="{{link.submitted_url}}" target="_blank">View the live page</a></p>
            </div>
            <div class="col-sm-5">
                <p>
                    <a href="{% url 'about' %}" target="_blank">What is Perma.cc?</a>
                    <button class="btn btn-primary" type="button" >
                        Flag as inappropriate
                    </button>
                </p>
            </div>
        </div>

        <div id="collapse-details" class="details-segment row collapse">
            <div class="col-sm-12">
                <p>Original page URL, {{link.submitted_url}}</p>
                <p>Original page title, {{link.submitted_title}}</p>
                <p>Record creation date, {{ link.creation_timestamp|local_datetime }}</p>

                {% if request.user.is_authenticated %}

                    {% if request.user.can_vest and not link.vested %}
                        <a class="btn vest banner-btn" href="{% url 'vest_link' link.guid %}">Vest site</a>
                    {% endif %}

                    {% if not link|is_darchive %}
                        {% if request.user.is_staff %}
                            <a class="btn dashboard" href="{% url 'dark_archive_link' link.guid %}">Dark archive</a>
                        {% elif request.user.is_registrar_member and link.organization.registrar == request.user.registrar %}
                            <a class="btn dashboard" href="{% url 'dark_archive_link' link.guid %}">Dark archive</a>
                        {% elif request.user.is_organization_member and link.organization in request.user.organizations.all %}
                            <a class="btn dashboard" href="{% url 'dark_archive_link' link.guid %}">Dark archive</a>
                        {% elif request.user.is_authenticated and request.user.pk == link.created_by_id %}
                            <a class="btn dashboard" href="{% url 'dark_archive_link' link.guid %}">Dark archive</a>
                        {% endif %}
                    {% endif %}

                    {% if request.user.is_authenticated and request.user.pk == link.created_by_id and not link.vested %}
                        <a class="btn user-delete" href="{% url 'user_delete_link' link.guid %}"><i class="icon-trash"></i> Delete</a>
                    {% endif %}
                {% endif %}
                
            </div>
        </div>

        <div class="details-message row">
            {% if can_view and link.dark_archived %}
                This archive is in the dark archive. Most folks can't see it.
            {% endif %}
        </div>
        
    </header>
{% endblock %}

{% block content %}

    {% if link.user_deleted %}
        {% include "archive/deleted.html" %}
    {% elif can_view %}
        {% include "archive/iframe.html" %}
    {% elif link|is_darchive %}
        {% include "archive/dark-archive.html" %}
    {% endif %}

{% endblock %}

{% block scripts %}
    <script>
        var archive = {% as_json link %};
    </script>

    {% javascript 'single-link' %}
{% endblock %}
