//	Locally hosted Google Fonts

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/RobotoSlab-Light.eot');
    src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url('../fonts/RobotoSlab-Light.eot?#iefix') format("embedded-opentype"), url('../fonts/RobotoSlab-Light.woff') format("woff"), url('../fonts/RobotoSlab-Light.ttf') format("truetype");
    }

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/RobotoSlab-Regular.eot');
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url('../fonts/RobotoSlab-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/RobotoSlab-Regular.woff') format("woff"), url('../fonts/RobotoSlab-Regular.ttf') format("truetype");
    }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: local("Roboto Light"), local("Roboto-Light"), url('../fonts/Roboto-Light-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Roboto-Light-webfont.woff') format("woff"), url('../fonts/Roboto-Light-webfont.ttf') format("truetype");
    }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: local("Roboto Regular"), local("Roboto-Regular"), url('../fonts/Roboto-Regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Roboto-Regular-webfont.woff') format("woff"), url('../fonts/Roboto-Regular-webfont.ttf') format("truetype");
    }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/Roboto-Bold-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Roboto-Bold-webfont.woff') format("woff"), url('../fonts/Roboto-Bold-webfont.ttf') format("truetype");
    }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Roboto-Black-webfont.eot');
    src: local("Roboto Black"), local("Roboto-Black"), url('../fonts/Roboto-Black-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Roboto-Black-webfont.woff') format("woff"), url('../fonts/Roboto-Black-webfont.ttf') format("truetype");
    }


@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/RobotoSlab-Regular.eot');
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url('../fonts/RobotoSlab-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/RobotoSlab-Regular.woff') format("woff"), url('../fonts/RobotoSlab-Regular.ttf') format("truetype");
    }
