/////////////////////////

// placeholders used to extend common elements

//	style- : helper styles

// PRODUCTION CLASS HOOKS

//	b-	: block
//	e-	: element
//	_	: modifier

%style-clears-floats {
	&:after {
		display: table;
		content: " ";
		clear: both;
	}
}

%style-block-centered {
	margin-left: auto;
	margin-right: auto;
}

%style-vcenter-parent {
	display: table;
}

%style-vcenter-child {
	display: table-cell;
	vertical-align: middle;
}