#left_frame {
    width: calc(50% - 4px);
}
#right_frame {
    width: calc(50% - 4px);
}
#left_frame,
#right_frame {
  float: left;
  height: 100%;
  resize: both;
}



.archive-image-layers {
    position: relative;
}
.archive-image-layers img {
    position: absolute;
    top: 0px;
    left: 0px;
}

.imga {
    z-index: 10;
    opacity: 0.5;
}

.imgb {
    z-index: 20;
}

.thumb {
    top: 120px;
    right: 5px;
    position: fixed;
}
