/* This .scss file will automatically be compiled by django-pipeline into a .css file */

/////////////////////////

//	perma global imports

@import "_perma-imports.scss";
@import "_reset.scss";


//	Import some mixins from Compass

@import "compass/css3/opacity";


$height-record-hed: 97px;
$color-trans-white: rgba(254,254,254,.65);
$color-yellow: #d0a60f;

@-webkit-keyframes success-bg {
    0% {background-color: $color-highlight;}
    20% {background-color: $color-highlight;}
    100% {background-color: white;}
}

html,body {
  overflow: visible;
  height: 100%;
}

a {
  text-decoration: none;
  &:link { color: inherit; }
  &:visited { color: inherit; }
  &:hover { color: inherit; }
  &:active { color: inherit; }
}

// iframe start

.verbose {
  display: none;
  @include respond-tablet {
    display: inline;
  }
}

.capture-wrapper {
  position: relative;
  height: 100%;
  width : 100%;
  margin: 0 auto;
}

#main-archive, #main-content, #main-content > .row, .capture-wrapper, .h_iframe {
  height : 100%;
}

.h_iframe {
  position: relative;
}

.h_iframe .ratio {
  display:block;
  width:100%;
  height:auto;
}

iframe.archive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0px 0px;
  border-style: solid;
  border-color: #999;
  text-align:auto;
  background:#ffffff;
  margin:0px auto;
}


header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: $color-blue;
  color: $color-white;
  overflow: visible;
  font-family: $font-hed-alt;
  border-bottom: $grid solid #e5e5e5;
    box-sizing: content-box;
  @include respond-desktop {
  }
  &._isPrivate {
    background-color: $color-black;
    .title {
      margin-left: 0;
      @include respond-tablet {
        font-size: 22px;
      }
      @include respond-wide {
        font-size: 24px;
      }
    }
    .title:before {
        content: '';
        display: inline-block;
        position: relative;
        height: 16px;
        width: 18px;
        background-image: url('../img/ui/perma-ui-private.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 4px;
        bottom: -2px;
    }
    .navbar-toggle .icon-bar {
      background-color: $color-black;
    }
    .ui-tray {
      border-color: $color-black;
    }
    @media (min-width: 400px) {
      .title:before {
          bottom: -1px;
      }
    }
    @include respond-tablet {
      .title:before {
          bottom: 0;
      }
    }
  }
}

.row {
  margin: 0;
}

.record-message {
  text-align: center;
  margin: 64px 0 24px;
  font-family: $font-hed-alt;
  padding: 0 $double;
  @include respond-mobile {
    margin: 200px 0 48px;
  }
  @include respond-tablet {
    margin: 155px 0 48px;
  }
}

.record-message-primary {
  font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
    @include respond-tablet {
    font-size: 36px;
    }
}

.record-message-secondary {
  max-width: 35em;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.5;
    color: $color-trans-gray;
    @include respond-tablet {
      font-size: 16px;
    }
    a {
      text-decoration: underline;
      &:hover, &:focus {
        color: $color-hover;
      }
      &:active {
        color: $color-active;
      }
    }
}



.banner-status {
  padding: 12px $grid * 2;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    color: $color-blue;
    border-bottom: 1px solid $color-blue;
    &._isNewRecord {
    -webkit-animation: success-bg .7s linear;
    animation: success-bg .7s linear;
    padding-top: 10px;
    padding-bottom: 10px;
    strong {
      padding-top: $half;
      float: left;
      padding-left: $grid * 3;
      &:before {
        content: '';
        background-image: url('../img/ui/perma-ui-success.svg');
        background-size: contain;
        background-color: transparent;
        display: inline-block;
        position: absolute;
        margin-right: $grid;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        top: 3px;
        left: -1px;
          @include respond-tablet {
          top: -6px;
          height: 27px;
          width: 27px;
          }
          @include respond-desktop {
          height: 32px;
          width: 32px;
          top: -6px;
          left: 0;
          }
      }
        @include respond-tablet {
        padding-left: $grid * 4;
        padding-top: 0;
        float: none;
        }
        @include respond-desktop {
        padding-left: $grid * 5;
        }
    }
    .link-options {
      font-size: 13px;
      color: $color-trans-gray;
      padding-left: $half;
      a {
        color: $color-orange;
        text-decoration: underline;
        &:hover {
          color: $color-black;
        }
        &:active {
          color: $color-blue;
        }
      }
    }
    .link-field {
        display: inline-block;
        border: 1px solid $color-blue;
        padding: 4px 8px;
        border-radius: 2px;
        font-weight: 700;
        color: $color-blue;
        width: auto;
        text-align: center;
        &:focus {
          outline: none;
        }
    }
    }
  strong {
    display: block;
    position: relative;
    @include respond-tablet {
      display: inline;
    }
  }
    .action.new-link {
        display: inline-block;
      float: right;
      font-size: 14px;
      font-weight: 400;
      padding: 2px 8px;
      background-color: $color-blue;
      color: white;
      border-radius: 2px;
      margin-top: 1px;
      margin-right: -11px;
    &:hover {
      background-color: $color-hover;
    }
    &:active {
      background-color: $color-active;
    }
    @include respond-tablet {
        margin-top: 3px;
        margin-right: 0;
    }
    }
  @include respond-tablet {
    .link-options .verbose {
        display: inline-block;
        width: 0;
        height: 1em;
        overflow: hidden;
        text-indent: -1000px;
    }
  }
  @include respond-desktop {
    padding: 12px $grid * 6;
      font-size: 18px;
      font-weight: 200;
  }
  @include respond-wide {
    .link-options .verbose {
        display: inline;
        width: auto;
        height: auto;
        text-indent: 0;
    }
  }
}

.btn {
  background-color: transparent;
  border-radius: 0;
  &:hover {
    background-color: transparent;
    border-color: $color-white;
  }
  &:active {
    background-color: transparent;
    border-color: inherit;
    box-shadow: none;
  }
  &:focus {
    background-color: transparent;
    border-color: inherit;
    outline: none;
    color: inherit;
  }
}

.btn-primary {
  display: block;
  margin-top: $grid * 2;
  font-family: $font-hed-alt;
  color: $color-white;
  font-weight: 400;
  font-size: 14px;
  padding: 14px $grid;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 2px;
  background-color: $color-blue;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  box-shadow: none !important;
  @include link-highlight($color-white, $color-white);
  @include respond-tablet {
    white-space: nowrap;
    margin: $double 0;
    padding: 14px $grid * 3;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    & + .btn {
      margin-left: $double;
    }
  }
  &:hover, &:focus {
    background-color: $color-hover !important;
    text-decoration: none !important;
    border-color: transparent;
    color: white !important;
  }
  &:active {
    background-color: $color-black !important;
    border-color: transparent;
  }
}

.btn-ui-small {
  font-size: 12px;
  font-weight: 400;
  padding: 5px 9px;
  border: 2px solid ;
  border-radius: 4px;
  color: $color-blue;
  border-color: $color-blue;
  background-color: transparent;
  &:hover {
    border-width: 3px;
    padding: 4px 8px;
  }
  &:active {
    border-width: 3px;
    padding: 4px 8px;
    color: white;
    background-color: $color-blue;
  }
  @include respond-tablet {
    padding: 7px 11px;
    border-radius: 10em;
    &:hover {
      border-width: 3px;
      padding: 6px 10px;
    }
    &:active {
      border-width: 3px;
      padding: 6px 10px;
      color: white;
      background-color: $color-blue;
    }
  }
}

.btn-ui-small.details {
  border: none;
  padding: 0;
  font-size: 14px;
  color: $color-white;
  display: table;
  height: $grid * 6;
  width: 100%;
  text-align: left;
  padding-left: $double;
  border-radius: 0;
  span {
    vertical-align: middle;
  }
  &:hover {
    border: none;
    padding: 0;
    padding-left: $double;
    color: $color-blue;
    background-color: $color-white;
  }
  &:active {
    border: none;
    padding: 0;
    padding-left: $double;
  }
  @include respond-desktop {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    padding: 7px 11px;
    border: 2px solid  $color-white;
    border-radius: 10em;
    background-color: transparent;
    width: 11em;
    display: inline-block;
    height: auto;
    span {
      display: inline;
    }
    &:hover {
      border: 3px solid $color-white;
      padding: 6px 10px;
    }
    &:active {
      border: 3px solid $color-white;
      padding: 6px 10px;
      color: $color-blue;
      background-color: $color-white;
    }
  }
}

header .primary-segment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include respond-desktop {
    display: block;
  }
}

.primary-segment .col {
  display: table;
  .content {
    display: table-cell;
    vertical-align: middle;
  }
  @include respond-desktop {
    float: left;
  }

}

.col._details {
  padding: 0;
  text-align: center;
  order: 3;
  width: 50%;
  @include respond-desktop {
    text-align: center;
    padding: $grid * 3;
    height: $height-record-hed;
    width: 180px;
  }
  @include respond-wide {
    width: 18%;
  }
}

.col._main {
  padding-left: $grid * 2;
  order: 1;
  width: 100%;
  &._unauthenticated {
    padding-right: $double;
  }
  padding-right: $grid * 8;
  height: auto;
  @include respond-tablet {
    height: $height-record-hed;
    width: 70%;
    padding-right: $double;
    border-bottom: 1px solid $color-trans-white;
    .content {
      padding: 0;
    }
  }
  @include respond-desktop {
    border-left: 1px solid $color-trans-white;
    border-bottom: none;
    width: 40%;
  }
  @include respond-wide {
    width: 46%;
    padding-left: $grid * 3;
  }
  .content {
    padding: 12px 0;
  }

}

.col._livepage {
  padding: 0;
  order: 4;
  width: 50%;
  @include respond-desktop {
    height: $height-record-hed;
    width: 18%;
  }
  @include respond-wide {
    width: 18%;
  }
}

a.about {
  padding-bottom: 3px;
  border-bottom: 1px solid;
  font-weight: 200;
  &:hover {
    border-color: $color-hover;
  }
  &:active {
    border-color: $color-active;
    color: $color-active;
  }
  font-size: 14px;
}

.col._user {
  float: right;
  order: 2;
  width: 100%;
  border-bottom: 1px solid $color-trans-white;
  text-align: center;
  @include respond-tablet {
    height: $height-record-hed;
    width: 30%;
    display: table;
  }
  @include respond-desktop {
    border-bottom: none;
    width: 22%;
  }
  @include respond-wide {
    width: 18%;
    float: left;
  }
  &._unauthenticated {
    a.about {
      display: none;
    }
    @include respond-tablet {
      text-align: right;
      a.about { display: inline; }
    }
    @include respond-desktop {
      text-align: center;
    }
  }
}


.title {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 0;
  margin-left: -.075em;
//	.logo:after {
//		content: '';
//		background-image: url('../img/perma-logo-white.svg');
//		background-size: 28px auto;
//		background-repeat: no-repeat;
//		width: 32px;
//		height: 13px;
//		margin-left: 6px;
//		display: inline-block;
//	}
  @media (min-width: 400px) {
    font-size: 18px;
  }
  @include respond-tablet {
    font-size: 24px;
  }
}

.creation {
  font-family: $font-hed-alt;
  font-size: 14px;
  font-weight: 200;
  padding-top: $half;
  margin-bottom: 0;
  letter-spacing: .01em;
  @include respond-wide {
    font-size: 16px;
  }
  .action {
    display: inline;
    margin-left: 0;
    margin-right: .7em;
    padding-bottom: 2px;
    vertical-align: baseline;
    ._verbose {
        width: .7em;
        @include respond-tablet {
          display: inline;
          width: auto;
          height: auto;
          text-indent: 0;
        }
    }
    a {
      padding-bottom: 3px;
      border-bottom: 1px solid;
      display: inline-block;
      &:hover {
        border-color: $color-hover;
      }
      &:active {
        border-color: $color-active;
        color: $color-active;
      }
    }
  }
  @include respond-wide {
    .action {
      margin-left: $double;
    }
  }
  a.about {
      vertical-align: baseline;
    display: inline-block;
  }
  @include respond-tablet {
    a.about { display: none; }
  }
}

.cat {
  //font-weight: 700;
}

.btn-outside {
  display: table;
  height: $grid * 6;
  border-left: 1px solid $color-trans-white;
  border-right: none;
  padding: $grid * 2;
  border-top: none;
  border-bottom: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0;
  text-align: right;
  padding-right: $double;
  @include respond-desktop {
    height: $height-record-hed;
    padding: $grid * 2;
    border-right: 1px solid $color-trans-white;
    margin-right: 0;
    width: auto;
    padding: $grid * 2;
    text-align: center;
  }
  @include respond-wide {
    padding: $grid * 3;
  }
  span {
    display: table-cell;
    vertical-align: middle;
      &:after {
      content: '';
      width: 9px;
      height: 17px;
      display: inline-block;
      margin-left: $grid;
      position: relative;
      top: 4px;
      background-image: url('../img/ui/perma-ui-chev-right-small.png');
      background-repeat: no-repeat;
      background-size: 54px 17px;
      background-position: -9px * 5;
      }
  }
  &:hover {
    background-color: white;
    color: $color-blue;
    span:after {
      background-position: -9px * 2;
    }
  }
  &:active {
    background-color: $color-black;
    border-color: $color-black;
    color: $color-white;
    span:after {
      background-position: -9px * 5;
    }
  }
}


// dropdown and nav

.nav > li > a.dropdown-toggle {
  display: none !important; // review
  font-family: $font-hed-alt;
  font-size: 17px;
  font-weight: 700;

  @include respond-tablet {
    display: block !important; // review
  }
  &.navbar-link {
    padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 28px;
      padding-right: $double;
      border-radius: 2px;
      border: 1px solid $color-trans-lightgray;
  }
    &:after {
      content: '';
      height: 9px;
      width: 18px;
      display: inline-block;
      background-image: url('../img/ui/perma-ui-chev-down.png');
      background-repeat: no-repeat;
      background-size: 102px 9px;
      background-position: -17px * 5;
      top: -1px;
    margin-left: $grid;
  }
  &:hover {
    background-color: $color-trans-lightgray;
  }
  &:active {
    border-color: $color-trans-gray;
  }
  &:hover::after {
  }
}

.nav > li.open > a.dropdown-toggle {
  border-color: $color-background;
  background-color: $color-background;
  color: $color-blue;
  &:after {
    transform: rotate(180deg);
    background-position: -17px * 0;
  }
  &:hover {
    color: $color-orange;
  }
  &:active {
    border-color: $color-black;
  }
}

li.dropdown {
  margin: 0;
}

/*
._expanded .navbar-nav { // review
  position: relative;
    width: auto;
    z-index: 1000;
    padding: 5px 0;
    margin: 2px 0 0;
  margin-right: -7px;
    font-size: 14px;
    list-style: none;
    background-color: white;
    background-clip: padding-box;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.175);
  border: 1px solid black;
  padding-top: $double;
  & > li > a {
    font-family: $font-hed-alt;
    padding: $half 12px $half $grid * 3;
    font-size: $size-body;
    text-align: right;
    &:hover, &:focus {
      background-color: $color-hover;
      color: white;
    }
  }
  .btn._nav {
    margin: 0;
      background-color: $color-blue;
      color: white;
      padding-top: $double;
      padding-bottom: $double;
      margin-top: $grid;
      margin-bottom: $grid;
      margin-right: $half;
      margin-left: $half;
      padding-right: 12px;
      &:after {
      content: '';
      width: 9px;
      height: 17px;
      display: inline-block;
      margin-left: $grid;
      position: relative;
      top: 3px;
      background-image: url('../img/ui/perma-ui-chev-right-small.png');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 54px 17px;
      background-position-x: -9px * 5;
      }
    }
}

._expanded .dropdown-menu { // review
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  min-width: none;
  width: auto;
}
*/

.dropdown-menu   { // review
  @include style-dropdown-items;
  position: relative;
    float: none;
    width: auto;
    z-index: 1000;
    display: none;
    padding: 5px 0;
    margin: 0;
    font-size: 14px;
    list-style: none;
    background-color: white;
    background-clip: padding-box;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.175);
  border-color: black;
  padding-top: $double;
  min-width: $grid * 27;
    @include respond-tablet {
    position: absolute; // DEL WHEN FINAL
    top: 77px;
    margin-right: 0;
    margin-right: -7px;
    margin-top: 2px;
  }
  @include respond-desktop {
    top: 64px;
  }
  & > li > a, & > li button {
    @include respond-tablet {
      padding-right: 20px;
    }
  }
}

.dropdown.open {
  .dropdown-menu {
    display: block;
  }
}

.dropdown-header {
  font-family: $font-hed-alt;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: right;
    padding-right: 11px;
    padding-top: 7px;
    color: $color-blue;
    text-transform: uppercase;
  @include respond-tablet {
    padding-right: 20px;
  }
}

._expanded .navbar-create { // review
  margin: 0;
    background-color: $color-blue;
    color: white;
    padding-top: $double !important;
    padding-bottom: $double !important;
    margin-top: $grid;
    margin-bottom: $grid;
    margin-right: $half;
    margin-left: $half;
    padding-right: 12px;
    &:after {
    content: '';
    width: 9px;
    height: 17px;
    display: inline-block;
    margin-left: $grid;
    position: relative;
    top: 3px;
    background-image: url('../img/ui/perma-ui-chev-right-small.png');
    background-repeat: no-repeat;
    background-position: -45px center;
    background-size: 54px 17px;
    }
}

.navbar-create {
  @include respond-tablet {
    margin: $double $double;
  }
}

.navbar-collapse {
  padding: 0;
  max-height: none;
  overflow: visible;
  border: none;
  box-shadow: none;
  &.in {
    overflow: visible;
  }
}

.navbar-collapse.in .dropdown-menu {
    display: block;
}

// undo-ing bootstrap

@include respond-tablet {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0 !important;
  }
}

.navbar-nav {
  margin: 0 -$grid $double -$grid;
  @include respond-tablet {
    margin: 0;
  }
}

// ui-tray

%ui-tray-alignment {
  padding-left: $grid * 5;
  padding-right: $grid * 5;
  margin: 0 -$double;
}

.ui-tray {
  z-index: 100;
    background-color: white;
    border-bottom: 1px solid $color-blue;
    color: $color-black;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0;
    border-top: none;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
    height: auto !important;
    display: none;
  @include respond-wide {
      left: 18%;
      width: 64%;
      border: 1px solid $color-blue;
      border-top: none;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
  }
}

dl.tray-detail-group {
  padding: $double;
    margin: 0;
  & + .tray-detail-group {
    border-top: 1px solid $color-trans-lightgray;
  }
  @include respond-desktop {
    padding: $double $grid * 3;
  }
}

dt.tray-detail-title {
  font-weight: 700;
  color: $color-blue;
}

dd.tray-detail-entry {
  font-size: 15px;
  font-weight: 400;
  margin-top: 2px;
  @include respond-tablet {
    font-size: 17px;
  }
}

p.fp {
  font-size: 10px;
  color: $color-trans-gray;
  font-weight: 400;
  font-family: $font-hed-alt;
  line-height: 1.4;
  padding-top: $grid * 3;
  a {
    text-decoration: underline;
    &:hover {
      color: $color-blue;
    }
  }
}

.tray-actions {
  padding-top: $double;
  padding-bottom: $double;
  background-color: $color-background;
  text-align: left;
  padding-left: $double;
  padding-right: $grid;
  margin-top: -1px;
  overflow: auto;
  @include respond-desktop {
    padding-left: $grid * 3;
    padding-right: $double;
  }
}

._verbose,
.verbose {
    display: inline-block;
    width: 0;
    height: 1em;
    overflow: hidden;
    text-indent: -1000px;
  @include respond-tablet {
      display: inline;
      width: auto;
      height: auto;
      text-indent: 0;
  }
  &._toDesktop {
    @include respond-tablet {
        display: none;
    }
    @include respond-desktop {
        display: inline;
        width: auto;
        height: auto;
        text-indent: 0;
    }
  }
}

.btn-ui-small.btn-dashboard {
  border-color: $color-blue;
  color: $color-blue;
  margin-left: -2px;
  margin-right: $grid;
  &:active {
    color: white;
  }
  &.darchive {
  }
  &.user-delete {
    border-color: $color-error;
    color: $color-error;
    &:active {
      background-color: $color-error;
      color: white;
    }
  }
  &.flag {
    float: right;
      &:before {
      content: '';
      width: 15px;
      height: 16px;
      display: inline-block;
      margin-right: 6px;
      position: relative;
      top: 0;
      background-image: url('../img/ui/perma-ui-flag.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 84px 16px;
      background-position: -14px * 3;
      margin-top: -$half;
      margin-bottom: -$half;
      }
      &:active:before {
        background-position: -14px * 5;
      }
  }
}

// toggle

.navbar-toggle {
  display: block;
  position: absolute;
  top: 8px;
    right: 8px;
    bottom: $grid;
    width: 43px !important;
    height: 43px !important;
    border: none;
    background-color: $color-background;
    margin: 0;
    border-radius: 2px;
    z-index: 100;
    @include respond-xmobile{
      width: 51px !important;
       height: 48px !important;
   }
    .icon-bar {
      background-color: $color-blue;
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      margin-right: auto;
      margin-left: auto;
      & + .icon-bar {
        margin-top: $half;
      }
    }
    &:hover {
      background-color: $color-hover;
      border-radius: 2px;
      .icon-bar {
        background-color: $color-white;
    }
    }
    &:active {
      background-color: $color-black;
      border-radius: 2px;
      .icon-bar {
        background-color: $color-white;
    }
    }
  &:focus {
    outline: none;
      border-radius: 2px;
      background-color: $color-white;
      .icon-bar {
        background-color: $color-blue;
    }
  }
  @include respond-tablet {
    display: none;
  }
  @include respond-xmobile {
    width: $grid * 8;
  }
}


// when nav is open

.collapsing {
    -webkit-transition: none;
    transition: none;
}




// ui-activeDetails

._activeDetails {
  .ui-tray {
    display: block;
  }
}


// iframe end


/*

html {
    position:relative;
    min-height:100%;
    margin:0px;
}

body {
    background:#f7f7f7;
    color: #333;
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
}

.navbar-default {
  background-image: url('/static/img/bg.png');
  border-bottom:1px solid #eee;
}

.tab-border	{
    border-bottom: solid 5px #ff4100;
}

.container-fluid {
    padding: 0;
}

a {
  font-weight:400;
}

p {
    margin-bottom: 20px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight:300;
    color: #000;
}

.logo span {
    display: none;
}

.logo a, .logo {
    min-width:235px;
    text-decoration: none;
    font-family: 'Roboto Slab', sans-serif;
    font-size:36px;
    color:#ff4100;
}

.controls .nav a{
    color: #09f;
    font-size: 20px;
    margin-top: 15px;
}

// Global end


// Compact header start

#compact-header {
    display: none;
}

header #compact-header .expand-button   {
    font-size: 20px;
    margin-top: 4px;
    cursor: pointer; cursor: hand;
    color: #666;
}

header #compact-header .url-compact   {
    margin-top: 3px;
    font-size: 18px;
}

header #compact-header .infinity-logo   {
    margin-top: 4px;
}

// Compact header end

// Full header start

header #full-header .controls {
    margin-bottom: 30px;
}

.url-row {
    padding: 10px 10px;
    background-color: #fff;
    -moz-box-shadow:    2px 0px 4px 0px #c6ccd1;
    -webkit-box-shadow: 2px 0px 4px 0px #c6ccd1;
    box-shadow:         0px 0px 4px 0px #c6ccd1;
}

header #full-header p.helper-info  {
    color: #444;
    font-family: $secondary-font;
}

header #full-header p.big-link  {
    word-wrap: break-word;
    font-size: 28px;
}

header #full-header p.creation-details  {
    margin: 35px 0 0 0;
    color: #444;
    font-family: $secondary-font;
    font-size: 17px;
}

header #full-header .spacer {
    margin-left: 4px;
    margin-right: 4px;
}

header #full-header p.archive-note {
    margin-top: 40px;
    margin-bottom: 7px;
    color: #555;
    font-family: $secondary-font;
    font-size: 16px;
}

header #full-header .archive-container {
    padding: 10px 15px;
    background-color: #fff;
    margin-bottom: 25px;
    border-top: solid 5px #bbb;
    -moz-box-shadow:    2px 2px 4px 0px #c6ccd1;
    -webkit-box-shadow: 2px 2px 4px 0px #c6ccd1;
    box-shadow:         0px 2px 4px 0px #c6ccd1;
}

header #full-header .archive-container p.archive-heading {
    font-size: 25px;
    margin-bottom: 3px;
    color:#09f;
    font-family: 'Roboto Slab', sans-serif;
}

header #full-header a {
    font-weight: 300;
}

header #full-header .selected-archive-container {
    border-top: solid 5px #ff4100;
}

header #full-header .archive-container p {
    margin-bottom: 3px;
    color: #555;
    font-size: 17px;
    font-family: $secondary-font
}

.overlay {
   background:transparent;
   position:relative;
   width:9000px;
   z-index:88888;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
}

#image_cap_container_complete {
    display: none;
}

#warc_cap_container_complete {
    display: none;
}

#pdf_cap_container_complete {
    display: none;
}
// Full header end




// Watermark start

.watermark {
  margin:0 auto;
  position:relative;
  padding:0px;
  text-align:center;

}

img.watermark-image {
  position:relative;
  border:none;
  border-radius:3px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index:2;
    margin:0 auto -20%;
  @include opacity(.85);
  width:70%;
  pointer-events:none;
}

// Watermark end

// Buttons start

.button-container p {
    margin: 4px 4px;
}

a.btn.dashboard, a.btn.user-delete {
  width:100px;
  padding:2px 0px;
  color:#666;
  font-size:14px;
  border:1px solid #666;
  border-radius: 3px;
  background:#fff;
  margin-left:10px;
}

a.btn.user-delete {
  border:1px solid #ff4100;
    color:#ff4100;
}

a.btn.user-delete:hover, a.btn.user-delete:focus {
  border:1px solid #dd3800;
    color:#dd3800;
}

// Buttons end


// Dark archive start

.darchive {
  text-align:center;
  background:rgba(255,255,255, .5);
  position:absolute;
  z-index:100;
  margin-top:20px;
  border-radius: 4px;
  @include opacity(.8);
}

img.dark-bulb {
  @include opacity(.8);
    margin:auto;
    text-align:center;
    width:160px;
}

// Dark archive end
*/

/////////////////////////////////////////

// Modals

$modalWidth: 600px;

body.modal-open {
  margin-right: 0;
}

.modal-backdrop.in {
  opacity: 0.95;
  filter: alpha(opacity=95);
  background-color: white;
}

.modal {
  @include fill-screen;
  display: none;
  z-index: 9999;
}

.modal-dialog {
  @include respond-mobile {
    padding: 0;
    @include fill-screen;
  }
  @include respond-tablet {
    position: relative;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    margin-left: $modalWidth * -.5;
  }
}

.modal-content {
  width: auto;
  padding: $double;
  margin: 0 auto;
  border-radius: 0;
  border: none;
  box-shadow: none;
  height: 100%;
  overflow-y: scroll;
  @include respond-tablet {
    @include style-card(black);
    width: $modalWidth;
    padding: $grid * 4 $grid * 4 $double;
    height: auto;
  }
  form {
    margin-top: $double;
    overflow: visible;
    @include respond-tablet {
      margin-top: $grid * 3;
    }
  }
  .form-group {
    float: none;
    width: auto;
    border-bottom: 1px solid $color-trans-lightgray;
    padding-top: 18px;
    padding-bottom: 20px;
    margin-left: -$double;
    padding-left: $double;
    margin-right: -$double;
    padding-right: $double;
    margin-top: 0;
    background-color: $color-background;
    &:first-child {
      border-top: 1px solid $color-trans-lightgray;
    }
    & + .form-group {
      margin-top: 0;
    }
    @include respond-tablet {
      margin-left: -$grid * 4;
      padding-left: $grid * 4;
      margin-right: -$grid * 4;
      padding-right: $grid * 4;
    }
  }
  label {
    font-weight: 700;
  }
  .modal-actions {
    margin-top: $double;
    @include respond-tablet {
      margin-top: $grid * 4;
    }
  }
  input {
    font-size: 16px;
    font-weight: 400;
    height: auto;
    padding: $grid;
    margin-bottom: $half;
  }
  input#file {
    padding-left: $grid;
    border: 1px solid $color-trans-lightgray;
    &:focus {
      border-color: $color-blue;
    }
  }
  .field-error {
    padding-top: 0;
  }
}

.modal-header {
  overflow: visible;
  .close {
    @include hide-text;
    position: absolute;
    top: 0;
    right: -$grid * 5;
    width: $grid * 5;
    height: $grid * 5;
    background-color: gray;
  }
  .modal-title, .modal-description {
    font-family: $font-hed-alt;
  }
  .modal-title {
    color: $color-black;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    @include respond-tablet {
      font-size: 24px;
    }
  }
  .modal-description {
    font-weight: 300;
    color: $color-blue;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.3;
    @include respond-tablet {
      font-size: 24px;
    }
  }
}

.label-instruction {
  font-size: 13px;
  font-family: $font-hed-alt;
  font-weight: 400;
  color: $color-trans-gray;
  @include respond-mobile {
    float: right;
    display: inline-block;
  }
}
.label-asterisk {
  font-size: 13px;
  margin-left: 3px;
  color: $color-orange;
}
#collapse-details {
  .tray-detail-title {
    margin-bottom: 5px;
  }
  .temporary-options {
    background-color: $color-trans-whispergray;
  }
  input {
    padding-left: 6px;
    &.file {
      cursor: pointer;
    }
  }

  .save-status {
    color: $color-orange;
    margin-top: 0;
    margin-left: .7em;
    font-weight: 700;
  }
  .btn-file-upload-container {
    margin-left: 5px;
  }
  .btn-sm {
    border: 0px;
    padding: 7px;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: .2px;
  }
  .btn-file-upload {
    background-color: $color-trans-lightgray;
    &:hover {
      background-color: $color-trans-darkgray;
    }
    &:hover:disabled {
      background-color: $color-trans-lightgray;
    }
  }
  .blue-button {
    background: $color-blue;
    color: white;
    border: 0px;
    &:hover {
      background-color: $color-hover;
    }
    &:hover:disabled {
      background-color: $color-blue;
    }
  }
  .temporary-instructions {
    position: relative;
    top: -6px;
  }
  .btn-delete {
    background-color: $color-error;
    color: white;
    &:hover {
      background-color: black;
    }
  }
}
