/* SASS Variables */

$perma-blue: #0099FF;
$perma-orange: #ff4100;

$spicy-font: 'Roboto Slab', sans-serif;
$sans-font:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$secondary-font: 'Helvetica', 'sans-serif';
